[template /design15/templates/app-mode]
[title Embed your gallery]
[add_head_tag meta property="og:image" content="http://www.cincopa.com/media-platform/api/thumb_open.aspx?fid=[get url_param fid]&size=large"]

[meta_keywords media plugin, multimedia plugin, slideshow, podcast, video, video gallery, audio player]
[meta_description Create free slideshow for website, add music and video, create cool podcast. Use Cincopa easy to embed plugins and make your website engaging.]
<script type="text/javascript" src="[static_file_url /design13/js/engage.itoggle.js]"></script>
<script src="[static_file_url /design13/js/jquery.zclip.min.js]" type="text/javascript"></script>

<script type="text/javascript" src="[static_file_url /media-platform/wizard_gettag.js]"></script>
<!--<script type="text/javascript" src="http://localhost/wizard_gettag.js"></script>-->

[include /design15/addthis_widget ]
[include /design15/progressbar "[get url_param fid]" 5 ]
<style>
	#divMiniIcons, #divbigBoxes{display: none;}
	.activeInternalMessages #intercom-container #intercom-launcher { bottom: 20px;	}
</style>
<script type="text/javascript">
// start social
    var addthis_config = addthis_config || {};
    addthis_config.data_track_clickback = false;

    var addthis_share = {
        url: "http://www.cinco.ly/~[get fid_to_did [get url_param fid]]",
        data_track_clickback: false,
        title: "Cincopa Gallery",
        description: "Use Cincopa to create your gallery"
    };
//end  social
	
	
	var displayed_box_id = "install-html-box";
    var galleryItems = [api folders.getItems fid [get url_param fid]];
	var folder_items = [api folders.getItems fid [get url_param fid] "details"];
	var analytic_fid = '[get fid_to_did [get url_param fid]]';
	var gall_fid = '[get url_param fid]';
	var vp_skins  = {
		'AoEAQ47PGhxh':true,
		'A4IAR8rVVxIR':true,
		'AgOAl8L0VtDt':true,
		'AMPAtCcFVk--':true,
		'AUJAOEM-56lj':true,
		'AIJAaBcRziay':true,
		'AwDAr7LYCj_r':true,
		'AMLAc6LKhj6h':true,
		'AoJA8_rcs8-b':true,
		'AAAAdjLHXgtG':true,
		'AgFAmkbEYwLU':true,
		'A0PAXnL1PliB':true,
		'AwBAx-7vjk6g':true,
		'AkJAH_LX-u9G':true,
		'AgIAM-rbsnWN':true,
		'AUCAkRruIngu':true,
		'AYNAc-Lp9eix':true,
		'AMMAP-LK9S07':true
	};
	var _params = {
        plan_name: "[get user_plan_name]",
        [wizard_style_add_params]
                dummy_param: ""
    };
</script>

<div class="mobileMenuFilter">
	<select id="skinsFilters">
		<option class="embedFiltersItem html active" value="html">HTML Embed</option>
		<option class="embedFiltersItem wordpress" value="wordpress">Wordpress</option>
		<option class="embedFiltersItem blogger" value="blogger">Blogger</option>
		<option class="embedFiltersItem social" value="social">Social Networks</option>
		<option class="embedFiltersItem joomla" value="joomla">Joomla</option>
		<option class="embedFiltersItem drupal" value="drupal">Drupal</option>
		<option class="embedFiltersItem mediawiki" value="mediawiki">Mediawiki</option>
		<option class="embedFiltersItem office365" value="office365">Microsoft 365</option>
		<option class="embedFiltersItem ebay" value="ebay">eBay</option>
		<option class="embedFiltersItem gmap" value="gmap">Google Maps</option>
		<option class="embedFiltersItem itunes" value="itunes">iTunes</option>
		<option class="embedFiltersItem ning" value="ning">Ning</option>
		<option class="embedFiltersItem rss" value="rss">RSS</option>
		<option class="embedFiltersItem tumbrl" value="tumblr">Tumblr</option>
		<option class="embedFiltersItem typepad" value="typepad">Typepad</option>
		<option class="embedFiltersItem vbulletin" value="vbulletin">vBulletin</option>
		<option class="embedFiltersItem weebly" value="weebly">Weebly</option>
		<option class="embedFiltersItem wix" value="wix">Wix</option>
	</select>
</div>

<div class="librarySideMenu">
    <div class="skinEdit-selected">
        <div class="thumb"></div>
		<div class="descr">
			<h4 class="name"></h4>
			<div class="embedInfo"></div>
			<a href="/media-platform/test?fid=[get fid_to_did [get url_param fid]]" target="_blank" title="Preview this gallery">Preview Gallery</a>
		</div>
    </div>
	<div class="embedFilters"><ul id="_install_options">
		<li id="install-html" class="embedFiltersItem html active"><a data-val="html" data-action="html" data-title="HTML Embed" data-descr="Install on other websites and blog platforms"><i></i><b>HTML Embed</b></a></li>
		<li id="install-wp" class="embedFiltersItem wordpress"><a data-val="wordpress" data-action="wordpress" data-title="Wordpress" data-descr="Install your gallery on Wordpress"><i></i><b>Wordpress</b></a></li>
		<li id="install-blogger" class="embedFiltersItem blogger"><a data-val="blogger" data-action="blogger" data-title="Blogger" data-descr="Install your gallery on Blogger"><i></i><b>Blogger</b></a></li>
		<li id="install-social" class="embedFiltersItem social"><a data-val="social" data-action="social" data-title="Social networks" data-descr="Share your gallery on various social networks"><i></i><b>Social Networks</b></a></li>
		<li id="install-joomla" class="embedFiltersItem joomla"><a data-val="joomla" data-action="joomla" data-title="Joomla" data-descr="Install your gallery on Joomla"><i></i><b>Joomla</b></a></li>
		<li class="embedFiltersItem other moreLi">
			<a data-val="other" data-action="other" data-title="HTML Embed" data-descr=""><i></i><b>Other</b><span class="icon-arr_drop"></span></a>
			<ul>
				<li class="embedFiltersItem drupal"><a data-val="drupal" data-action="drupal" data-title="Drupal" data-descr="Install your gallery on Drupal"><i></i><b>Drupal</b></a></li>
				<li class="embedFiltersItem mediawiki"><a data-val="mediawiki" data-action="mediawiki" data-title="Mediawiki" data-descr="Install your gallery on Mediawiki"><i></i><b>Mediawiki</b></a></li>
				<li class="embedFiltersItem office365"><a data-val="office365" data-action="office365" data-title="Microsoft Office365" data-descr="Install your gallery on MS Office365"><i></i><b>Microsoft 365</b></a></li>
				<li class="embedFiltersItem ebay"><a data-val="ebay" data-action="ebay" data-title="eBay" data-descr="Install your gallery on eBay"><i></i><b>eBay</b></a></li>
				<li class="embedFiltersItem gmap"><a data-val="gmap" data-action="gmap" data-title="Google Maps" data-descr="Install your gallery on Google Maps"><i></i><b>Google Maps</b></a></li>
				<li class="embedFiltersItem itunes"><a data-val="itunes" data-action="itunes" data-title="iTunes" data-descr="Install your gallery on iTunes"><i></i><b>iTunes</b></a></li>
				<li class="embedFiltersItem ning"><a data-val="ning" data-action="ning" data-title="Ning" data-descr="Install your gallery on Ning"><i></i><b>Ning</b></a></li>
				<li class="embedFiltersItem rss"><a data-val="rss" data-action="rss" data-title="RSS" data-descr="Share your gallery as RSS"><i></i><b>RSS</b></a></li>
				<li class="embedFiltersItem tumbrl"><a data-val="tumbrl" data-action="tumbrl" data-title="Tumblr" data-descr="Install your gallery on Tumblr"><i></i><b>Tumblr</b></a></li>
				<li class="embedFiltersItem typepad"><a data-val="typepad" data-action="typepad" data-title="Typepad" data-descr="Install your gallery on Typepad"><i></i><b>Typepad</b></a></li>
				<li class="embedFiltersItem vbulletin"><a data-val="vbulletin" data-action="vbulletin" data-title="vBulletin" data-descr="Install your gallery on vBulletin"><i></i><b>vBulletin</b></a></li>
				<li class="embedFiltersItem weebly"><a data-val="weebly" data-action="weebly" data-title="Weebly" data-descr="Install your gallery on Weebly"><i></i><b>Weebly</b></a></li>
				<li class="embedFiltersItem wix"><a data-val="wix" data-action="wix" data-title="Wix" data-descr="Install your gallery on Wix"><i></i><b>Wix</b></a></li>
			</ul>
		</li>
	  </ul>
		<p class="infoP"><i class="icon-info"></i> Note that the gallery will work only on published pages.</p>
		<p class="infoP"><i class="icon-info"></i> Use the "My Galleries" menu to access and edit your gallery, get analytics, change skin and more.</p>
	</div>
	[include /design15/wasthispagehelpful ]
	[include /design15/sidebar-inc-footer ]
</div>

<div class="wizardArea">


<div class="embedCodeArea">
	<div class="embedCode-head">
		<div class="headLeft">
			<h3 class="embedCode-title">HTML Embed</h3>
			<p class="embedCode-descr">Install on other websites and blog platforms</p>
		</div>
		<div class="headCenter"></div>
		<div class="headRight">
			<span>Create <a href="/media-platform/start.aspx">New Gallery</a></span>
			<button type="button" class="btn secondary3 goToGalleries" data-action="GO TO GALLERIES"><b>GO TO GALLERIES</b></button>
		</div>
	</div>

	<div class="embedCode-content">
<!-- ------------------------------------------------- -->		


		<div class="embedCode html row">
	      <div class="col-md-6">
	      	<h4 class="label"><span>For any website:</span></h4>
	      	<p>Copy this HTML code and paste it into your blog, CMS or site wherever you want the gallery to appear.</p>
	      	<textarea class="codeField html_code" rows="12" placeholder="" onclick="this.select();" readonly>[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
	      	<div class="argumentGroup left fieldItem toggle floatleft">
				<label class="fieldLabel"><span class="argumentName">SEO Code</span><div class="bubbleInfo activated"><a class="trigger"></a><div class="popupwrap"><div class="popup" style="opacity: 0;">SEO Code.</div></div></div></label>
				<div class="argumentValue"><input type="checkbox" checked /></div>
			</div>
	      	<div class="embedActionsRight left"><button type="button" class="btn primary copyBtn">COPY EMBED CODE</button></div>
	      </div>
	      <div class="col-md-6">
	      	<h4 class="label"><span>If your CMS doesn’t support Javascript, try this:</span></h4>
	      	<p>Copy this HTML code and paste it into your blog, CMS or site wherever you want the gallery to appear.You can change width and height of iframe.</p>
	      	<textarea class="codeField iframe_code" rows="12" placeholder="" onclick="this.select();" readonly><iframe width="600" height="430" src="//www.cincopa.com/media-platform/iframe.aspx?fid=[get fid_to_did [get url_param fid]]" frameborder="0" allowfullscreen scrolling="no"></iframe></textarea>
	      	<div class="argumentGroup right fieldItem toggle floatleft">
				<label class="fieldLabel"><span class="argumentName">SEO Code</span><div class="bubbleInfo activated"><a class="trigger"></a><div class="popupwrap"><div class="popup" style="opacity: 0;">SEO Code.</div></div></div></label>
				<div class="argumentValue"><input type="checkbox" checked /></div>
			</div>
	      	<div class="embedActionsRight right"><button type="button" class="btn primary copyBtn">COPY EMBED CODE</button></div>
	      </div>
	    </div>


		<div class="embedCode wordpress row">
	      <div class="col-md-6">
            [is_null "[get session_as_hashtable wp_data rdt]" ""
            "
            <div class='embeditforme'><p class='clearfix'><b>Click</b> <span class='button'><a href=\"javascript:location.href = '[get session_as_hashtable wp_data rdt]wrt=[cincopa [get fid_to_did [get url_param fid]]]';\">click to embed</a></span> <b>to paste the code into your blog automatically.</b> </p>
                <hr /></div>
            "]
	      	<h4 class="label"><span>For Wordpress websites:</span></h4>
	      	<p>Copy the following piece of code and paste it manually into your WordPress blog wherever you want the gallery to appear.</p>
	      	<p><i class="icon-alert"></i> Make sure you have the latest Cincopa WordPress Plug-in <a target="_blank" href="http://wordpress.org/extend/plugins/video-playlist-and-gallery-plugin/">install it here</a>.</p>
			<div class="codeSnippet">
				<h4>Code snippet:</h4>
				<p><input type="text" value="[cincopa [get fid_to_did [get url_param fid]]]" onclick="this.select();" class="codeField" readonly /><button type="button" class="btn primary copyBtn">COPY</button></p>
			</div>
			<p><i class="icon-info"></i> You can also embed this gallery on the sidebar - <a target="_blank" href="http://help.cincopa.com/entries/511407-Using-the-Cincopa-WordPress-Plugin">instruction</a>.</p>
	      </div>
	    </div>


		<div class="embedCode drupal row">
	      <div class="col-md-6">
            <h4 class="label"><span>For Drupal:</span></h4>
            [is_null "[get session_as_hashtable wp_data rdt]" ""
            "
            <div class='embeditforme'><p class='clearfix'>
                    <b>Click</b> <span class='button'>
                        <a href=\"javascript:location.href = '[get session_as_hashtable wp_data rdt]wrt=[cincopa [get fid_to_did [get url_param fid]]]';\">Embed it for me</a>
                    </span> <b>to paste the code into your blog automatically.</b>
                </p>
                <hr /></div>
            "]
            <p>Copy the following piece of code and paste it manually into your Drupal wherever you want the gallery to appear.</p>
            <p><i class="icon24 attention"></i> Make sure you have the latest Drupal Module <a target="_blank" href="http://help.cincopa.com/entries/20005248-How-to-Install-the-Drupal-Module">install it here</a></p>
            <div class="codeSnippet">
            	<h4>Code snippet:</h4>
            	<p><input type="text" value="[cincopa [get fid_to_did [get url_param fid] ]]" class="codeField" onclick="this.select();" readonly /> <button type="button" class="btn primary copyBtn">COPY</button></p>
            </div>
	      </div>
	    </div>



		<div class="embedCode blogger row">
	      <div class="col-md-6">
            <h4 class="label"><span>For Blogger blog</span></h4>
            <p>Copy this code and paste it into your Blogger post wherever you want the gallery to appear.</p>
            <textarea onclick="this.select();" class="codeField" readonly>[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
			<button type="button" class="btn primary copyBtn">COPY</button>
	      </div>
	      <div class="col-md-6">
            <h4 class="label"><span>Add as Blogger widget</span></h4>
            <p>Click the button below to login to your Blogger accoubnt and add this gallery as a widget.</p>
		  	<form target="_blank" method="post" action="http://www.blogger.com/add-widget">
				<input type="hidden" name="infoUrl" value="http://cincopa.com" />
				<input type="hidden" name="logoUrl" value="http://cincopa.com/design/images/logo.gif" />
				<input type="hidden" name="widget.title" value="Cincopa Gallery" />
				<textarea class="codeField" name="widget.content" style="display: none;">[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
				<span class="button">
					<input type="submit" class="btn primary2" name="go" value="Add as a widget" />
				</span>
       		 </form>
<!--            <form target="_blank" method="post" action="http://www.blogger.com/add-widget">
                <input type="hidden" name="infoUrl" value="http://cincopa.com" />
                <input type="hidden" name="logoUrl" value="http://cincopa.com/design/images/logo.gif" />
                <input type="hidden" name="widget.title" value="Cincopa Gallery" />
                <textarea class="codeField" name="widget.content" style="display: none;">[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
                <span class="button">
                    <input type="submit" style="width: 200px;" name="go" value="Add as a widget" />
                </span>
            </form>

-->
	      </div>
	    </div>

		<div class="embedCode wix row">
			<div class="col-md-6">
				<h4 class="label"><span>For Wix:</span></h4>
				<p>Copy this HTML code and paste it into your Wix site inside the HTML widget. More info about it <a  target="_blank" href="http://help.cincopa.com/entries/25683095-How-to-embed-Cincopa-Gallery-on-a-Wix-website">here</a></p>
            <!--<div class="embedPageSeo">
                <a class="seo_on_off  off">Turn on SEO code</a>
                <div class="bubbleInfo">
                    <a class="trigger"></a>
                    <div class="popup">
                        <a class="closePopup">Close </a>
                        Adding SEO tags helps promoting your website
                    </div>
                </div>
            </div>-->
           <textarea class="codeField" onclick="this.select();" readonly>[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
			<button type="button" class="btn primary copyBtn">COPY</button>
		   </div>
       </div>

		<div class="embedCode social row">
	      <div class="col-md-6">
            <h4 class="label"><span>For Social Networks:</span></h4>
            <p>Copy the following piece of code and paste it manually into your Social Network to share your gallery or use this toolbar for share.</p>
            <p><input type="text" value="http://www.cinco.ly/~[get fid_to_did [get url_param fid]]" class="codeField" onclick="this.select();" readonly /><button type="button" class="btn primary copyBtn">COPY</button></p>
            <p>
                <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_preferred_1"></a><a class="addthis_button_preferred_2">
                </a><a class="addthis_button_preferred_3"></a><a class="addthis_button_preferred_4">
                </a><a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style">
                </a>
            </div>
            </p>
            <!-- AddThis Button END -->
	      </div>
	    </div>



		<div class="embedCode joomla row">
	      <div class="col-md-6">
            <h4 class="label"><span>For Joomla:</span></h4>
            <p>Copy the following piece of code and paste it manually into your Joomla wherever you want the gallery to appear.</p>
            <p><i class="icon24 attention"></i> Make sure you have the latest Joomla Module <a target="_blank" href="http://www.cincopa.com/media-platform/download-joomla-module">install it here</a></p>
            <div class="codeSnippet"><h4>Code snippet:</h4>
	            <p><input type="text" value="[cincopa [get fid_to_did [get url_param fid] ]]" class="codeField" onclick="this.select();" readonly /> <button type="button" class="btn primary copyBtn">COPY</button></p>
			</div>
	      </div>
	    </div>



		<div class="embedCode mediawiki row">
	      <div class="col-md-6">
            <h4 class="label"><span>For MediaWiki:</span></h4>
            <p>Copy the following piece of code and paste it manually into your MediaWiki wherever you want the gallery to appear.</p>
            <p><input type="text" value="<cincopa>[get fid_to_did [get url_param fid] ]</cincopa>" class="codeField" onclick="this.select();" readonly /><button type="button" class="btn primary copyBtn">COPY</button></p>
	      </div>
	    </div>


		<div class="embedCode office365 row">
	      <div class="col-md-6">
            <h4 class="label"><span>For Microsoft 365:</span></h4>
            <p>Copy this HTML code and paste it into your Microsoft 365 site wherever you want the gallery to appear.</p>
            <p><textarea onclick="this.select();" class="codeField" readonly>[include \media-platform\wizard_html_code "[get fid_to_did [get url_param fid]]" "[get new_guid]" "noscript"]</textarea>
			<button type="button" class="btn primary copyBtn">COPY</button></p>
	      </div>
	    </div>


		<div class="embedCode ning row">
	      <div class="col-md-6">
            <h4 class="label"><span>For Ning:</span></h4>
            <p>Copy the following code and paste it into your Ning wherever you want the gallery to appear.</p>
            <p><textarea class="codeField" onclick="this.select();" readonly>[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
			  <button type="button" class="btn primary copyBtn">COPY</button></p>
	      </div>
	    </div>


		<div class="embedCode typepad row">
	      <div class="col-md-6">
            <h4 class="label"><span>For Typepad:</span></h4>
            <p>Copy this HTML code and paste it into your Typepad wherever you want the gallery to appear.</p>
            <textarea class="codeField" onclick="this.select();" readonly>[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
			  <button type="button" class="btn primary copyBtn">COPY</button>
	      </div>
	    </div>


		<div class="embedCode vbulletin row">
	      <div class="col-md-6">
            <h4 class="label"><span>For vBulletin:</span></h4>
            <p>Copy this code and paste it into your vBulletin wherever you want the gallery to appear.</p>
            <textarea onclick="this.select();" class="codeField" readonly>[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
			  <button type="button" class="btn primary copyBtn">COPY</button>
	      </div>
	    </div>

		<div class="embedCode tumbrl row">
	      <div class="col-md-6">
            <h4 class="label"><span>For Tumblr:</span></h4>
            <p>Copy this HTML code and paste it into your Tumblr blog.</p>
            <textarea onclick="this.select();" class="codeField" readonly>[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
			  <button type="button" class="btn primary copyBtn">COPY</button>
	      </div>
	    </div>



		<div class="embedCode weebly row">
	      <div class="col-md-6">
            <h4 class="label"><span>For Weebly:</span></h4>
            <p>Copy this code and paste it into a "Custom HTML" object in Weebly wherever you want the gallery to appear.</p>
            <textarea onclick="this.select();" class="codeField" readonly>[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
			  <button type="button" class="btn primary copyBtn">COPY</button>
	      </div>
	    </div>


		<div class="embedCode ebay row">
	      <div class="col-md-6">
            <h4 class="label"><span>For eBay:</span></h4>
            <p>Copy this code and paste it into an eBay .</p>
            <textarea onclick="this.select();" class="codeField" readonly>[include \media-platform\wizard_html_object_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
			  <button type="button" class="btn primary copyBtn">COPY</button>
	      </div>
	    </div>


		<div class="embedCode gmap row">
	      <div class="col-md-6">
            <h4 class="label"><span>For Google Map:</span></h4>
			<p><a href="http://en.wikipedia.org/wiki/Keyhole_Markup_Language" target="_blank">KML</a> is a file format that will allow you to show your gallery on a map like Google Maps. use the <a href="https://maps.google.com/maps?q=http://www.cincopa.com/media-platform/runtime/kml.aspx?fid=[get fid_to_did [get url_param fid]]" target="_blank">this link</a> to open your gallery with Google Maps using a KML format (to add to Google Earth for example)</p>
			<p class="gpsEmbedDisabled">Cincopa support GPS tagging to make cool galleries with maps as well as KML formats however your gallery doesn't have any GPS data, Please upload items with GPS tagging to use this feature.</p>
			<p class="gpsEmbedInfo">You can now view your gallery on Google Map- <a  href="https://maps.google.com/maps?q=http://www.cincopa.com/media-platform/runtime/kml.aspx?fid=[get fid_to_did [get url_param fid]]" target="_blank">click here</a> to open the gallery</p>
			<p><textarea class="codeField" onclick="this.select();" style="display:inline-block;height:50px;" readonly><a href="https://maps.google.com/maps?q=http://www.cincopa.com/media-platform/runtime/kml.aspx?fid=[get fid_to_did [get url_param fid]]">Click here</a></textarea>
			  <button type="button" class="btn primary copyBtn">COPY</button></p>
			<p>KML URL: <textarea class="codeField" onclick="this.select();" style="display:inline-block;height:50px;" readonly >http://www.cincopa.com/media-platform/runtime/kml.aspx?fid=[get fid_to_did [get url_param fid]]</textarea>
			  <button type="button" class="btn primary copyBtn">COPY</button></p>
	      </div>
	    </div>


		<div class="embedCode rss row">
	      <div class="col-md-6">
            <h4 class="label"><span>For Media RSS:</span></h4>
            <p>Copy this perma-link.</p>
            <p>There are also <a target="_blank" href="http://help.cincopa.com/entries/444299-Using-feeds-to-integrate-your-site-with-Cincopa">other types of feeds</a> available.</p>
            <p><input type="text" value="http://www.cincopa.com/media-platform/runtime/rss200.aspx?fid=[get fid_to_did [get url_param fid]]" class="codeField" onclick="this.select();" readonly /> <button type="button" class="btn primary copyBtn">COPY</button></p>
	      </div>
	    </div>


		<div class="embedCode itunes row">
	      <div class="col-md-6">
            <h4 class="label"><span>Get a link for iTunes</span></h4>
            <p>Copy this perma-link. </p>
            <p><input type="text" value="http://www.cincopa.com/media-platform/runtime/itunes/feed.aspx?fid=[get fid_to_did [get url_param fid]]" class="codeField" onclick="this.select();" readonly /> <button type="button" class="btn primary copyBtn">COPY</button></p>
	      </div>
	    </div>








<!-- ------------------------------------------------- -->		
	</div>
</div>




<div class="faqArea">
	<h4>Frequently Asked Questions</h4>
	<div class="row">
		<div class="col-md-6">
			<div class="collapsibleItem">
				<a class="title"><i></i><b>Why can't I see my gallery after embedding?</b></a>
				<div class="content">This is typically because you are still testing your gallery on your local server or PC. Once you "publish" your website, it will be visible. If not,contact us.</div>
			</div>		
			<div class="collapsibleItem">
				<a class="title"><i></i><b>How do I edit my gallery?</b></a>
				<div class="content">This is easily done from your galleries page. Read this <a href="http://help.cincopa.com/entries/22514024-How-to-edit-the-gallery-settings">article</a> for step-by-step instruction.</div>
			</div>		
			<div class="collapsibleItem">
				<a class="title"><i></i><b>What are some tips for embedding to my Wordpress site?</b></a>
				<div class="content">Install our Wordpress Plugin and work directly from within the Wordpress Admin. This is an easy and powerful solution.Read more <a href="http://help.cincopa.com/entries/463684-Cincopa-WordPress-Plugin-Installation-Guide">here</a>  and <a href="http://help.cincopa.com/entries/511407-Using-the-Cincopa-WordPress-Plugin">here</a>.</div>
			</div>		
		</div>
		<div class="col-md-6">
			<div class="collapsibleItem">
				<a class="title"><i></i><b>Do I need to re-embed after editing my gallery?</b></a>
				<div class="content">No. ACincopa gallery requires only one embed. Any edits will dynamically appear on your website.</div>
			</div>		
			<div class="collapsibleItem">
				<a class="title"><i></i><b>Why does my gallery not display correctly after embedding?</b></a>
				<div class="content">Please read this <a>article</a> for ensuring proper display of embedded galleries. If you continue to have problems, contact us.</div>
			</div>		
			<div class="collapsibleItem">
				<a class="title"><i></i><b>Where can I go to see all support articles?</b></a>
				<div class="content">Visit our <a href="/learning-center">Learning Center</a> for a complete listing of all support articles.</div>
			</div>		
		</div>
	</div>	
</div>




</div>


<script>
$(document).ready(function(){
// -----------------------------------------
	activateCheckBoxPlugin($('input[type="checkbox"]'));
	
	$(".embedCodeArea .embedCode").hide();
	$(".embedCodeArea .embedCode").first().show();
	$(".embedFiltersItem>a").removeClass('active');
	$(".embedFiltersItem>a").first().addClass('active');
	$(".embedFiltersItem>a.active").click();
	
	
	
	$(".collapsibleItem>.title").click(function(){
		$(this).parent().toggleClass("active");
	});



// -----------------------------------------
});
</script>
