[template /design15/templates/app-mode]
[title Embed your gallery]
[add_head_tag meta property="og:image" content="http://www.cincopa.com/media-platform/api/thumb_open.aspx?fid=[get url_param fid]&size=large"]



<script src="[static_file_url /design13/js/jquery.zclip.min.js]" type="text/javascript"></script>

<script type="text/javascript">
// start social
    var addthis_config = addthis_config || {};
    addthis_config.data_track_clickback = false;

    var addthis_share = {
        url: "http://www.cinco.ly/~[get fid_to_did [get url_param fid]]",
        data_track_clickback: false,
        title: "Cincopa Gallery",
        description: "Use Cincopa to create your gallery"
    };
//end  social
</script>

[include  /design15/progressbar "[get url_param fid]" 5]


[if is_user_free 
"<div class="bannerForFree"><a href="/cincopamanager/paypal/plans.aspx"><img src="[static_file_url /design13/images/bannerupgradesm.png]" /></a></div>"
""]

<!--[include  /design15/progressbar "[get url_param fid]" 5]-->
<div class="embedIntro">
    <a href="/media-platform/start.aspx" class="btn-3d alignright">Start New Gallery</a>
    <h1>EMBED YOUR GALLERY</h1>
    <p class="subTitle"></p>
</div>


<div class="librarySideMenu">

    <div class="skinEdit-selected">
        <div class="thumb"><img src="/_cms/design13/images/templates/mediaelement_h_cool_red_player.jpg"></div> <div class="descr"> <h4 class="name">Video with horizontal playlist cool red player</h4> <a href="/media-platform/start.aspx?fid=12872157" title="Select another skin">Change Skin</a> </div>
    </div>

    <div class="embedFilters"><ul>
        <li class="embedFiltersItem all active"><a data-val="all" data-action="all"><i></i><b>All</b></a></li>

        <li class="embedFiltersItem photos"><a data-val="photos" data-action="photos"><i></i><b>Photos</b></a></li>

        <li class="embedFiltersItem slideshow"><a data-val="slideshows" data-action="slideshows"><i></i><b>Slideshows</b></a></li>

        <li class="embedFiltersItem videos"><a data-val="videos" data-action="videos"><i></i><b>Videos</b></a></li>

        <li class="embedFiltersItem portal"><a data-val="video_portal" data-action="video portal"><i></i><b>Video Portal</b></a></li>

        <li class="embedFiltersItem music"><a data-val="audio" data-action="audio"><i></i><b>Music & Podcasts</b></a>
            <ul>
                <li data-action="Audio Most Popular"><label class="checkBox"><input type="checkbox"><i></i><b>Most Popular</b></label></li>
                <li data-action="Audio Recently Added"><label class="checkBox"><input type="checkbox"><i></i><b>Recently Added</b></label></li>
                <li data-action="Audio Recommended"><label class="checkBox"><input type="checkbox"><i></i><b>Recommended</b></label></li>
            </ul>
        </li>
        
        </ul></div>
        [include /design15/wasthispagehelpful ]
        [include /design15/sidebar-inc-footer ]
</div>

<div class="wizardArea">
</div>










<div class="leftAreaPanel">
   <ul id="_install_options" class="install-options">
		<li id="install-html" data-icon="no" data-position="right" data-tooltip="Click to install on other websites to blog platforms"  class="active">
            <img src="[static_file_url /design13/images/tabshare_html.png]" />
        </li>
        <li id="install-wp" data-tooltip="Click to install on Wordpress" data-icon="no" data-position="right">
            <img src="[static_file_url /design13/images/tabshare_wp.png]" />
        </li>
		<li id="install-blogger" data-tooltip="Click to install on Blogger" data-icon="no" data-position="right">
                    <img src="[static_file_url /design13/images/tabshare_blogger.png]" />
        </li>
		
		<li id="install-social" data-tooltip="Click to share on your social networks" data-icon="no" data-position="right">
            <img src="[static_file_url /design13/images/tabshare_social.png]" />
        </li>
        <li id="install-joomla" data-tooltip="Click to install on Joomla" data-icon="no" data-position="right">
            <img src="[static_file_url /design13/images/tabshare_joomla.png]" />
        </li>
	   	<li id="install-wix" data-tooltip="For Wix" data-icon="no" data-position="right">
            <img src="[static_file_url /design13/images/WixLogo.jpg]" />
        </li>
        <li  class="moreLi" > <a class="moreBtn" href="javascript:void(0)" onclick="toggleCMS()"> Other </a> </li>
        <li class="moreBlock">
            <ul>
                <li id="install-drupal" data-tooltip="Click to install on Drupal" data-icon="no" data-position="right">
            		<img src="[static_file_url /design13/images/tabshare_drupal.png]" />
        		</li>
                <li id="install-tumblr"   data-tooltip="Click to install on Tumblr" data-icon="no" data-position="right">
                    <img src="[static_file_url /design13/images/tabshare_tumbrl.png]" />
                </li>
                <li id="install-mediawiki"   data-tooltip="Click to install on MediaWiki" data-icon="no" data-position="right">
                    <img src="[static_file_url /design13/images/tabshare_mediawiki.png]" />
                </li>

                <li id="install-ms365"  data-tooltip="Click to install on Miscrosoft 365" data-icon="no" data-position="right">
                    <img src="[static_file_url /design13/images/tabshare_office365.png]" />
                </li>

                <li id="install-ning"  data-tooltip="Click to install on Ning" data-icon="no" data-position="right">
                    <img src="[static_file_url /design13/images/tabshare_ning.png]" />
                </li>
                <li id="install-typepad"   data-tooltip="Click to install on Typepad" data-icon="no" data-position="right">
                    <img src="[static_file_url /design13/images/tabshare_typepad.png]" />
                </li>

                <li id="install-vbulletin"   data-tooltip="Click to install on vBulletin" data-icon="no" data-position="right">
                    <img src="[static_file_url /design13/images/tabshare_vbulletin.png]" />
                </li>
                <li id="install-weebly"   data-tooltip="Click to install on Weebly" data-icon="no" data-position="right">
                    <img src="[static_file_url /design13/images/tabshare_weebly.png]" />
                </li>
				<li id="install-ebay"   data-tooltip="Click to install on Ebay" data-icon="no" data-position="right">
                    <img src="[static_file_url /design13/images/tabshare_ebay.png]" />
                </li>
				<li id="install-kml"   data-tooltip="Click to use google maps"  data-icon="no" data-position="right">
                    <img src="[static_file_url /design13/images/tabshare_gmap.png]" />
                </li>
                <li id="install-rss"   data-tooltip="Click to see the Media RSS link and other feeds" data-icon="no" data-position="right">
                    <img src="[static_file_url /design13/images/tabshare_rss.png]" />
                </li>
				 <li id="install-itunes"   data-tooltip="Get a link for Itunes" data-icon="no" data-position="right">
                    <img src="[static_file_url /design13/images/tabshare_itunes.png]" />
                </li>
            </ul>
        </li>
    </ul>







    <div class="installBoxPanel">
        <div id="install-wp-box" class="install-box">
            <h2>For WordPress:</h2>
            [is_null "[get session_as_hashtable wp_data rdt]" ""
            "
            <div class='embeditforme'><p class='clearfix'><b>Click</b> <span class='button'><a href=\"javascript:location.href = '[get session_as_hashtable wp_data rdt]wrt=[cincopa [get fid_to_did [get url_param fid]]]';\">click to embed</a></span> <b>to paste the code into your blog automatically.</b> </p>
                <hr /></div>
            "]

            <p>Copy the following piece of code and paste it manually into your WordPress blog wherever you want the gallery to appear.</p>
            <p><i class="icon24 attention"></i> Make sure you have the latest Cincopa WordPress Plug-in <a target="_blank" href="http://wordpress.org/extend/plugins/video-playlist-and-gallery-plugin/">install it here</a></p>
            <div class="codeSnippet"><h4>Code snippet:</h4><input type="text" value="[cincopa [get fid_to_did [get url_param fid]]]" onfocus="this.select();" readonly /> </div>
            <p><i class="icon24 info"></i> You can also embed this gallery on the sidebar - <a target="_blank" href="http://help.cincopa.com/entries/511407-Using-the-Cincopa-WordPress-Plugin">instruction</a>.</p>
        </div>
        <div id="install-drupal-box" class="install-box">
            <h2>For Drupal:</h2>
            [is_null "[get session_as_hashtable wp_data rdt]" ""
            "
            <div class='embeditforme'><p class='clearfix'>
                    <b>Click</b> <span class='button'>
                        <a href=\"javascript:location.href = '[get session_as_hashtable wp_data rdt]wrt=[cincopa [get fid_to_did [get url_param fid]]]';\">Embed it for me</a>
                    </span> <b>to paste the code into your blog automatically.</b>
                </p>
                <hr /></div>
            "]
            <p>Copy the following piece of code and paste it manually into your Drupal wherever you want the gallery to appear.</p>
            <p><i class="icon24 attention"></i> Make sure you have the latest Drupal Module <a target="_blank" href="http://help.cincopa.com/entries/20005248-How-to-Install-the-Drupal-Module">install it here</a></p>
            <div class="codeSnippet"><h4>Code snippet:</h4><input type="text" value="[cincopa [get fid_to_did [get url_param fid] ]]" onfocus="this.select();" readonly /></div>
        </div>
        <div id="install-joomla-box" class="install-box">
            <h2>For Joomla:</h2>
            <p>Copy the following piece of code and paste it manually into your Joomla wherever you want the gallery to appear.</p>
            <p><i class="icon24 attention"></i> Make sure you have the latest Joomla Module <a target="_blank" href="http://www.cincopa.com/media-platform/download-joomla-module">install it here</a></p>
            <div class="codeSnippet"><h4>Code snippet:</h4><input type="text" value="[cincopa [get fid_to_did [get url_param fid] ]]" onfocus="this.select();" readonly /></div>
        </div>
        <div id="install-mediawiki-box" class="install-box">
            <h2>For MediaWiki:</h2>
            <p>Copy the following piece of code and paste it manually into your MediaWiki wherever you want the gallery to appear.</p>
            <p><input type="text" value="<cincopa>[get fid_to_did [get url_param fid] ]</cincopa>" onfocus="this.select();" readonly /></p>
        </div>
        <!-- HTML -->
        <div id="install-ms365-box" class="install-box">
            <h2>For Microsoft 365:</h2>
            <p>Copy this HTML code and paste it into your Microsoft 365 site wherever you want the gallery to appear.</p>
            <p><textarea onfocus="this.select();" readonly>[include \media-platform\wizard_html_code "[get fid_to_did [get url_param fid]]" "[get new_guid]" "noscript"]</textarea></p>
        </div>

        <div id="install-ning-box" class="install-box">
            <h2>For Ning:</h2>
            <p>Copy the following code and paste it into your Ning wherever you want the gallery to appear.</p>
            <p><textarea onfocus="this.select();" readonly>[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea></p>
        </div>
        <div id="install-typepad-box" class="install-box">
            <h2>For Typepad:</h2>
            <p>Copy this HTML code and paste it into your Typepad wherever you want the gallery to appear.</p>
            <textarea onfocus="this.select();" readonly>[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
        </div>
        <div id="install-blogger-box" class="install-box">
            <h2>For Blogger:</h2>
            <form target="_blank" method="post" action="http://www.blogger.com/add-widget">
                <input type="hidden" name="infoUrl" value="http://cincopa.com" />
                <input type="hidden" name="logoUrl" value="http://cincopa.com/design/images/logo.gif" />
                <input type="hidden" name="widget.title" value="Cincopa Gallery" />
                <textarea name="widget.content" style="display: none;">[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
                <span class="button">
                    <input type="submit" style="width: 200px;" name="go" value="Add as a widget" />
                </span>
            </form>
            <p>Or copy this code and paste it into your Blogger post wherever you want the gallery to appear.</p>
            <textarea onfocus="this.select();" readonly>[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
        </div>
        <div id="install-vbulletin-box" class="install-box">
            <h2>For vBulletin:</h2>
            <p>Copy this code and paste it into your vBulletin wherever you want the gallery to appear.</p>
            <textarea onfocus="this.select();" readonly>[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
        </div>
        <div id="install-weebly-box" class="install-box">
            <h2>For Weebly:</h2>
            <p>Copy this code and paste it into a "Custom HTML" object in Weebly wherever you want the gallery to appear.</p>
            <textarea onfocus="this.select();" readonly>[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
        </div>
		<div id="install-ebay-box" class="install-box">
            <h2>For Ebay:</h2>
            <p>Copy this code and paste it into an Ebay .</p>
            <textarea onfocus="this.select();" readonly>[include \media-platform\wizard_html_object_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
        </div>
		<div id="install-kml-box" class="install-box" >
            <h2>For Google Map:</h2>
			<p style="font-style:italic">
				<a href="http://en.wikipedia.org/wiki/Keyhole_Markup_Language" target="_blank">KML</a> is a file format that will allow you to show your gallery on a map like Google Maps. use the <a href="https://maps.google.com/maps?q=http://www.cincopa.com/media-platform/runtime/kml.aspx?fid=[get fid_to_did [get url_param fid]]" target="_blank">this link</a> to open your gallery with Google Maps using a KML format (to add to Google Earth for example)<br />
			</p>

			<p class="gpsEmbedDisabled" style="display:none;color:red;" >
				Cincopa support GPS tagging to make cool galleries with maps as well as KML formats however your gallery doesn't have any GPS data, Please upload items with GPS tagging to use this feature.<br />
			</p>
			<p class="gpsEmbedInfo" style="display:none;">
			You can now view your gallery on Google Map- <a  href="https://maps.google.com/maps?q=http://www.cincopa.com/media-platform/runtime/kml.aspx?fid=[get fid_to_did [get url_param fid]]" target="_blank">click here</a> to open the gallery
			 <textarea onfocus="this.select();" style="display:inline-block;height:50px;" readonly><a href="https://maps.google.com/maps?q=http://www.cincopa.com/media-platform/runtime/kml.aspx?fid=[get fid_to_did [get url_param fid]]">Click here</a></textarea>
				<br><br>KML URL :<br><textarea onfocus="this.select();" style="display:inline-block;height:50px;" readonly >http://www.cincopa.com/media-platform/runtime/kml.aspx?fid=[get fid_to_did [get url_param fid]]</textarea>
			</p>
        </div>
        <div id="install-rss-box" class="install-box">
            <h2>For Media RSS:</h2>
            <p>Copy this perma-link.</p>
            <p>There are also <a target="_blank" href="http://help.cincopa.com/entries/444299-Using-feeds-to-integrate-your-site-with-Cincopa">other types of feeds</a> available.</p>
            <input type="text" value="http://www.cincopa.com/media-platform/runtime/rss200.aspx?fid=[get fid_to_did [get url_param fid]]" onfocus="this.select();" readonly />
        </div>
		<div id="install-itunes-box" class="install-box">
            <h2>Get a link for Itunes</h2>
            <p>Copy this perma-link. </p>
            <input type="text" value="http://www.cincopa.com/media-platform/runtime/itunes/feed.aspx?fid=[get fid_to_did [get url_param fid]]" onfocus="this.select();" readonly />
        </div>
        <div id="install-html-box" class="install-box">
            <h2>For any other site :</h2>
            <p>Copy this HTML code and paste it into your blog, CMS or site wherever you want the gallery to appear.</p>
			<div class="embedPageSeo">
				<a class="seo_on_off  off">Turn on SEO code</a>
				<div class="bubbleInfo">
					<a class="trigger"></a>
					<div class="popup">
						<a class="closePopup">Close </a>
						Adding SEO tags helps promoting your website
					</div>
				</div>	
			</div>
            <textarea onfocus="this.select();" readonly>[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
            <br />
            <br />
            <h2>if your cms doesn't support JavaScript try this :</h2>
            <p>Copy this HTML code and paste it into your blog, CMS or site wherever you want the gallery to appear.You can change width and height of iframe.</p>
			<textarea onfocus="this.select();" class="iframe-embed" readonly><iframe width="600" height="430" src="//www.cincopa.com/media-platform/iframe.aspx?fid=[get fid_to_did [get url_param fid]]" frameborder="0" allowfullscreen scrolling="no"></iframe></textarea>
        </div>
		<div id="install-wix-box" class="install-box">
           <h2>For Wix:</h2>
           <p>Copy this HTML code and paste it into your Wix site inside the HTML widget. More info about it <a  target="_blank" href="http://help.cincopa.com/entries/25683095-How-to-embed-Cincopa-Gallery-on-a-Wix-website">here</a></p>
            <!--<div class="embedPageSeo">
                <a class="seo_on_off  off">Turn on SEO code</a>
                <div class="bubbleInfo">
                    <a class="trigger"></a>
                    <div class="popup">
                        <a class="closePopup">Close </a>
                        Adding SEO tags helps promoting your website
                    </div>
                </div>
            </div>-->
           <textarea onfocus="this.select();" readonly>[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>            
       </div>
        <div id="install-tumblr-box" class="install-box">
            <h2>For any other site:</h2>
            <p>Copy this HTML code and paste it into your Tumblr blog.</p>
            <textarea onfocus="this.select();" readonly>[include \media-platform\wizard_html_code [get fid_to_did [get url_param fid]] [get new_guid]]</textarea>
        </div>
        <!-- start for social -->
        <div id="install-social-box" class="install-box">
            <h2>For Social Networks :</h2>
            <p>Copy the following piece of code and paste it manually into your Social Network to share your gallery or use this toolbar for share.</p>
            <input type="text" value="http://www.cinco.ly/~[get fid_to_did [get url_param fid]]" onfocus="this.select();" readonly />
            <p>
                <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_preferred_1"></a><a class="addthis_button_preferred_2">
                </a><a class="addthis_button_preferred_3"></a><a class="addthis_button_preferred_4">
                </a><a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style">
                </a>
            </div>
            </p>
            <!-- AddThis Button END -->
        </div>
        <!-- end for social -->
        <div class="clearfix"></div>
    </div>
</div><!-- .leftAreaPanel -->

<div class="rightAreaPanel left_on_time">
    <div class="galleryBlock">
        <p class="title">Your Gallery</p>
        <div class="galleryInfo">
            <div id="galleryThumb"></div>
            <div id="galleryName"> </div>
        </div>
        <a href="/media-platform/test?fid=[get fid_to_did [get url_param fid]]" target="_blank" class="previewBtn btn-3d gray small"><i class="icon24 newwnd"></i> Preview</a>
    </div>
    <div class="addInfoBlock">
        <p><i class="icon24 info"></i> Use the "My Galleries" menu to access and edit your gallery, get analytics, change skin and more. </p>
    </div>
</div>
<div class="librarySideMenu">
	[include /design15/wasthispagehelpful ]
	[include /design15/sidebar-inc-footer ]
</div>
<script>
    var displayed_box_id = "install-html-box";
    var galleryItems = [api folders.getItems fid [get url_param fid]];
	var folder_items = [api folders.getItems fid [get url_param fid] "details"];
	var vp_skins  = {
		'AoEAQ47PGhxh':true,
		'A4IAR8rVVxIR':true,
		'AgOAl8L0VtDt':true,
		'AMPAtCcFVk--':true,
		'AUJAOEM-56lj':true,
		'AIJAaBcRziay':true,
		'AwDAr7LYCj_r':true,
		'AMLAc6LKhj6h':true,
		'AoJA8_rcs8-b':true,
		'AAAAdjLHXgtG':true,
		'AgFAmkbEYwLU':true,
		'A0PAXnL1PliB':true,
		'AwBAx-7vjk6g':true,
		'AkJAH_LX-u9G':true,
		'AgIAM-rbsnWN':true,
		'AUCAkRruIngu':true,
		'AYNAc-Lp9eix':true,
		'AMMAP-LK9S07':true
	};
	var _params = {
        plan_name: "[get user_plan_name]",
        [wizard_style_add_params]
                dummy_param: ""
    };
	
    $(document).ready(function($) {
		$('.bubbleInfo').each(function() {
        // options
        var distance = 10;
        var time = 250;
        var hideDelay = 500;

        var hideDelayTimer = null;

        // tracker
        var beingShown = false;
        var shown = false;

        var trigger = $('.trigger', this);
        var popup = $('.popup', this).css('opacity', 0);
        var closePopup = $('.closePopup', this);
        // set the mouseover and mouseout on both element
        $([trigger.get(0), popup.get(0)]).click(function() {
            // stops the hide event if we move from the trigger to the popup element
            if (hideDelayTimer)
                clearTimeout(hideDelayTimer);

            // don't trigger the animation again if we're being shown, or already visible
            if (beingShown || shown) {
                return;
            } else {
                beingShown = true;

                // reset position of popup box
                popup.css({
                    display: 'block' // brings the popup back in to view
                })
                        // (we're using chaining on the popup) now animate it's opacity and position
                        .animate({
                    // top: '-=' + distance + 'px',
                    opacity: 1
                }, time, 'swing', function() {
                    // once the animation is complete, set the tracker variables
                    beingShown = false;
                    shown = true;
                });
            }
        }).mouseout(function() {
            // reset the timer if we get fired again - avoids double animations
            if (hideDelayTimer)
                clearTimeout(hideDelayTimer);

            // store the timer so that it can be cleared in the mouseover if required
            hideDelayTimer = setTimeout(function() {
                hideDelayTimer = null;
                popup.animate({
                    //top: '-=' + distance + 'px',
                    opacity: 0
                }, time, 'swing', function() {
                    // once the animate is complete, set the tracker variables
                    shown = false;
                    // hide the popup entirely after the effect (opacity alone doesn't do the job)
                    popup.css('display', 'none');
                });
            }, hideDelay);
        }).mouseover(function() {
            if (hideDelayTimer)
                clearTimeout(hideDelayTimer);
        });

        closePopup.click(function() {
            hideDelayTimer = null;
            popup.animate({
                //top: '-=' + distance + 'px',
                opacity: 0
            }, time, 'swing', function() {
                // once the animate is complete, set the tracker variables
                shown = false;
                // hide the popup entirely after the effect (opacity alone doesn't do the job)
                popup.css('display', 'none');
            });

        });
    });
        var hasFlash = false;
        try {
            var fo = new ActiveXObject('ShockwaveFlash.ShockwaveFlash');
            if (fo)
                hasFlash = true;
        } catch (e) {
            if (navigator.mimeTypes ["application/x-shockwave-flash"] != undefined)
                hasFlash = true;
        }
		checkGPS();
        $("#_install_options > li").bind('click', function() {
            if ($(this).hasClass('moreLi') || $(this).hasClass('moreBlock'))
                return false;
            $('.clone').remove();
            var new_box_id = $(this).attr("id").replace('-clone', '') + "-box";
            if (displayed_box_id != new_box_id) {
                $("#" + displayed_box_id).hide();
                displayed_box_id = new_box_id;
                $("#" + new_box_id).css('display', 'block');
                $('#_install_options> li.active').removeClass('active');
                $(this).addClass('active');
                if ($("#" + new_box_id + " .copyToClipboardBox").length == 0 && hasFlash) {
                    $("#" + new_box_id + " [readonly]").after(
                            '<div class="copyToClipboardBox">\
                                                                                <a   class="copyBtn btn-3d gray">Copy</a>\
                                                                                <span style="display:none;"> Code Copied to clipboard </span>\
                                                                        </div>');
                    $('#' + new_box_id + ' a.copyBtn').zclip({
                        path: '[static_file_url /design13/js/ZeroClipboard.swf]',
                        copy: function() {
                            $('.copyToClipboardBox > span').hide()
                            var id = $("#_install_options > li.active").attr('id').replace('-clone', '') + '-box';
                            return   $(this).parents('.copyToClipboardBox').prev(' [readonly]').val();
                        },
                        afterCopy: function() {
							var  parentId = $(this).parents('.install-box').attr('id');
							if(parentId == 'install-html-box' && $(this).parent().prev('textarea').hasClass('iframe-embed')){
								trackEvent('iframe-embed');
							}else{
								trackEvent(parentId);
							}
                            $(this).next('span').fadeIn();
                            setTimeout(function() {
                                $('.copyToClipboardBox > span').fadeOut();
                            }, 3000)
                        }
                    })
                }
            }
        });
        $('.moreBlock  li').click(function() {
            $('.clone').remove();
            $('.moreBlock').hide();
            $('#_install_options> li.active').removeClass('active');
            var p = $(this).clone().addClass('clone active').attr('id', $(this).attr('id') + '-clone');
            $('.moreLi').before(p);
            var new_box_id = $(this).attr("id") + "-box";
            if (displayed_box_id != new_box_id) {
                $("#" + displayed_box_id).hide();
                displayed_box_id = new_box_id;
                $("#" + new_box_id).fadeIn();
                $('.moreBlock li.active').removeClass('active');
                $(this).addClass('active');
                if ($("#" + new_box_id + " .copyToClipboardBox").length == 0 && hasFlash) {
                    $("#" + new_box_id + " [readonly]").after(
                            '<div class="copyToClipboardBox">\
                                                                                <a    class="copyBtn btn-3d gray">Copy</a>\
                                                                                <span style="display:none;"> Code Copied to clipboard </span>\
                                                                        </div>');
                    $('#' + new_box_id + ' a.copyBtn').zclip({
                        path: '[static_file_url /design13/js/ZeroClipboard.swf]',
                        copy: function() {
                            $('.copyToClipboardBox > span').hide()
                            var id = $("#_install_options > li.active").attr('id').replace('-clone', '') + '-box';
                            return   $(this).parents('.copyToClipboardBox').prev(' [readonly]').val(); //$('#' + id + ' [readonly]').val();
                        },
                        afterCopy: function() {
							trackEvent($(this).parents('.install-box').attr('id'));
							$(this).next('span').fadeIn();
							 setTimeout(function() {
							     $('.copyToClipboardBox > span').fadeOut();
							 }, 3000)
                        }
                    })
                }
            }

        });

        $("#install-html-box").fadeIn(function() {
            new_box_id = 'install-html-box';
            if ($("#" + new_box_id + " .copyToClipboardBox").length == 0 && hasFlash) {
                $("#" + new_box_id + " [readonly]").after(
                        '<div class="copyToClipboardBox">\
								<a   class="copyBtn btn-3d gray">Copy</a>\
								<span style="display:none;"> Code Copied to clipboard </span>\
						</div>');
                $('#' + new_box_id + ' a.copyBtn').zclip({
                    path: '[static_file_url /design13/js/ZeroClipboard.swf]',
                    copy: function() {
                        $('.copyToClipboardBox > span').hide()
                        var id = $("#_install_options > li.active").attr('id').replace('-clone', '') + '-box';
                        return   $(this).parents('.copyToClipboardBox').prev(' [readonly]').val();
                    },
                    afterCopy: function() {
						trackEvent($(this).parents('.install-box').attr('id'));
                        $(this).next('span').fadeIn();
                        setTimeout(function() {
                            $('.copyToClipboardBox > span').fadeOut();
                        }, 3000)
                    }
                })
            }

        });

         $("#_install_options li[data-tooltip]").each(function() {
			$(this).simpletooltip();
        });

         if (window == window.top) {
			$(".embeditforme").hide();
        } else {
			 $('#_install_options li').not('#install-wp, #install-html').hide();
			 $('#install-wp').trigger('click');
        }
        $.ajax({
            url: '/media-platform/wizard_edit_ajax.aspx',
            method: "POST",
            cache: false,
            dataType: 'jsonp',
            data: {
                cmd: 'getstatus',
                fid: '[get url_param fid]'
            },
            success: function(data) {
                $('#galleryThumb').html(data.img);
                $('#galleryName').html(data.name);
            },
            error: function(err) {
                console.log(err);
            }
        });
		getAnalytics();
		insert_val_text = null;
		insert_val_frame_seo = null;
		
		$('.seo_on_off').click(function(){
			seo_on_off();
			if( $(this).hasClass('off')  ){
				$('#install-html-box  textarea:first').val(insert_val_text.replace('</noscript>','')+seo_html.replace('<noscript>',''));
				$('#install-html-box  textarea.iframe-embed').val(insert_val_frame+seo_html);
				$('.seo_on_off').html('Turn off SEO code');
			}else{
				$('#install-html-box  textarea:first').val(insert_val_text);
				$('#install-html-box  textarea.iframe-embed').val(insert_val_frame);
				$('.seo_on_off').html('Turn on SEO code');
			}
			$(this).toggleClass('off');
		});
		$('.seo_on_off').click();
    });
	
	var seo_html = null;
	function seo_on_off(){
		if(seo_html == null){
			seo_html = '<noscript>';
			seo_html += '<span>'+folder_items.response.folder.sysdata.name+'</span>';			
			if( folder_items.response.folder.sysdata.description != '' && folder_items.response.folder.sysdata.description != 'a wordpress plugin folder'){
				seo_html +='<span>'+folder_items.response.folder.sysdata.description+'</span>'
			}
			var items = folder_items.response.folder.items;
			for(i in items){
				if(items[i]['caption'] != ''){
					seo_html += '<span>'+items[i]['caption'] + '</span>';
				}
				if(items[i]['description'] != ''){
					seo_html += '<span>' + items[i]['description']+ '</span>';
				}
	
	if(typeof items[i].exif != 'undefined'){	
		for(j in items[i].exif){
			var  objType = typeof items[i].exif[j];
			if(objType.toLowerCase() == 'object'){
				for(p in items[i].exif[j]){
					if(items[i].exif[j][p] == '') continue;
					seo_html += '<span>' +p+'</span>:<span> '+ items[i].exif[j][p] + '</span>';
				}
			}else{
				if(items[i].exif[j] == '') continue;
				seo_html += '<span>' +j+'</span><span> '+ items[i].exif[j] + '</span>';
			}
		}	
	}
}
			seo_html += '</noscript>';
			insert_val_text = $('#install-html-box textarea:first').val();
			insert_val_frame = $('#install-html-box textarea.iframe-embed').val();
		}else{
			return seo_html;
		}
	
	}
    function toggleCMS() {
        $('.moreBlock').show(function() {
            $('body').bind('click.othermenu', function() {
                $('.moreBlock').hide();
                $('body').unbind('click.othermenu');
            });
        });

    }
	function trackEvent(action){
		fire_usage_event('embed.page_copy_code',  {fid:'[get url_param fid]',type: action });
		try{
			_gaq.push(['_trackEvent', 'embed page copy buttons', action ,'embed page copy buttons' ]);				
		}catch(ex){
			console.log(ex);
		}
	}
	function checkGPS(){
	  var items = galleryItems.response.folder.items;
	  var gpsExist = false;
	  for(i in  items){
		if (typeof items[i].exif != 'undefined' && typeof items[i].exif.gps != 'undefined' ){
			 gpsExist  = true;
			 break;
		}
	  }
		if(gpsExist){
			$('.gpsEmbedInfo').show();
		}else{
			$('.gpsEmbedDisabled').show();
		}
	}
	function getAnalytics(){
		 $.ajax({
			url: 'http://analytics.orenshmu.com/api_fid.aspx',
			method: "POST",
			contentType: 'application/json',
			cache: false,
			dataType:'jsonp',			
			data: {
				p:'lm',
				m:'hits-domains',
				fid:'[get fid_to_did [get url_param fid]]'
			},
			success: function(data){
				checkEmbedStatus(data);
			}
			
		});
	}
	
	function checkEmbedStatus(data){
		var embedStatus = false;
		if(data.hits){
				for(i in data.days){
					if(embedStatus) break;
					if(data.days[i].hits){
						for( var j in data.days[i].domains){
							if( data.days[i].domains[j].domain.indexOf('cincopa.com')  != -1 ) continue;
							else { embedStatus =  true; break; }				
						}
					}					
				}
		}
		if(embedStatus){
			$('.galleryInfo').prepend('<div class="successEmbeded" >Embedded</div>')
			//fire_usage_event("page.embed_success", { fid:'[get url_param fid]' });
			fire_usage_event("page.embed_success", { fid:'[get url_param fid]', template:_params.template });
			if(vp_skins[_params.template]){
				fire_usage_event("features_video_portal_embed", { fid:'[get url_param fid]', type: 'Video portal skin embedded'});
			}
		}else{
		  if(vp_skins[_params.template]){
				fire_usage_event("features_vp_skin_user", { fid:'[get url_param fid]', type: 'Video portal skin user'});
			}
		}
	}
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=orenshmu"></script>