[template /design15/templates/content-page-new]

[title Your Recent Experience with Cincopa]

<style type="text/css">
html {
    display: flex; align-items: center; justify-content: center; min-height: 100%; background: url([static_file_url /design15/images/demo-bg.jpg]); background-size: cover; background-attachment: fixed;
    padding-bottom: 80px; position: relative; box-sizing: border-box;
}
body { background: none; position: static; }
body:after { display: none; }
.container { position: static; }
div.footer { position: absolute; bottom: 0; left: 0; width: 100%; }
.radioBox { display: block; margin: 10px 0; }
.radioBox .fieldBox { display: block; }
.contentBox .grayWrap h3 { margin-top: 30px; text-align: left; }
</style>

<div class="contentBox white requestDemo">
    <p><img itemprop="logo" src="[static_file_url /design13/images/logo.png]" alt="cincopa"></p>
    <h2>Your Recent Experience with Cincopa</h2>
    <p class="bigger">We’re sorry to see you go. We are very interested in learning why you decided to cancel.<br/>Please help us improve our product and customer support by filling out this quick, confidential survey. </p>
    <p class="bigger">This survey should take less than 2 minutes to complete.</p>
    <div class="grayWrap">
        <h3>1. Overall, why do you think that our company did not win the business?</h3>
        <label class="radioBox"><input type="radio" name="notwin"/><i></i><b>This is not what I was looking for</b></label>
        <label class="radioBox"><input type="radio" name="notwin"/><i></i><b>I had technical problems</b></label>
        <label class="radioBox"><input type="radio" name="notwin"/><i></i><b>Missing features</b></label>
        <label class="radioBox"><input type="radio" name="notwin"/><i></i><b>You are too expensive</b></label>
        <label class="radioBox"><input type="radio" name="notwin"/><i></i><b>Other (please specify)</b>
            <div class="fieldBox"><input class="fb-field" type="text" placeholder=""></div>
        </label>
        <h3>2. What are your thoughts about our pricing?</h3>
        <label class="radioBox"><input type="radio" name="thoughts"/><i></i><b>Fair</b></label>
        <label class="radioBox"><input type="radio" name="thoughts"/><i></i><b>Too expensive</b></label>
        <label class="radioBox"><input type="radio" name="thoughts"/><i></i><b>I could not figure it out</b></label>
        <label class="radioBox"><input type="radio" name="thoughts"/><i></i><b>Fair</b></label>
        <label class="radioBox"><input type="radio" name="thoughts"/><i></i><b>Other (please specify)</b>
            <div class="fieldBox"><input class="fb-field" type="text" placeholder=""></div>
        </label>

        <h3>3. What other firms were competing for the business? Who was selected?</h3>
        <div class="fieldBox"><textarea class="fb-field"></textarea></div>

        <h3>4. How likely is it that you would recommend our company to a friend or colleague? (On a scale of 0 to 10)</h3>
        <div class="fieldBox"><textarea class="fb-field"></textarea></div>

        <a class="btn emb-green block send">SUBMIT</a>
    </div>
</div>


<script type="text/javascript">
$(document).ready(function(){
    $('.radioBox .fieldBox').click(function(){
        $(this).closest('.radioBox').find('input[type="radio"]').prop("checked", true);
    });
});
</script>

[include /media-platform/templates/footer15-small]