[template /design15/templates/content-page-new]

[title ]
[meta_keywords ]
[meta_description ]


<div class="landerSplash hasMedia salesforce" style="background: #0672b6 url([static_file_url /design15/images-new/splash-drupal.png]) no-repeat center 40px;">
    <div class="ls-content">
        <h1>Cincopa Drupal Module</h1>
        <p>Extend Drupal functionality, customize page appearance and insert videos, audio  and photos to your blog or websites. Cincopa single Drupal module enables you to upload, post and share any kind of media.</p>
        <p><strong>No programming  •  Fully customisable  •  More then 100 templates</strong></p>
        [gallery AoIAMJd_cbRb]
    </div>
</div>


<div>
    <h2>Next steps</h2>
    <ol class="integrationSteps">
        <li class="is-item">
            <div class="is-img"><img src="[static_file_url /design15/images-new/nl-steps-05-drupal.png]" /></div>
            <div class="is-text">Go to your Drupal Editor add article node.</div>
        </li>
        <li class="is-item">
            <div class="is-img"><img src="[static_file_url /design15/images-new/nl-steps-03-navigate.png]" /></div>
            <div class="is-text">In the editor you will find <b>“cincopa” button</b>. Click on it.</div>
        </li>
        <li class="is-item">
            <div class="is-img"><img src="[static_file_url /design15/images-new/nl-steps-lock.png]" /></div>
            <div class="is-text">You must be logged in with Cincopa to use the module. Follow the instructions on the screen.</div>
        </li>
        <li class="is-item">
            <div class="is-img"><img src="[static_file_url /design15/images-new/nl-steps-05-instructions.png]" /></div>
            <div class="is-text">Add videos, audio files and photos directly from your Drupal editor.</div>
        </li>
    </ol>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="contentBox white cp-mt0 js-equal">
            <h3>What can you do with Cincopa?</h3>
            <ul class="arrList">
                <li><a href="/media-platform/drupal-module">Drupal Module</a></li>
                <li><a href="/media-platform/drupal-video">Drupal Video</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="contentBox white cp-mt0 js-equal">    
            <h3>Get started with Cincopa</h3>
            <ul class="arrList circle">
                <li><a href="https://www.cincopa.com/media-platform/wordpress-plugin.aspx">Getting started guide</a></li>
                <li><a href="https://www.cincopa.com/faq">How to Install the Drupal Module for Drupal 7</a></li>
                <li><a href="https://www.cincopa.com/media-platform/wordpress-plugin.aspx">Cincopa webinars</a></li>
                <li><a href="https://www.cincopa.com/media-platform/wordpress-plugin.aspx">Cincopa FAQ</a></li>
            </ul>
        </div>
    </div>
</div>


<p class="bigger">Not sure? Contact our support: <a href="mailto:support@cincopa.com">support@cincopa.com</a></p>

[include /media-platform/templates/footer15-small]