[master MasterPage15]
[user_must_login]
[title My Galleries]
[include /design13/register-page-event "my media page"]
<script src="[static_file_url /design13/js/jquery.zclip.min.js]" type="text/javascript"></script>
<script src="[static_file_url /media-platform/ddslick.js]"></script>

<script type="text/javascript" language="javascript" src="[static_file_url /design13/chartplugin/highcharts.js]"></script>
<srcipt type="text/javascript" language="javascript" src="[static_file_url /design13/chartplugin/exporting.js]"></srcipt>
<script type="text/javascript" language="javascript" src="[static_file_url /design13/js/tags-input.js]"></script>
<script type="text/javascript" language="javascript" src="[static_file_url /design13/js/jquery-ui-1.10.3.min.js]"></script>
<script src="/media-platform/runtime/libasync.js" type="text/javascript" charset="utf-8"></script>

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

<script type="text/javascript">
	/* addthis share */
	var addthisScript = document.createElement('script');
	addthisScript.setAttribute('src', 'http://s7.addthis.com/js/300/addthis_widget.js#domready=1');
	document.body.appendChild(addthisScript);
	/* end addthis */
	var new_guid = "cp_widget_" + "[get new_guid]";
	
    function keep_session_alive(doWork) {
        if (doWork) {
            $.ajax({
                type: 'GET',
                url: '/media-platform/wizard2/library_ajax.aspx',
                dataType: 'json'
            });
        }
        setTimeout('keep_session_alive(true);', 5 * 60 * 1000);
    }
    keep_session_alive(false);
</script>
<link rel="stylesheet" href="[static_file_url /media-platform/wizard2/library.css]" type="text/css" media="screen" />
	<div id="libraryPreload">
       <!-- Please wait....-->
    </div>

	<div class="librarySideMenu">
			<div class="sideMenuControls">
				<a class="upload_files btn primary"><i class="icon-uploadfiles"></i><b>Upload Files</b></a>
				 <a class="create_gallery btn green"><i class="icon-new"></i><b>New Gallery</b></a>
			</div>
			<div class="sideMenuFilters">
				<select id="dropdownUsageMobile" >
						<option value="recently_updated">By last added</option>
						<option value="recently_updated">Recently Uploaded</option>
						<option value="recently_updated">All Items (sort by # Used)</option>
				</select>
				 <select id="dropdownTypes" >
					<option value="">All Types (#)</option>
					<option value="unused">Unused</option>
					<option value="video">Videos</option>
					<option value="image">Photos</option>
					<option value="audio">Audio</option>
					<option value="other">Other</option>
				</select>
				<select id="dropdownGalleries" ></select>			
			</div>
			<div class="all_tags_block">
				<h4><i class="icon-tags"></i><b>Tags</b></h4>
				<div class="all_tags" id="tagsCloud"><ul></ul></div>
			</div>
	</div>

	<div class="libraryArea">
		<div id="libraryHead" class="library-head hided">
			<div class="headLeft">
					<div class="searchbox"> 
						<a class="search_img btn trans"><i class="icon-search"></i></a> <input type="text" placeholder="Search..." class="search_input">
						<a href="javascript:void(0)" class="reset_search">X</a>
				</div>
				<div class="copy_delete_block">
						<select id="copyTo"></select>
						<a class="delete_action btn rounded" title="Delete Action"><i class="icon-delete"></i></a>
				</div>
			</div>
			<div class="headCenter">
				<span class="cell title"></span>
				<div class="tagsFilterBlock"></div>
			</div>
			<div class="headRight">
				<select id="dropdownUsage" >
						<option value="recently_updated">By last added</option>
						<option value="recently_updated">Recently Uploaded</option>
						<option value="recently_updated">All Items (sort by # Used)</option>
				</select>
				<span class=""><button class="btn trans bluetext"><i class="icon-refresh"></i><b>Refresh</b></button></span>
				<div class="last_added_grid_view"> <a class="normal_view btn trans"><i class="icon-list"></i></a> <a class="grid_view btn trans" onclick="$('#libraryContainer').toggleClass('galleries_grid');"><i class="icon-grid"></i></a> </div>
			</div>		
		</div>
	   
	<div id="libraryHeadAsset" class="library-head">
	<div class="headLeft">
		<a class="back_toassets btn trans" title="Back to Assets"><i class="icon-arr_back"></i><b>Back to Assets</b></a>
	</div>
	<div class="headCenter"> <h3 class="assetTitle"></h3> </div>
	<div class="headRight">
		<span class="saving"></span>
		<a class="downloadItem btn secondary" title="Upload files" href=""><i class="icon-upload"></i><b>Upload files</b></a>
		<a class="deleteItem btn secondary"><i class="icon-delete"></i><b>Delete</b></a>
	</div>
   </div>
		
	<div class="assetEditor"></div>
	<div id="libraryContainer" class="libraryContainer hided galleriesList galleries_list">
		
	
		
		
		
		
		
		
		
<div class="library-line loaded" data-rid="188732551" data-drid="AcwCy-jaU_2h">
	<div class="galleryThumb">
		<div class="thumb">
			<div><a href="/media-platform/test?fid=AYDAHTc4rryq" target="_blank"><img src="http://ec12.cdn.cincopa.com/VID_16032015_104835.mp4?o=2&amp;res=252&amp;cdn=ec&amp;t=y&amp;pid=224101&amp;ph3=i21zoezagyarxtsry2kle4flyvubndqh&amp;d=AAAA7Ag_yLAAAAAAAowZ1nA"></a></div>
		</div>
		<div class="all_actions_block">
			<a class="btn square edit" title="Edit gallery"><i class="icon-gear"></i></a>
			<a class="btn square upload" title="Upload files"><i class="icon-upload"></i></a>
			<a class="btn square embed" title="Embed gallery"><i class="icon-code"></i></a>
			<a class="btn square more" title="More actions"><i class="icon-more"></i></a>
		

<!-- ========================================================= -->
<!-- ========================================================= -->
		<div class="itemsDropdown noheader actionsMenu">
			<div class="itemsDropdown_items"><ul>
				<li><a><i class="icon-duplicate"></i> <b>Duplicate</b></a></li>
				<li><a><i class="icon-sort"></i> <b>Text & Reorder</b></a></li>
				<li><a><i class="icon-resync"></i> <b>Resync</b></a></li>
				<li><a><i class="icon-template"></i> <b>Use as template</b></a></li>
				<li><a><i class="icon-download"></i> <b>Download gallery</b></a></li>
				<li><a class="delete"><i class="icon-delete"></i> <b>Delete gallery</b></a></li>
			</ul></div>
		</div>
<!-- ========================================================= -->
<!-- ========================================================= -->


		</div>
	</div>
	<div class="item_name_desc">
		<span class="filename" title="VID_16032015_104835.mp4">VID_16032015_104835.mp4 <a class="btn trans" title="Edit title"><i class="icon-edit"></i></a> <span class="galState ready"><i></i>Ready</span>   <span class="galState error"><i></i>Error</span> <span class="galState prepare"><i></i>Preparing</span> <span class="galState embed"><i></i>Embeded</span>   </span>
		<div class="caption" title="no-caption"><i>no-caption</i></div>
		<div class="description" title="no-description"><i>no-description</i></div>
		<div class="lastUpdated"> <i class="icon-clock"></i><div class="date_div"> Last Updated: 3/16/2015 </div></div>
		<div class="galleryId"> <i class="icon-gall_id"></i><div class="galid_div"> Gallery ID: 1354QAJ_4868 </div></div>
		<div class="all_tags"><div class="tags"><input name="tags_main" value="" id="tags1426584146914" style="display: none;"><div id="tags1426584146914_tagsinput" class="tagsinput" style="width: 300px; min-height: 40px; height: 100%;"><div id="tags1426584146914_addTag"><input id="tags1426584146914_tag" value="" data-default="add a tag" style="color: rgb(102, 102, 102); width: 0px;"></div><div class="tags_clear"></div></div></div><a href="javascript:void(0)" style="display:none;" class="show_less">Show Less</a></div>
	</div>
	<div class="galleryItems"><div>
		<div class="galleryDomains"><i class="icon-domain"></i> <span><b>3</b> domains</span></div>
		<div class="galleryFiles"><i class="icon-folder"></i> <span><b>20</b> items</span></div>




<!-- ========================================================= -->
<!-- ========================================================= -->
		<div class="itemsDropdown domainsList">
			<div class="itemsDropdown_head">
				<div class="headLeft"><h3>Domains where gallery is used</h3></div>
			</div>
			<div class="itemsDropdown_items"><ul>
				<li>
					<div class="counter"><div>1</div></div>
					<div class="domains">
						<a class="domainname">My Domain</a>
						<a class="domainpage">www.mydomain.com/page</a>
						<a class="domainpage">www.mydomain.com/page2</a>
					</div>
				</li>
			</ul></div>
		</div>
<!-- ========================================================= -->
<!-- ========================================================= -->




<!-- ========================================================= -->
<!-- ========================================================= -->
		<div class="itemsDropdown noheader deleteDropdown">
			<div class="content">
				<p>This will <b>not</b> delete your file from the account but <b class="marked">only from this gallery</b>. Are you sure you want to do that?</p>
				<p class="itemsDropdown_controls"><button type="button" class="btn gray">NO</button><button type="button" class="btn red">DELETE</button></p>
			</div>
		</div>
<!-- ========================================================= -->
<!-- ========================================================= -->



<!-- ========================================================= -->
<!-- ========================================================= -->
		<div class="itemsDropdown noheader deleteDropdown">
			<div class="content">
				<p class="textcenter">Say goodbye in...</p>
				<p class="counter">9</p>
				<p class="itemsDropdown_controls"><button type="button" class="btn gray">Wait!!!</button></p>
			</div>
		</div>
<!-- ========================================================= -->
<!-- ========================================================= -->




<!-- ========================================================= -->
<!-- ========================================================= -->
		<div class="itemsDropdown assetsList">
			<div class="itemsDropdown_head">
				<div class="headLeft"><button class="btn trans delete"><i class="icon-delete"></i><b>Delete selected</b></button></div>
				<div class="headRight">Statistics: <div class="dd-container"><div class="dd-select"><input class="dd-selected-value" type="hidden" value=""><a class="dd-selected"><label class="dd-selected-text">Daily</label></a><span class="dd-pointer dd-pointer-down"></span></div></div> </div>
			</div>
			<div class="itemsDropdown_items"><ul>
				<li>
					<div class="selected"><label class="checkBox"><input type="checkbox"><i></i><b></b></label></div>
					<div class="thumb"><div></div></div>
					<div class="descr"> <a class="filename">Lorem ipsum dolor</a>  <div class="lastUpdated">Last Updated: 3/16/2015</div> </div>
					<div class="actions">
						<a class="btn trans"><i class="icon-download"></i></a>
						<a class="btn trans"><i class="icon-share"></i></a>
						<a class="btn trans"><i class="icon-delete"></i></a>
					</div>
					<div class="stat">
						<div class="statItem traffic"><div><i class="icon-stat_traffic"></i><b>10Mb</b></div></div>
						<div class="statItem weekly"><div class="weekly_views"><i class="icon-stat_views"></i><b>3</b></div></div>
					</div>
				</li>
			</ul></div>
		</div>
<!-- ========================================================= -->
<!-- ========================================================= -->





	</div></div>
	<div class="galleryStat">
		<div class="statItem traffic"><div><i class="icon-stat_traffic"></i><b>0</b></div><div>Today's Traffic</div></div>
		<div class="statItem weekly"><div class="weekly_views"><i class="icon-stat_views"></i><b>0</b></div><div>Weekly Views</div></div>
		<div class="statItem more"><div><i class="icon-stat_more"></i></div><div>More Analytics</div></div>



<!-- ========================================================= -->
<!-- ========================================================= -->
		<div class="itemsDropdown analyticsDropdown">
			<div class="itemsDropdown_head">
				<div class="headLeft"><button class="btn toggle">Weekly</button> <button class="btn toggle active">Monthly</button> <button class="btn toggle">All-time</button></div>
			</div>
			<div class="itemsDropdown_items domainsList"><ul>
				<li class="total">
					<div class="counter"><div>*</div></div>
					<div class="domains">
						<div><a class="domainname">Total views</a><i>386</i></div>
					</div>
				</li>
				<li>
					<div class="counter"><div>1</div></div>
					<div class="domains expandable">
						<div><a class="domainname">My Domain</a><i>386</i></div>
						<a class="domainpage">www.mydomain.com/page</a>
						<a class="domainpage">www.mydomain.com/page2</a>
					</div>
				</li>
				<li>
					<div class="counter"><div>1</div></div>
					<div class="domains expandable active">
						<div><a class="domainname">My Domain</a><i>386</i></div>
						<a class="domainpage">www.mydomain.com/page</a>
						<a class="domainpage">www.mydomain.com/page2</a>
					</div>
				</li>
			</ul></div>
			<div class="content">ANALYTICS DIAGRAM</div>
		</div>
<!-- ========================================================= -->
<!-- ========================================================= -->



	</div>
</div>		
		
		
		
		
		
		
		
		
		
		
	</div>
	<div class="load_more inactive">Load More</div>
	</div><!-- .libraryArea -->

