[template /design15/templates/content-page-hebrew]

[title Add Videos, Photo Galleries, Slideshows, Music and Podcasts to your website < Cincopa]
[meta_keywords media player plugin, media plugin, multimedia plugin, media plugins, media component, module plugin, media extension, extension media, multimedia plugins, multimedia module]
[meta_description Cincopa is the most popular and simple way to embed media plugin to your website. Choose media player plugin by CMS or by your preferred skin style.]

<style type="text/css">
#container { max-width: 100%; padding: 0; }

.featureBoxesSection:before { display: none !important; }

.featureBoxes { display: flex; flex-wrap: wrap; }

.featureBoxesItem { display: inline-block; vertical-align: top; width: 360px; padding: 30px; border: 1px solid #f2f2f2; border-radius: 4px; background: #fff; text-decoration: none; color: inherit; max-width: 30%; margin: 15px; flex-shrink: 1; }
.featureBoxesItem .fbi-thumb { text-align: center; }
.featureBoxesItem .fbi-thumb img { max-width: 100%; }
.featureBoxesItem .fbi-title { font-size: 22px; color: #106183; font-weight: normal; text-align: center; }
.featureBoxesItem .fbi-descr { font-size: 14px; color: #8D9399; text-align: center; }
.featureBoxesItem:hover { box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15); }
@media (max-width: 800px) { .featureBoxesItem { max-width: 50%; } }
@media (max-width: 520px) { .featureBoxesItem { max-width: 100%; } }

.header ~ .content-container { margin-top: 55px; }

.landerSplash { overflow: hidden; margin-bottom: 20px; }
.landerSplash .ls-content { max-width: 1200px; }
.landerSplash .ls-controls { padding: 20px 0 30px 0; overflow: hidden; }
.landerSplash .bx-controls { float: left; padding: 30px 0; }
.landerSplash .bx-controls .bx-controls-direction a { font-size: 0; color: #fff; }
.landerSplash .bx-controls .bx-controls-direction a:before { font-family: 'cincopaicons'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; font-size: 24px; line-height: 1; vertical-align: middle; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 32px; }
.landerSplash .bx-controls .bx-controls-direction a.bx-prev:before { content: "\e656"; }
.landerSplash .bx-controls .bx-controls-direction a.bx-next:before { content: "\e62d"; }
.landerSplash #bx-pager { float: right; direction: rtl; }
.landerSplash #bx-pager a { color: #fff; display: inline-block; padding: 20px 0; margin: 10px; border-bottom: 2px solid transparent; }
.landerSplash #bx-pager a.active { border-bottom-color: #fff; }

.featureBoxesSection { margin-bottom: 50px; padding-top: 20px; }

#homeslider .cincopa_promo_content { position: absolute; width: 100%; height: 100%; top: 0; width: calc(100% + 40px); margin-left: -20px; background: rgba(0, 0, 0, 0.6); }
#homeslider .cincopa_promo_content .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
#homeslider #cincopa_promo { max-width: 800px !important; margin: 70px auto; z-index: 10; position: relative; }
#homeslider .closeBtn { position: absolute; top: 30px; right: 30px; margin-left: -1em; cursor: pointer; font-weight: 100; text-transform: uppercase; font-size: 0; color: #fff; }
#homeslider .closeBtn:hover { transform: scale(1.2, 1.2); }
#homeslider .closeBtn:before { content: "\e613"; font-family: 'cincopaicons'; font-size: 32px; vertical-align: middle; }
#homeslider .icon-play { margin-left: 5px; margin-right: -5px; }
</style>

<script src='/media-platform/runtime/libasync.js' type='text/javascript'></script>


    <script type="text/javascript">
  $(document).ready(function(){
    cincopa.registerEvent('onVideoEnd','video.ended');
  });
    
    function onVideoEnd(eventName,data,gal){
      sliderVideo = $(gal.skin.player.domNode);
      $(sliderVideo).fadeOut(1000);
      //  setTimeout( function(){
      //           sliderVideo.fadeIn(1000);
      //           gal.skin.player.setCurrentTime(0);
      //           gal.skin.player.play();
      // }, 3000); 
    }
    </script>

<div id="homeslider" class="landerSplash publishers" style="background-image:url([static_file_url /design15/images-new/hebrew-pattern.png]);background-repeat:repeat;background-position: center center;">
	<div class="ls-content">
	<div class="bxslider">
	    <div>
	        <h1>פלטפורמה אחת לניהול כל סוגי המולטימדיה</h1>
	        <p>מגוון תבניות ליצירת גלריות עשירות ודפי נחיתה מעוצבים</p>
	        <p>
	          [if is_user_logged 
	          "<a data-href='/media-platform/start.aspx' data-action='Start now main'  class='btn secondary bigger startnow'>נסה חינם</a> <a class='btn glow bigger outlined icon_play_promo'><b>צפה בדמו</b><i class='icon-play'></i></a>"
	          "<a data-href='/media-platform/start.aspx' class='startnow btn secondary bigger' data-action='Start now main' >נסה חינם</a> <a class='btn glow bigger outlined icon_play_promo'><b>צפה בדמו</b><i class='icon-play'></i></a>"
	          ]	        	
	        </p>
	    </div>
	    <div>
	        <h1>Video Marketing – <br/> מבחר כלי וידאו שיווקים מתקדמים ליישום קל ופשוט</h1>
	        <p>
	          [if is_user_logged 
	          "<a data-href='/media-platform/start.aspx' data-action='Start now main'  class='btn secondary bigger startnow'>נסה חינם</a> <a class='btn glow bigger outlined icon_play_promo'><b>צפה בדמו</b><i class='icon-play'></i></a>"
	          "<a data-href='/media-platform/start.aspx' class='startnow btn secondary bigger' data-action='Start now main' >נסה חינם</a> <a class='btn glow bigger outlined icon_play_promo'><b>צפה בדמו</b><i class='icon-play'></i></a>"
	          ]	        	
	        </p>
	    </div>
	    <div>
	        <h1>מערכת סטטיסטיקות מתקדמת למעקב בזמן <br/> אמת אחר ביצועי סרטוני הווידאו</h1>
	        <p>
	          [if is_user_logged 
	          "<a data-href='/media-platform/start.aspx' data-action='Start now main'  class='btn secondary bigger startnow'>נסה חינם</a> <a class='btn glow bigger outlined icon_play_promo'><b>צפה בדמו</b><i class='icon-play'></i></a>"
	          "<a data-href='/media-platform/start.aspx' class='startnow btn secondary bigger' data-action='Start now main' >נסה חינם</a> <a class='btn glow bigger outlined icon_play_promo'><b>צפה בדמו</b><i class='icon-play'></i></a>"
	          ]	        	
	        </p>
	    </div>
	    <div>
	        <h1>אפשרויות שילוב וידאו במערכות ארגוניות <br/> ועוד saleforce, Mailchimp, דוגמת</h1>
	        <p>
	          [if is_user_logged 
	          "<a data-href='/media-platform/start.aspx' data-action='Start now main'  class='btn secondary bigger startnow'>נסה חינם</a> <a class='btn glow bigger outlined icon_play_promo'><b>צפה בדמו</b><i class='icon-play'></i></a>"
	          "<a data-href='/media-platform/start.aspx' class='startnow btn secondary bigger' data-action='Start now main' >נסה חינם</a> <a class='btn glow bigger outlined icon_play_promo'><b>צפה בדמו</b><i class='icon-play'></i></a>"
	          ]	        	
	        </p>
	    </div>
    </div>
    <div class="ls-controls">
		<div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><span id="slider-prev"></span><span id="slider-next"></span></div></div>
		<div id="bx-pager">
		  <a data-slide-index="0" href="">פלטפורמה לניהול מולטימדיה</a>
		  <a data-slide-index="1" href="">כלי וידאו שיווקים</a>
		  <a data-slide-index="2" href="">סטטיסטיקות מתקדמות</a>
		  <a data-slide-index="3" href="">שילוב וידאו במערכות אירגוניות</a>
		</div>
	</div>
	</div>
    <div class="cincopa_promo_content" style="display: none;">
        <div class="overlay"><a class="closeBtn">Close</a></div>
        <div id="cincopa_promo"></div>
    </div>
</div>


<div class="landerSection featureBoxesSection">
    <!-- <h2>More great features for Publishers</h2> -->
    <div class="featureBoxes">
        <a class="featureBoxesItem" href="/hebrew/video-analytics">
            <div class="fbi-thumb"><img src="[static_file_url /design15/images-new/publishers-lander07-section08.png]"/></div>
            <h3 class="fbi-title">מעקב וניתוח ביצועי הווידאו</h3>
            <p class="fbi-descr">אפשרות לקבל תמונה מעמיקה ונתונים סטטיסטיים על ביצועי הסרטונים וכך לקבל החלטות מושכלות ביחס לרמת האפקטיביות שלהם</p>
        </a>
        <a class="featureBoxesItem" href="/hebrew/media-templates">
            <div class="fbi-thumb"><img src="[static_file_url /design15/images/lander07-section07-sm.png]"/></div>
            <h3 class="fbi-title">יצירת גלריות עשירות ודפי נחיתה מעוצבים</h3>
            <p class="fbi-descr">סינקופה מציעה מגוון רחב של תבניות להטמעה מהירה ופשוטה וללא צורך במעצב או במתכנת.</p>
        </a>
        <a class="featureBoxesItem" href="/hebrew/call-to-action">
            <div class="fbi-thumb"><img src="[static_file_url /design15/images/lander07-section06.png]"/></div>
            <h3 class="fbi-title">כלי וידאו שיווקי</h3>
            <p class="fbi-descr">סינקופה מציעה להפוך את הסרטון לכלי שיווקי להגדלת הכנסות ויצירת נאמנות גבוהה יותר של הלקוח.</p>
        </a>
    </div>
</div>





<style type="text/css" link="[static_file_url /hebrew/bxslider/jquery.bxslider.css]"></style>
<script type="text/javascript" src="[static_file_url /hebrew/bxslider/jquery.bxslider.min.js]"></script>



<script type="text/javascript">
$('.bxslider').bxSlider({
  nextSelector: '#slider-next',
  prevSelector: '#slider-prev',
  pagerCustom: '#bx-pager',
  auto: true
});	
</script>


<script>
    $(document).ready(function () {

        $('.headerBreadcrumbs').hide();

        $(document).on('click', 'a[data-href]', function () {
            var link = $(this).attr('data-href');
            var action = $(this).attr('data-action');
            trackAndGo(link, action);
        });
        $(document).on('click', 'a.mejs-logo-button.has-link', function () {
            _gaq.push(['_trackEvent', 'Homepage buttons', 'Start now from video', 'homepage buttons']);
        });
         $(document).on('click', 'a.icon_play_promo', function () {
            _gaq.push(['_trackEvent', 'Homepage buttons', 'Play new homepage video', 'homepage buttons']);
        });
        $('.icon_play_promo').click(function () {
            $('html,body').animate({
                scrollTop: 0
            },1000);
            
            if (!(/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB10|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
                $('#homeslider').addClass('inactive');
                $('.cincopa_promo_content').fadeIn();
                cp_load_widget('AoIAMJd_cbRb!AU4Cx-sIpzJe', 'cincopa_promo');
            } else {
                openModal('<div id="cincopa_promo_mobile"></div>', 600, 300);
                setTimeout(function () {
                    cp_load_widget('AoIAMJd_cbRb!AU4Cx-sIpzJe', 'cincopa_promo_mobile');
                }, 0);
            }
        });

        $('.cincopa_promo_content .overlay').click(function(){
            $('.cincopa_promo_content').fadeOut();
            $('#homeslider').removeClass('inactive');
            $('#cincopa_promo').empty();
        });      

        var topHeight = $(window).height() - 80;
        if (topHeight < 300 || /Android|webOS|iPhone|iPad|iPod|BlackBerry|BB10|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
//            $('#homeslider').addClass('oneRow');
//            $('<hr style="border-bottom: 1px solid #ffffff;" />').insertAfter('.icon_play');
        }

        iWs = 188;
        iHs = 116;
        sWs = 933;
        sHs = 303;
        iLs = [];
        iTs = [];
        iTs[0] = 0;
        iTs[1] = 0;
        iTs[2] = 120;
        iTs[3] = 120;
        iTs[4] = 120;
        iLs[0] = 260;
        iLs[1] = 460;
        iLs[2] = 140;
        iLs[3] = 360;
        iLs[4] = 580;

        $('a.top').click(function (e) {
            e.preventDefault();
            $('html,body').animate({
                scrollTop: 0
            }, 'fast');
        });
        
        doc_referrer = document.referrer;
        if( doc_referrer.indexOf('slideshowpro.net') > -1 ){
            fromSlideshowPopup();
        }

    });
    
    function fromSlideshowPopup(){
        var htm = '<div class="modalContainer sortConfirmation sortPopup">'
            +'<div class="modalHeader">'
                +'<span>Welcome</span>'
            +'</div>'
            +'<div class="modalContent">'
                +'<div class="infoBlock">'
                    +'<p class="textInfo">A warm welcome to previous Slideshow Pro users. We are thrilled to have you here at Cincopa.</p>'
                +'</div>'
                +'<div class="img-box">'
                    +'<img src="[static_file_url /design15/images/from_slideshow_to_cp.png]" alt="from slideshow to cincopa">'
            +'</div>'
            +'<p class="infoBloclBottom">To learn more about how to migrate your assets to Cincopa, please <a href="/media-platform/upload-files#slideshowpro">click here</a>.</p>'
            +'</div>'
        +'</div>';
        openModal(htm, 500, 250);
    }

    function trackAndGo(link, action) {
        if (typeof link == 'undefined')
            link = '/media-platform/start.aspx';
        try {
            _gaq.push(['_set', 'hitCallback', function () {
                    location.href = link;
                }]);
            _gaq.push(['_trackEvent', 'Homepage buttons', action, 'homepage buttons']);
        } catch (ex) {
            location.href = link;
        }
    }
</script>
