[template /design15/templates/content-page-2017]

[title Add Videos, Photo Galleries, Slideshows, Music and Podcasts to your website < Cincopa]
[meta_keywords media player plugin, media plugin, multimedia plugin, media plugins, media component, module plugin, media extension, extension media, multimedia plugins, multimedia module]
[meta_description Cincopa is the most popular and simple way to embed media plugin to your website. Choose media player plugin by CMS or by your preferred skin style.]
[add_head_tag meta name="msvalidate.01" content="B50062672A0F6A9483C9E6FF4648D2EB"]


<style>
#simplemodal-container { width: 100% !important; max-width: 700px; max-height: 75vh; overflow-y: auto; padding-top: 40px; }
@media screen and (max-width: 1000px) {
    #homeslider { background-size: cover; }
}
@media screen and (max-width: 800px) {
    .whiteBannerbox h3 { text-align: center; }
    .btn.bigger { display: block; margin: 15px auto; width: 100%; max-width: 400px; }
    .header ~ .content-container { margin-top: 75px; }
    .testimoniesList16 { display: none; }
}
</style>


<a class="top" href="javascript:void(0)" ></a>
<div id="homeslider" class="slider">
    [rem gallery AgNAIJtgFGPa]
    <script type="text/javascript">
  $(document).ready(function(){
    cincopa.registerEvent('onVideoEnd','video.ended');
  });
    
    function onVideoEnd(eventName,data,gal){
      sliderVideo = $(gal.skin.player.domNode);
      $(sliderVideo).fadeOut(1000);
      //  setTimeout( function(){
      //           sliderVideo.fadeIn(1000);
      //           gal.skin.player.setCurrentTime(0);
      //           gal.skin.player.play();
      // }, 3000); 
    }
    </script>


    <div class="home_title">
      <div class="row">
        <div class="col-md-8 middle">
          <h1>A smart video platform</h1>
          <p>Over 800.000 sites use Cincopa for video and multimedia hosting</p>
          [if is_user_logged 
          "<a data-href='/media-platform/start.aspx' data-action='Start now main'  class='btn secondary bigger startnow'>Start Now For Free</a> <a class='btn glow bigger outlined icon_play_promo'><b>Watch Demo</b><i class='icon-play'></i></a>"
          "<a data-href='/media-platform/start.aspx' class='startnow btn secondary bigger' data-action='Start now main' >Get Started Now - Free</a> <a class='btn glow bigger outlined icon_play_promo'><b>Watch Demo</b><i class='icon-play'></i></a>"
          ]
        </div>
        <div class="col-md-4 middle">
            <div class="home_video" style="display: block; padding: 50px 20px 20px 20px; background: #fff;
                background: #fff url(http://dev8.cincopa.com/_cms/design17/images/window-frame.png) no-repeat left top;
                border-radius: 5px; box-shadow: 0 4px 30px rgba(0,0,0,.3);">[gallery A0KA68tcxHhy]
                <p style="text-align:center;margin: 20px 0 0 0;"><img style="margin-right: 25px;" src="[static_file_url /design17/images/home-videothumb-1.jpg]" /> <img src="[static_file_url /design17/images/home-videothumb-2.jpg]" /></p>
            </div>
                
                <!-- <img style="display:none;" src="[static_file_url /design17/images/home-header-visual.png]"/> -->
        </div>
      </div>  
    </div>
    <div class="cincopa_promo_content" style="display: none;">
        <div class="overlay"><a class="closeBtn">Close</a></div>
        <div id="cincopa_promo"></div>
    </div>

</div>


<a href="/solution/marketing" class="homeSection row">
    <div class="col-md-12 middle textcenter">
        <h2>Cincopa for <b>Marketing</b></h2>
        <p>Cincopa is a #1 multimedia hosting and management solution delivering ROI to your business. Drive traffic, generate leads, engage your audience using a plethora of smart marketing tools, built-in SEO features, advanced video analytics, and more. Integrate Cincopa with third-party marketing platforms in just a few clicks!</p>
        <p class="hs-partlogos">
            <img src="[static_file_url /design17/images/home-mailchimp.png]" alt="Mailchimp" />
            <img src="[static_file_url /design17/images/home-hubspot.png]" alt="Hubspot" />
            <img src="[static_file_url /design17/images/home-marketo.png]" alt="Marketo" />
            <img src="[static_file_url /design17/images/home-sugarcrm.png]" alt="SugarCRM" />
        </p>
    </div>
</a>


<a href="/solution/publishers" class="homeSection row">
    <div class="col-md-12 middle textcenter">
        <h2>Cincopa for <b>Publishers</b></h2>
        <p>Publish your online media content in the most beautiful and engaging way! Create video portals, animated galleries, podcasts, slideshows, and more. Choose from 100+ rich media templates with fully customizable design. Add media collections to any website via direct embed or take advantage of Cincopa’s rich media kit for major CMS platforms.</p>
        <p class="hs-partlogos">
          <img src="[static_file_url /design17/images/home-wordpress.png]" alt="Wordpress" />
          <img src="[static_file_url /design17/images/home-drupal.png]" alt="Drupal" />
          <img src="[static_file_url /design17/images/home-tumblr.png]" alt="Tumblr" />
          <img src="[static_file_url /design17/images/home-joomla.png]" alt="Joomla" />
          <img src="[static_file_url /design17/images/home-blogger.png]" alt="Blogger" />
        </p>
    </div>
</a>

<a href="/solution/education" class="homeSection row">
    <div class="col-md-12 middle textcenter">
        <h2>Cincopa for <b>Education</b></h2>
        <p>Cincopa provides seamless integration with LMS platforms like Moodle, eDX, and many others. Improve your educational process with multimedia tools: webinars, video tutorials, presentations, and audio lessons. Create interactive assignments for students, collect and share their work online.</p>
        <p class="hs-partlogos">
          <img src="[static_file_url /design17/images/home-moodle.png]" alt="Moodle" />
          <img src="[static_file_url /design17/images/home-edx.png]" alt="EDX" />
        </p>
    </div>
</a>

<div class="homeSection row">
    <div class="col-md-12 middle textcenter">
        <h2>Cincopa for <b>Ecommerce</b></h2>
        <p>Upgrade your online shop with informative product videos and images. Attract more customers with perfectly visualized listings, collect leads, build prospects, and increase your sales!</p>
        <p class="hs-partlogos">
          <img src="[static_file_url /design17/images/home-magento.png]" alt="Magento" />
          <img src="[static_file_url /design17/images/home-shopify.png]" alt="Shopify" />
          <img src="[static_file_url /design17/images/home-prestashop.png]" alt="Prestashop" />
        </p>
    </div>
</div>

<div class="homeSection row">
    <div class="col-md-12 middle textcenter">
        <h2>Cincopa for <b>Enterprise</b></h2>
        <p>Boost your business with creative media content and give your brand enough publicity it deserves! Improve team workflow using effective multimedia management tools that can be easily incorporated into your CRM system.</p>
        <p class="hs-partlogos">
          <img src="[static_file_url /design17/images/home-salesforce.png]" alt="Salesforce" />
          <img src="[static_file_url /design17/images/home-sugarcrm.png]" alt="SugarCRM" />
        </p>
        <p class="textcenter"><button type="button" class="btn green bigger wide contactUs">Contact us</button></p>
    </div>
</div>

<div class="homeSection row">
    <div class="col-md-12 middle textcenter">
        <a href="/solution/developers" style="text-decoration: none;">
            <h2>Cincopa for <b>Developers</b></h2>
            <p>Enrich your online presence with custom videos, audios, images, and slideshows integrated directly into your app or website. Unleash the power of Cincopa API to automate uploading, management, storage, and publishing of your content with the help of the most advanced rich media technology.</p>
        </a>
        <p class="textcenter"><a href="/media-platform/api-documentation"><span class="hs-link"><i class="icon-arrow3-right"></i>Cincopa API</span></a></p>
    </div>
</div>


<div class="whiteBannerbox"><div class="row">
  <div class="col-md-5 middle"><h3>Start using Cincopa today.</h3></div>
  <div class="col-md-7 middle textright"><a type="button" class="btn primary bigger" href="/media-platform/start.aspx">Start free trial</a> <button type="button" class="btn green bigger">Request Private Demo</button></div>
</div></div>


<div class="home-testimonies contentWrap">
    <h2>What our customers think about Cincopa</h2>
  <div class="row">
    <div class="col-md-6 video">
      [gallery AoIAMJd_cbRb!AQ3CDwsZuzmw]
    </div>
    <div class="col-md-6">
      [include /design16/testimonies] 
    </div>
  </div>
</div>



<div class="logosArea">

<div class="partnersArea"><div class="contentWrap aligncenter">

    <span class="partnlogo">
        <span class="img"><img src="[static_file_url /design15/images/partnlogo-verizon.png]" alt="Verizon" /></span>
    </span>

    <span class="partnlogo">
        <span class="img"><img src="[static_file_url /design15/images/partnlogo-dtelecom.png]" alt="Deutsche Telekom" /></span>
    </span>

    <span class="partnlogo">
        <span class="img"><img src="[static_file_url /design15/images/partnlogo-bluesnap.png]" alt="BlueSnap" /></span>
    </span> 
    
    <span class="partnlogo">
        <span class="img"><img src="[static_file_url /design15/images/partnlogo-softlayer.png]" alt="IBM Softlayer" /></span>
    </span>

    <span class="partnlogo">
        <span class="img"><img src="[static_file_url /design15/images/partnlogo-paypal.png]" alt="Paypal" /></span>
    </span>

    <span class="partnlogo">
        <span class="img"><img src="[static_file_url /design15/images/partnlogo-aws.png]" alt="AWS" /></span>
    </span>

</div></div>


<div class="clntsArea"><div class="contentWrap aligncenter">
    <span class="clntlogo">
        <span class="img"><img src="[static_file_url /design15/images/clntlogo-bfeed.png]" alt="BuzzFeed" /></span>
    </span>
    <span class="clntlogo">
        <span class="img"><img src="[static_file_url /design15/images/clntlogo-udn.png]" alt="" /></span>
    </span>
    <span class="clntlogo">
        <span class="img"><img src="[static_file_url /design15/images/clntlogo-tsa.png]" alt="" /></span>
    </span>
    <span class="clntlogo">
        <span class="img"><img src="[static_file_url /design15/images/clntlogo-msg.png]" alt="" /></span>
    </span>
    <span class="clntlogo">
        <span class="img"><img src="[static_file_url /design15/images/clntlogo-kfc.png]" alt="" /></span>
    </span>
    <span class="clntlogo">
        <span class="img"><img src="[static_file_url /design15/images/clntlogo-st.png]" alt="" /></span>
    </span>
    <span class="clntlogo">
        <span class="img"><img src="[static_file_url /design15/images/clntlogo-rww.png]" alt="" /></span>
    </span>
    <span class="clntlogo">
        <span class="img"><img src="[static_file_url /design15/images/clntlogo-dc.png]" alt="" /></span>
    </span>
</div></div>
  
</div>





<div class="lightBlueBoxWide center contentWrap">
    [include \lang-inc]
</div>

[include /design15/contactus_popup_form]


<script>
    $(document).ready(function () {

        $('.headerBreadcrumbs').hide();

        $(document).on('click', 'a[data-href]', function () {
            var link = $(this).attr('data-href');
            var action = $(this).attr('data-action');
            trackAndGo(link, action);
        });
        $(document).on('click', 'a.mejs-logo-button.has-link', function () {
            _gaq.push(['_trackEvent', 'Homepage buttons', 'Start now from video', 'homepage buttons']);
        });
         $(document).on('click', 'a.icon_play_promo', function () {
            _gaq.push(['_trackEvent', 'Homepage buttons', 'Play new homepage video', 'homepage buttons']);
        });
        $('.icon_play_promo').click(function () {
            $('html,body').animate({
                scrollTop: 0
            },1000);
            
            if (!(/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB10|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
                $('#homeslider').addClass('inactive');
                $('.cincopa_promo_content').fadeIn();
                cp_load_widget('AoIAMJd_cbRb!AU4Cx-sIpzJe', 'cincopa_promo');
            } else {
                openModal('<div id="cincopa_promo_mobile"></div>', 600, 300);
                setTimeout(function () {
                    cp_load_widget('AoIAMJd_cbRb!AU4Cx-sIpzJe', 'cincopa_promo_mobile');
                }, 0);
            }
        });

        $('.cincopa_promo_content .overlay').click(function(){
            $('.cincopa_promo_content').fadeOut();
            $('#homeslider').removeClass('inactive');
            $('#cincopa_promo').empty();
        });      

        var topHeight = $(window).height() - 80;
        if (topHeight < 300 || /Android|webOS|iPhone|iPad|iPod|BlackBerry|BB10|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
//            $('#homeslider').addClass('oneRow');
//            $('<hr style="border-bottom: 1px solid #ffffff;" />').insertAfter('.icon_play');
        }

        iWs = 188;
        iHs = 116;
        sWs = 933;
        sHs = 303;
        iLs = [];
        iTs = [];
        iTs[0] = 0;
        iTs[1] = 0;
        iTs[2] = 120;
        iTs[3] = 120;
        iTs[4] = 120;
        iLs[0] = 260;
        iLs[1] = 460;
        iLs[2] = 140;
        iLs[3] = 360;
        iLs[4] = 580;

        $('a.top').click(function (e) {
            e.preventDefault();
            $('html,body').animate({
                scrollTop: 0
            }, 'fast');
        });
        
        doc_referrer = document.referrer;
        if( doc_referrer.indexOf('slideshowpro.net') > -1 ){
            fromSlideshowPopup();
        }

    });
    
    function fromSlideshowPopup(){
        var htm = '<div class="modalContainer sortConfirmation sortPopup">'
            +'<div class="modalHeader">'
                +'<span>Welcome</span>'
            +'</div>'
            +'<div class="modalContent">'
                +'<div class="infoBlock">'
                    +'<p class="textInfo">A warm welcome to previous Slideshow Pro users. We are thrilled to have you here at Cincopa.</p>'
                +'</div>'
                +'<div class="img-box">'
                    +'<img src="[static_file_url /design15/images/from_slideshow_to_cp.png]" alt="from slideshow to cincopa">'
            +'</div>'
            +'<p class="infoBloclBottom">To learn more about how to migrate your assets to Cincopa, please <a href="/media-platform/upload-files#slideshowpro">click here</a>.</p>'
            +'</div>'
        +'</div>';
        openModal(htm, 500, 250);
    }

    function trackAndGo(link, action) {
        if (typeof link == 'undefined')
            link = '/media-platform/start.aspx';
        try {
            _gaq.push(['_set', 'hitCallback', function () {
                    location.href = link;
                }]);
            _gaq.push(['_trackEvent', 'Homepage buttons', action, 'homepage buttons']);
        } catch (ex) {
            location.href = link;
        }
    }
</script>
