[template /design15/templates/content-page]

[title Add Videos, Photo Galleries, Slideshows, Music and Podcasts to your website < Cincopa]
[meta_keywords media player plugin, media plugin, multimedia plugin, media plugins, media component, module plugin, media extension, extension media, multimedia plugins, multimedia module]
[meta_description Cincopa is the most popular and simple way to embed media plugin to your website. Choose media player plugin by CMS or by your preferred skin style.]


<script src='/media-platform/runtime/libasync.js' type='text/javascript'></script>
<a class="top" href="javascript:void(0)" ></a>
<div id="homeslider" class="slider">



    <div class="home_title">
        <h1>Enhance your Website with Videos,<br/> Photo&nbsp;Galleries, Slideshows, Music and Podcasts</h1>
        [if is_user_logged 
        "<a data-href='/media-platform/start.aspx' data-action='Start now main'  class='btn primary bigger startnow'>Start Now</a> <a class='btn glow trans'><b>Learn More</b> <i class='icon-play'></i></a>"
        "<a data-href='/media-platform/start.aspx' class='startnow btn primary bigger' data-action='Start now main' >Get Started Now - Free</a> <a class='btn glow trans'><b>Learn More</b> <i class='icon-play'></i></a>"
        ]
    </div>

</div>


<div class="bigsplashbuttonsArea"><div class="contentWrap aligncenter">
    <a class="bigsplashbutton photos" data-href="/media-platform/services/create-photo-gallery" data-action="gallery">
        <span class="img"><img src="[static_file_url /design15/images/icon-photos.png]" alt="Photos" /></span>
        <span class="title"><b>Photos</b> <i class="icon-usethis glow"></i></span>
    </a>
    <a class="bigsplashbutton music" data-href="/media-platform/services/add-music-to-website" data-action="music">
        <span class="img"><img src="[static_file_url /design15/images/icon-music.png]" alt="Music" /></span>
        <span class="title"><b>Music</b> <i class="icon-usethis glow"></i></span>
    </a>
    <a class="bigsplashbutton videos" data-href="/video-hosting" data-action="video">
        <span class="img"><img src="[static_file_url /design15/images/icon-videos.png]" alt="Videos" /></span>
        <span class="title"><b>Videos</b> <i class="icon-usethis glow"></i></span>
    </a>
    <a class="bigsplashbutton slideshows" data-href="/media-platform/services/create-slideshow" data-action="slideshow">
        <span class="img"><img src="[static_file_url /design15/images/icon-slideshows.png]" alt="Slideshows" /></span>
        <span class="title"><b>Slideshows</b> <i class="icon-usethis glow"></i></span>
    </a>
    <a class="bigsplashbutton podcasts" data-href="/media-platform/podcast-player" data-action="podcast">
        <span class="img"><img src="[static_file_url /design15/images/icon-podcasts.png]" alt="Podcasts" /></span>
        <span class="title"><b>Podcasts</b> <i class="icon-usethis glow"></i></span>
    </a>
</div></div>





<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------- -->
<div class="homeSection">
    <div class="descr">
        <h2>Media</h2>
        <p>Cincopa's features include image galleries and slideshows, video players, music players and podcast, all offered in various styles, sizes and skins.</p>
        <p><a class="btn secondary2" href="http://www.cincopa.com/media-platform/features">LEARN MORE</a></p>
    </div>

    <div class="thumb">
        <div class="homemediatypes">
            <img alt="" class="laptop" src="[static_file_url /design15/images/home-mediatypes-laptop.png]"/>
            <div class="video"><img alt="" src="[static_file_url /design15/images/home-mediatypes-video.png]"/></div>
            <div class="audio"><img alt="" src="[static_file_url /design15/images/home-mediatypes-audio.png]"/></div>
            <div class="photos"><img alt="" src="[static_file_url /design15/images/home-mediatypes-photos.png]"/></div>
            <ul>
                <li class="cd-single-point video"> <a class="cd-img-replace" href="#0">More</a> <div class="cd-more-info cd-top"> <h2>Title</h2> <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus quasi ipsa corrupti ipsum amet facere ut nihil. </p> <a href="#0" class="cd-close-info cd-img-replace">Close</a> </div> </li>
                <li class="cd-single-point audio"> <a class="cd-img-replace" href="#0">More</a> <div class="cd-more-info cd-top"> <h2>Audio Player</h2> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus quasi ipsa corrupti ipsum amet facere ut nihil. </p> <a href="#0" class="cd-close-info cd-img-replace">Close</a> </div> </li>
                <li class="cd-single-point photos"> <a class="cd-img-replace" href="#0">More</a> <div class="cd-more-info cd-right"> <h2>Title</h2> <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus quasi ipsa corrupti ipsum amet facere ut nihil. </p> <a href="#0" class="cd-close-info cd-img-replace">Close</a> </div> </li>
            </ul>
        </div>
    </div>

</div>
<script type="text/javascript">
$(document).ready(function(){
    //open interest point description
    $('.cd-single-point').children('a').on('click', function(){
        var selectedPoint = $(this).parent('li');
        if( selectedPoint.hasClass('is-open') ) {
            selectedPoint.removeClass('is-open').addClass('visited');
        } else {
            selectedPoint.addClass('is-open').siblings('.cd-single-point.is-open').removeClass('is-open').addClass('visited');
        }
    });
    //close interest point description
    $('.cd-close-info').on('click', function(event){
        event.preventDefault();
        $(this).parents('.cd-single-point').eq(0).removeClass('is-open').addClass('visited');
    });
});    
</script>
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------- -->





<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------- -->
<div class="homeSection">
    <div class="thumb">
        <div class="homeplatformhoney">
            <a href="http://www.cincopa.com/media-platform/features/content-delivery-network" class="iconCDN"  title="Content delivery network"><i class="icon-platform_cdn"></i><b>CDN</b></a>
            <a href="http://www.cincopa.com/digital-asset-management" title="Digital Asset Managment" class="iconDAM"><i class="icon-platform_dam"></i><b>DAM</b></a>
            <a href="http://help.cincopa.com/entries/45020464-How-to-create-your-own-Cincopa-team"  title="User managment" class="iconUM"><i class="icon-platform_um"></i><b>User Management</b></a>
            <a href="http://www.cincopa.com/media-platform/features" title="Analytics" class="iconAN"><i class="icon-platform_analytic"></i><b>Analytics</b></a>
            <a href="http://www.cincopa.com/media-platform/html5-video" title="HTML5 support" class="iconHTML"><i class="icon-platform_html5"></i><b>HTML5</b></a>
        </div>
    </div>
    <div class="descr">
        <h2>Platform</h2>
        <p>Cincopa multimedia platform provides a comprehensive, rich media kit, enabling users to create, host, deliver and manage their media with advanced features.</p>
        <p><a class="btn secondary2">LEARN MORE</a></p>
    </div>
</div>
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------- -->






<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------- -->
<div class="homeSection">
    <div class="descr">
        <h2></h2>
        <p></p>
        <p><a class="btn secondary2">LEARN MORE</a></p>
    </div>

    <div class="thumb">
    </div>
</div>
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------- -->












<div>
    <ul class="tabsBody">





        <li class="platform">
            <div class="text">
                <h1>
                    Cincopa multimedia platform provides a comprehensive, rich media kit, enabling users to create, host, deliver and manage their media with advanced features
                </h1>
            </div>
            <div class="imageContent">
                <a href="http://www.cincopa.com/media-platform/features/content-delivery-network" class="iconCDN"  title="Content delivery network"></a>
                <a href="http://www.cincopa.com/digital-asset-management" title="Digital Asset Managment" class="iconDAM" ></a>
                <a href="http://help.cincopa.com/entries/45020464-How-to-create-your-own-Cincopa-team"  title="User managment" class="iconUM" ></a>
                <a href="http://www.cincopa.com/media-platform/features" title="Analytics" class="iconAN" ></a>
                <a href="http://www.cincopa.com/media-platform/html5-video" title="HTML5 support" class="iconHTML" ></a>
                <img src="[static_file_url /design13/images/home_platform_big.png]" />
            </div>
        </li>
        <li class="design">
            <div class="text">
                <h1>
                    Cincopa has created mobile friendly skins that support all types of rich media. Customize it with many available parameters or with CSS for full customization
                </h1>
                <a href="http://www.cincopa.com/media-platform/the-best-responsive-design-gallery">Learn more</a>

                <div class="imageContent">
                    <img  src="[static_file_url /design13/images/home_design_tab_green.png]" />
                </div>
            </div>
            <div class="screen">
                <img src="[static_file_url /design13/images/home_design_tab_screen.png]" />
            </div>
            <div class="smallScreenImage">                  
                <img src="[static_file_url /design13/images/home_design_tab.png]" />
            </div>
        </li>
    </ul>
</div>



<div class="lightBlueBoxWide center">
    <p>Cincopa is the most complete rich media kit for WordPress, Joomla, Blogger and many other CMS. Add media to your site in seconds! Select one of our awesome skins, upload your media and easily embed on your website, simple as that.</p>       
    [include \lang-inc]
</div>
<div style="margin-top: 20px; margin-bottom: -30px;">
    [include /design13/testimonies]
</div>
<script>
    $(document).ready(function () {
        $(document).on('click', 'a[data-href]', function () {
            var link = $(this).attr('data-href');
            var action = $(this).attr('data-action');
            trackAndGo(link, action);
        });
        $(document).on('click', 'a.mejs-logo-button.has-link', function () {
            _gaq.push(['_trackEvent', 'Homepage buttons', 'Start now from video', 'homepage buttons']);
        });
         $(document).on('click', 'a.icon_play', function () {
            _gaq.push(['_trackEvent', 'Homepage buttons', 'Play new homepage video', 'homepage buttons']);
        });
        
        var topHeight = $(window).height() - 80;
        if (topHeight < 300 || /Android|webOS|iPhone|iPad|iPod|BlackBerry|BB10|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('#homeslider').addClass('oneRow');
            $('<hr style="border-bottom: 1px solid #ffffff;" />').insertAfter('.icon_play');
        }
        $('ul.tabsHead li').click(function () {
            if ($(this).hasClass('active'))
                return false;
            $('ul.tabsHead li.active').removeClass('active');
            $(this).addClass('active');
            var getClassName = $(this).attr('data-tab');
            $('ul.tabsBody li').removeClass('active');
            $('ul.tabsBody li.' + getClassName).addClass('active');
            $(window).resize();
        });

        iWs = 188;
        iHs = 116;
        sWs = 933;
        sHs = 303;
        iLs = [];
        iTs = [];
        iTs[0] = 0;
        iTs[1] = 0;
        iTs[2] = 120;
        iTs[3] = 120;
        iTs[4] = 120;
        iLs[0] = 260;
        iLs[1] = 460;
        iLs[2] = 140;
        iLs[3] = 360;
        iLs[4] = 580;
        $(window).resize();
        $(window).resize(function () {
            if (typeof sWs != 'undefined') {
                sW = $('.platform .imageContent').width();
                sH = $('.platform .imageContent').height();
                iW = [];
                $('.platform .imageContent>a').each(function () {
                    iW.push($(this).width())
                });
                iH = [];
                $('.platform .imageContent>a').each(function () {
                    iH.push($(this).height())
                });
                $('.platform .imageContent>a').each(function (i) {
                    $(this).css('width', (sW * iWs) / sWs).css('height', (sH * iHs) / sHs).css('left', (sW * iLs[i]) / sWs).css('top', (sH * iTs[i]) / sHs);
                });

            }
        });

        $('div.sub-nav').append("<a style='display:none;' data-href='/media-platform/start.aspx' class='btn img startnow startnow-sub' data-action='start now header'>Start Now</a>");
        $(window).scroll(function () {
            if ($(this).scrollTop() > $('.header').height()) {
                $('a.startnow-sub').fadeIn();
            } else {
                $('a.startnow-sub').fadeOut();
            }
            if ($(this).scrollTop() > $('ul.tabsHead').offset().top) {
                $('a.top').fadeIn();
            } else {
                $('a.top').fadeOut();
            }
        });
        $('a.top').click(function (e) {
            e.preventDefault();
            $('html,body').animate({
                scrollTop: 0
            }, 'fast');
        });

    });

    function trackAndGo(link, action) {
        if (typeof link == 'undefined')
            link = '/media-platform/start.aspx';
        try {
            _gaq.push(['_set', 'hitCallback', function () {
                    location.href = link;
                }]);
            _gaq.push(['_trackEvent', 'Homepage buttons', action, 'homepage buttons']);
        } catch (ex) {
            location.href = link;
        }
    }
</script>












<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------- -->
<style>
.cd-container {  width: 90%; max-width: 1170px; margin: 0 auto; }
.cd-container:after { content: ""; display: table; clear: both; }
.cd-img-replace { display: inline-block; overflow: hidden; text-indent: 100%; white-space: nowrap; }
/* -------------------------------- 
Main components 
-------------------------------- */
.cd-product-wrapper { display: inline-block; position: relative; margin: 0 auto; width: 100%; max-width: 450px; }
.cd-product-wrapper > img { display: block; }
.cd-single-point { position: absolute; border-radius: 50%; }
.cd-single-point > a { position: relative; z-index: 2; display: block; width: 30px; height: 30px; border-radius: inherit; background: #0086cf; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3); -webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; transition: background-color 0.2s; }
.cd-single-point > a::after, .cd-single-point > a:before { /* rotating plus icon */ content: ''; position: absolute; left: 50%; top: 50%; bottom: auto; right: auto; -webkit-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); background-color: #ffffff; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; transition-property: transform; -webkit-transition-duration: 0.2s; -moz-transition-duration: 0.2s; transition-duration: 0.2s; }
.cd-single-point > a::after { height: 2px; width: 12px; }
.cd-single-point > a::before { height: 12px; width: 2px; }
.cd-single-point::after { /* this is used to create the pulse animation */ content: ''; position: absolute; z-index: 1; width: 100%; height: 100%; top: 0; left: 0; border-radius: inherit; background-color: transparent; -webkit-animation: cd-pulse 2s infinite; -moz-animation: cd-pulse 2s infinite; animation: cd-pulse 2s infinite; }
.cd-single-point.audio { top: 9%; right: 3%; }
.cd-single-point.photos { bottom: 44%; right: 3%; }
.cd-single-point.video { top: 8%; left: 5%; }
.cd-single-point.is-open > a { background-color: #475f74; }
.cd-single-point.is-open > a::after, .cd-single-point.is-open > a::before { -webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg); -moz-transform: translateX(-50%) translateY(-50%) rotate(135deg); -ms-transform: translateX(-50%) translateY(-50%) rotate(135deg); -o-transform: translateX(-50%) translateY(-50%) rotate(135deg); transform: translateX(-50%) translateY(-50%) rotate(135deg); }
.cd-single-point.is-open::after { /* remove pulse effect */ display: none; }
.cd-single-point.is-open .cd-more-info { visibility: visible; opacity: 1; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s; -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s; transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s; }
.cd-single-point.visited > a { background-color: #aab2bc; }
.cd-single-point.visited::after { /* pulse effect no more active on visited elements */ display: none; }
@media only screen and (min-width: 600px) { .cd-single-point.is-open .cd-more-info.cd-left { right: 140%; }
  .cd-single-point.is-open .cd-more-info.cd-right { left: 140%; }
  .cd-single-point.is-open .cd-more-info.cd-top { bottom: 140%; }
  .cd-single-point.is-open .cd-more-info.cd-bottom { top: 140%; } }
@-webkit-keyframes cd-pulse { 0% { -webkit-transform: scale(1); box-shadow: inset 0 0 1px 1px rgba(0, 135, 205, 0.8); }
  50% { box-shadow: inset 0 0 1px 1px rgba(0, 135, 205, 0.8); }
  100% { -webkit-transform: scale(1.6); box-shadow: inset 0 0 1px 1px rgba(0, 135, 205, 0); } }

@-moz-keyframes cd-pulse { 0% { -moz-transform: scale(1); box-shadow: inset 0 0 1px 1px rgba(0, 135, 205, 0.8); }
  50% { box-shadow: inset 0 0 1px 1px rgba(0, 135, 205, 0.8); }
  100% { -moz-transform: scale(1.6); box-shadow: inset 0 0 1px 1px rgba(0, 135, 205, 0); } }

@keyframes cd-pulse { 0% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); box-shadow: inset 0 0 1px 1px rgba(0, 135, 205, 0.8); }
  50% { box-shadow: inset 0 0 1px 1px rgba(0, 135, 205, 0.8); }
  100% { -webkit-transform: scale(1.6); -moz-transform: scale(1.6); -ms-transform: scale(1.6); -o-transform: scale(1.6); transform: scale(1.6); box-shadow: inset 0 0 1px 1px rgba(0, 135, 205, 0); } }

.cd-single-point .cd-more-info { position: fixed; top: 0; left: 0; z-index: 3; width: 100%; height: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch; text-align: left; line-height: 1.5; background-color: rgba(255, 255, 255, 0.95); padding: 2em 1em 1em; visibility: hidden; opacity: 0; -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8); -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s; -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s; transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s; }
.cd-single-point .cd-more-info::before { /* triangle next to the interest point description - hidden on mobile */ content: ''; position: absolute; height: 0; width: 0; display: none; border: 8px solid transparent; }
.cd-single-point .cd-more-info h2 { font-size: 22px; font-size: 1.375rem; margin-bottom: .6em; margin-top: 0; }
.cd-single-point .cd-more-info p { color: #758eb1; }
@media only screen and (min-width: 600px) { .cd-single-point .cd-more-info { position: absolute; width: 220px; height: 240px; padding: 1em; overflow-y: visible; line-height: 1.4; border-radius: 0.25em; box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
  .cd-single-point .cd-more-info::before { display: block; }
  .cd-single-point .cd-more-info.cd-left, .cd-single-point .cd-more-info.cd-right { top: 50%; bottom: auto; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
  .cd-single-point .cd-more-info.cd-left::before, .cd-single-point .cd-more-info.cd-right::before { top: 50%; bottom: auto; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
  .cd-single-point .cd-more-info.cd-left { right: 160%; left: auto; }
  .cd-single-point .cd-more-info.cd-left::before { border-left-color: rgba(255, 255, 255, 0.95); left: 100%; }
  .cd-single-point .cd-more-info.cd-right { left: 160%; }
  .cd-single-point .cd-more-info.cd-right::before { border-right-color: rgba(255, 255, 255, 0.95); right: 100%; }
  .cd-single-point .cd-more-info.cd-top, .cd-single-point .cd-more-info.cd-bottom { left: 50%; right: auto; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); }
  .cd-single-point .cd-more-info.cd-top::before, .cd-single-point .cd-more-info.cd-bottom::before { left: 50%; right: auto; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); }
  .cd-single-point .cd-more-info.cd-top { bottom: 160%; top: auto; }
  .cd-single-point .cd-more-info.cd-top::before { border-top-color: rgba(255, 255, 255, 0.95); top: 100%; }
  .cd-single-point .cd-more-info.cd-bottom { top: 160%; }
  .cd-single-point .cd-more-info.cd-bottom::before { border-bottom-color: rgba(255, 255, 255, 0.95); bottom: 100%; }
  .cd-single-point .cd-more-info h2 { font-size: 20px; font-size: 1.25rem; margin-bottom: 0; }
  .cd-single-point .cd-more-info p { font-size: 14px; font-size: 0.875rem; } }
/* close the interest point description - only on mobile */
.cd-close-info { position: fixed; top: 0; right: 0; height: 44px; width: 44px; }
.cd-close-info::after, .cd-close-info:before { content: ''; position: absolute; left: 50%; top: 50%; bottom: auto; right: auto; -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg); -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg); -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg); -o-transform: translateX(-50%) translateY(-50%) rotate(45deg); transform: translateX(-50%) translateY(-50%) rotate(45deg); background-color: #475f74; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; transition-property: transform; -webkit-transition-duration: 0.2s; -moz-transition-duration: 0.2s; transition-duration: 0.2s; }
.cd-close-info::after { height: 2px; width: 16px; }
.cd-close-info::before { height: 16px; width: 2px; }
@media only screen and (min-width: 600px) { .cd-close-info { display: none; } }
</style>
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------- -->
