[template /design15/templates/content-page]

[title Free and easy to embed Joomla Modules. Rich Media Extensions for Joomla > Cincopa]

[meta_keywords joomla module, extension joomla, joomla component, extensions joomla, joomla modules, joomla components, joomla 1.6 extensions]
[meta_description Free and easy to embed Joomla Modules. Choose Slideshow, Image Gallery, Video or Audio Rich Media Extensions for Joomla. Joomla components and extensions are very easy to implement on your website]

<div class="inner-info">
<div id="cont" class="cmspage">


	<div class="splashArea01 joomla">
		<div class="contentWrap">
			<h2>Joomla Modules & Joomla Extensions – Slideshow, Photo Galleries and Media Players for Your Posts</h2>
			<p>Joomla module, also known as Joomla extension, Joomla component or plugin,  allows you to add dynamic, interactive media to any Joomla! blog or website. Embedding a photo gallery, slideshow, or music player in your Joomla! site can make your site much more entertaining and engaging than a site which uses text only. Creating video blogs (vlogs), photo blogs, podcasts, and music sites are all extremely popular ways to hold the attention of visitors, give them something to talk about, share, and discuss.</p>
			<p><a href="/media-platform/start.aspx" class="btn big green">START FREE TRIAL</a><!-- <a class="contactUs btn big purple">Contact us</a> --> </p>
		</div>
	</div>


	<div class="box">
		<h2 class="dark">The Cincopa Solution</h2>
		<p>Add Video, Audio, Photos and Slideshow To Your Website and Emails...Very Easy!</p>
		<p>Just select the media you want posted to your Website from the list of file you have on your PCs, and customize the player the way you want it. With Cincopa, you paste the automatically generated unique code into your website and forget it. Very simple! It is just choose, cut, paste... that is it!</p>
		<div class="center">
		  <a href="/media-platform/joomla-module/free-image-slideshow" class="icon big blue slideshows"><i></i>Slideshows</a>
		  <a href="/media-platform/joomla-module/free-image-gallery" class="icon big blue photos"><i></i>Photos</a>
		  <a href="/media-platform/joomla-module/embed-video-player" class="icon big blue videos"><i></i>Videos</a>
		  <a href="/media-platform/joomla-module/mp3-audio-player" class="icon big blue music"><i></i>Audio</a>
		  <a href="/media-platform/joomla-module/joomla-podcast" class="icon big blue podcasts"><i></i>Podcasts</a>
		</div>
	</div>

	
	[include \media-platform\templates\how-it-works-joomla]

	[include \media-platform\templates\start-now-wide]


		<h2>Put Your Site or Blog into Action with Joomla Modules and Joomla Extensions</h2>
		<p>Put your site into action with a rich media Joomla plugin. Create visually stunning media galleries using Flash, JW Video player, Flowplayer, Cooliris, Lightbox, jQuery tools 3D carousels, thumbnail viewers, multiple skins, transitions and controls. This kind of interactivity can be difficult to build and implement, on your own, by hand, without significant programming skills and tedious repetition. Joomla modules and extensions were developed in order to make things easier for you.</p>
		<h2>The Cincopa Solution - All-in-one Joomla Modules</h2>
		<p>The Cincopa all-in-one media Joomla module makes it a very simple task to add photos, videos, podcasts, and music to any Joomla! site with just the click of a few buttons. Access the Cincopa platform interface directly from within your Joomla! control panel, or install our Desktop Media Agent to synchronize the folders on your PC with your Cincopa "cloud" drive. Choose your skin, upload your files, create your presentation, wizard-style, and place a single line of code (a shortcode) anywhere in your site.</p>
		<p>Cincopa can handle the uploading, hosting, transcoding, and delivery of all your media quickly and reliably from a dedicated <a href="/media-platform/features/content-delivery-network">CDN</a> (content delivery network) which you can access remotely from any PC or handheld device including your iPhone, iPad, or any other PDA or mobile device. It's 100% free for most users. Premium upgrades are available at extremely low cost for those users who need extra storage or bandwidth.</p>
		<h2>Joomla Video Module</h2>
		<ol class="disc">
			<li>17 skins to choose from</li>
			<li>Fast, secure, reliable transfer and hosting</li>
			<li>Automatic video transcoding to flv, 3gp, mp4</li>
			<li>Easy access from anywhere, remote video uploading and downloading</li>
			<li>Full compatibility for the iPhone, iPad, other mobile devices</li>
			<li>API platform for developers</li>
			<li>Customize your video player size, color, etc.</li>
			<li>Option to allow guests to download your videos</li>
			<li>Add customized playlists and menus</li>
			<li>Set the buffer length of your videos</li>
			<li>Loop, autostart, autoscroll</li>
			<li>Cooliris 3D gallery display</li>
			<li>Flash video galleries</li>
		</ol>
		<h2>Joomla Audio Player Module</h2>
		<ol class="disc">
			<li>7 audio player skins to choose from!</li>
			<li>set the width and height of your Joomla audio player</li>
			<li>add menus, playlists, album art, or your own images to your playlists</li>
			<li>customize your Joomla audio player with your own style sheet, or use the default styles</li>
			<li>choose autostart and set the volume level to let your audio player begin playing on page load</li>
			<li>allow visitors to your blog the option to download your files</li>
			<li>access the Cincopa cloud drive from any device</li>
			<li>automatic conversion to .mp3 if your original file is in another format</li>
			<li>remote access from your iPhone, iPod, iPad, or any other mobile device or PDA</li>
			<li>embed your audio player in any page or post with the click of a button with shortcodes</li>
			<li>web application generates HTML code for you to place your audio player on any website, anywhere, easily!</li>
		</ol>
		<h2>Joomla Slideshow Module and Photo Gallery Plugin</h2>
		<ol class="disc">
			<li>Flash, Cooliris 3D, Lightbox</li>
			<li>Multiple skins to choose from</li>
			<li>Image transition and scrolling</li>
			<li>Thumbnail to full screen viewer</li>
			<li>Carousel views, tilt view, etc.</li>
			<li>Desktop Media Agent for direct access</li>
			<li>Upload photos from your Flickr and Picasa accounts</li>
			<li>Remote access from any device</li>
			<li>Combine photos, videos, and music all in one presentation</li>
		</ol>
		<h2>What is the Difference Between Joomla! Components, Modules, Extensions, and Plugins?</h2>
		<p>The difference between Joomla components, Joomla modules, Joomla extensions, and Joomla plugins can be somewhat confusing for someone who is not familiar with how Joomla works. First, understand that the term "extensions" is a generic term which applies to all the others. Joomla modules, components, plugins, and templates are all extensions which are designed to add functionality to the core Joomla framework.</p>
		<ol class="disc">
			<li><strong>Joomla Components:</strong> a component is a mini-application that renders the main body of the page, such as contact pages, web links, RSS feeds, articles, and the like.</li>
			<li><strong>Joomla Modules:</strong> modules are the sections of your pages that lie in predefined boxes on each page around the main content, such as headers, footers, sidebars, and navigation menus.</li>
			<li><strong>Joomla Plugins:</strong> a plugin is a kind of Joomla! extension which provides added functionality to the basic Joomla! framework. It is a section of code that runs when a pre-defined event happens within Joomla!</li>
		</ol>
		<p>The number of available extensions for Joomla! is practically endless. These extensions can interact with each other in various ways, and you can install or uninstall any extension from the Extensions Manager within your Joomla! administration panel. <a href="http://archive.extensions.joomla.org/extensions/social-web/social-media/video-channels/11348" target="_blank"> The Cincopa Media Platform for Joomla!</a> is a plugin which allows you to create a photo gallery, a video slideshow, a podcast, or music player as an article and place it literally anywhere in your site.</p>
		<p class="center">[include \media-platform\templates\start-now]</p>
		[include \media-platform\templates\right-menu]

		</div>
	</div>