[template /design15/templates/content-page]

[title Joomla Gallery- Joomla! Photo Gallery Module < Cincopa]
[meta_keywords joomla gallery, joomla photo gallery, joomla image gallery, image gallery module, photo gallery module, joomla gallery component, photo module, joomla 1.5 photo gallery, joomla photo gallery module, joomla image gallery module, joomla photo gallery module, joomla 1.5 image gallery, joomla photo gallery extension, joomla photo gallery component, joomla extensions photo gallery]
[meta_description Joomla Image Gallery module is the simplest solution to add exiting media content to your website. Use Joomla image gallery to show your photos or share your projects.]

<div class="inner-info">	
<div id="cont" class="cmspage">


	<div class="splashArea01 slideshow02">
		<div class="contentWrap">
			<h1>Free Joomla Image Gallery Module</h1>
			<p>The Cincopa photo gallery Joomla plugin is absolutely free. Sign up and use the Cincopa Media Platform directly from your Joomla! administration panel and start creating incredible image galleries within minutes. View your galleries on multiple devices by uploading your files to the Cincopa cloud drive and accessing them remotely from any PC or from your iPad or iPhone.</p>
			<p><a href="/media-platform/start.aspx" class="btn big green">START FREE TRIAL</a><!-- <a class="contactUs btn big purple">Contact us</a> --> </p>
		</div>
	</div>

	<h2><b>Joomla Gallery Module</b> is Very Simple and Easy to Use</h2>
	<p>Create fully customized photo galleries and embed them into your Joomla pages and articles with few clicks and three simple steps.</p>


	<div class="box center">
		<h2>Take a Look at Our <b>Joomla Image Gallery Skins</b></h2>

		<div class="skinsSection">
			<h3>Joomla Responsive Photo Gallery</h3>
			<p>The new responsive design skins for Joomla are compatible with any mobile device, smartphone or ipad.</p>			
			[include \media-platform\skins_preview "responsive-html5-image-gallery"]
		</div>


		<div class="skinsSection">
			<h3>Joomla Flash Photo Gallery</h3>
			<p>Create a flash image gallery and add background music and transitions. Cincopa will automatically convert your flash gallery to the most suitable format for viewing on your portable or mobile devices.</p>
			[include \media-platform\skins_preview "flash-photo-gallery-skins"]
		</div>



		<div class="skinsSection">
			<h3>Joomla Carousel Photo Gallery</h3>
			<p>Browse your photos carousel-style, click, hover, or autoscroll. Add a photo album from Picasa, Flickr, or any RSS feed easily. Choose a vertical or horizontal rotating belt to display your image albums.</p>
			[include \media-platform\skins_preview "carousel-photo-video-slideshows"]
		</div>


		<div class="skinsSection">
			<h3>Joomla Thumbnail Image Gallery</h3>
			<p>Display a thumbnail list to showcase your images. Control the size of your thumbnails and previews automatically. Scroll, shuffle, zoom, view in any order, or view in full-screen.</p>
			[include \media-platform\skins_preview "thumbnail-photo-video-slideshows"]
		</div>
		

		<div class="skinsSection">
			<h3>Transition Photo Gallery</h3>
			<p>The variety of transitions available for your Joomla image gallery can add flair to your presentations. Set the transition time between photos to 1/1000th of a second. Choose from autoscroll, rotating images, fade in-out, loop, etc.</p>
			[include \media-platform\skins_preview "transition-photo-gallery"]
		</div>
		

		<div class="skinsSection">
			<h3>Lightbox Image Gallery</h3>
			<p>Lightbox is one of the most popular ways to display your photos and applications on the web. Lightweight and elegant are two words often used to describe Lightbox image gallery.</p>
			[include \media-platform\skins_preview "lightbox-photo-video-slideshows"]
		</div>


		<div class="skinsSection">
			<h3>Joomla Image  Gallery with Music</h3>
			<p>Easily add music to any gallery to create a rich experience for your viewers with all the same customizable options you would get in a regular slideshow. Cincopa makes it easy for you to combine photos, music and videos in one presentation.</p>
			[include \media-platform\skins_preview "picture-slideshow-with-music"]
		</div>

	</div>

	[include \media-platform\templates\start-now-wide]




<!-- ===================== -->
<div class="howItWorskSteps stepsdesc">
	<div class="step step1">
		<div class="img"><img src="[static_file_url /design15/images/icons-how-01.png]" /></div>
		<h4><b>1</b>Choose Your Joomla Gallery Skin</h4>
		<p>Cincopa offers multiple skins to choose from, including Flash Joomla gallery, Cooliris 3D gallery, Lightbox, jQuery and more. Customize your options, and preview it in another window to see how your photo gallery will look and function with sample text around it.</p>
	</div>
	<div class="step step2">
		<div class="img"><img src="[static_file_url /design15/images/icons-how-02.png]" /></div>
		<h4><b>2</b>Upload Your Photos</h4>
		<p>Upload your photos and Cincopa will automatic re-size them for you and store only the re-sized versions if you wish. Upload multiple photos at once, and drag and drop them into your predefined folders. View them later from any device.</p>
	</div>		
	<div class="step step3">
		<div class="img"><img src="[static_file_url /design15/images/icons-how-03.png]" /></div>
		<h4><b>3</b>Create a Simple Photo Gallery Code to Embed in Your Joomla Website</h4>
		<p>Add files to your Joomla photo gallery, and Cincopa will automatically generate the necessary code for you to place it into any article or anywhere on your Joomla site.</p>
	</div>
</div>
<!-- ===================== -->



			<h2>Add More Photos at Any Time to Your Joomla Photo Gallery Page</h2>
			<p>Add more images to any gallery, any time you like, and it will be automatically and instantly updated without having to create a new gallery or generate new code.</p>
			<h2>Joomla Gallery Module is Absolutely Free</h2>
			<p>Our free account includes plenty of storage and bandwidth per month! That's an awful lot of photos hosted and and displayed on your website for free! Pro accounts are available at very low cost and upgrades to your premium package come in different sizes to fit any need.</p>
			<h2>How to Choose Joomla Image Gallery</h2>
			<p>More than 40 styles and skins are available With the Cincopa image gallery plugin for Joomla you can create the exact photo gallery to fit your website. Embed background music, Flash, Cooliris 3D, Lightbox, jQuery, transitions, thumbnails, carousels, and many more fantastic features.</p>
					

			<p class="center">[include \media-platform\templates\start-now]</p>

			[include \media-platform\templates\right-menu]

	</div>
</div>