[template /design15/templates/content-page]

[title Why Use Cincopa For Your Music?]
[meta_keywords embed music, music players, html music player, Customizable skins video player, Cincopa music player, HTML5 audio player skins, html5 audio player with playlist, html5 audio player code, embed html5 audio player, html5 music player for website, html code for music player, Cincopa for music, audio player for musician website]
[meta_description Are you a musician looking for a branded music player where you can showcase your creation? This might be what you need: Cincopa’s HTML5 audio player will help you embed your audio files or podcasts, get them ready to be played, downloaded or shared on every device, using a fully customizable music gadget.]


<!-- <link type="text/css" rel="stylesheet" href="[static_file_url /media-platform/music-player/musicplayer.css]"> -->



<div class="splashArea01 musicplayer">
	<div class="contentWrap">
		<h1>Why use Cincopa For Your Music?</h1>
		<p><a href="/media-platform/start.aspx#music" class="btn big primary">START FREE TRIAL</a><!-- <a class="contactUs btn big purple">Contact us</a> --> </p>
	</div>
</div>


<h2>Music Player Demos</h2>
<div class="skinsList">
  	<div class="skinsSection">
  		[include \media-platform\skins\add-list-inc15 "html5-audio-player"]
	</div>
</div>


<div class="mp_features_block">
    <div class="mp_featurebox_small left_align">
        <div class="info_passive">
            <div class="img">
                <img class="passive" src="[static_file_url /media-platform/music-player/images/mpnoprogramming_passive.png]"/>
                <img class="active"  src="[static_file_url /media-platform/music-player/images/mpnoprogramming.png]"/>
            </div>
            <div class="info">No programming skills required</div>			
        </div>		
        <div class="info_onhover">
            <p>Installing and configuring Cincopa’s music player take just few minutes  and do not require any prior skills. Choose a favourite skin, upload your audio file to Cincopa and finally, get a simple code and embed it on your website. </p>
        </div>
    </div>
    <div class="mp_featurebox_small left_align">
        <div class="info_passive">
            <div class="img">
                <img class="passive"  src="[static_file_url /media-platform/music-player/images/mpmobilefriendly_passive.png]"/>
                <img class="active"  src="[static_file_url /media-platform/music-player/images/mpmobilefriendly.png]"/>
            </div>
            <div class="info">Mobile friendly players </div>
        </div>
        <div class="info_onhover">
            <p>Available for any screen size, the HTML5 coded audio player supports a real mobile friendly experience and a touch screen feature. </p>
        </div>
    </div>
    <div class="mp_featurebox_small right_align">
        <div class="info_passive">
            <div class="img">
                <img class="passive" src="[static_file_url /media-platform/music-player/images/mpskins_passive.png]"/>
                <img class="active" src="[static_file_url /media-platform/music-player/images/mpskins.png]"/>
            </div>
            <div class="info">Different Skins Available</div>
        </div>
        <div class="info_onhover">
            <p>There are eight free music player skins available, with various sizes to choose from.</p>
        </div>
    </div>
    <div class="mp_featurebox_small left_align">
        <div class="info_passive">
            <div class="img">
                <img class="passive" src="[static_file_url /media-platform/music-player/images/mpcss_passive.png]"/>
                <img class="active"src="[static_file_url /media-platform/music-player/images/mpcss.png]"/>
            </div>
            <div class="info">Customizable skins with full CSS edit</div>
        </div>
        <div class="info_onhover">
            <p>You can edit the CSS attached, for a better control over media appearance. You can customize the size of your music player and playlist window and set the interactive players to include menus, playlists, images and album covers.</p>
        </div>
    </div>
    <div class="mp_featurebox_small left_align">
        <div class="info_passive">
            <div class="img">
                <img class="passive" src="[static_file_url /media-platform/music-player/images/mpplaylist_passive.png]"/>
                <img class="active" src="[static_file_url /media-platform/music-player/images/mpplaylist.png]"/>
            </div>
            <div class="info">Playlist</div>
        </div>
        <div class="info_onhover">
            <p>You can upload any number of files to a single music player. Your users can listen to the audio files from any device or screen in use and navigate between the multiple tracks you choose to display.</p>
        </div>
    </div>
    <div class="mp_featurebox_small right_align">
        <div class="info_passive">
            <div class="img">
                <img class="passive" src="[static_file_url /media-platform/music-player/images/mppodcasts_passive.png]"/>
                <img class="active" src="[static_file_url /media-platform/music-player/images/mppodcasts.png]"/>
            </div>
            <div class="info">Support Podcasts</div>
        </div>
        <div class="info_onhover">
            <p>The music player is enabled with podcast hosting and delivery, performing all updates automatically.</p>
        </div>
    </div>
</div>


[include \media-platform\templates\start-now-wide-music]


<div class="vsh_features">

<h2>Other Great Features</h2>

    <div class="vsh_featurebox">
        <div class="img">
            <img src="[static_file_url /media-platform/music-player/images/mpautoplay.png]"/>
        </div>
        <div>
            <h3>Auto play and repeat</h3>
            <p>The player gives you the possibility  to auto play and repeat a playlist or a song, to continue playback after the page reloads or to activate auto start option.</p>
        </div>
    </div>

    <div class="vsh_featurebox">
        <div class="img">
            <img src="[static_file_url /media-platform/music-player/images/mpshuffle.png]"/>
        </div>
        <div>
            <h3>Shuffle</h3>
            <p>A fully feature Control Bar allows you to Play/Pause, Shuffle, Choose Volume, Check Progress bar, Press Next and Previous buttons.
            </p>
        </div>
    </div>

    <div class="vsh_featurebox">
        <div class="img">
            <img src="[static_file_url /media-platform/music-player/images/mplock.png]"/>
        </div>
        <div>
            <h3>Security</h3>
            <p>Domain lock feature makes sure that your privacy is respected and none of your media is copied without authorization. You can list the websites authorized to display your HTML5 music player.</p>
        </div>
    </div>

    <div class="vsh_featurebox">
        <div class="img">
            <img src="[static_file_url /media-platform/music-player/images/mpdownload.png]"/>
        </div>
        <div>
            <h3>Download</h3>
            <p>You can choose if you want to offer your music for download, or protect it, allowing users only to listen it.</p>
        </div>
    </div>

    <div class="vsh_featurebox">
        <div class="img">
            <img src="[static_file_url /media-platform/music-player/images/mpsearch.png]"/>
        </div>
        <div>
            <h3>Search</h3>
            <p>You and your listeners can enjoy detailed playlists, thumbnail galleries and search boxes that facilitate navigation within your digital assets.</p>
        </div>
    </div>

    <div class="vsh_featurebox">
        <div class="img">
            <img src="[static_file_url /media-platform/music-player/images/mpcover.png]"/>
        </div>
        <div>
            <h3>Cover art</h3>
            <p>You can preview your music player in a separate window before deciding on a skin. To make it more suitable to your brand, you can add an album or a cover art.</p>
        </div>
    </div>

</div>

[include \media-platform\templates\go-to-top ]

[include \media-platform\templates\right-menu15]


<script>
	$(document).ready(function(){
		$('.mp_featurebox_small').click(function(){
			$('.mp_featurebox_small.clicked').not(this).removeClass('clicked');
			$(this).toggleClass('clicked');
			$('body').addClass('highliteButtons');
		});
	})
</script>