[template /design15/templates/content-page]

[title Multimedia Plugin for WordPress]
[meta_keywords plugin, wordpress plugin, streaming video for wordpress, create slideshow, podcast, plugin for wordpress, wordpress plugins, wordpress media plugin, wordpress media plugins]
[meta_description The #1 Wordpress plugin to add video streaming, beautiful slideshows and music to your site.]


<style type="text/css">
.landpage {margin-left:20px;xfont-size:17px;}
.landpage li a {font-weight:bold;}
.landpage li {padding:0 0 0px 24px;} 
.landpage li {background: url(/design/images/buttons/plugins.gif) no-repeat;background-position:0 1px;}
ol.landpage li { list-style-type: none; }
</style>


<div class="inner-info">
<div id="cont" class="cmspage">


	<div class="splashArea01 wordpress">
		<div class="contentWrap">
			<h2>WordPress Plugin</h2>
			<h3>Adding interactive content with NO programming knowledge</h3>
			<p>Cincopa for WordPress is the most complete rich media plugin kit for WordPress. The plugin includes many videos players, slideshows, galleries, podcast, music players in many different shapes and sizes, in total over <a href="http://www.cincopa.com/media-platform/skins">40 skins</a>.</p>
			<p><a href="/media-platform/start.aspx" class="btn big green">START FREE TRIAL</a><!-- <a class="contactUs btn big purple">Contact us</a> --> </p>
		</div>
	</div>

	<p class="center">
		<img height=80px src="/design/images/aws.jpg" />
		<img height=80px src="/design/images/theplanet.jpg" />
		<img height=80px src="/design/images/ec.jpg" />			
		<img height=80px src="/design/images/jw.jpg" />
	</p>
	<h3>So what does the plugin do?</h3>
	<p>In one word - <b>everything</b>, from uploading, storing, resizing, encoding, delivering, tracking and skinning. Everything is done via a slick wizard that will let you control and customize every aspect of your media. </p>
	<p>To start using the Cincopa Wordpress plugin go back to your Wordpress dashboard and click Install or click here for <a href="http://wordpress.org/extend/plugins/video-playlist-and-gallery-plugin/" target="_blank">Cincopa Wordpress plugin page</a> and click Download. </p>

	<div class="contentWrap">
		<h2>The Cincopa Solution</h2>
		<p>Cincopa multi-media platform enables you to create and manage stunning audio, video and photo galleries for your WordPress website and social channels. There is a wide selection of music players, video players, slideshows and abundant of customizable and responsive skins. A simple wizard performs needed conversions and serves as your friendly guide while you get a full control over your content appearance, performance and security.</p>
		<div class="justify">
		  <a href="/media-platform/wordpress-plugin/slideshow" class="icon big blue slideshows"><i></i>Slideshows</a>
		  <a href="/media-platform/wordpress-plugin/photo-gallery" class="icon big blue photos"><i></i>Photos</a>
		  <a href="/media-platform/wordpress-plugin/video" class="icon big blue videos"><i></i>Videos</a>
		  <a href="/media-platform/wordpress-plugin/audio-player" class="icon big blue music"><i></i>Audio</a>
		  <a href="/media-platform/wordpress-plugin/podcast" class="icon big blue podcasts"><i></i>Podcasts</a>
		</div>
	</div>

	[include \media-platform\templates\start-now-wide]

	<div id="_publish" class="contentWrap">
		<h2>Publish</h2>
		<ol class="landpage">
			<li><b>Add Video, Audio, Photo Gallery and Slideshow To Your Website and Emails...Very Easy!</b>
				<p>Just select the media you want posted to your Website from the list of files you have on your PC, and customize the player the way you want it. With Cincopa, you paste the automatically generated HTML code into your website and forget it. Very simple! It is just choose, cut and paste... that is it! </p>
			</li>

			<li><b>Works with any blog, site or CMS technology</b>
				<p>Cincopa will work with any technology or server that hosts your website. Any gallery that you'll create can be embedded into your site easily. For Wordpress users we are offering a special WordPress plugin for integration right from your blog's control panel. </p>
			</li>
			<li><b>Publish Spectacular Video Productions!</b>
				<p>Take video with audio and place it on your Website to create incredible visual programs such as trailers, online TV shows and training sessions. </p>
				<p>Use a digital movie camera and produce your videos offline for the best quality, then upload. </p>
			</li>
			<li><b>Support iPhone, Blackberry and any other 3G smartphone</b>
				<img src="[static_file_url /media-platform/mobile3g.jpg]" style="float: right; margin: 10px; " />
				<p>Our smart widgets will detect the device that is used to view your site and will adapt your gallery accordingly. Video streams, photos and audio will be converted to the type that the mobile device supports. </p>
				<p>You don't need to do anything for this to work, just focus on your content and our technology will do the rest. </p>
			</li>
			<li><b>Upload Video Productions!</b>
				<p>Cincopa video plugin for WordPress has the most amazing video transcoding technology available today. Upload a variety of standard video formats such as AVI, FLV, MPEG, MOV, QuickTime, VOB, WMV and 3GP. </p>
			</li>
			<li><b>Publish Radio Shows, Podcast and Playlists!</b>
				<p>Create Playlists and publish audio tracks, Assemble several audios into one continuous playlist. You can add any MP3 and WAV audio in your account to a playlist in the order that you want them played. It really does not get any easier than this! </p>
			</li>
			<li><b>Create Amazing Slideshows!</b>
				<p>Upload photos directly from your PCs using Wordpress slideshow plugin, select a skin and customize the size, colors, rotation speed etc </p>
			</li>
			<li><b>Dozens of Out-of-the-Box Video, Audio and Slideshow skins!</b>
				<p>Choose from a variety of professional video player skins, and quickly adjust the styles of the player to meet your design specifications. </p>
			</li>
			<li><b>Your Audio, Slideshows and Video Can Be Heard and Seen Worldwide!</b>
				<p>Cincopa players use Flash technology which has an incredible 98% market penetration. </p>
			</li>
			<li><b>Instant and Automatic Updates for Your Galleries!</b>
				<p>No need to manually update your code each time you make a change to your galleries. Make changes to the gallery in Cincopa and your Website gallery automatically updated for you. You can re-order or replace any media using Cincopa, and Cincopa will make sure anyone through your Website gets the new gallery instantly. </p>
			</li>
		</ol>
		<h2>Superior Support</h2>
		<ol class="landpage">
			<li><b>Personal Support to Help You and Much More!</b>
				<p>You are in good company with top-notch technical support…Superb Training, Tips and Timely Email replies...all the Support you will ever need to use media Wordpress plugin service successfully. </p>
			</li>
		</ol>
		<h2>
			Extendability is the key :</h2>
		<ol class="landpage">
			<li><b>javascript</b>
				<p>Extendable using javascript to create new skins </p>
			</li>
			<li><b>Plugins</b>
				<p>Even more extendable using Cincopa plugins like YouTube, flickr and cooliris etc. </p>
			</li>
			<li><b>REST API</b>	
				<p>Even more extendable using REST API for a deeper integration of Cincopa into your back office using .Net, PHP or Java </p>
			</li>
		</ol>
	</div>
	<div id="_affordable" class="contentWrap">
		<h2>Great tool:</h2>
		<ol class="landpage">
			<li>Post videos, photos and music in your blog</li>
			<li>Many styles of widgets to choose from</li>
			<li>Support iPhone, iPod, Smartphones and additional 3G mobile devices</li>
			<li>Hosting and delivering using Amazon S3 Web Services</li>
			<li>Automatic uploading and video compression</li>
			<li>Not limited to your server's quota</li>
			<li>Unlimited scalability both in storage and traffic</li>
		</ol>

		<h2>Cincopa is more than a hosting solution, it is a one stop shop to manage rich media sites:</h2>
		<ul class="landpage">
			<li>Includes back office interface</li>
			<li>Support multiple publishing PCs and remote publishing – ideal for in-house and outsourced webmasters and people that managing the site from home</li>
			<li>Automatic transcoding for multiple devices like 3G phones, iPhone, iTouch, flv etc . Support all major format and codes as input</li>
			<li>Automatic uploading to our storage facilities in the background includes retransmission.</li>
			<li>Our Upload-on-demand technology ensures that even a huge video or a big gallery of photos can be watched by your audience seconds after publishing without waiting for it to finish uploading.</li>
			<li>Hosting in 1st tier dedicated machines as well as backup and distribution using Amazon S3</li>
			<li>Content Delivery Network - <a href="/media-platform/features/content-delivery-network">CDN</a></li>
			<li>Support not just video hosting but photo galleries, music playlists and documents.</li>
			<li>Support downloading features by your viewer – original video or flv version.</li>
		</ul>
	</div>


	<p class="center">[include \media-platform\templates\start-now]</p>


[include \media-platform\templates\right-menu]
	

</div>
</div>