[template /design15/templates/content-page]

[title Joomla Video Module > Embed Free Video Player Now < Joomla Modules < Cincopa]

[meta_keywords joomla video, video module, joomla video gallery, joomla video player, video modules, joomla video module, joomla video component, joomla 1.6 video, joomla video extension, joomla video player module, joomla video extensions, joomla video gallery module, joomla video modules]
[meta_description Joomla Video gallery module is the best way to embed video in your website. No programming skills are needed, just follow simple instructions and your video module will be ready for use]

	<div class="inner-info">
		
	<div id="cont" class="cmspage">
			

	<div class="splashArea01 videoportal01">
		<div class="contentWrap">
			<h1>Joomla Video Gallery Module</h1>
			<p>Video blogging is fast becoming one of the most popular ways to participate in the online world. The old way of manually embedding videos into your pages and articles is just too time-consuming for large or very busy blogs. Cincopa's  Joomla video player module lets you create a fully customizable video player which you can place anywhere on your website. Download and install the plugin using your Joomla control panel, and you're just a few clicks away from having a rich, dynamic video blog your users will highly appreciate.</p>
			<p><a href="/media-platform/start.aspx" class="btn big green">START FREE TRIAL</a><!-- <a class="contactUs btn big purple">Contact us</a> --> </p>
		</div>
	</div>


			<h2>Embed Video Player on Your Joomla Site Quickly, Easily and Free!</h2>
			<p>Embed a dynamic Joomla video player in your website or blog quickly and easily by installing a multimedia extension designed specifically with Joomla in mind. Cincopa's Joomla video module is absolutely free for most personal or small business blogs, which do not require huge amounts of space and bandwidth. Upgrades are available for those who need more space. You can upgrade or downgrade at any time. Install it for free, and see for yourself how simple it is too create beautiful video galleries in just a few easy steps:</p>



		[include \media-platform\templates\how-it-works-joomla]
			
		<h2>Choose a skin for Your Joomla Video Gallery</h2>
		<p>The Cincopa Joomla video gallery module offers 15 different skins to choose from. Choose your size, add playlists and menus, and customize it to fit the theme of your site. Once you've chosen your skin, the wizard will prompt you to choose or upload the videos to include in your free video player. </p>

	<div class="box">
		<h2>Take a Look at Our Joomla Video Player Skins</h2>
		[include \media-platform\skins_preview "embed-video"]
		<p class="center"><a href="/media-platform/skins" class="seeAllSkins">See all skins...</a></p>
	</div>
	

	[include \media-platform\templates\start-now-wide]

		<h2>Upload Videos and Create Your Playlist</h2>
		<p>There are three easy options for uploading videos to your site using the Cincopa media platform:</p>
		<ol>
			<li>Web multiple file uploader - upload multiple files at once, using the Cincopa web application.</li>
			<li>Desktop media agent - download our desktop application to upload videos directly from your PC's folders. Install it on any PC or several PCs so you can access and upload your videos from anywhere!</li>
			<li>Upload videos from any URL - simply paste the URL for any video on the web, and upload it directly to your Cincopa "cloud" drive.</li>
		</ol>
		<p>Once you've chosen your Joomla video gallery skin and uploaded your videos, the wizard will automatically generate a simple shortcode which you can place anywhere in your Joomla! website. The best part is that with the simple click of a button you can generate a shortcode for any CMS site or blog including WordPress and Drupal. The wizard can also generate simple code using HTML and javascript, so you can <a href="http://www.cincopa.com/media-platform/features/embed-video">embed video</a> player on any web page absolutely anywhere on the web. </p>
		<h2>Upload More Videos and Update Your Playlist Any Time</h2>
		<p>Need to expand your video playlist? No problem. Create, edit, and manage your playlists with ease. You won't have to create a new player from scratch and embed it into your website again. Simply upload your new videos and add them to any already existing player and it will be updated automatically and instantly.</p>

		<h2>Reliable Video Hosting and Streaming</h2>
		<p>Cincopa offers a professional <a href="/media-platform/features/content-delivery-network">Content Delivery Network</a> (CDN) for streaming videos to your audience which is fast, reliable and in most cases free. Hosting your own videos from a shared hosting account can be complicated and limited in terms of speed, space and resources. Cincopa's servers will handle the uploading, hosting and delivery of all your video and other content securely and reliably to all devices including <a href="/media-platform/services/mobile-video"> video for mobile devices</a>.</p>
		<h2>Joomla! Video Gallery</h2>
		<p>A Joomla! video gallery module is not just reliable and simple to install, it also delivers high quality videos in any format you require, regardless of your expertise. Upload your raw video files and Cincopa will handle the transcoding and conversion for you automatically. Cincopa will deliver your videos with the highest possible quality and compression. All major video formats and codecs are supported: </p>
		<ol class="disc">
			<li>avi</li>
			<li>mov</li>
			<li>wmv</li>
			<li>mp4, m4a, f4a, f4b, f4v, f4p</li>
			<li>m2ts, mts</li>
			<li>vob</li>
			<li>mkv</li>
			<li>rmvb</li>
			<li>m1v</li>
			<li>qt</li>
			<li>div, divx</li>
			<li>dv</li>
			<li>3gp, 3gpp, 3g2</li>
			<li>mpg, mpeg, mpe</li>
			<li>flv</li>
		</ol>

		<p class="center">[include \media-platform\templates\start-now]</p>
		[include \media-platform\templates\right-menu]
	</div>
</div>
