[template /design15/templates/content-page]

[title Rich Media Features | Cincopa]
[meta_keywords Multimedia features, rich media features, slideshows, image galleries, video player, music player, playlists, podcast, media widgets, Cincopa, multimedia presentations]
[meta_description Cincopa multimedia platform is an ideal All-in-One solution. Cincopa's features allow you to produce attractive slideshows, videos, music players and podcasts in no time and with no programming skills. Create, customize, publish, host and deliver your media using Cincopa's features]

<div class="inner-info">

<div id="cont" class="cmspage">

	<div class="splashArea01 features">
		<div class="contentWrap">
			<h1>Cincopa's Rich Media Features</h1>
			<p>Cincopa multimedia platform provides a comprehensive, rich media kit, enabling users to create, host, deliver and control many different, spectacular media presentations. Cincopa's features include image galleries and slideshows, video players, music players and podcast, all offered in various styles, sizes and skins.<br>Most of the Cincopa's features and services are free of charge, extremely easy to use, can be embedded in any webpage or CMS and are compatible with all mobile devices.</p>
			<p><a href="/media-platform/start.aspx" class="btn big green">START FREE TRIAL</a><!-- <a class="contactUs btn big purple">Contact us</a> --> </p>
		</div>
	</div>

	
	<div class="box">
		<h2>Cincopa Innovative Platform Presents: All-In-One Multimedia Solution</h2>
		<p>You may choose any rich media feature, provided by Cincopa, to <a href="http://www.cincopa.com/media-platform/features/embed-video">embed video</a>, music or podcast players, anywhere across the web. Cincopa supports all webpages, e-mails and CMS technologies and automatically performs all conversions, transcoding and other adjustments needed for an optimal user and client experience.<br>Your part of the job is summed up in one-time, simple and quick task, which includes the following steps:</p>
		<ul>
			<li>Decide upon the desirable media.</li>
			<li>Select one of the 44 incredible Cincopa's skins.</li>
			<li>Customize your options.</li>
			<li>Upload the media files to your Cincopa's folders.</li>
			<li>Paste the code, given to you by Cincopa, anywhere you want it to be displayed.</li>
		</ul>
		<div class="center">
		  <a href="/media-platform/services/create-slideshow" class="icon big blue slideshows"><i></i>Slideshows</a>
		  <a href="/media-platform/services/create-photo-gallery" class="icon big blue photos"><i></i>Photos</a>
		  <a href="/media-platform/features/embed-video" class="icon big blue videos"><i></i>Videos</a>
		  <a href="/media-platform/services/add-music-to-website" class="icon big blue music"><i></i>Music</a>
		  <a href="/media-platform/services/add-music-to-website" class="icon big blue podcasts"><i></i>Podcasts</a>
		</div>
	</div>

		<p>There is nothing more fascinating, captivating and impressive, to enhance your pages with, like a dynamic image gallery or a video slideshow. The Cincopa simple wizard provides you with all the tools you may need to establish this prospective changeover for your site.</p>
		<ul>
			<li>44 skins in different styles such as the amazing Cooliris 3D viewers, flash slideshows, jQuery galleries and more.</li>
			<li>Numerous, easy and fast to handle, customization options and transitions to bring in your own unique signature.</li>
			<li>Image, video and audio combinations that will surely wow your audience.</li>
		</ul>

		<p class="center"><a href="/media-platform/skins" class="seeAllSkins">Check Out Our Stylish Skin Gallery</a></p>

		[include \media-platform\templates\start-now-wide]
		
		<div class="whybox">
			<h2>Cincopa's Most Efficient Multimedia Features:</h2>
			
			<div class="why1"><i></i><div>
				<h3>Upload and Publish Video Productions</h3>
				<p>Cincopa uses the most advanced transcoding technology, enabling you to upload any of the major video formats such as AVI, FLV, MPEG, MOV, QuickTime, VOB, WMV 3GP and many more. You may produce your own offline videos or use video sources. Cincopa will make the required conversions, allowing you a full control over your media, regardless of the source.</p>
			</div></div>
			
			<div class="why2"><i></i><div>
				<h3>Full Support for Mobile Devices</h3>
				<p>Cincopa progressive application automatically converts your files to fit your user's mobile device. Image, video and audio presentations will look at their best, when displayed on iPhone, iPad, Blackberry and all other 3G mobile phones.  </p>
			</div></div>

			<div class="why4"><i></i><div>
				<h3>Create Music Playlists and Podcasts </h3>
				<p>Your media presentation may include playlists composed of a few audio tracks. The widget will play your audio file in the order you have set.</p>
			</div></div>

			<div class="why5"><i></i><div>
				<h3>Create Your Own Ravishing Slideshows</h3>
				<p>Choose the skin you fancy the most; customize many different attributes such as size, rotation speed, colors, shuffle etc.; upload media file from your private computer; and finally, embed Cincopa's generated code into your webpage.</p>
			</div></div>
			

			<div class="why7"><i></i><div>
				<h3>Automatic, Real-Time Updates </h3>
				<p>The days of manual, time consuming, updates are over. Every time you make changes in your Cincopa galleries, Cincopa application automatically updates your website galleries, as well.</p>
			</div></div>

			<div class="why8"><i></i><div>
				<h3>Content Delivery Network and Cloud-computing Technologies</h3>
				<p>Cincopa's CDN feature ensures a fast, reliable and secured delivery of your files. This way, you can relax, knowing any user in any location around the globe can view your pages in the exact, same quality.  </p>
			</div></div>
			
		</div>
		

		<h2>Several other Cincopa features that might interest you</h2>
		<ul>
			<li>Complete media backups and reports</li>
			<li>Back office interface</li>
			<li>Remote access support</li>
			<li>High-speed uploads.</li>
			<li>Full control of your content - you may or may not authorize users to download your media.</li>
			<li>Professional upgrades - available in fair prices and with free trial periods</li>
			
		</ul>

		<p class="center">[include \media-platform\templates\start-now]</p>

		[include \media-platform\templates\right-menu]

</div>



</div>