[template /design15/templates/content-page]

[title Joomla Slideshow < Joomla Image Slideshow < Try Free Joomla Slideshow Module < Cincopa]
[meta_keywords joomla slideshow, slideshow module, joomla slideshow module, joomla 1.5 slideshow, joomla image slideshow, slideshow modules, joomla slideshow component, joomla photo slideshow, joomla slideshow modules, joomla slideshow gallery]
[meta_description Joomla Slideshow Module by Cincopa is the most convenient and easy way to add gorgeous image slideshows to your Joomla website.  Choose joomla Joomla flash slideshow, Cooliris 3D, Lightbox, transitions, thumbnails, carousels and much more.]



<div class="inner-info">

	<div id="cont" class="cmspage">



		<div class="splashArea01 slideshow02">
			<div class="contentWrap">
				<h1>Joomla! Slideshow - Free Joomla Flash Slideshows Module</h1>
				<p>The Cincopa image slideshow module for Joomla is compatible with any Joomla! blog or website. Create an image slideshow with our simple slideshow wizard creator, and embed it into any Joomla page or article.</p>
				<p><a href="/media-platform/start.aspx" class="btn big green">START FREE TRIAL</a></p>
			</div>
		</div>

		<h2>Take a Look at Our Awesome Joomla Slideshow Demos and Skins</h2>
		<p>Preview different Joomla slideshow demos and see for yourself what Cincopa can do for your Joomla website:</p>
		<div class="skinsList">
		  	<div class="skinsSection">
		  		[include \media-platform\skins\add-list-inc15 "joomla-slideshows"]
			</div>
		</div>	


		<h2>Joomla Slideshow Module</h2>
		<p>
			The Cincopa Joomla slideshow module couldn't be simpler to use and install. Create
			your own customizable image and flash slideshows, and embed them into your Joomla
			pages and articles with the click of a few buttons. The Cincopa slideshow wizard
			lets you do it in just a few easy steps:</p>



<!-- ===================== -->
<div class="howItWorskSteps stepsdesc">
	<div class="step step1">
		<div class="img"><img src="[static_file_url /design15/images/icons-how-01.png]" /></div>
		<h4><b>1</b>Choose Your Joomla Slideshow Skin and Style</h4>
		<p>Choose from more than 40 skins (see below). Customize the options for your Joomla slideshow, and preview it instantly in a separate window. With the number of styles and skins available, you're guaranteed to find a slideshow to fit your theme.</p>
	</div>
	<div class="step step2">
		<div class="img"><img src="[static_file_url /design15/images/icons-how-02.png]" /></div>
		<h4><b>2</b>Create and Manage Your List of Slideshow Images</h4>
		<p>Upload multiple files into folders in your cloud drive. View them later from any PC, handheld, or mobile device. Cincopa will automatically re-size your photos for you and only store the re-sized versions in order to save space.</p>
	</div>		
	<div class="step step3">
		<div class="img"><img src="[static_file_url /design15/images/icons-how-03.png]" /></div>
		<h4><b>3</b>The Joomla Slideshow Module Will Create a Code for Your Site or Blog</h4>
		<p>Create your slideshow and Cincopa will generate a simple shortcode for you to place it anywhere on your site. It can also generate straight HTML code, or work as an RSS feed. Add more images to your slideshow whenever you like, or edit it in any way, and the changes will instantly appear on your site without the need to create a whole new slideshow or generate new code.</p>
	</div>
</div>
<!-- ===================== -->


		<h2>Joomla! Slideshow Module is Absolutely Free</h2>
		<p>The Cincopa Joomla image slideshow module is absolutely free. Sign up for a free account and use the web application to create incredible Joomla flash slideshows, or install the desktop application to start creating your photo slideshows right from any desktop PC, portable or mobile device. For free! </p>
		<h2>How to Choose a Slideshow for Joomla!</h2>
		<p>The sheer number of styles and skins you get with the Cincopa Joomla photo slideshow module means that you can create the perfect slideshow to fit your site. Add background music, Flash, Cooliris 3D, Lightbox, transitions, thumbnails, carousels, and more. Check out all our cool features:</p>
		<ul>
			<li class="list">Flash, Cooliris 3D, Lightbox and jQuery</li>
			<li class="list">40+ skins to choose from</li>
			<li class="list">Image transition and scrolling</li>
			<li class="list">Thumbnail to full screen viewer</li>
			<li class="list">Carousel views, tilt view, etc.</li>
			<li class="list">Desktop Media Agent for direct access</li>
			<li class="list">Upload photos from your Flickr and Picasa accounts</li>
			<li class="list">Remote access from any device</li>
			<li class="list">Combine photos, videos, and music all in one presentation</li>
		</ul>

		<p class="center">[include \media-platform\templates\start-now]</p>

		[include \media-platform\templates\right-menu]

	</div>
</div>