[template /design15/templates/content-page]

[title Business Video Portal | Cincopa]
[meta_keywords YouTube alternative, video portal solutions, video portal, video portals, video gallery, video galleries, business video portal, Cincopa, multi-video display, video streaming, video hosting]
[meta_description Create your own YouTube alternative. Cincopa provides video portal solutions for a magnetic video gallery. Enhance engagement and increase traffic to your site]

<script type="text/javascript" src="[static_file_url /design13/js/flexslider.min.js]"></script>
<link type="text/css" rel="stylesheet" href="[static_file_url /design13/css/flexslider.css]" />
<!-- <link type="text/css" rel="stylesheet" href="[static_file_url /media-platform/videosharefiles/videoshare.css]">
<link type="text/css" rel="stylesheet" href="[static_file_url /media-platform/digitalassetfiles/digitalasset.css]">
<link type="text/css" rel="stylesheet" href="/_cms/design13/font01/stylesheet.css">
-->


<div class="splashArea01 videoportal">
	<div class="contentWrap">
		<h1>Business Video Portal Let Your Videos Take the Stage</h1>
		<p>Create your own captivating video galleries <br> Increase traffic, engagement and sales</p>
		<p><a href="/media-platform/start.aspx" class="btn big primary">Start Now FOR FREE</a> <a class="contactUs btn big purple">Contact us</a></p>
	</div>
</div>




<div class="skinsList">

  	<div class="skinsSection">
		<h2>Video Portal Demos</h2>
		<ul class="skinsList">
			[skin_block AoEAQ47PGhxh]
			[skin_block AwDAr7LYCj_r]
			[skin_block AAAAdjLHXgtG]
			[skin_block AwBAx-7vjk6g]
			[skin_block AUCAkRruIngu]
			[skin_block AIJAaBcRziay]
			[skin_block AgGArFcg663M]
			[skin_block A4NAbNsFm-7J]
		</ul>
	</div>
		
</div>


<h2>Why Use Cincopa For Your Videos?</h2>

<div class="vsh_descriptbox imgright">
	<div class="img negativeMargin">
		<img src="[static_file_url /media-platform/digitalassetfiles/img_perfect_youtube-20alternative.png]"/>
	</div>
	<div class="widerText">
		<h3>Take video experience to the next level </h3>
		<p>You do not have to watch your videos get lost among YouTube's countless videos. You have got an excellent YouTube alternative; create an exclusive video channel by using Cincopa's diverse video portal solutions. Display all your videos via a single video gallery, encouraging users to stay longer on your page and watch a few other videos of yours, instead of moving on to a different creator.</p>
	</div>
</div>

<div class="vsh_descriptbox">
	<div class="img negativeMargin">
		<img src="[static_file_url /media-platform/digitalassetfiles/img_attractive_customizable_templates.png]"/>
	</div>
	<div>
		<h3> Attractive, customizable templates </h3>
		<p>Cincopa offers various video portal templates with dozens of setting options to allow you complete control over the gallery's appearance and functioning.</p>
	</div>
</div>

<div class="vsh_descriptbox imgright negativeMargin">
	<div class="img">
		<img src="[static_file_url /media-platform/digitalassetfiles/img_fully_responsive_video_gallery.png]"/>
	</div>
	<div>
		<h3>Fully responsive video gallery </h3>
		<p>Treat your visitors with the best possible performance no matter which device they use. Cincopa's video portals are hosted and distributed through an international CDN system that includes high-end video streaming and mobile device detection technologies.</p>
	</div>
</div>

<div class="vsh_descriptbox">
	<div class="img">
		<img src="[static_file_url /media-platform/digitalassetfiles/img_it_simple.png]"/>
	</div>
	<div>
		<h3>It's simple!</h3>
		<p>Complicated as it may seem, Cincopa's video galleries are very easy and fast to build, embed, manage and promote. Upload any number of videos and let the simple wizard guide you through the simple process. Programming and other special skills are not necessary.</p>
	</div>
</div>

<div class="vsh_descriptbox imgright">
	<div class="img negativeMargin">
		<img src="[static_file_url /media-platform/digitalassetfiles/img_SEO_friendly.png]"/>
	</div>
	<div>
		<h3>SEO friendly</h3>
		<p>The video portals, as well as the individual video items, are provided with beneficial SEO features such as titles, descriptions and metadata.</p>
	</div>
</div>

<div class="vsh_descriptbox negativeMargin">
	<div class="img">
		<img src="[static_file_url /media-platform/digitalassetfiles/img_video_branding.png]"/>
	</div>
	<div>
		<h3>Video branding</h3>
		<p>Videos, traveling around cyberspace, should carry a business signature. Add a clickable watermarked logo to your videos and link it to a URL of your choice.</p>
	</div>
</div>


[include \media-platform\templates\start-now-wide]


<h2>Other Great Features</h2>



<div style="text-align: center;margin-top: 50px;">

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/digitalassetfiles/icon_advanced_CSS_edit_option.png]"/>
	</div>
	<div>
		<h3>Advanced CSS edit option </h3>
		<p>Edit the video gallery main CSS files in order to create a unique design that perfectly matches your business and individual preferences </p>
	</div>
</div>

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/digitalassetfiles/icon_social_sharing_per_video.png]"/>
	</div>
	<div>
		<h3>Social sharing per video </h3>
		<p>Make your videos viral! Cincopa video galleries include up to six different social share icons to increase organic traffic into your site; Facebook, Twitter, Google+, LinkedIn, Pinterest and E-mail share
 </p>
	</div>
</div>

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/digitalassetfiles/analytics.png]"/>
	</div>
	<div>
		<h3>Analytics and reports</h3>
		<p>Cincopa offers automatic reports and Google Analytics integration to help you improve and enhance users' engagement.</p>
	</div>
</div>

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/digitalassetfiles/icons_automatic_conversions.png]"/>
	</div>
	<div>
		<h3>Automatic conversions</h3>
		<p>Transcoding and photo resizing are automatically performed by the software,no coding or other professional skills are required.</p>
	</div>
</div>

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/digitalassetfiles/icon_search_andnav.png]"/>
	</div>
	<div>
		<h3>Search and navigation </h3>
		<p>You and your users can enjoy detailed playlists, thumbnail galleries and search boxes that facilitate navigation within a gallery.</p>
	</div>
</div>

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/digitalassetfiles/icon_google_maps.png]"/>
	</div>
	<div>
		<h3>Google analytics</h3>
		<p>Easy integration of third-party applications for advanced management.</p>
	</div>
</div>

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/digitalassetfiles/icon_plugins.png]"/>
	</div>
	<div>
		<h3>Plug-ins</h3>
		<p>All required plug-ins are free, easy and fast to install.</p>
	</div>
</div>

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/digitalassetfiles/icon_wizard.png]"/>
	</div>
	<div>
		<h3>Friendly wizard</h3>
		<p>The simple wizard guides you through the entire creation and management process and performs all technical tasks automatically.</p>
	</div>
</div>

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/digitalassetfiles/icon_free30.png]"/>
	</div>
	<div>
		<h3>Get a 30 day free trial</h3>
		<p>Try our Premium account for 30 days, no credit card required.</p>
	</div>
</div>



</div>

<div style="text-align: right;"> 
<a class='btnflat orangejuice' href='/media-platform/start.aspx#videoportal'>Start NOW <i class='vsharr'></i></a>
</div>
[include \media-platform\templates\go-to-top ]
[include /lang-inc]
<script>

	$(document).ready(function() {
    var userEmail;
    if ('[get is_user_logged]' == 'True') {
        userEmail = '[get user_email]';
    }
    $('.contactUs').click(function() {
        trackAction('contact us link', 'vp contact us', '[get user_id]');
        if ('[get is_user_logged]' == 'True') {
            sendEmail(userEmail);
            var htm = '<div class="thankYou" >  Thanks! We will contact you soon <a class="closeBtn" onclick="$.modal.close()">Close</a>\</div>';
            openModal(htm, 640, 100);
            setTimeout(function(){
					$('#simplemodal-data').fadeOut(function(){
  							$.modal.close();
					});
				}, 5000 );
        } else {
            var htm = '<div class="emailCollector" >\
							<h3>Please fill your email and we will contact you soon with more info about our video portal  services</h3>\
							<span class="error" style="display:none;">Invalid email </span>\
							<input id="collector_email" type="text" placeholder="Email" />\
							<a class="submitbtn btnflat blue">Submit</a>\
							<a class="cancelbtn" onclick="$.modal.close()">Cancel</a>\
						</div>';
            openModal(htm, 640, 100);
        }
    });
    $(document).on('click', '.submitbtn', function() {
        var emailVal = $('#collector_email').val();
        if (validateEmail(emailVal)) {
            userEmail = emailVal;
            trackAction('contact us link', 'vp submit email', userEmail);
            sendEmail(userEmail);
            var htm = '<div class="thankYou" >  Thanks! We will contact you soon <a class="closeBtn" onclick="$.modal.close()">Close</a>\</div>';
            $('#simplemodal-data').html(htm);
            setTimeout(function() {
                $('#simplemodal-data').fadeOut(function() {
                    $.modal.close();
                });
            }, 5000);
        } else {
            $('.emailCollector .error').show();
        }

    })
});

function validateEmail(email) {
    var regex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return regex.test($.trim(email));
}


function sendEmail(email) {
    $.ajax({
        url: '/media-platform/send-email',
        type: 'GET',
        dataType: 'jsonp',
        data: {
			title:'Video portal page offer',
            user_short_name: '[get user_short_name]',
            user_login: '[get user_login]',
            user_email: email,
            user_id: '[get user_id]',
            page_path: '[get url_path]'
        },
        success: function() {
            console.log('success on email')
        },
        error: function() {
            console.log('error on email')
        }
    });
}

function trackAction(category, action, label) {
    _gaq.push(['_trackEvent', category, action, label]);
}
</script>