[template /design15/templates/content-page-new]

[title ]
[meta_keywords ]
[meta_description ]


<div class="landerSplash hasMedia magento" style="background: #2d2d2b url([static_file_url /design15/images-new/splash-magento.jpg]) no-repeat center top;">
    <div class="ls-content">
        <h1>Cincopa Magento Plugin</h1>
        <p>Adding video, audio and photos to your blog</p>
        <ul class="magentoFeatures">
            <li><img src="[static_file_url /design15/images-new/magento-noprogramming.png]" /><div>No programming</div></li>
            <li><img src="[static_file_url /design15/images-new/magento-custom.png]" /><div>Fully customisable</div></li>
            <li><img src="[static_file_url /design15/images-new/magento-templates.png]" /><div>More then 100 templates</div></li>
        </ul>
        <div class="magentoSplash"><img src="[static_file_url /design15/images-new/magento-splash.png]" /></div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="contentBox magento cp-mt0 js-equal">
            <h3>Get started with Cincopa</h3>
            <ul class="arrList magento chain">
                <li><a href="https://www.cincopa.com/help/registration/">Getting started guide</a></li>
                <li><a href="https://www.cincopa.com/features/platform">Cincopa features</a></li>
                <li><a href="https://www.cincopa.com/media-platform/start.aspx">Cincopa start wizard</a></li>
                <li><a href="https://www.cincopa.com/faq">Cincopa FAQ</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="contentBox magento circle cp-mt0 js-equal">    
            <h3>What to do with Cincopa</h3>
            <ul class="arrList magento circle">
                <li><a href="https://webinars.cincopa.com/">Cincopa webinars</a></li>
                <li><a href="https://www.cincopa.com/help/">Cincopa help center</a></li>
                <li><a href="https://www.cincopa.com/learn/">Cincopa learn center</a></li>
                <li><a href="https://www.cincopa.com/blog/">Cincopa blog</a></li>
            </ul>
        </div>
    </div>
</div>


<p class="bigger">Not sure? Contact our support: <a href="mailto:support@cincopa.com">support@cincopa.com</a></p>

[include /media-platform/templates/footer15-small]