[template /design15/templates/content-page]
[title Welcome]
[user_must_login]



<!-- <div class="welcome_box">
    <img src="[static_file_url /design15/images/illustration-welcome.png]" alt="welcome" />
    <h1>Welcome Aboard! Your account is now ready</h1>
    <p>We are excited you joined...</p>
</div>
 -->
<!-- <h1 class="center bigThinTitle bigMargin second_desc">A few more seconds...</h1>
<h1 class="center bigThinTitle bigMargin second_desc small_desc">Do you prefer to talk with us? Please enter your phone number and one of our customer success manager will contact you shortly</h1>
 -->
<!--  <div class="skip_box">
    <a class="skip btn primary" href="/media-platform/start.aspx"><b>Skip This Stage</b></a>
</div>
 -->



<div id="phoneForm">
    <div class="inlineblock">
        <span style="display: none;" class="phone_error error">Invalid input</span>
        
        <div class="field phone_field">
            <input class="collection_phone flatnice" type="text" id="country_code" name="country_code" title="Country Code" placeholder="Country code">
        </div>

        <div class="form_dash">-</div>
        <div class="field phone_field">
            <input class="collection_phone flatnice" type="text" id="area_code" name="area_code" title="Area Code" placeholder="Area code">
        </div>
        <div class="form_dash second_dash">-</div>
        <div class="field phone_number">
            <input class="collection_phone flatnice" type="text" id="phone" name="phone" title="Phone Number" placeholder="Phone Number">
        </div>
    </div>
    <h3 class="center phoneTitle">Tell us about yourself</h3>
    <h1 class="center aboutyour">In order to improve and server you better, we would appreciate if you could select the option below that best defines you and your business.</h1>
    <div class="inlineblock">
        <div class="field">
            <label>&nbsp;Your Domain:</label>
            <input class="collection_phone flatnice" type="text" id="domain" name="domain" title="Domain" placeholder="Type in your web address">
        </div>
        <div class="field">
            <label>&nbsp;I'm a:</label>
            <select id="profession" class="collection_phone flatnice" style="height: 49px; padding: 0px 20px;">
                <option value="">. choose an industry .</option>
                <option value="Publisher">Publisher</option>
                <option value="Personal &amp; Artist">Personal &amp; Artist</option>
                <option value="Education">Education</option>
                <option value="Marketing">Marketing</option>
                <option value="E-commerce">E-commerce</option>
                <option value="Agency">Agency</option>
                <option value="Enterprise">Enterprise</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
    <div class="inlineblock skipBox">
        <!--<a class="skip" href="/media-platform/start.aspx"><b>SKIP THIS STAGE</b></a>-->
        <!--<a class="btn primary send"><b>Continue</b><i class="icon-ok"></i></a>-->
        <a class="btn green send"><b>Send</b><i class="icon-ok"></i></a>
    </div>
</div>


<script type="text/javascript">
var misc_vertical = "[get user_profile misc_vertical]";
var misc_phone = "[get user_profile misc_phone]";
var misc_domain = "[get user_profile misc_domain]";
var continueUrl = "[get url_param continue]";
if( continueUrl == '' )
    continueUrl = '/media-platform/start.aspx';

function checkInput(){
    var inputFlag = 0;
    $('.send').addClass('disabled');
    $('.fb-field').each(function(){
        if( $(this).val() != '' ){
            inputFlag = 1;
        }
    });
    
    if( inputFlag == 1 ){
       $('.send').removeClass('disabled');
    }
}
    
$(function(){
    
    setTimeout(function(){
        checkInput();
    }, 1000);
    
    $('.fb-field').on('change', function(){
      checkInput();
    });
    
    if( misc_phone != '' ){
        phone = misc_phone.split('-');
        $('#country_code').val(phone[0]);
        $('#area_code').val(phone[1]);
        $('#phone').val(phone[2]);
    }
    if( misc_domain != ''){
        $('#domain').val(misc_domain);
    }
    if( misc_vertical != ''){
        $('#profession option[value="'+misc_vertical+'"]').attr('selected', 'selected');
    }

    $('#phoneForm .send').click(function(){
        url = '';        
        if( $('#domain').val() != '' ){
            url += "&misc_domain=" + $('#domain').val();
        }
        if( $('#profession').val() != '' ){
            url += "&misc_vertical=" + $('#profession').val();
        }
        if( $('#country_code').val() != '' || $('#area_code').val() != '' || $('#phone').val() != '' ){
            url += "&misc_phone=" + $('#country_code').val() +'-'+ $('#area_code').val() +'-'+ $('#phone').val();
        }

        if( url == '' )
            location.href = continueUrl;
        else
        {
            url = '/cincopamanager/account_ajax.aspx?cmd=update_userprofile'+url;
            $.ajax({
                url: url,
                method: "GET",
                cache: false,
                dataType: 'json',
                success: function(data) {
                    location.href = continueUrl;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
    });
});
</script>