[template /design15/templates/content-page]

[set_app media-platform]
[title Premium Plans | Cincopa]
[meta_keywords cincopa plans, video hosting pricing, video hosting for business pricing]
[meta_description Our pricing suits businesses from small to corporate, with extra packages available too. All very simple, straightfoward and scalable]
[hide_app_nav]

[include /design13/register-page-event "plans page"]


[set_global promo_code [exp iif((([get now_unix] - [get user_registration_unix])/86400 > 24 and ([get now_unix] - [get user_registration_unix])/86400 < 31) or '[get url_param promo]' = '[get user_registration_unix]', 'discount', 'default') ]]

[set_global xml_codes [include /cincopamanager/paypal/promo.xml]]


[is_null "[xpath //promo/id[.='[get global promo_code]'] [get global xml_codes]]" "unknown promo code : [get global promo_code]" ""]

[set_global promos <root>[xpath //promo/id[.='[get global promo_code]']/.. [get global xml_codes]]</root>]
[set_global promos_default <root>[xpath //promo/id[.='default']/.. [get global xml_codes]]</root>]


[set_global pro_yearly <root>
		[is_null "[xpath //name[.='pro_yearly']/.. [get global promos]]"
						"[xpath //name[.='pro_yearly']/.. [get global promos_default]]"]
		</root>
]

[set_global pro_monthly <root>
		[is_null "[xpath //name[.='pro_monthly']/.. [get global promos]]"
		   "[xpath //name[.='pro_monthly']/.. [get global promos_default]]"]
		</root>
]

[set_global pro_one_year <root>
		[is_null "[xpath //name[.='pro_one_year']/.. [get global promos]]"
						"[xpath //name[.='pro_one_year']/.. [get global promos_default]]"]
		</root>
]

[set_global plus_yearly <root>
		[is_null "[xpath //name[.='plus_yearly']/.. [get global promos]]"
		   "[xpath //name[.='plus_yearly']/.. [get global promos_default]]"]
		</root>
]

[set_global plus_monthly <root>
		[is_null "[xpath //name[.='plus_monthly']/.. [get global promos]]"
		   "[xpath //name[.='plus_monthly']/.. [get global promos_default]]"]
		</root>
]

[set_global plus_one_year <root>
		[is_null "[xpath //name[.='plus_one_year']/.. [get global promos]]"
						"[xpath //name[.='plus_one_year']/.. [get global promos_default]]"]
		</root>
]


[set_global corp_yearly <root>
		[is_null "[xpath //name[.='corp_yearly']/.. [get global promos]]"
		   "[xpath //name[.='corp_yearly']/.. [get global promos_default]]"]
		</root>
]

[set_global corp_monthly <root>
		[is_null "[xpath //name[.='corp_monthly']/.. [get global promos]]"
		   "[xpath //name[.='corp_monthly']/.. [get global promos_default]]"]
		</root>
]

[set_global corp_one_year <root>
		[is_null "[xpath //name[.='corp_one_year']/.. [get global promos]]"
						"[xpath //name[.='corp_one_year']/.. [get global promos_default]]"]
		</root>
]

[set_global unlimited <root>
		[is_null "[xpath //name[.='unlimited']/.. [get global promos]]"
		   "[xpath //name[.='unlimited']/.. [get global promos_default]]"]
		</root>
]

<!--<link type="text/css" rel="stylesheet" href="[static_file_url /cincopamanager/paypal/plans.css]"> -->




<div class='packagesHeadWrap'>
	<div><h1>Plans</h1></div>
	<div class='packagesHead'></div>
</div>


<div class="packages packagesBoxes">



<!-- ================================================ -->
	<div class="package-box unlimitedphotos imagesforlife">
<!--			[if is_user_logged "<div class='specialofferbage'>Special Offer!</div>"]			-->
			[is_null "[xpath //add_sale_badge [get global unlimited]]" "" "<div class='saleofferbadge'>Special Offer!</div>"]
			<div class="currentPlanArrow"><i></i></div>
			<div class="titleBox">
				<h3>[xpath //title [get global unlimited]]</h3>
				[is_null "[xpath //old_value [get global unlimited]]"
					"<h2><i>ONLY</i> $[xpath //value [get global unlimited]] <i>for&nbsp;life</i></h2>"
				"<h2><i>ONLY</i> <strike style='color: #F84647;'><b class='oldPrice'>[xpath //old_value [get global unlimited]]</b></strike></h2>
					<h2 class='newPrice'><b>NOW $[xpath //value [get global unlimited]]</b>FOR&nbsp;LIFE</h2>"
				]
				<div class="monthPrice">[xpath //special_text [get global unlimited]]</div>
			</div>
			<span class="desc">[xpath //description [get global unlimited]]</span>
			<div class="submitplan">
				[if is_user_logged
				"<a data-event='billing.click_unlimited' href='javascript:void(0)' data-tab='unlimitedphotos' class='btn blue'>BUY NOW</a>"
				"<a href='/register.aspx' data-tab='unlimitedphotos' class='btn blue'>BUY NOW</a>"
				]
			</div>
		<div class="packageInfo"><ul>
				<li>Unlimited traffic (photos only) *</li>
				<li>Unlimited storage (photos only)</li>
				<li>Premium photos and slideshows skins</li>
				<li>Remove the "Powered By Cincopa" </li>
				<li>One domain </li>
				<li>Team features</li>
				<li>Analytics tools</li>
				<li>Premium support 7x5, email only</li>
		</ul></div>
	</div>
<!-- ================================================ -->





<!-- ================================================ -->
		[is_null "[get url_param promo]"
		"<div class=\"package-box professional\">"
		"<div class=\"package-box professional\" style=\"margin:auto 3px;\">"]
		[is_null "[xpath //add_sale_badge [get global pro_yearly]]" "" "<div class='saleofferbadge'>Special Offer!</div>"]
			<div class="currentPlanArrow"><i></i></div>
			<div class="titleBox">
				<h3>[xpath //title [get global pro_yearly]]</h3>
				
				
				[is_null "[xpath //add_sale_badge [get global pro_monthly]]"
				"
				[is_null "[xpath //old_value [get global pro_yearly]]"
					"<h2><i>AS LOW AS</i> <b>$[xpath //value [get global pro_yearly]]/y</b></h2>"
				"<h2><strike><span class='oldPrice'>[xpath //old_value [get global pro_yearly]]</span></strike></h2>
					<h2 class='newPrice'><i>NEW PRICE </i><b>$[xpath //value [get global pro_yearly]]/y</b></h2>"
				]

				[is_null "[xpath //tooltip [get global pro_yearly]]"
				 "<div class="monthPrice">[xpath //special_text [get global pro_yearly]]</div>"
				 "<div  class='showTooltip' data-tooltip='[xpath //tooltip [get global pro_yearly]]'>[xpath //special_text [get global pro_yearly]]</div>"
				]
				"
				"
				<div style='font-size: 20px;color: #000000;font-weight:bold;'>					
					[xpath //special_text [get global pro_monthly]]
				</div>
				<h2 style='margin-top:20px;font-weight:100;'>As low as $[xpath //value [get global pro_monthly]]/m</h2>				
				"]
			</div>
			<span class="desc">[xpath //description [get global pro_yearly]]</span>
			<div class="submitplan">
			[if is_user_logged 		
		"
		[is_null "[xpath //direct_payment [get global pro_monthly]]"
				"<a href='javascript:void(0)'  data-tab='professional' data-event="billing.click_pro"  class='btn blue'>BUY NOW</a>"
				"<a data-event="billing.click_pro_ppmonthly" href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&encrypted=[url_encode [paypal item_name="[xpath //paypal_title [get global pro_monthly]]" custom=[get account_id];[xpath //paypal [get global pro_monthly]]]]' class='btn blue paypaloffer'>BUY NOW</a>"
		]
		"		
		"<a href='/register.aspx' data-tab='professional' class='btn blue smaller' style='padding: 10px 15px;'>BUY</a>
			 <a href='/register.aspx?plan=30protrial&continue=[url_encode /media-platform/start.aspx]'  class='btn big gray' style='padding: 4px 40px;'>TRY</a>
			 <span class='noCredit'>No Credit Card Required</span>
			 "
	       ]
			</div>
		<div class="packageInfo"><ul>
				<li class="showTooltip" data-position="right" data-tooltip="Cincopa uses a professional Content Distribution Network (CDN) to upload, host, encode and stream your videos quickly, reliably, and cost effectively." data-link="http://www.cincopa.com/media-platform/services/what-is-a-cdn">7GB Traffic/Month (CDN included)</li>
				<li>5GB of online storage</li>
				<li>All photos, slideshows, video and music skins</li>
				<li>Remove the "Powered By Cincopa"</li>
				<li>Unlimited domains</li>
				<li>Team features</li>
				<li>Analytics tools</li>				
				<li>Premium support, 7x5 email only</li>
				<li>Extra traffic for as low as 18c per GB</li>
		</ul></div>

	</div>
<!-- ================================================ -->





<!-- ================================================ -->
	<div class="package-box plus">
		[if "'[xpath //add_sale_badge [get global plus_yearly]]' = 'yes' or '[xpath //add_sale_badge [get global plus_monthly]]' = 'yes'" "<div class='saleofferbadge'>Special Offer!</div>" ""]
			<!--[if is_user_logged "<div class='bestvaluebage'>Best Value!</div>"]-->
			<div class="currentPlanArrow"><i></i></div>
			<div class="titleBox">
				<h3>[xpath //title [get global plus_yearly]]</h3>
				[is_null "[xpath //old_value [get global plus_yearly]]"
					"<h2><i>AS LOW AS</i> <b>$[xpath //value [get global plus_yearly]]/y</b></h2>"
				"<h2><strike><span class='oldPrice'>[xpath //old_value [get global plus_yearly]]</span></strike></h2>
					<h2 class='newPrice'><i>NEW PRICE</i> <b>$[xpath //value [get global plus_yearly]]/y</b></h2>"
				]
				<div class="monthPrice">[xpath //special_text [get global plus_yearly]]</div>
			</div>
			<span class="desc">[xpath //description [get global plus_yearly]]</span>
			<div class="submitplan">
				<!--<a href="javascript:void(0)"  data-tab='plus'  class="btn blue">BUY NOW</a>-->
			[if is_user_logged 		
			"
			[is_null "[xpath //direct_payment [get global plus_monthly]]"
					"<a href='javascript:void(0)' data-event="billing.click_plus" data-tab='plus' class='btn blue'>BUY NOW</a>"
					"<a data-event="billing.click_plus_ppmonthly" href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&encrypted=[url_encode [paypal item_name="[xpath //paypal_title [get global plus_monthly]]" custom=[get account_id];[xpath //paypal [get global plus_monthly]]]]' class='btn blue paypaloffer'>BUY NOW</a>"
			]
			"		
			"<a href='/register.aspx' data-tab='plus' class='btn blue'>BUY NOW</a>"
	       	]
			</div>
		<div class="packageInfo"><ul>
				<li class="showTooltip"  data-position="right" data-tooltip="Cincopa uses a professional Content Distribution Network (CDN) to upload, host, encode and stream your videos quickly, reliably, and cost effectively." data-link="http://www.cincopa.com/media-platform/services/what-is-a-cdn">50GB Traffic/Month (CDN included)</li>
				<li>Unlimited Storage</li>
				<li>All photos, slideshows, video and music skins</li>
				<li>Remove the "Powered By Cincopa"</li>
				<li>Unlimited domains</li>
				<li>Team features</li>
				<li>Analytics tools</li>				
				<li>Premium support, 24x7, email only</li>
				<li>Extra traffic for as low as 18c per GB</li>
		</ul></div>
	</div>
<!-- ================================================ -->

	
	
<!-- ================================================ -->
	<div class="package-box corporate">
		[if "'[xpath //add_sale_badge [get global corp_yearly]]' = 'yes'" "<div class='saleofferbadge'>Special Offer!</div>"]
			<div class="currentPlanArrow"><i></i></div>
			<div class="titleBox">
				<h3>[xpath //title [get global corp_yearly]]</h3>
				[is_null "[xpath //old_value [get global corp_yearly]]"
					"<h2><i>AS LOW AS</i> <b>$[xpath //value [get global corp_yearly]]/y</b></h2>"
				"<h2><strike><span class='oldPrice'>[xpath //old_value [get global corp_yearly]]</span></strike></h2>
					<h2 class='newPrice'><i>NEW PRICE</i> <b>$[xpath //value [get global corp_yearly]]/y</b></h2>"
				]
				[is_null "[xpath //tooltip [get global corp_yearly]]"
				 "<div class="monthPrice">[xpath //special_text [get global corp_yearly]]</div>"
				 "<div  class='showTooltip' data-tooltip='[xpath //tooltip [get global corp_yearly]]'>[xpath //special_text [get global corp_yearly]]</div>"
				]
			</div>
			<span class="desc">[xpath //description [get global corp_yearly]]</span>
			<div class="submitplan">
				<!--<a href="javascript:void(0)"   data-tab='corporate' class="btn blue">BUY NOW</a>-->
			[if is_user_logged 		
			"
			[is_null "[xpath //direct_payment [get global corp_monthly]]"
					"<a href='javascript:void(0)'  data-event="billing.click_corp"  data-tab='corporate' class='btn blue'>BUY NOW</a>"
					"<a data-event="billing.click_corp_ppmonthly" href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&encrypted=[url_encode [paypal item_name="[xpath //paypal_title [get global corp_monthly]]" custom=[get account_id];[xpath //paypal [get global corp_monthly]]]]' class='btn blue paypaloffer'>BUY NOW</a>"
			]
			"		
			"<a href='/register.aspx' data-tab='corporate' class='btn blue' >BUY NOW</a>"
	       	]
			</div>
		<div class="packageInfo"><ul>
				<li class="showTooltip" data-position="left" data-tooltip="Cincopa uses a professional Content Distribution Network (CDN) to upload, host, encode and stream your videos quickly, reliably, and cost effectively." data-link="http://www.cincopa.com/media-platform/services/what-is-a-cdn">400GB Traffic/Month (CDN included)</li>
				<li>Unlimited Storage</li>
				<li>All photos, slideshows, video and music skins</li>
				<li>Remove the "Powered By Cincopa"</li>
				<li>Unlimited domains</li>
				<li>Team features</li>
				<li>Analytics tools</li>				
				<li>Premium support, 24x7, email and phone</li>
				<li>Extra traffic for as low as 18c per GB</li>
		</ul></div>
	</div>
<!-- ================================================ -->


	
	<span class="packageInfoTerms">* According to our terms</span>
</div>
<!--
[if  is_user_logged  
"<div class='bottomDowngrade'>
	<div class='stayFree'>
		<h3>Stay Free</h3>
		<span>
			[if  is_user_free "As a free user you are not entitled to:" "When you downgrade you are not entitled to:" ]
			</span>
		<ul class='greenchecks'>
			<li>Our great premium support</li>
			<li>Remove the Cincopa brand</li>
			<li>7GB traffic and 5GB storage</li>
			<li>Use our mobile skins</li>
			<li> Many other features</li>
		</ul>		
	</div>
	[if  is_user_free ""
	"<div class='downgradeNotification'>
	</div>
	<a class='btn big orange downgradeBtn' href='javascript:void(0);' >Downgrade</a>"]
</div>"]

-->
<div class="pageContentWrap plans-faqArea">
	<h2 class="center">Frequently Asked Questions</h2>
<!-- =========================== -->
	<div class="collapsibleItem big faqTrial" style="display:none;">
		<a class="title"><i></i><b>What happens when the trial ends?</b></a>
		<div class="content">
			<p>At some point during the trial if you enjoyed our service you can sign-up for one of our Premium plans and keep all the features, skins, high traffic, storage and support. If you haven't done so your account will be blocked at the end of the trial however you'll still be able to sign-up or downgrade to free. If you decide to go free then your galleries will still be available under the following terms:</p>
			<ul>
				<li>If you exceeded the free account traffic limit during your 30 day trial then you will be able to downgrade only at the beginning of the following month when the traffic counter resets.</li>
				<li>If you uploaded more than 400MB of media you will not be able to downgrade until you remove files from your account and meet the storage limits.</li>
			</ul>
		</div>
	</div>
<!-- =========================== -->
	<div class="collapsibleItem big">
		<a class="title"><i></i><b>How do I cancel?</b></a>
		<div class="content">
			<p>There are no cancellation fees and you can cancel at anytime. Monthly and yearly plans won't be charged at the next billing cycle. Go to your My Account page and cancel Cincopa subscription there, just one click, no emails, no questions asked.</p>
		</div>
	</div>
<!-- =========================== -->
	<div class="collapsibleItem big">
		<a class="title"><i></i><b>How long is a contract?</b></a>
		<div class="content">
			<p>We offer monthly and yearly contracts.</p>
			<p>If you sign for a monthly agreement, the contract length is one month and you are automatically billed on a monthly basis. If you sign up for a yearly agreement, the contract length is one year and you are automatically billed on a yearly basis.</p>
		</div>
	</div>
<!-- =========================== -->
	<div class="collapsibleItem big">
		<a class="title"><i></i><b>Do you offer a free account?</b></a>
		<div class="content">
			 [if is_user_logged 	 
			 "<p>As a free user you are not entitled to:</p>
				<ul class='greenchecks'>
					<li>Our great premium support</li>
					<li>Remove the Cincopa brand</li>
					<li>7GB traffic and 5GB storage</li>
					<li>Use our mobile skins</li>
					<li>Many other features</li>
				</ul>
				" 
			 
			 "<p>As a free user you are not entitled to:</p>
				<ul class='greenchecks'>
					<li>Our great premium support</li>
					<li>Remove the Cincopa brand</li>
					<li>7GB traffic and 5GB storage</li>
					<li>Use our mobile skins</li>
					<li>Many other features</li>
				</ul>
				"
			 ]
		</div>
	</div>
<!-- =========================== -->
	<div class="collapsibleItem big">
		<a class="title"><i></i><b>Can I switch plans?</b></a>
		<div class="content">
			<p>Yes, you can upgrade or downgrade at anytime.</p>
		</div>
	</div>
<!-- =========================== -->
	<div class="collapsibleItem big">
		<a class="title"><i></i><b>What if I need more traffic?</b></a>
		<div class="content">
			<p>We have <a href="/cincopamanager/paypal/addpackage.aspx">extra traffic packages</a> for premium users only.</p>
		</div>
	</div>
<!-- =========================== -->
	<h3>Got more questions? <a href='http://help.cincopa.com/tickets/new'>Contact us</a></h3>
</div>

[include /cincopamanager/paypal/plans-box-professional-inc [get url_param promo] ]
[include /cincopamanager/paypal/plans-box-plus-inc]
[include /cincopamanager/paypal/plans-box-corporate-inc]
[include /cincopamanager/paypal/plans-box-unlimitedphotos-inc [get url_param promo]]
<script>
	var user_profile = [api users.getUserProfile];
	var showplans = "[get url_param showplans]";
	var offer_free_trial = "[get offer_free_trial]";
	var storageUsage = Number("[get upload_storage_usage]"); //[format_file_size [get upload_storage_usage]];
	if (showplans == 'true'){
		$('.modalWindow').fadeIn();
	}
	var hoverTimer, mouseOutTime;
	var user_account = user_profile.response.account;
	
	/*****************/
	
	var plan_name = user_account.plan_name;
	var long_name = user_account.plan_name_long;
	var traffic_usage = user_account.traffic_usage;
	var storage_usage = user_account.storage_usage;
	var traffic_limit = user_account.traffic_limit;
	if(long_name == 'pro 30 day trial'){
		traffic_limit =  200 * Math.pow(1024,2);
	}
	var storage_limit = user_account.storage_limit;
	var traffic_percent = Math.round(traffic_usage == 0 ? 0 : traffic_usage * 100 / traffic_limit);
	if(traffic_percent > 100) traffic_percent = 100;
	var storage_percent = Math.round(storage_usage == 0 ? 0 :  storage_usage * 100 / storage_limit);
	var current_traffic = traffic_usage / Math.pow(1024, 3);

    var usage_type = checkUsageType();
	var usage = trafficUsageCalc();
    function checkUsageType(){
        if(user_account.providers.length == 0) return false;

        var providers = user_account.providers[0];
        if (providers.image > 0 && providers.video == 0 && providers.audio == 0){
            return 'only_image';
        }
        else if (providers.video > 0){
             return 'used_video';
        }
        else if (providers.audio > 0){
             return 'used_audio';
        }
        /*else if (providers.audio > 0 && providers.image == 0 && providers.video == 0 ){
             return 'only_audio';
        }
        else if (providers.video > 0 && providers.image == 0 &&  providers.audio == 0){
             return 'only_video';
        }*/
        return false;

    }

var htm = '', htmPlan = '', bgColor = '', planClass = '', suggestPlanName = '';
function checkPlanWithTrafficAndUsage(){

    if(storage_usage == 0){
        //do nothing
    }
    else if (usage >= 0 && usage <= 5.6) {
        if(usage_type == 'only_image'){
			suggestPlanName = '<span class="suggested_plan_name">unlimited photos</span>';
            suggestPlan = $('.package-box.imagesforlife');
            if(plan_name == 'free' || long_name == 'pro 30 day trial')
				planClass = 'unlimited';
			
        }else{
			suggestPlanName = '<span class="suggested_plan_name">pro</span>';
            suggestPlan = $('.package-box.professional');
			if(plan_name == 'free' || long_name == 'pro 30 day trial' || plan_name == 'imagesforlife')
            planClass = 'pro';
        }
    } else if (usage > 5.6 && usage <= 50 ) {
        suggestPlanName = '<span class="suggested_plan_name">plus</span>';
        suggestPlan = $('.package-box.plus');
		if(plan_name == 'free' || long_name == 'pro 30 day trial' || plan_name == 'imagesforlife' || plan_name == 'professional' )
        planClass = 'plus';
    } else if(usage > 50){
        suggestPlanName = '<span class="suggested_plan_name">corporate</span>';
        suggestPlan = $('.package-box.corporate');
		if(plan_name == 'free' || long_name == 'pro 30 day trial' || plan_name == 'imagesforlife' || plan_name == 'professional' || plan_name == 'plus')
        planClass = 'corporate';
    }
	if(plan_name == 'free' || long_name == 'pro 30 day trial'){
		htmPlan += '<p>We suggest that you choose the <b class="'+ planClass +'">'+suggestPlanName+' plan.</b></p>';
	} else {
		htmPlan += '<p>We suggest that you upgrade to <b class="'+ planClass +'">'+suggestPlanName+' plan.</b></p>';
	}	
        
	var plan_name_text;
	if(long_name == 'pro 30 day trial'){
		plan_name_text = '<span class="current_plan_name">free plan. </span>'; 
	}else{
		plan_name_text = '<span class="current_plan_name">'+plan_name+' plan. </span>';
	}
	
	$('.packagesHead').addClass('packagesHeadDiv').html('<span>You\'re currently using the <b>'+ plan_name_text +'</b></span>');
	if( traffic_percent >0 && traffic_percent < 60 ){
		// do nothing
    }else if ( traffic_percent >= 60 && traffic_percent < 80 ){
        bgColor = 'yellow';
        htm += '<span>Your usage is above <b class="statistics"><span class="usage '+ bgColor +'">'+ traffic_percent +'%</span></b>at the moment. </span>';
        $('.packagesHead').addClass('packagesHeadDiv').append(htm);
    }else if (traffic_percent > 80 ){
        bgColor = 'red';
        htm += '<span>Your usage is above <b class="statistics"><span class="usage '+ bgColor +'">'+ traffic_percent +'%</span></b>at the moment. </span>';
        $('.packagesHead').addClass('packagesHeadDiv').append(htm);
    }
	
		if(planClass){
			$('.packages').addClass('suggestedActive');
			suggestPlan.addClass('suggested');	
			$('.packagesHead').append(htmPlan);
		}	
}
	/****not available unlimited plan****/
   	if(current_traffic > 5 || usage > 5){
		$('.package-box.unlimitedphotos.imagesforlife .submitplan').html('<p class="not_available">plan is not available for high traffic sites</p>');
	} else if (usage_type != 'only_image'){
		$('#unlimitedphotos_modal .mContent').append('<p class="not_available">This plan is for photos only</p>');
	}
		
    function trafficUsageCalc() {
         var trafficArray = user_account.traffic_history;
         var counter = 0;
         var total = 0;
         for (i= trafficArray.length-1; i>=trafficArray.length-7; i--){
                total = total + parseInt(trafficArray[i].directive_innervalue);
                counter ++;
         };
		avg = total / Math.pow(1024, 3)/counter;
         return avg * 31;
    }



	function checkDowngrade(){
		var status = checkStatus();
		switch(status.code){
			case 1:  $('.downgradeNotification').hide();
				break;
			case 2: 
				$('.downgradeNotification').html('If you downgrade your account will be blocked soon since you are almost reaching the free account limits.');
             break;
			case 3:
				var now = new Date()
                current = new Date(now.getFullYear(), now.getMonth()+1, 1);
				$('.downgradeNotification').html(
				'If you downgrade to free your account will be blocked until '+convertDate(current)+' since you used all the free account limits.');
				//$('.downgradeBtn').addClass('disabled');
				break;
			case 4:
				$('.downgradeNotification').html('Your storage is above the free storage limit which is 400 MB, if you downgrade your account will be blocked until you remove some files');	
				//$('.downgradeBtn').addClass('disabled');
				break;
		}
	}
	function checkStatus(){
		var status = {};
		var trafficUsage = user_profile.response.account.traffic_usage;
		var trafficLimit =  200 * Math.pow(1024, 2);
		var storageLimit =  400 * Math.pow(1024, 2);
		
		if(trafficUsage < trafficLimit 	&&    storageUsage > storageLimit){ 
			status.code = 4;
			return status;			
		}else if(trafficUsage > trafficLimit  ||	 storageUsage > storageLimit){
					status.code = 3;
					 return status;			
		}else{
			var trafficPrc = trafficUsage == 0 ? 0 : trafficUsage * 100 / trafficLimit;
			var storagePrc = storageUsage == 0 ? 0 :  storageUsage * 100 / storageLimit;
			status.prc =parseInt(Math.max(trafficPrc, storagePrc));
			if(trafficPrc >= 70 || storagePrc >= 70){
			  status.code = 2;
			  return status;
			}
			status.code = 1;
			return status;
		}
	}
	
	function checkTrialUsage(){
		var trafficUsage = user_profile.response.account.traffic_usage;
		var trafficLimit =  200 * Math.pow(1024, 2);
		var storageLimit =  400 * Math.pow(1024, 2);
		
		if(trafficUsage > trafficLimit  ||	 storageUsage > storageLimit){
			return true;		
		}else{
			return false;
		}	
	}
	
	function confirmBox(){
			var html = '<div class="popupContent">\
<div class="firstLine" style="color:red;">Are you sure you want to downgrade to free?</div>\
<div style="margin-top:20px;"><a href="javascript:void(0);" onclick="startDowngrade();closeModal();"  class="btn big orange">YES</a>\
<a href="javascript:void(0);" onclick="closeModal();" class="btn big gray" >NO</a></div>'
		openModal(html,400,250);
		$(window).trigger('resize');
	}
	function startDowngrade(){
			$.ajax({
				url: '/media-platform/wizard2/downgrade?set_plan=free',
				type:'GET',
				dataType:'json',
				success:function(data){
					if(data.ret == "" ){
						$('.downgradeBtn, .downgradeNotification').remove();
						$('.promoMsg').parent().parent().html('CHOOSE YOUR CINCOPA PLAN');
						resultPopup('ok');
					}else{
						resultPopup(data.ret);
					}
				},
				error:function(){
					resultPopup('Error in downgrade')
				}
			
			})
	
	}
	function startTrial(){
			$.ajax({
				url: '/media-platform/wizard2/downgrade?set_plan=30daytrial',
				type:'GET',
				dataType:'json',
				success:function(data){
					if(data.ret == "" ){
						$('.promoMsg').html('Your trial ends in <span class="dayLeft">30 days</span>');
						$('.promoMsg').parent().next().html('we hope that you are enjoying your trial,<br /> take action now to guarantee uninterrupted service');
						$('#startTrial').remove();
						setCookie('trial_[get account_id]', 'start');	
						resultPopup('start');
					}else{
						resultPopup(data.ret);
					}
				},
				error:function(){
					resultPopup('Error in start trial')
				}
			
			});
	
	}
	function resultPopup(status){
		var html;
		if(status == 'ok'){
			html = '<div class="popupContent">\
							<div class="firstLine">Your account is now a</div> <div class="secondLine">FREE Account</div>\
					</div>\
					<div class="popupBottom">\
						You can easily upgrade to Premium at any time\
					</div>';	
		}else if(status == 'start'){
				html = '<div class="popupContent">\
							<div class="firstLine">You now start your</div>\
							<div>30 day Pro trial</div>\
					</div>\
					<div class="popupBottom">\
						Enjoy your trial\
					</div>';		
		}else{
			html = '<div class="popupContent error">\
							<div class="firstLine">'+status+'</div>\
					</div>\
					<div class="popupBottom">\
						Please try again or contact to support\
					</div>';
		}
		openModal(html,400,250);
		$(window).trigger('resize');	
	}
	
	function showPlans(planName){
		if("[get is_user_logged]" == "False")
			location.href = '/register.aspx?continue='+encodeURIComponent('/cincopamanager/paypal/plans.aspx#'+planName);
		else
			$('#'+planName+"_modal").fadeIn();
	}
	
	var month=new Array();
	month = ["Jan", "Feb" ,  "Mar" , "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
	function convertDate(date){
		var newDate = new Date(date);
		var date = newDate.getDate() < 10 ?  '0'+newDate.getDate() : newDate.getDate();
		var monthName = month[newDate.getMonth()];
		var year = String(newDate.getFullYear());		
		return  monthName+' '+date+', '+year;
	}
	 function checkProUsers(plan_name, long_name){
		 if (long_name != 'pro 30 day trial' && (plan_name == "professional" || plan_name == "sbyplan" || plan_name == "acause" ||  plan_name == "plus" ||  plan_name == "corporate" || plan_name == "imagesforlife"))
			return true;
		 else
			return false; 
 }
	/////
	$(document).ready(function(){
        
		checkPlanWithTrafficAndUsage();

		
		$(document).on('click', '[data-event]',function(e){
            var eventName = $(this).attr('data-event');
			if( $(this).attr('href')){
                e.preventDefault();
				fire_usage_event(eventName);
				location.href = $(this).attr('href');
			}else{
				fire_usage_event(eventName);
			}
		});	


		$('a[data-tab]').click(function(){
			  var tabName = $(this).attr('data-tab');
			  showPlans(tabName);			
			});
		
		if("[get is_user_logged]" == "True"){
			$('.'+user_profile.response.account.plan_name).addClass('activePlan');
			if(user_profile.response.account.plan_name != 'suspended' && user_profile.response.account.plan_name  != 'free' && user_profile.response.account.plan_name_long != 'pro 30 day trial'){
				var dayLeftCalculated = calculcateTimeLeft(user_profile.response.account.valid_until);
				if (user_profile.response.account.plan_status == 'onetime' && user_profile.response.account.plan_name == "imagesforlife") {
                        $('#unlimitedphotos_modal .mtplan a').attr('href', 'javascript:void(0);');
                        $('#unlimitedphotos_modal .mtplan a').click(function () {
                            $('.modalWindow').fadeOut();
                            html = '<div class="popupContent" style="font-size: 1.5em;">\
                <div class="firstLine" style="font-size: 0.9em;">You already have this plan</div>\
                                                                                </div>'
                            openModal(html, 400, 250);
                            $(window).trigger('resize');
                        });
                    } else if (user_profile.response.account.plan_status == 'active') {
                        $('.mtplan a, .paypaloffer').attr('href', 'javascript:void(0);');
                        $('.mtplan a, .paypaloffer').click(function () {
                            $('.modalWindow').fadeOut();
                            html = '<div class="popupContent" style="font-size: 1.5em;">\
    <div class="firstLine" style="font-size: 0.9em;">You still have an active plan, please <a href="http://help.cincopa.com/entries/444258-How-do-I-cancel-my-Cincopa-Pro-account-">cancel</a> it first and only then buy the new one.</div>\
                                                                    </div>'
                            openModal(html, 400, 250);
                            $(window).trigger('resize');

                        });
                    } else if (dayLeftCalculated > 50) {
                        $('.mtplan a').each(function () {
                            var link = $(this).attr('href');
                            $(this).attr('data-href', link);
                            $(this).attr('href', 'javascript:void(0);');
                        });
                        $('.mtplan a').click(function () {
                            var paymentLink = $(this).attr('data-href');
                            $('.modalWindow').fadeOut();
                            html = '<div class="popupContent buyPopup" style="font-size: 1.5em;">\
<div class="firstLine">You still have ' + dayLeftCalculated + ' days left on your ' + user_profile.response.account.plan_name + ' plan, are you sure you want to replace that with a new plan ?</div>\
<div class="secondLine"><a class="btn green" href="' + paymentLink + '">Yes</a><a href="javascript:$.modal.close();" class="btn green">No</a><a href="http://help.cincopa.com/requests/new">Contact us</a></div>\
        </div>';
                            openModal(html, 400, 250);
                            $(window).trigger('resize');
                        });
                    } else {
                        // allow to buy   
                    }
				
			}else if(user_profile.response.account.plan_name== 'free' 
					 && 
					 getCookie('trial_[get account_id]') == 'start'){
				$('.titleBlock').html('<p>Your Pro account trial has ended,<br /> please select from one of our premium plans.</p>');
			}
			if(location.hash != "") $(location.hash+"_modal").fadeIn();
			if(checkProUsers(user_profile.response.account.plan_name, user_profile.response.account.plan_name_long)){
				$('.downgradeNotification, .downgradeBtn').remove();
			}else{
			checkDowngrade();
			}
			$(".packagesHead  h2.big").text("Hey " + user_profile.response.profile.first + "!");
			
			/*if(user_profile.response.account.plan_name_long == "pro 30 day trial"){
				var dayLeft = calculcateTimeLeft(user_profile.response.account.valid_until);
				if (dayLeft <= 5){
					if(dayLeft <= 0 ) {
						$('.promoMsg').html('Your trial has ended');			
					}else{
						$('.promoMsg').html('Your trial ends in <span class="dayLeft">'+dayLeft+' days</span>');					
					}
					$('.dayLeft').css('color','#FF5200');
					$('.faqTrial').show();
				} 
				if(checkTrialUsage()){
					$('.titleBlock p').html('We hope that you are enjoying your trial,<br /> take action now to guarantee uninterrupted service');
				}
			}else*/
			if(user_profile.response.account.plan_name == "suspended" ){
				$('.titleBlock').html(
					'<h3><b class="promoMsg">Your Trial Is Over- Action Required</b></h3>\
<p>Your account is now blocked, please select from one of our plans to continue using Cincopa</p>'
				);	
			}else if(user_profile.response.account.plan_name  != 'free' && user_profile.response.account.plan_name_long != 'pro 30 day trial'){
				$('.titleBlock').remove();	
			}
			$(window).keydown(function(e){
				if( e.which == 27 && $('.modalWindow').is(":visible") )
				$('.modalWindow').fadeOut();			
			});
		}		
		$('.downgradeBtn').bind('click',function(){
			//if($(this).hasClass('disabled')) return false;
			confirmBox();
		});
		
		//tooltip
		$('body').append("<span class='tooltip'></span>");
		$(".showTooltip").append('<span class="tooltipIcon"></span>');
		$("span.tooltip").hover(function(e){
			clearTimeout(mouseOutTime);
		},function(){
			$("span.tooltip").fadeOut(function(){
				$(this).text('');
			});
		});
		
	   $(document).on('click', '.pageContentWrap .collapsibleItem', function(){
		   $(this).toggleClass("active");
	   });
		
		$(".tooltipIcon").hover(function(e){
			var that = this;
			hoverTimer = setTimeout(function(){
				var statusText = $(that).parent('.showTooltip').attr('data-tooltip');
				var statusPosition = $(that).parent('.showTooltip').attr('data-position');
				var readMore = $(that).parent('.showTooltip').attr('data-link');
				if (typeof readMore != 'undefined'){
					statusText += "<a href='" + readMore + "'  target='_blank' class='tooltip_more'>Learn More</a>";
				}
				$("span.tooltip").html("<i>" + statusText + "</i>").fadeIn();
				if(statusPosition == 'right'){
					$("span.tooltip").css({'left': ($(that).offset().left  + 20) + "px", 'top':($(that).offset().top + 30) + "px"});
				}else{
					$("span.tooltip").css({'left':($(that).offset().left - $('span.tooltip').width()) + "px", 'top':($(that).offset().top + 30) + "px"});
				}
			}, 400);
		}, function(e){
			clearTimeout(hoverTimer);
			mouseOutTime = setTimeout(function(){
				$("span.tooltip").fadeOut(function(){
					$(this).text('');
				});
			}, 1000);
		});
	});
	$("#_minimsgarea").hide();	
</script>