[template /design15/templates/content-page]
[title Video Hosting | Cincopa]
[meta_keywords video hosting, video streaming, video streaming hosting, hosting streaming video]
[meta_description Video Hosting Platform, all a Video Hosting for Business Requires. Just focus on your videos, we'll do the rest.]
<!--<link type="text/css" rel="stylesheet" href="[static_file_url /media-platform/videosharefiles/videohosting.css]">-->

<div class="videosharebanner">
	 <div class="videoBack">	
	 </div>
	
	<!--<div class="vshbg"></div> -->
	<div class="vshwrap">
		<h2>The Complete Video Hosting for Business Solution</h2>
		<div class="videoOptionsBlock">
			<div>
				<img src="[static_file_url /design13/images/video_hosting_privacy.png]" />
				<span>Complete Privacy</span><span> & ads free</span>
			</div>
			<div>
				<img src="[static_file_url /design13/images/video_hosting_stability.png]" />
				<span>Superior Stability</span>
			</div>
			<div>
				<img src="[static_file_url /design13/images/video_hosting_scalability.png]" />
				<span>Complete Scalability </span><span>Fully Customizable</span>
			</div>
			<div>
				<img src="[static_file_url /design13/images/video_hosting_html5.png]" />
				<span style="margin-top: 10px">HTML 5 </span><span>Mobile Friendly</span>
			</div>
			<div>
				<img src="[static_file_url /design13/images/video_hosting_noprogramming.png]" />
				<span>No Programming </span><span>Required</span>
			</div>
		</div>
		<div class="vshwrapfooter">
			<h3>Just focus on your videos, we'll do the rest.</h3>
			<a class="btnflat blue" href="/media-platform/start.aspx">START NOW FOR FREE</a>
			<a class="contactUs btnflat green">Contact us</a>
		</div>		
	</div>
</div>

<h2>Demos</h2>
<div class="skins-previewBox">
	
	[include \media-platform\skins\add-list-inc "video-hosting"]
</div>

<h2>Why Use Cincopa For Your Video Hosting?</h2>

<div class="vsh_descriptbox imgright">
	<div class="img">
		<img src="[static_file_url /media-platform/videosharefiles/vshbnr_01.png]"/>
	</div>
	<div>
		<h3>Easy Upload & Embedment</h3>
		<p>Upload any video format file to your Cincopa account and embed it anywhere you want in less than a minute. Concentrate on creating or finding the right videos, which will truly enhance your site, and we will perform needed conversions, generate thumbnails and take care of other technicalities.</p>
	</div>
</div>

<div class="vsh_descriptbox">
	<div class="img">
		<img src="[static_file_url /media-platform/videosharefiles/vshbnr_02.png]"/>
	</div>
	<div>
		<h3>Fast & Reliable Video Streaming</h3>
		<p>Cincopa's Content Delivery Network (CDN) is designed to ensure the highest delivery speed possible. Our servers are located all over the world to provide end-users fast upload from local servers. It's quick, secured, stable, credible and made to deliver the best quality video streaming with the least buffering possible.</p>
	</div>
</div>

<div class="vsh_descriptbox imgright">
	<div class="img">
		<img src="[static_file_url /media-platform/videosharefiles/vshbnr_03.png]"/>
	</div>
	<div>
		<h3>Fully Responsive & Scalable</h3>
		<p>Your media files are optimized for all browsers, screens and mobile devices. Cincopa automatically encodes the file in multiple resolutions to enable the highest video cdn quality and perfect viewing experience.</p>
	</div>
</div>

<div class="vsh_descriptbox">
	<div class="img">
		<img src="[static_file_url /media-platform/videosharefiles/vshbnr_04.png]"/>
	</div>
	<div>
		<h3>Customizable Video Streaming Players</h3>
		<p>Select a <a href='http://www.cincopa.com/media-platform/features/embed-video'>video player</a> out of Cincopa's vast collection. Customize the player's skin and functions as you wish; change sizes, colors, controls, layout and even edit CSS files for complete customization.</p>
	</div>
</div>

<div class="vsh_bluebox">
	<h2>Cincopa is the most complete Video Hosting platform</h2>
	<a class="btnflatorange" href="/register.aspx?plan=30protrial&continue=[url_encode /media-platform/start.aspx?videohosting=y]">Start NOW <i class="vsharr"></i></a>
</div>

<h2>Other Great Features</h2>



<div style="text-align: center;">

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/videosharefiles/vshcrcl_01.png]"/>
	</div>
	<div>
		<h3>Analytics</h3>
		<p>Refine your engagement strategy with the assistance of detailed analytic reports. Discover the number of views, your videos receive, and the distribution between your domains. Learn about your video gallery daily, monthly and all time traffic, displayed in graphs.</p>
	</div>
</div>

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/videosharefiles/vshcrcl_02.png]"/>
	</div>
	<div>
		<h3>Multiple video sources</h3>
		<p>You may upload your media files from different sources including your portable devices, desktop, directly from your web camera, or from various web URLs.</p>
	</div>
</div>

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/videosharefiles/vshcrcl_03.png]"/>
	</div>
	<div>
		<h3>Security</h3>
		<p>Cincopa respects your privacy and offers you a domain lock feature. It allows you to create a domain white-list to ensure your media will not be copied without your authorization.</p>
	</div>
</div>

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/videosharefiles/vshcrcl_04.png]"/>
	</div>
	<div>
		<h3>Playlists</h3>
		<p>Upload any number of files to a single video player and present them on a vertical or horizontal playlist. Add your videos titles and descriptions to be displayed by the videos thumbnails.</p>
	</div>
</div>

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/videosharefiles/vshcrcl_05.png]"/>
	</div>
	<div>
		<h3>Vast distribution</h3>
		<p>Display your video player through hundreds of social channels, mail systems and any HTML or CMS based sites via a click of a button.</p>
	</div>
</div>

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/videosharefiles/vshcrcl_06.png]"/>
	</div>
	<div>
		<h3>Personal support</h3>
		<p>Enjoy a superb support around the clock. Our attentive and professional support team is always available to assist with any question, request or problem.</p>
	</div>
</div>

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/videosharefiles/vshcrcl_07.png]"/>
	</div>
	<div>
		<h3>Ads FREE</h3>
		<p>The files you upload are yours alone. The media will remain ads free forever.</p>
	</div>
</div>

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/videosharefiles/vshcrcl_08.png]"/>
	</div>
	<div>
		<h3>Share your videos</h3>
		<p>Decide whether you want to allow users to download your media files.</p>
	</div>
</div>

<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/videosharefiles/vshcrcl_09.png]"/>
	</div>
	<div>
		<h3>Get a 30 day free trial</h3>
		<p>Try our Premium account for 30 days, no credit card required.</p>
	</div>
</div>

	
<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/videosharefiles/vshcrcl_10.png]"/>
	</div>
	<div>
		<h3>My Client Center (MCC)</h3>
		<p>Manage all your clients' accounts efficiently and quickly through your MCC account. My Client Center feature allows you to organize and optimize your video content management providing super easy access, friendly navigation and comprehensive overview of data.</p>
	</div>
</div>
	
<div class="vsh_featurebox">
	<div class="img">
		<img src="[static_file_url /media-platform/videosharefiles/vshcrcl_11.png]"/>
	</div>
	<div>
		<h3>My Team – Multiple User Account</h3>
		<p>Build your Cincopa work team to manage your clients' video content. Add users to your Cincopa account and pre-set their access level to Admin, Editor, Viewer or Suspended. You may change your team settings at any time.</p>
	</div>
</div>

</div>

<div style="text-align: right;"> <a class="btnflatorange" href="/register.aspx?plan=30protrial&continue=[url_encode /media-platform/start.aspx?videohosting=y]">Start NOW <i class="vsharr"></i></a> </div>

[include /media-platform/templates/go-to-top ]
[include /lang-inc]

<script>
	$(document).ready(function() {
    var userEmail;
    if ('[get is_user_logged]' == 'True') {
        userEmail = '[get user_email]';
    }
    $('.contactUs').click(function() {
        trackAction('contact us link', 'video hosting contact us', '[get user_id]');
        if ('[get is_user_logged]' == 'True') {
            sendEmail(userEmail);
            var htm = '<div class="thankYou" >  Thanks! We will contact you soon <a class="closeBtn" onclick="$.modal.close()">Close</a>\</div>';
            openModal(htm, 640, 100);
            setTimeout(function(){
					$('#simplemodal-data').fadeOut(function(){
  							$.modal.close();
					});
				}, 5000 );
        } else {
            var htm = '<div class="emailCollector" >\
							<h3>Please fill your email and we will contact you soon with more info about our video hosting services</h3>\
							<span class="error" style="display:none;">Invalid email </span>\
							<input id="collector_email" type="text" placeholder="Email" />\
							<a class="submitbtn btnflat blue">Submit</a>\
							<a class="cancelbtn" onclick="$.modal.close()">Cancel</a>\
						</div>';
            openModal(htm, 640, 100);
        }
    });
    $(document).on('click', '.submitbtn', function() {
        var emailVal = $('#collector_email').val();
        if (validateEmail(emailVal)) {
            userEmail = emailVal;
            trackAction('contact us link', 'video hosting submit email', userEmail);
            sendEmail(userEmail);
            var htm = '<div class="thankYou" >  Thanks! We will contact you soon <a class="closeBtn" onclick="$.modal.close()">Close</a>\</div>';
            $('#simplemodal-data').html(htm);
            setTimeout(function() {
                $('#simplemodal-data').fadeOut(function() {
                    $.modal.close();
                });
            }, 5000);
        } else {
            $('.emailCollector .error').show();
        }

    })
});

function validateEmail(email) {
    var regex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return regex.test($.trim(email));
}


function sendEmail(email) {
    $.ajax({
        url: '/media-platform/send-email',
        type: 'GET',
        dataType: 'jsonp',
        data: {
			title:'Video hosting offer',
            user_short_name: '[get user_short_name]',
            user_login: '[get user_login]',
            user_email: email,
            user_id: '[get user_id]',
            page_path: '[get url_path]'
        },
        success: function() {
            console.log('success on email')
        },
        error: function() {
            console.log('error on email')
        }
    });
}

function trackAction(category, action, label) {
    _gaq.push(['_trackEvent', category, action, label]);
}
</script>