[template /design15/templates/content-page-new]

[title Voice & Video Screen Recorder for Chrome | RecTrace by Cincopa]
[meta_keywords ]
[meta_description Record screen, video & voice with RecTrace - video screen recorder for Chrome. Easily upload & share your video via a direct URL. No expiration. Download Now. ]


<div class="landerSplash hasMedia rectrace" style="background: #5882c1 url([static_file_url /design15/images-new/rectrace.jpg]) no-repeat 51% top;">
    <div class="ls-content">
        <div class="ls-rectrace-wrap">
            <div class="ls-rectrace-logo">
                <img src="[static_file_url /design15/images-new/rectrace-logo.jpg]" />
            </div>
            <div class="ls-rectrace-text">
                <h1>Easy-to-use Video Screen Recorder for Chrome - RecTrace</h1>
                <p>From the house of Cincopa, a leading multimedia hosting company, RecTrace extension allows you to capture video from your screen, record your voice and webcam video. All of that is available in a single click from Google Chrome browser!</p>
                <p><a class="btn rectrace">Download RecTrace</a></p>
            </div>
        </div>
        [gallery AoIAMJd_cbRb]
    </div>
</div>


<div>
    <h2>RecTrace Features</h2>

    <div class="contentBox white cp-mt0">    
        <div class="row">
            <div class="col-md-4">
                <ul class="ulList bigger">
                    <li>Record screen, webcam video, and voice</li>
                    <li>Uplaod Video</li>
                    <li>Share video via direct URL</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="ulList bigger">
                    <li>View detailed video analytics</li>
                    <li>No expiration - your video will remain available for sharing</li>
                    <li>Playback on mobile and desktop</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="ulList bigger">
                    <li>RecTrace will optimize your video for a flawless playback on any device</li>
                    <li>Look great on any screen</li>
                </ul>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-md-6">
        <div class="collapsibleItem faq">
            <a class="title"><i>1</i><b>I’m not a Cincope user. Can i use Rectrace?</b></a>
            <div class="content">
                <p>Yes you can. Registration with Cincopa is mandatory. You can freely use RecTrace without being a Cincopa user. However, for the full experience, including detailed analytics of your video performance, it is recommended to register with Cincopa.</p>
            </div>
        </div>
        <div class="collapsibleItem faq">
            <a class="title"><i>3</i><b>Can I share my video’s?</b></a>
            <div class="content">
                <p>Yes you can. You can share you video’s in social media, via email or by just copy and pasting your video link.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="collapsibleItem faq">
            <a class="title"><i>2</i><b>Can I download my video’s?</b></a>
            <div class="content">
                <p>Yes you can.</p>
            </div>
        </div>
        <div class="collapsibleItem faq">
            <a class="title"><i>4</i><b>Is there a recording limit?</b></a>
            <div class="content">
                <p>Recording is limited to 1 hour per video. You can record as many videos as you’d like</p>
            </div>
        </div>
    </div>
</div>


<p class="bigger">Not sure? Contact our support: <a href="mailto:support@cincopa.com">support@cincopa.com</a></p>


<script type="text/javascript">
    $(document).on('click', '.collapsibleItem', function(){
        $(this).toggleClass("active");
    });
    
    $(document).on('click', '.collapsibleItem .content a', function(e){
        e.preventDefault();
        $(this).parents('.collapsibleItem').removeClass('active')
        window.location = $(this).attr('href');
    });
</script>

[include /media-platform/templates/footer15-small]