[template /design15/templates/content-page-new]

[title ]
[meta_keywords ]
[meta_description ]


<div class="landerSplash hasMedia salesforce">
    <div class="ls-content">
        <h1>Welcome SalesForce Users</h1>
        <p>Cincopa for Salesforce allows you to add videos, image and audios to your SalesForce’s cloud, applications and workflow. Media can be viewed internally and in any of your portals. <br/> Salesforce1 for mobile and Lightning platform is seamlessly supported.</p>
        <p><strong>No programming  •  Fully customisable  •  More then 100 templates</strong></p>
        [gallery AoOAMzNN0PXl]
    </div>
</div>


<div>
    <h2>Download, install and setup Cincopa app</h2>
    <ol class="integrationSteps">
        <li class="is-item">
            <div class="is-img"><img src="[static_file_url /design15/images-new/nl-steps-salesforce.png]" /></div>
			<div class="is-text">Login to your SalesForce developer account & install Cincopa app by using <a href="https://login.salesforce.com/packaging/installPackage.apexp?p0=04t6F000001MXFR" target="_blank">this link</a></div>
        </li>   
        <li class="is-item">
            <div class="is-img"><img src="[static_file_url /design15/images-new/nl-steps-03-navigate.png]" /></div>
            <div class="is-text">In your saleforce dashboard open Cincopa from top right menu</div>
        </li>
        <li class="is-item">
            <div class="is-img"><img src="[static_file_url /design15/images-new/nl-steps-lock.png]" /></div>
            <div class="is-text"><a href="https://www.cincopa.com/login.aspx">Login</a> to Cincopa or register to create a <a href="https://www.cincopa.com/register.aspx?">new account</a></div>
        </li>
        <li class="is-item">
            <div class="is-img"><img src="[static_file_url /design15/images-new/nl-steps-05-instructions.png]" /></div>
            <div class="is-text">Complete setup by entering cincopa API key and Cincopa template ID and name in the relevant fields</div>
        </li>
    </ol>
</div>


<div class="contentBox white">
    <div class="cb-watermark">CINCOPA</div>
    <div class="row">
        <div class="col-md-6">
            <span class="label">compatibility</span>
            <h3>Cincopa Saleforce app supports</h3>
            <ul class="ulList">
                <li>Salesforce Lightning + Classic</li>
                <li>Salesforce Communities (Partner, Customer all)</li>
                <li>Any Salesforce custom object.</li>
            </ul>
        </div>
        <div class="col-md-6 gray textcenter"><div class="grayWrap">
            <img src="[static_file_url /design15/images-new/salesforce.png]"/>
        </div></div>
    </div>
</div>


<h2>About Cincopa</h2>
<div class="row">
    <div class="col-md-6">
        <div class="contentBox white cp-mt0 js-equal">
            <h3>Cincopa Saleforce app</h3>
            <ul class="arrList">
                <li><a href="https://www.cincopa.com/salesforce">What to do with cincopa app</a></li>
                <li><a href="https://www.cincopa.com/help/salesforce-cincopa-app/">Add media files in media tab</a></li>
                <li><a href="https://www.cincopa.com/help/salesforce-cincopa-app/">Upload media in SaleForce object</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="contentBox white cp-mt0 js-equal">    
            <h3>Get started with Cincopa</h3>
            <ul class="arrList">
                <li><a href="https://www.cincopa.com/help/registration/">Getting started guide</a></li>
                <li><a href="https://webinars.cincopa.com/">Cincopa webinars</a></li>
                <li><a href="https://www.cincopa.com/faq">Cincopa FAQ</a></li>
            </ul>
        </div>
    </div>
</div>


<p class="bigger">Not sure? Contact our support: <a href="mailto:support@cincopa.com">support@cincopa.com</a></p>

[include /media-platform/templates/footer15-small]