[template /design15/templates/content-page]

[title Add Music to Your Website > Embed a Music Player in Your Web Page]
[meta_keywords music player for website, audio player for website, embed music player, embed audio player]
[meta_description Add music player for website. Embed Cincopa audio player on your website using three simple steps. Choose music player style, upload audio files, paste the code to your website or blog]
<div class="inner-info">
			
<div id="cont" class="cmspage">

	<div class="splashArea01 music01">
		<div class="contentWrap">
			<h1>Add Music to Your Website</h1>
			<p>So, you've decided to add music to your website! Good. You've come to the right place. There are a number of ways to do this which require very little knowledge of HTML and very few lines of code. Most modern browsers will recognize and play audio files (.wav, .mp3, .mid, etc.) and supply a simple player with basic controls.</p>
			<p>Cincopa allows you to easily add music to your website by simply embedding a dynamic music player directly into your pages and adding menus, playlists, even album art (or add your own images). Musicians and music lovers alike can benefit from advances in audio and internet technologies designed to enrich the web with fast, highly compressible music downloads and interactive audio players.</p>
			<p><a href="/media-platform/start.aspx" class="btn big green">START FREE TRIAL</a></p>
		</div>
	</div>

	<h3>Take a Look at Cincopa's Audio and Podcast Player Skins (Demos):</h3>

	<div class="box">
		<p>[include \media-platform\skins_preview "add-music-to-website"]</p>
	</div>

	<p class="center"><a href="/media-platform/skins" class="seeAllSkins">See all skins...</a></p>


	<h2>How to Add Music to Your Website or Blog</h2>
	<p>If you would simply like to add some background music to your website when the site loads, this can be done by simply embedding an audio galery somewhere on your page. You can opt-in the autoplay feature to make sure audio will start playing when your page loads. </p>
	<h2>The Cincopa Media Platform - The Music Embedding Solution for Your Website</h2>
	<p>With the Cincopa music player you choose a skin, upload your files, and let Cincopa automatically generate the code which will produce beautiful, interactive Flash music players compatible with virtually any website or blog. You simply paste the code where you want your player to appear, and you're done.</p>
	<p>You can create a free, standalone music player for any website, and it's simple to install and configure on your own website or blog. Cincopa will also host and deliver your files from their own servers, so you won't have to worry that your own host will not be able to handle the space and the bandwidth required. Adding a fully dynamic and interactive music player to your site can be done in three easy steps:</p>

	[include \media-platform\templates\how-it-works-music]

	[include \media-platform\templates\start-now-wide]

	<p>Upload new music to your player whenever you wish. You won't have to go through the process of creating a new player or generating new code snippets. Just upload your files and they will be added to the player you've already created. You can add or remove files at any time and from anywhere including any PC, mobile device, or PDA once you've synchronized these devices to your Cincopa account. Add Music to Any of Your CMS Blogs or Websites</p>
	<p>One of the best features of a Cincopa standalone music player is that you can place it literally anywhere on the web. Once you create your music player and upload your files, the wizard will generate the HTML/Tag code necessary to place it into any web page. If your website or blog was created using a Content Management System (CMS) such as WordPress, Joomla, or Drupal, adding a music player is as simple as adding one line of code to your pages. </p>
	<h3>Wordpress Music and Audio Player Plugin</h3>
	<p><a href="http://www.cincopa.com/media-platform/wordpress-plugin.aspx">Cincopa plugin for WordPress</a> is free and easy to use. It is also one of the most popular WordPress plugins out there and has been downloaded over 400,000 times! It gets high rankings from the WordPress community for its simplicity, extendability, scalability, and top level support. Once the plugin is installed, you can access your Cincopa account and controls directly from your WordPress administration panel. Adding a music player to your pages and posts is as simple as clicking a button in your WordPress formatting toolbar. When editing a page or post, simply click on the 'C' icon in the toolbar, and paste the shortcode you were given when you created your music player into the pop up box. Update the page and you're done.</p>
	<h3>Joomla! Music Player Extension</h3>
	<p><a href="http://www.cincopa.com/media-platform/joomla-module">Cincopa Joomla extension</a> is just as easy to install and is available from the Joomla Extension Directory (JED). Simply download the .zip file to your local machine and upload it to your Joomla site using FTP or directly through your Joomla administration panel. Once the extension is enabled you will notice a Cincopa button at the bottom of your editing window(s). Clicking on the Cincopa button while editing a page or article will open up the music player creation wizard which will guide you through the set up process: select a skin, upload your media, and generate the shortcode which you will insert into your page.</p>
	<h3>Drupal Music Player Module</h3>
	<p>Cincopa also makes it easy for you to create and install a music player on your Drupal site directly from your Drupal control panel. Create a new 'site/all/modules/'folder if you haven't done so already (the default modules folder at the top level of your Drupal installation is reserved for Drupal core modules only), upload the .zip file from Cincopa's Home page, and enable it from within Drupal. Create your music player, and embed it into any node with a single line of code generated for you by the Cincopa application. Your Drupal music player can be created, published, and displayed live on your site within minutes!</p>

</div>

	[include \media-platform\templates\start-now]
		
	[include \media-platform\templates\right-menu]

</div>