[template /design15/templates/content-page-new]

[title Welcome]
[rem user_must_login]

<style type="text/css">
body { background: transparent; }
</style>

<div class="landerSplash hasBg notInverse"><div class="ls-bg" style="background-image: url([static_file_url /design15/images/signup-bg.jpg]); background-position: center bottom;"></div>
    <div class="ls-content">
        <div class="ls-top">
            <div class="ls-top-left"><img itemprop="logo" src="[static_file_url /design13/images/logo.png]" alt="cincopa"></div>
            <div class="ls-top-right"><a class="btn ghost-blue">REQUEST DEMO</a></div>
        </div>
        <h1>Sign up now</h1>
        <h3>This will take a few seconds</h3>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div id="phoneForm" class="contentBox white">
                    <div class="fieldBox"><input class="fb-field" type="text" placeholder="Name..."></div>
                    <div class="fieldBox"><input class="fb-field" type="text" placeholder="Email..."></div>
                    <div class="fieldBox"><input class="fb-field" type="password" placeholder="Password..."></div>
                    <div class="fieldBox error"><div class="fb-msg danger">Required</div><input class="fb-field" type="text" id="domain" name="domain" title="Domain" placeholder="Website URL..."></div>
                    <div class="fieldBox">
                        <select id="profession" class="fb-field">
                            <option disabled selected>- choose an industry -</option>
                            <option value="Publisher">Publisher</option>
                            <option value="Personal &amp; Artist">Personal &amp; Artist</option>
                            <option value="Education">Education</option>
                            <option value="Marketing">Marketing</option>
                            <option value="E-commerce">E-commerce</option>
                            <option value="Agency">Agency</option>
                            <option value="Enterprise">Enterprise</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

                    <div class="fieldBox grouped">
                        <div>
                            <input class="fb-field" type="text" id="country_code" name="country_code" title="Country Code" placeholder="country code">
                            <!--<select class="fb-field">
                                <option>+40</option>
                                <option>+1</option>
                            </select>-->
                        </div>
                        <div><input class="fb-field" type="text" id="area_code" name="area_code" title="Area Code" placeholder="area code"></div>
                        <div><input class="fb-field" type="text" id="phone" name="phone" title="phone number" placeholder="phone number"></div>
                    </div>
                    <a class="btn emb-green block send">JOIN WITH EMAIL</a>
                    <div class="orSeparator"><div>or</div></div>
                    <a class="btn ghost-fbblue"><i class="icon-upload-facebook"></i><b>Join with Facebook</b></a>
                    <a class="btn ghost-red"><i class="icon-google-plus"></i><b>Join with Google+</a>


                </div>
            </div>
            <div class="col-md-2"></div>
        </div>


    </div>
</div>

<p class="textcenter">Already have an account? <a>Log in</a></p>

[include /media-platform/templates/footer15-small]

<script type="text/javascript">
var misc_vertical = "[get user_profile misc_vertical]";
var misc_phone = "[get user_profile misc_phone]";
var misc_domain = "[get user_profile misc_domain]";
var continueUrl = "[get url_param continue]";
if( continueUrl == '' )
    continueUrl = '/media-platform/start.aspx';

function checkInput(){
    var inputFlag = 0;
    $('.send').addClass('disabled');
    $('.fb-field').each(function(){
        if( $(this).val() != '' ){
            inputFlag = 1;
        }
    });
    
    if( inputFlag == 1 ){
       $('.send').removeClass('disabled');
    }
}
    
$(function(){
    
    setTimeout(function(){
        checkInput();
    }, 1000);
    
    $('.fb-field').on('change', function(){
      checkInput();
    });
    
    if( misc_phone != '' ){
        phone = misc_phone.split('-');
        $('#country_code').val(phone[0]);
        $('#area_code').val(phone[1]);
        $('#phone').val(phone[2]);
    }
    if( misc_domain != ''){
        $('#domain').val(misc_domain);
    }
    if( misc_vertical != ''){
        $('#profession option[value="'+misc_vertical+'"]').attr('selected', 'selected');
    }

    $('#phoneForm .send').click(function(){
        url = '';        
        if( $('#domain').val() != '' ){
            url += "&misc_domain=" + $('#domain').val();
        }
        if( $('#profession').val() != '' ){
            url += "&misc_vertical=" + $('#profession').val();
        }
        if( $('#country_code').val() != '' || $('#area_code').val() != '' || $('#phone').val() != '' ){
            url += "&misc_phone=" + $('#country_code').val() +'-'+ $('#area_code').val() +'-'+ $('#phone').val();
        }

        if( url == '' )
            location.href = continueUrl;
        else
        {
            url = '/cincopamanager/account_ajax.aspx?cmd=update_userprofile'+url;
            $.ajax({
                url: url,
                method: "GET",
                cache: false,
                dataType: 'json',
                success: function(data) {
                    location.href = continueUrl;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
    });
});
</script>

