[template /design15/templates/content-page-new]

[title ]
[meta_keywords ]
[meta_description ]


<div class="landerSplash hasBg notInverse"><div class="ls-bg" style="background-image: url([static_file_url /design15/images/signup-bg.jpg]); background-position: center bottom;"></div>
    <div class="ls-content">
        <div class="ls-top">
            <div class="ls-top-left"><img itemprop="logo" src="[static_file_url /design13/images/logo.png]" alt="cincopa"></div>
            <div class="ls-top-right"><a class="btn ghost-blue">REQUEST DEMO</a></div>
        </div>
        <h1>Sign up now</h1>
        <h3>This will take a few seconds</h3>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="contentBox white">
                    <div class="fieldBox"><div class="fb-msg success">Required</div><input class="fb-field" type="text" placeholder="Area code"></div>
                    <div class="fieldBox"><div class="fb-msg info">Required</div><input class="fb-field" type="text" placeholder="Area code"></div>
                    <div class="fieldBox error"><div class="fb-msg danger">Required</div><input class="fb-field" type="text" placeholder="Area code"></div>
                    <div class="fieldBox">
                        <select id="profession" class="fb-field">
                            <option disabled selected>- choose an industry -</option>
                            <option value="">Education</option>
                        </select>
                    </div>

                    <div class="fieldBox grouped">
                        <div>
                            <select id="profession" class="fb-field">
                                <option>+40</option>
                                <option>+1</option>
                            </select>                            
                        </div>
                        <div><input class="fb-field" type="text" placeholder="area code"></div>
                        <div><input class="fb-field" type="text" placeholder="phone number"></div>
                    </div>

                    <a class="btn emb-green block">JOIN WITH EMAIL</a>
                    <div class="orSeparator"><div>or</div></div>
                    <a class="btn ghost-fbblue"><i class="icon-upload-facebook"></i><b>Join with Facebook</b></a>
                    <a class="btn ghost-red"><i class="icon-google-plus"></i><b>Join with Google+</a>


                </div>
            </div>
            <div class="col-md-2"></div>
        </div>


    </div>
</div>







<p>Not sure? Contact our support: <a href="mailto:support@cincopa.com">support@cincopa.com</a></p>

