.mejs-captions-text {
	padding: 3px 5px;
	font-size: 18px;
	background-color: transparent;
	color: #fff;
	text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
	font-weight: 500;
}



.mejs-captions-text {
	padding: 3px 5px;
	background: rgba(20,20,20,0.8);
	font-size: 18px;
	background-color: transparent;
	text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
	font-weight: 500;
    color: #FDFF00;
    font-family: monospace;
}



.mejs-captions-text {
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 400;
    color: #020202;
    border-radius: 8px;
}