[template /design15/templates/content-page-new]

[title ]
[meta_keywords ]
[meta_description ]


<div class="landerSplash hasMedia salesforce" style="background: #0086be url([static_file_url /design15/images-new/splash-wp.png]) no-repeat center 40px;">
    <div class="ls-content">
        <h1>Cincopa WordPress Plugin</h1>
        <p>Adding video, audio and photos to your blog</p>
        <p><strong>No programming  •  Fully customisable  •  More then 100 templates</strong></p>
        [gallery AoIAMJd_cbRb]
    </div>
</div>


<div>
    <h2>Next steps</h2>
    <ol class="integrationSteps">
        <li class="is-item">
            <div class="is-img"><img src="[static_file_url /design15/images-new/nl-steps-05-wordpress.png]" /></div>
            <div class="is-text">Go to your WordPress Editor</div>
        </li>
        <li class="is-item">
            <div class="is-img"><img src="[static_file_url /design15/images-new/nl-steps-03-navigate.png]" /></div>
            <div class="is-text">Click on <b>"C" button</b> (C for Cincopa)</div>
        </li>
        <li class="is-item">
            <div class="is-img"><img src="[static_file_url /design15/images-new/nl-steps-lock.png]" /></div>
            <div class="is-text"><a href="https://www.cincopa.com/login.aspx">Login</a> or <a href="https://www.cincopa.com/register.aspx?">create an account</a> with Cincopa</div>
        </li>
        <li class="is-item">
            <div class="is-img"><img src="[static_file_url /design15/images-new/nl-steps-05-instructions.png]" /></div>
            <div class="is-text">Upload content, share and embed!</div>
        </li>
    </ol>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="contentBox white cp-mt0 js-equal">
            <h3>More Media Plugins for WordPress</h3>
            <p>The Cincopa suite of products is your complete multimedia solution for embedding music, videos, podcast and photos on your website or blog (or anywhere on the web!)</p>
            <ul class="arrList">
                <li><a href="https://www.cincopa.com/media-platform/wordpress-plugin/slideshow">Slideshow plugin</a></li>
                <li><a href="https://www.cincopa.com/media-platform/wordpress-plugin/photo-gallery">Photo Gallery plugin</a></li>
                <li><a href="https://www.cincopa.com/media-platform/wordpress-plugin/audio-player">Audion plugin</a></li>
                <li><a href="https://www.cincopa.com/media-platform/wordpress-plugin/podcast">Podcast plugin</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="contentBox white cp-mt0 js-equal">    
            <h3>How to use Cincopa WordPress Plugin</h3>
            <ul class="arrList circle">
                <li><a href="https://www.cincopa.com/media-platform/wordpress-plugin.aspx">What to do with Cincopa WordPress Plugin</a></li>
                <li><a href="https://www.cincopa.com/faq">Cincopa WordPress FAQ</a></li>
                <li><a href="https://www.cincopa.com/media-platform/wordpress-plugin.aspx">Cincopa FAQ</a></li>
            </ul>
        </div>
    </div>
</div>


<p class="bigger">Not sure? Contact our support: <a href="mailto:support@cincopa.com">support@cincopa.com</a></p>

[include /media-platform/templates/footer15-small]