@import "incl/variables-new";
@import "incl/utils";


#container { max-width: 100%; padding:0; }

@import "new/_featureBoxes.scss";

.header ~ .content-container { margin-top: 55px; }

.landerSplash {
	overflow: hidden; margin-bottom: 20px;
	.ls-content { max-width: 1200px; }
	.ls-controls { padding: 20px 0 30px 0; overflow: hidden; }
	.bx-controls {
		float: left; padding: 30px 0;
		.bx-controls-direction {
			a {
				font-size: 0; color: #fff;
				&:before { @include iconfont(); font-size: 32px; }
				&.bx-prev:before { content: "\e656"; }
				&.bx-next:before { content: "\e62d"; }
			}
		}
	}
	#bx-pager {
		float: right; direction: rtl;
		a {
			color: #fff; display: inline-block; padding: 20px 0; margin: 10px; border-bottom: 2px solid transparent;
			&.active { border-bottom-color: #fff; }
		}
	}
}

.featureBoxesSection {
	margin-bottom: 50px; padding-top: 20px;
}

#homeslider {
	.cincopa_promo_content {
		position: absolute; width: 100%; height: 100%; top: 0; width: calc(100% + 40px); margin-left: -20px; background: rgba(0,0,0,60/100);
		.overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	}
	#cincopa_promo { max-width: 800px !important; margin: 70px auto; z-index: 10; position: relative; }
	.closeBtn {
		position: absolute; top: 30px; right: 30px; margin-left: -1em; cursor: pointer; font-weight: 100; text-transform: uppercase; font-size: 0; color: #fff;
		&:hover { transform: scale(1.2,1.2); }
		&:before { content: "\e613"; font-family: 'cincopaicons'; font-size: 32px; vertical-align: middle; }
	}
	.icon-play { margin-left: 5px; margin-right: -5px; }
	// Davit 30.09.2016
	// .home_gallery{ width:80%; margin:0 auto}
	// .home_gallery_container{ width:100%; margin:0}
	// @media screen and (max-width: 820px) {
	// 	.home_gallery{width:100%;}
	// }
}