#container { max-width: 100%; padding: 0; }

.featureBoxesSection:before { content: ''; display: block; position: absolute; width: 100vw; height: 100%; background: #f00; top: 0; left: 50%; transform: translate(-50%, 0); z-index: 0; background: -moz-linear-gradient(left, #fbfbfb 0%, #fdfdfd 50%, #fbfbfb 100%); background: -webkit-linear-gradient(left, #fbfbfb 0%, #fdfdfd 50%, #fbfbfb 100%); background: linear-gradient(to right, #fbfbfb 0%, #fdfdfd 50%, #fbfbfb 100%); }

.featureBoxesItem { display: inline-block; vertical-align: top; width: 360px; padding: 30px; border: 1px solid #f2f2f2; border-radius: 4px; background: #fff; text-decoration: none; color: inherit; max-width: 30%; margin: 15px; flex-shrink: 1; position: relative; }
.featureBoxesItem .fbi-thumb { text-align: center; }
.featureBoxesItem .fbi-thumb img { max-width: 100%; }
.featureBoxesItem .fbi-title { font-size: 24px; color: #000; font-family: "Raleway", "Open Sans", Arial, sans-serif; font-weight: bold; text-align: center; margin-bottom: 25px; }
.featureBoxesItem .fbi-descr { font-size: 14px; color: #8D9399; text-align: center; }
.featureBoxesItem .fbi-readmore { color: #0086cf; text-align: center; font-size: 14px; font-weight: bold; position: absolute; bottom: 15px; width: 100%; left: 0; margin: 0 !important; }
.featureBoxesItem .fbi-readmore:before { content: 'Read more...'; }
.featureBoxesItem:hover { box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); }
.featureBoxes.cols-3 .featureBoxesItem { max-width: 33%; max-width: calc(33% - 30px); }
.featureBoxes.cols-4 .featureBoxesItem { max-width: 25%; max-width: calc(25% - 30px); }
@media (max-width: 800px) { .featureBoxesItem { max-width: 50% !important; max-width: calc(50% - 30px) !important; } }
@media (max-width: 520px) { .featureBoxesItem { max-width: 100% !important; } }

div.featureBoxesItem { box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); }

.featureBoxes { display: flex; flex-wrap: wrap; max-width: 100%; }
.featureBoxes.cols-4, .featureBoxes.cols-3, .featureBoxes.cols-2 { align-items: stretch; justify-content: center; }
.featureBoxes.cols-3 .featureBoxesItem { width: 33%; max-width: 33% !important; max-width: calc(33% - 30px) !important; }
.featureBoxes.cols-2 .featureBoxesItem { width: 50%; max-width: 50% !important; max-width: calc(50% - 30px) !important; }

.header ~ .content-container { margin-top: 55px; }

.landerSplash { overflow: hidden; margin-bottom: 20px; }
.landerSplash .ls-content { max-width: 1200px; }
.landerSplash .ls-controls { padding: 20px 0 30px 0; overflow: hidden; }
.landerSplash .bx-controls { float: left; padding: 30px 0; }
.landerSplash .bx-controls .bx-controls-direction a { font-size: 0; color: #fff; }
.landerSplash .bx-controls .bx-controls-direction a:before { font-family: 'cincopaicons'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; font-size: 24px; line-height: 1; vertical-align: middle; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 32px; }
.landerSplash .bx-controls .bx-controls-direction a.bx-prev:before { content: "\e656"; }
.landerSplash .bx-controls .bx-controls-direction a.bx-next:before { content: "\e62d"; }
.landerSplash #bx-pager { float: right; direction: rtl; }
.landerSplash #bx-pager a { color: #fff; display: inline-block; padding: 20px 0; margin: 10px; border-bottom: 2px solid transparent; }
.landerSplash #bx-pager a.active { border-bottom-color: #fff; }

.featureBoxesSection { margin-bottom: 50px; padding-top: 20px; }

#homeslider .cincopa_promo_content { position: absolute; width: 100%; height: 100%; top: 0; width: calc(100% + 40px); margin-left: -20px; background: rgba(0, 0, 0, 0.6); }
#homeslider .cincopa_promo_content .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
#homeslider #cincopa_promo { max-width: 800px !important; margin: 70px auto; z-index: 10; position: relative; }
#homeslider .closeBtn { position: absolute; top: 30px; right: 30px; margin-left: -1em; cursor: pointer; font-weight: 100; text-transform: uppercase; font-size: 0; color: #fff; }
#homeslider .closeBtn:hover { transform: scale(1.2, 1.2); }
#homeslider .closeBtn:before { content: "\e613"; font-family: 'cincopaicons'; font-size: 32px; vertical-align: middle; }
#homeslider .icon-play { margin-left: 5px; margin-right: -5px; }

/*# sourceMappingURL=hebrew.css.map */
