@import "incl/variables-new";

@import "incl/utils";


.navAppMode ~ .navStaticPages { margin-top: 59px; margin-bottom: -40px; }

.navAppMode ~ .landerSplash { padding-top: 80px !important; }
.navAppMode ~ .contentBox { margin-top: 80px !important; }

div#container.container { padding-top: 0 !important; }
.navAppMode ~ div#container.container { padding-top: 59px !important; }


html {
	background: #f0f3f4;
	// @include linear-gradient(#fff, #d2d9dd); // performance issues
	color: $font-color; font-family: $font-main, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.6; overflow-x: hidden;
}

body,
html { margin: 0; padding: 0; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

body b,
body i { font-family: inherit; }

body {
	position: relative; z-index: 0; background: transparent;
	&:after { 
		content: ''; display: block; position: absolute; bottom: 0; width: 100%; height: 1019px; left: 0; z-index: -1;
		background: center top; background-repeat: repeat-x; background-image: url(../images/newpages-bg.png);
	}
}

pre { background-color: #f5f5f5; padding: 10px 20px; border: 1px solid #eaeaea; overflow: auto; white-space: pre-wrap; }

$m: 30px;
.cp-mt0 { margin-top: 0 !important; }
.cp-mb0 { margin-bottom: 0 !important; }
.cp-mb-m { margin-bottom: $m; }
.cp-mt-m { margin-top: $m; }

h1,
h2,
h3,
h4 { color: #434a53; font-family: $font-accent, Helvetica, Arial, sans-serif; }

h1 { font-size: 30px; }
h2 { font-size: 30px; margin: 80px 0 30px 0; }

.container {
	max-width: 1200px; margin: 0 auto;
	padding: 0;
}

.rtl { direction: rtl; }

h2 {
	text-align: center;
	+ .contentBox { margin-top: 40px; }
}

p {
	&.commentNote { text-align: center; font-size: 14px; border-top: 1px solid #e4e6e8; padding-top: 20px; }
	&.bigger { font-size: 20px; text-align: center; margin-bottom: 2em; }
}

.btn {
    padding: 18px 15px; border-radius: 3px; transition: .2s ease all;
    i { color: inherit !important; font-size: 20px; margin: -6px 5px; position: relative; top: -2px; }
    >* { transition: none; }
	&.blue {
		@include horiz-gradient(#5389e8, #22b4e1); border: none; text-transform: uppercase; letter-spacing: .1em;
		&:hover { background: #5389e8; }
	}
	&.green {
		transition: none;
		&:hover { background: #42BD41; background-image: linear-gradient(-180deg, rgba(255,255,255,0.35) 0%, rgba(0,0,0,0.35) 100%); }
	}
	.primary {
		transition: none;
		&:hover { color: #fff; background: #0086CF; background-image: linear-gradient(-180deg, rgba(255,255,255,0.35) 0%, rgba(0,0,0,0.35) 100%); }
	}
	// ----
	&.ghost-fbblue {
		background: transparent; border: 1px solid #3c5a97; color: #3c5a97;
		&:hover { background-color: #3c5a97; color: #fff; }
	}
	// ----
	&.ghost-blue {
		background: transparent; border: 1px solid $color-blue; color: $color-blue; transition: none;
	}
	// ----
	&.ghost-red {
		background: transparent; border: 1px solid $color-red; color: $color-red;
		&:hover { background-color: $color-red; color: #fff; }
	}
	// ----
	&.ghost-yh {
		background: transparent; border: 1px solid #582987; color: #582987;
		&:hover { background-color: #582987; color: #fff; }
	}
	// ----
	&.ghost-aol {
		background: transparent; border: 1px solid #0069b4; color: #0069b4;
		&:hover { background-color: #0069b4; color: #fff; }
	}
	// ----
	&.emb-green {
		@include linear-gradient(#47bc49, #38963a); color: #fff; transition: none;
		&:hover { background: #42BD41; background-image: linear-gradient(-180deg, rgba(255,255,255,0.35) 0%, rgba(0,0,0,0.35) 100%); }
	}
	&.block { width: 100%; display: block; margin: 20px 0; }
	&.wide { min-width: 200px; }
}

.label {
	@include horiz-gradient(#ef8372, #fad244); border-radius: 20px; padding: 5px 10px;
	font-size: 13px; text-transform: uppercase; color: #fff; line-height: 1;
	display: inline-block; margin: 10px 0;	font-weight: bold;
}

ol.olList {
	list-style: none; counter-reset: ol_item;
	li {
    	counter-increment: ol_item; margin-bottom: 18px;
		&::before { content: counter(ol_item); display: inline-block; border: 1px solid #a3a6ab; border-radius: 20px; width: 26px; height: 26px; line-height: 26px; text-align: center; margin: 0 13px 0 -40px; }
	}
}
ul.ulList {
	list-style: none; padding-left: 20px; margin: .5em 0;
	li {
    	margin-bottom: 5px;
		&::before { content: '•'; font-weight: bold; color: #29abe2; display: inline-block; text-align: center; margin: 0 10px 0 -17px }
	}
	b { color: #434a53; text-decoration: underline; }
	&.bigger {
		li::before { font-size: 24px; line-height: .5; vertical-align: top; margin-top: .25em; }
	}
}
ul.arrList {
	list-style: none; font-size: 18px;
	li {
    	margin-bottom: 5px; color: #29abe2;
    	a {
    		text-decoration: none;
    		&:hover { text-decoration: underline; }
    	}
		&::before {
			// content: '🠚'; font-weight: bold;
			content: "\e62c"; font-family: "cincopaicons";
			color: #ba68c8; display: inline-block; text-align: center; margin: 0 15px 0 -40px; }
	}
	&.circle {
		li:before { border-radius: 16px; background: #ba68c8; color: #fff; width: 24px; height: 24px; line-height: 24px; }
	}
	&.tube {
		li:before { border-radius: 5px; background: #f2584a; color: #fff; width: 24px; height: 24px; line-height: 24px; content: "\e614"; }
	}
}
ul.squArrows {
	list-style: none; font-size: 18px; margin: 30px 0;
	li {
    	margin-bottom: 5px;
		&::before {
			content: "\e614"; font-family: "cincopaicons";
			display: inline-block; text-align: center; margin: 0 15px 0 -40px; }
	}
}

.orSeparator {
	text-align: center; margin: 15px 0; position: relative;
	&:before {
		content: ''; display: block; position: absolute; width: 90%; left: 5%; top: 50%; height: 1px;
		background: -moz-linear-gradient(-45deg, #ffffff 0%, #dfdfdf 50%, #ffffff 100%); // /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, #ffffff 0%,#dfdfdf 50%,#ffffff 100%); // /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, #ffffff 0%,#dfdfdf 50%,#ffffff 100%); // /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	>div { display: inline-block; position: relative; padding: 0 15px; background: #fff; }
}


@import "new/_forms.scss";

@import "incl/layout-sidemenu";
@import "incl/layout-sidemenu-loggedout";


// ----- 2016
@import "pages/lander";

@import "new/_landerSplash.scss";

@import "new/_integrationSteps.scss";


.contentBox {
	margin: 50px 10px; position: relative; overflow: hidden;
	background: #fff; color: $font-color; border-radius: 10px; box-shadow: 0 5px 20px rgba(0,0,0,.25);
	padding: 30px 40px;
	h2, h3 { text-align: left; margin: .5em 0 .25em; }
	.cb-watermark {
		font-family: 'Montserrat', Helvetica, Arial, sans-serif; font-size: 64px; letter-spacing: .1em; font-weight: bold; color: #f0f3f8; line-height: 1;
		position: absolute; bottom: -12px;
	}
	img { max-width: 100%; }
	&-graybox {
	   background: #f9f8f8; padding: 30px 40px; margin: -30px -40px 0 -40px;
	}
	.grayCol {
	    background: #f6f6f8; margin: -30px 0; padding: 30px 60px;
	    &:first-child { margin-left: -30px; }
	    &:last-child { margin-right: -30px; }
	}
	.grayWrap {
		margin: -30px 0; background: #f6f6f8; padding: 30px 60px;
		h3 { font-size: 18px; text-align: center; line-height: 1.2; font-weight: normal; }
		@media (max-width: 991px) {
	    	margin-left: -40px; margin-top: 20px;
		}
	}
	div:first-child>.grayWrap { margin-left: -40px; }
	div:last-child>.grayWrap { margin-right: -40px; }
	&.flat {
		border-radius: 3px; box-shadow: none;
		h3 { font-size: 24px; margin-bottom: 20px; }
	}
}

.quoteAuthor {
	display: table; width: 100%; margin: 20px 0;
	>div { display: table-cell; vertical-align: middle; }
	.qa-thumb {
		width: 80px;
		>div { width: 80px; height: 80px; border-radius: 40px; overflow: hidden; }
		img { max-width: 100%; height: auto; }
	}
	.qa-descr { padding-left: 20px; }
	h4 { font-size: 20px; font-weight: normal; margin: .2em 0; line-height: 1.2; text-transform: none; }
	p { font-style: italic; margin: .2em 0; }
}

.cincopa_promo_content {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 2000; display: flex; align-items: center;
    >.overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); }
}

.requestDemo {
	h2 { font-size: 32px;line-height: 1.2; font-weight: normal; margin: 45px 0 30px 0; }
	p.bigger { font-size: 22px; text-align: left; margin: 30px 0; }
}

@import "new/_recTrace.scss";
@import "new/_magento.scss";


@import "pages/static-footer";
