@import "incl/variables-new";

@import "incl/utils";

// @import "incl/forms-2017";


body b,
body i { font-family: inherit; }

.green { color: $color-green; }
.blue { color: $color-blue; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.smaller { font-size: .9em; }
p.bigger { font-size: 1.35em; }

p>b { font-weight: bold; }

img.img-raised { box-shadow: 0 3px 40px rgba(#000, .7); border-radius: 4px; }

object { max-width: 80%; max-width: 80vw; max-height: 55vh; }  // svg images on lander pages

hr {  border: none; border-top: 2px solid #d2d9e2; margin: 10px -20px; }

.col-md-12 { max-width: 1100px; }

@media (min-width: 768px) {
	div[class*="col-md"] {
		h1, h2, h3, h4 { &:first-child { margin-top: 0; } }
	}
}

// ---------------------------
// STATIC PAGE HEADER
// ---------------------------
html, body { background: #fff; font-size: 16px; }
.header {
	.sitemap { display: block !important; visibility: visible; }
	/*.sitemap, .row1 { display: block !important; visibility: visible; }*/
//	.appnav { display: none !important; visibility: hidden; }
}
.headerBreadcrumbs {
	position: absolute; background: rgba(255,255,255,10/100); top: 80px; font-size: 12px; padding: 7px 15px; width: 100%; color: #aab2bc; z-index:80;
	a {
		color: inherit; text-decoration: none;
		&:hover { text-decoration: underline; }
	}
}
// ---------------------------
// STATIC PAGE HEADER
// ---------------------------

// div#container.container { padding-top: 80px !important; }

// /*.header {display: none; } //  DEBUG ONLY*/
.header {
	~ .content-container { margin-top: 80px; }
	@media screen and (max-width: 800px) {
		.appnav .hdrFullMenu { display: none !important; }
		&.loggedout { margin-bottom: -80px;	}
		~ .content-container { margin-top: 140px; }
	}
}
.content-container {
	padding: 0 20px 0 20px !important; overflow: hidden; z-index: 0; line-height: 1.5;
	img { max-width: 100%; height: auto; }
}

ul.list {
	padding-left: 0; list-style: none; font-size: 20px; margin: 1.5em 0;
	li {
		display: block; padding-left: 15px; position: relative; margin-left: -15px;
		&:before { color: #0187cf; vertical-align: middle; display: inline-block; content: "\e645"; font-family: 'cincopaicons'; font-size: 6px; left: 0; position: absolute; top: 13px; }
	}

}
.box,
.graybox,
.contentWrap { width: 100%; max-width: 1200px; margin: 0 auto; @include clearfix(); }
h2 {
	font-size: 2.15em; line-height: 1.2; font-weight: bold; text-align: center;
	b { font-weight: bold; }
	i { font-style: italic; }
}
.maxw-680 { max-width: 680px !important; margin-left: auto; margin-right: auto; }
.maxw-1010 { max-width: 1010px !important; margin-left: auto; margin-right: auto; }

.pageContentWrap { max-width: 1280px; margin: 0 auto; }


.box { margin: 30px auto; }
pre { background-color: #f5f5f5; padding: 10px 20px; border: 1px solid #eaeaea; overflow: auto; white-space: pre-wrap; }


@import "pages/static-footer";
@import "incl/layout-sidemenu-loggedout";


@import "pages/old-pages-steps";
@import "pages/old-pages-support";


// @import "pages/static-home-2017";
// @import "pages/home.homeslider";
// @import "pages/home.home_title";
// @import "pages/home.clienttypesArea"; // is it safe to remove?
// @import "pages/home.bigsplashbuttonsArea"; // is it safe to remove?
// @import "pages/home.homeplatformhoney"; // is it safe to remove?
// @import "pages/home";
// @import "pages/home.testimoniesList";
// @import "pages/home.testimoniesList16"; // is it safe to remove?
// @import "pages/home.homeSection"; // is it safe to remove?

// @import "pages/home2018";

@import "pages/home2018-2";

@import "pages/slideshows";
@import "pages/video";
@import "pages/videohosting";
@import "pages/videoportal";
@import "pages/musicplayer";
@import "pages/plans.packagesHeadWrap";
@import "pages/plans.packagesHead";
@import "pages/plans.packagesBoxes";
@import "pages/plans.startup-popup";
@import "pages/plans.mContent";
@import "pages/plans";
@import "pages/unlimited";
@import "pages/digital";

@import "pages/reglogin";

// ----- 2016
@import "pages/lander";

@import "pages/ott";

// 2017 new pages
@import "new/landerSplash";
@import "new/featureBoxes";

@import "pages/team.ourTeamList";


.splashArea01.music01 { background-color: #7E232C; background-image: url('/_cms/design15/images/music-splash01.jpg'); }
.splashArea01.slideshow01 { background-color: #000000; background-image: url('/_cms/design15/images/slideshows-splash01.jpg'); }
.splashArea01.slideshow02 { background-color: #0E4C71; background-image: url('/_cms/design15/images/slideshows-splash02.jpg'); }
.splashArea01.slideshow03 { background-color: #0F3E75; background-image: url('/_cms/design15/images/slideshows-splash03.jpg'); }
.splashArea01.videoportal01 { background-color: #26214A; background-image: url('/_cms/design15/images/videoportal-splash02.jpg'); }
.splashArea01.video01 { background-color: #592041; background-image: url('/_cms/design15/images/videos-splash01.jpg'); }
.splashArea01.video02 { background-color: #044973; background-image: url('/_cms/design15/images/videos-splash02.jpg'); }
.splashArea01.wordpress { background-color: #0B445F; background-image: url('/_cms/design15/images/wordpress-splash01.jpg'); }
.splashArea01.joomla { background-color: #365186; background-image: url('/_cms/design15/images/joomla-splash.jpg'); }
.splashArea01.podcast01 { background-color: #947070; background-image: url('/_cms/design15/images/podcast-splash01.jpg'); }
.splashArea01.podcast02 { background-color: #293A4C; background-image: url('/_cms/design15/images/podcast-splash02.jpg'); }
.splashArea01.podcast03 { background-color: #155E89; background-image: url('/_cms/design15/images/podcast-splash03.jpg'); }
.splashArea01.podcast04 { background-color: #325da4; background-image: url('/_cms/design15/images/splash-podcastplayer.jpg'); }
.splashArea01.podcast_jquery { background-color: #325da4; background-image: url('/_cms/design15/images/splash-podcastplayer-jquery.jpg'); }
.splashArea01.features01 { background-color: #365186; background-image: url('/_cms/design15/images/features-splash01.jpg'); }
.splashArea01.solutions { background-color: #095297; background-image: url('/_cms/design15/images/solutions-splash.jpg'); }
.splashArea01.slideshow_html5 { background-color: #365186; background-image: url('/_cms/design15/images/slideshow-splash-html5.jpg'); }
.splashArea01.slideshow_jquery { background-color: #365186; background-image: url('/_cms/design15/images/slideshow-splash-jquery.jpg'); }
.splashArea01.audio_jquery { background-color: #842013; background-image: url('/_cms/design15/images/splash-audioplayers-jquery.jpg'); }
.splashArea01.audio_html5 { background-color: #842013; background-image: url('/_cms/design15/images/splash-audioplayers-html5.jpg'); }



.skinsList .skinsList { margin: 0; }

.skinsList {
	max-width: 1390px;
	ol { margin: 0; padding: 0; }
	@media screen and (max-width: 1650px) { max-width: 1390px; }
	@media screen and (max-width: 1425px) { max-width: 1130px; }
	@media screen and (max-width: 1150px) { max-width: 825px; }
	@media screen and (max-width: 875px) { max-width: 555px; }
}

.skinsPage {
	.skinsList { max-width: 1090px; }
	.skinsList .skinsSection { border: none; }
	.skinsList .skinsSection h3 { display: none; }	
	.skinPreviewArea.singleSkinPreview { max-width: 1090px; }
	p { text-align: center; }
}


@import "pages/skins.popularSkins";


.skinfamiliesPromo {
	p { font-size: 22px; text-align: center; }
}
.familiesList {
    display: block; list-style: none; margin: 30px 0;
    li { display: inline-block; vertical-align: top; width: 235px; margin: 25px 40px; text-align: center; }
    .thumb { position: relative; }
    .img { padding: 4px 3px; background: #fff; border: 2px solid #d9d9d9; border-radius: 3px; }
    .skinsCounter { position: absolute; background: #616166; color: #fff; border-radius: 15px; font-size: 14px; line-height: 1; padding: 4px 10px; top: -5px; right: -5px; }
    .title { font-size: 18px; font-weight: normal; margin: 18px 0 10px 0; }
    .descr { font-size: 14px; max-height: 3em; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; }
}

.startNowSmall { text-align: center; background: #F1F1F1; padding: 15px; margin: -33px auto 30px auto; }




// Press page
.pageContentWrap.pressArea {
	max-width: 740px; padding: 60px 0;
	hr { margin: 0 15px; }
}
.pressItem {
	clear: both; overflow: hidden; margin: 15px 0; transition: .7s ease all; padding: 15px; min-height: 90px;
	display: table; width: 100%; table-layout: fixed;
	>* { display: table-cell; vertical-align: middle; }
	&:hover { box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15); }
	.thumb {
		width: 120px; padding-right: 20px;
		img { max-width: 100px; height: auto; font-size: 0; border: none; max-height: 100px; background: #f5f6f7; }
	}
	a { text-decoration: none; }
	h3.title {
		margin: 0 0 5px 0 !important; border-left: 3px solid #0086cf; line-height: 1.3; padding-left: 10px;
		a {
			color: inherit; text-decoration: none;
			&:hover { text-decoration: underline; }
		}
	}
	a.readmore {
		float: right; font-size: 15px; display: inline-block; opacity: .6; transition: .2s ease all;
		&:hover { opacity: 1; }
	}
	.date { font-size: 15px; float: left; display: inline-block; opacity: .5; }
}



// Case staties pages
.caseSidebar {
    font-size: 14px; margin: 10px auto; float: left; background: #f6f7fb; padding: 97px 30px 90px 30px; height: 100%; height: 100vh; left: 0; border-top: 1px solid #d8dadf; margin: 0; width: 300px; margin-right: -320px !important; position: relative; z-index: 5; position: fixed; top: 0; left: 0; overflow: auto; overflow-x: hidden; z-index: 0; border-right: 1px solid #d8dadf;
}
.caseContent {
	padding-left: 300px; padding-top: 20px; line-height: 1.7; max-width: 1050px;
	h3 {
		color: $color-blue; font-weight: normal; font-size: 22px;
		&:first-child { margin-top: 0; }
	}
	h2 { text-align: left; font-size: 26px; margin: 15px 0; }
	h4 { text-transform: none; font-size: 1.1em; }
	p { font-size: 17px; margin: .5em 0 1.6em 0; }
	img.shadowed { border: 10px solid #fff; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); border-radius: 2px; }
}
.featuresUl {
	display: block; list-style: none; margin: 1em 0; padding: 0;
	li {
		display: block; margin: 0; padding: 0;
		a { display: inline-block; background: #9ba5b7; color: #fff;     line-height: 1.2; padding: 3px 10px; margin: 2px 3px; border-radius: 2px; text-decoration: none; }
	}
}
@media screen and (max-width: 800px) {
	.caseSidebar,
	.caseContent { display: block; position: relative; width: auto; height: auto; padding: 10px 30px; margin: 10px -20px; float: none; }
	.featuresUl li { clear: none; float: none; display: inline-block; }
}


.whiteBannerbox {
	max-width: 1000px; margin: 60px auto; border-radius: 4px; background: #fff; padding: 40px; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	h3 { font-size: 28px; text-align: left; color: #106183; font-weight: normal; }
}


.styledVideo { border-radius: 8px; overflow: hidden; border: 3px solid #5d5c5c; box-shadow: 5px 5px 0 0 rgba(0,0,0,.1); box-shadow: 3px 3px 20px rgba(0,0,0,.2);}


@import "pages/hybridcloud.cpSolutionCard";
@import "pages/hybridcloud.cpCompareTable";

@import "pages/cpBrandAssets";

@import "pages/postPaymentSurvey";

