//  -----------------------------------------
//  init styles
//  -----------------------------------------
@import "incl/variables-new";
@import "incl/utils";
@import "incl/init";
@import "incl/grid";  // ported from bootstrap
//  -----------------------------------------
//  init styles
//  -----------------------------------------



//  -----------------------------------------
//  forms, small UI components
//  -----------------------------------------
@import "components/forms.select";
@import "components/forms.bubbleInfo";
@import "components/forms.btn";
@import "components/forms.checkBox";
@import "components/forms.radioBox";
@import "components/forms.collapsibleItem";
@import "components/forms.codeField";
@import "components/forms.inputDigital";
@import "components/forms.fieldItem";
@import "components/forms.fieldBox";
@import "components/forms.progressbar";
@import "components/forms.prgsLine";
@import "components/forms.dd-container";
@import "components/tooltipIcon";
@import "components/sIco";

@import "incl/forms-2017";
//  -----------------------------------------
//  forms, small UI components
//  -----------------------------------------



// Old header
@import "incl/layout-appheader";
@import "incl/layout-logoutheader";



//  -----------------------------------------
//  app pages layout
//  -----------------------------------------
@import "header/navAppMode"; // new 2018 header
@import "header/navStaticPages"; // new 2018 header

@import "incl/layout-sidemenu";
@import "incl/layout-lib_header";
//  -----------------------------------------
//  app pages layout
//  -----------------------------------------



.argumentValue.cp_disabled:after { background-color:transparent; }


.variation04, // it is for A/B variations (.variation01 is default)
.variation03,
.variation02 { display: none !important; }


// ======================================================
// ============   Icons additional names
.icon-instagram:before { content: "\e663"; }
.icon-facebook:before { content: "\e662"; }
.icon-dropbox:before { content: "\e660"; }
// ======================================================


#libraryContainer .emptySearchResult { width: 100%; height: 100px; text-align: center; margin-top: 50px; font-size: 20px; font-style: italic; font-weight: bold; }
 

// =====================================================
#dropdownTypes {
    width: auto !important;
    &.dd-container{
        .dd-options>li>a { white-space: nowrap; }
        .dd-options>li>a>label:before { @include iconfont(); width: 24px; height: 24px; margin-right: 10px; background: #0086cf; border-radius: 3px; color: #fff; }
        .dd-options>li>a>input[value="video"]+label:before { content: "\e614"; }
        .dd-options>li>a>input[value="audio"]+label:before { content: "\e615"; }
        .dd-options>li>a>input[value="image"]+label:before { content: "\e616"; }
        .dd-options>li>a>input[value="other"]+label:before { content: "\e617"; }
        .dd-options>li>a:hover>label:before { box-shadow: 0 0 5px rgba(0, 134, 207, 73/100); }
        .dd-options>li:first-child>a>label:before { display: none; }
        .dd-selected { padding-left: 0; }
        // .dd-selected:before { @include iconfont(); content: "\e606"; color: #9ba5b7; margin-top: -4px; margin-right: 5px; vertical-align: top; right: auto; top: auto; position: relative; }
        // .dd-selected:after { @include iconfont(); position: absolute; right: 0; top: 16px; margin-top: -7px; color: $color-blue; content: "\e601"; }
    } 
}
// =====================================================
#dropdownGalleries {
    width: auto !important; cursor: pointer;
    .dd-selected { padding-left: 0; }
    .dd-option label,
    .dd-option small { float: left; display: block; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
    .dd-selected:before { @include iconfont(); content: "\e60a"; color: #9ba5b7; margin-top: -4px; margin-right: 5px; vertical-align: top; right: auto; top: auto; position: relative; }
    .dd-selected:after { @include iconfont(); position: absolute; right: -5px; top: 16px; margin-top: -11px; color: $color-blue; content: "\e601"; }
}
// =====================================================




#tagsCloud {
	ul { display:inline-block; padding: 0; margin:0; list-style-type: none; line-height: 1.2em; font-size: 20px; vertical-align: middle; white-space: normal;   max-width: 100%; }
	li { display: inline-block; cursor: pointer; font-size: 13px !important; line-height: 1em !important; background: #85adc3; color: #fff; padding: .3em .5em; border-radius: 3px; margin: 2px; font-weight: bold;   max-width: 100%; text-overflow: ellipsis; overflow: hidden; }
	li:hover { background-color: #0086cf; }
	ul.hiddenTags {display: none; }
}

.all_tags_block > *,
.other_actions_block > *,
.last_added_grid_view > * { display: inline-block; vertical-align: middle; }

.all_tags_block {
    .show_less,
    .show_all {
        display: block; margin: 10px 0; color: #656d78; font-size: 13px;
        &:hover { color: $color-blue; }
        &[style="display: inline;"] { display: block !important; }
    }
    .all_tags { width: auto; max-width: 100%; }
}

 

.container { width: auto !important; }
.libraryContainer { clear: both; width: 100%; display: table; table-layout: fixed; border-collapse: collapse; border: 1px solid #d8dadf; border-left: none; background: #fff; }
.div_items_tags {
	.edit_active{ float: left; }
	.tags { clear: both; }
} 


// ---------------------
.container ~ .CodeMirror { margin-left: 300px; }
// ---------------------

noscript {position: absolute; z-index: -10; }


// ---------------------
@import "app-assets/library-line";
@import "app-assets/libraryContainer.assets_list";
@import "app-assets/libraryContainer.assets_grid";
@import "app-assets/library-line.mobile";
@import "pages/app-assets";
// ---------------------


@import "pages/app-asset-single";



// ---------------------
@import "app-galleries/libraryArea.galleriesArea";
@import "app-galleries/libraryContainer.galleriesList";
@import "app-galleries/galState";
@import "app-galleries/itemsDropdown";
@import "app-galleries/domainsList";
@import "app-galleries/analyticsDropdown";
@import "app-galleries/libraryContainer.galleries_grid";
@import "app-galleries/libraryContainer.galleriesList.mobile";
// ---------------------



// ---------------------
@import "app-startpage/skinsList";
@import "app-startpage/skinsList-item";
@import "app-startpage/skinsList.open-look";
@import "app-startpage/skinsList-mobile";
@import "app-startpage/skinsFilters";
// ---------------------



// ---------------------
@import "app-wizard/wizardSteps";
@import "app-wizard/fixedToolbar";
@import "app-wizard/skinPreviewArea.scss";
@import "app-wizard/skinEdit";
@import "app-wizard/skinEditorTabs";
@import "pages/app-wizard";
body.loggedout {
    .wizardSteps { top: 0 !important; }    
    .wizardSteps ~ .wizardArea { padding-top: 0 !important; }
    .fixedpreview { padding-top: 0 !important; }
    .skinPreviewArea.fixedpreview .previewModesToolbar { top: 10px !important; }
}
// ---------------------



@import "pages/app-skinpreview";


// ---------------------
@import "app-embed/embedFilters";
@import "app-embed/embedCodeArea";
@import "app-embed/embedCode";
p.infoP {
    color: #aab2bc; font-size: 12px; padding-top: 4px; padding-left: 26px; position: relative;
    .icon-info { position: absolute; left: 0; top: 0; }
    b { color: #434a53; }
}

.embedActionsRight { float: right; margin: 10px 0 10px 10px; }

.faqArea {
    padding: 20px;
    h4 { text-transform: none; margin-top: 0; font-size: 15px; }
}
// ---------------------


// ---------------------
@import "app-upload/uploadWays";
@import "app-upload/uploadArea";
@import "app-upload/uploadMethod";
@import "app-upload/uploadItem";
@import "app-upload/uploadItems.grid";
@import "app-upload/uploadItems.grid.smaller";
@import "app-upload/embedContent";
@import "app-upload/uploadSearchArea";
@import "app-upload/itemsContent";
@import "app-upload/other";
// ---------------------



// -- all site modals styles
@import "components/modal";

.contactUsPopWindow {
    .fieldItem { margin-top: 0; }
    .modalContainer .modalFooter { margin: -13px -25px -25px -25px; padding: 15px 25px; border-top: 1px solid #d8dadf; }
}


// =======================================================
.char-left {font-size:11px; color:Gray; margin-right:10px; text-align: right; width: 120px; float: right; }
.asset_block {
  background-color: #FFFFFF; padding: 5px;
  table {/*max-width: 470px;*/ margin: 10px auto; table-layout: fixed; border-collapse: collapse; }
  div.head{display: inline;}
  div.filename { overflow: hidden; white-space: nowrap; -moz-binding: url('moz_overflow.xml#ellipsis'); -o-text-overflow: ellipsis; text-overflow: ellipsis; width: 230px; float: left; }
  input[type=text], textarea { margin-bottom: 3px; width: 350px; background-color: #FFFFFF; }
  textarea { height: 75px; }
}
.asset_block_head {color: #555555; padding-left: 10px; padding-right: 10px; text-align: right; vertical-align: top; }


.disabled { color: Gray; }
.cancelBtn  { margin-right: 10px; }


.searchInput {
    display: block !important; padding: 5px 10px; font-size: 13px; width: 100%;
    input[type='text'] { border: 1px solid #d8dadf !important;border-radius: 3px; box-shadow: inset 0 1px 4px #d8dadf; display:inline-block!important; width:100%!important; }
    p { padding: 0 10px; }
    &Create{color: #0086cf; cursor: pointer; }
}


// from footer 06.09.2016 by oren
.social {
    > div { display: inline-block; padding: 0 !important; margin: 5px !important; }
    .fb-like.fb_iframe_widget,
    > div > div { margin:0 !important; }
    #twitter-widget-0,
    #___plusone_0 { margin-top: 3px !important; vertical-align: top !important; }
    .fb-like.fb_iframe_widget > span { vertical-align: baseline; }
    .gp_share{ display: inline-block; background-repeat: no-repeat; padding-top: 7px; padding-left: 35px; margin: 5px auto; }
    .twt_share {display: inline-block; background-repeat: no-repeat; padding-top: 6px; padding-left: 35px; margin: 5px auto; }
}
.fb_share { background-repeat: no-repeat; margin: 5px auto; width: 120px; }
// from footer 06.09.2016






// !!! used at least on upload page, should check and list other pages to merge styles
.changePosterConfirmation { 
}
.simplemodal-changeThumb { text-align: center; }
@import "app-upload/posterGroup";
.itemPreview { position:relative; display: inline-block; padding: 5px; border: 1px solid #c7c8cd; border-radius: 3px; margin: 15px 0; box-shadow: 0 3px 5px rgba(#000, 15/100); }
// --------------------------------------------------



.previewVideo { margin: 0 auto; }

.poster_by_sec {}
.setThumbSec {margin: 0 3px;}
div#simplemodal-data table input.btn {margin-top: 20px;}



.cancelBtn  {margin-right: 10px;}
.tags .tagsinput {
    background: inherit;  border: none; overflow: auto; width: auto !important; height: auto !important; min-height: 0 !important; margin-bottom: 0;
    input { display: none; }
    .tag .removeTag { display: none; }
}
// =======================================================

// -------------------------------



.ze_password_input { height: auto !important; } // https://cincopa.slack.com/archives/D03101WB6/p1461780098000004



@import "incl/animations";





// -------- old preview pages to new design
.alternatives .cssselectblock { display: none; }
@media screen and (max-width: 700px) {
    .alternatives .cssselectblock { display: block; }
    .alternatives .cssselectblock select { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: .4em .6em; font-size: 1em; border: 3px solid #3390C5; margin-top: 1em; color: #3390c5; }
    .alternatives .cssbuttonsblock { display: none; }
}
// -------- old preview pages to new design





#divMiniIcons .cajita { background: transparent !important; }
.bigBox {
    height: auto !important; max-height: 90vh; overflow: auto; font-size: 14px; z-index: 150000 !important;
    .minimizedInternal & { height: 45px !important; }
    .questions_list {
        list-style: none; padding: 0;
        li { margin: 8px 0; }
    }
    span { font-size: 18px; }
    .collectBtn { float: none !important; }
    a.botMinimize { line-height: 20px; }
    a.botMinimize.plus { line-height: 27px; }
}

body>.intercom-container { z-index: 80000 !important; }

.activeInternalMessages{
    // #intercom-container #intercom-launcher {bottom:220px;}
    // &.minimizedInternal #intercom-container #intercom-launcher {bottom:100px;}  
} 
.alignright { float: right !important; }

.skinsList-item .cp-skin-preview-path { font-size: 12px; z-index: -10; position: absolute; top: 0; width: 100%; height: 100%; overflow: hidden; } // added for google Oren request


code { border: 1px solid #E0E0E0; padding: 10px 14px; color: #677484; font-size: 13px; font-family: "Courier New", Courier, monospace; resize: vertical; width: 100%; background: #fff; display: block; margin: 20px auto; max-width: 100%; }

.editorArea {
    z-index: 1500; position: relative; background: #F3F3F3; margin: 50px 0 0 0; padding: 20px; border-top: 1px solid #B5B5B5; border-bottom: 1px solid #B5B5B5; box-shadow: 0 0 20px rgba(0,0,0,.15); font-size: 13px;
    input { padding: 5px; }
}
.simplemodal-container .CodeMirror.cm-s-default { max-height: calc(90vh - 130px); max-width: calc(100vw); }

//  Davit for wizard/start pages
.preloaderDiv {
    background: #CCD0D9 url(/_cms/design13/images/grey_preloader.gif) no-repeat center center; width: 100%; height: 100%; display: block; position: absolute; z-index: 999; left: 0; top: 0; opacity: 0.9;
    .loadingText { font-size: 20px; color: #fff; font-style: italic; z-index: 9999; display: block; position: absolute; top: 53.5%; left: 0; width: 100%; text-align: center;   text-shadow: 1px 1px rgba(0, 0, 0, 19/100); }
}


.btn.getDemo{
    // color: #fff; background: #BAC2C8; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BAC2C8), color-stop(100%, #979DA2)); background-image: -webkit-linear-gradient(top, #BAC2C8, #979DA2);
    // background-image: -moz-linear-gradient(top, #BAC2C8, #979DA2); background-image: -ms-linear-gradient(top, #BAC2C8, #979DA2); background-image: -o-linear-gradient(top, #BAC2C8, #979DA2); background-image: linear-gradient(to bottom, #BAC2C8 0%, #979DA2 100%); border: 1px solid #BAC2C8; border-radius: 3px;
    padding: 14px 39px; margin: 16px 0;
}

.btn.freeTrial{
    color: #fff; background: #41BB40;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #41BB40), color-stop(100%, #359834)); background-image: -webkit-linear-gradient(top, #41BB40, #359834); background-image: -moz-linear-gradient(top, #41BB40, #359834); background-image: -ms-linear-gradient(top, #41BB40, #359834);
    background-image: -o-linear-gradient(top, #41BB40, #359834); background-image: linear-gradient(to bottom, #41BB40 0%, #359834 100%);  padding: 14px 36px; border: 1px solid #41BB40;  border-radius: 3px; margin: 0 0 16px 0;
}       
.btn.getDemo b,.btn.freeTrial b{color:#fff!important}


.cincopa_promo_cont_wrap {
    width: 620px!important; margin: auto!important; z-index: 10; position: fixed!Important; top: 50%; left: 0; right: 0; transform: translateY(-50%); max-width: 100%;
    .cp_closeBtn:before {content: "\e613"; font-family: 'cincopaicons'; font-size: 32px; vertical-align: middle; }
}
                                           

//.CodeMirror-linenumber { background-color: #aaa; }