.embedCodeArea .embedCode-content{ padding:0; margin:0; }
.embedCodeArea .embedCode-content > div:not(.landing){margin: 30px 30px 20px 30px}


.embedCodeArea {
	min-height: calc(100vh - 420px);
	.goToGalleries { margin-left: 20px; }
	.embedCode-head {
		padding: 10px 20px; background: #fff; font-size: 14px; border-radius: 4px 4px 0 0; border-bottom: 1px solid #d8dadf; @include clearfix(); text-align: center;
		.headRight,
		.headLeft,
		.headCenter { display: inline-block; }
		.headRight,
		.headLeft { width: 40%; width: calc(50% - 135px); min-height: 1px; }
		.headRight { float: right; text-align: right; position: relative; }
		.headCenter,
		.headLeft { float: left; text-align: left; }
		.headLeft { padding-right: 5px; }
		h3 { margin-top: 0; margin-bottom: 0; }
		h3+p { margin-top: 0; }
		p { margin-bottom: 0; color: #aab2bc; font-size: 14px; }
		.headCenter .btn {
			padding: 5px 14px; 
			>i { font-size: 40px; }
		}
		// .btn.active {
		// 	background: #656d78 !important; border-color: #656d78; box-shadow: 0 2px 10px #656d78 !important; cursor: default; /*pointer-events: none;*/
		// 	i { color: #fff; }
		// }
		//.saveMessage { position: absolute; top: 40px; right: 28%; color: #aab2bd ; max-width: 500px; background: #fff; z-index: 500; padding: 2px 7px; font-size: 12px; margin: 0; box-shadow: 0 0 5px; border-radius: 5px; white-space: nowrap; border: 1px solid; margin-left: -8px; } // Davit
		.btn.save {
			position: relative; overflow: visible;
			.saveMessage { position: absolute; color: #aab2bd; max-width: 500px; background: #fff; z-index: 500; padding: 2px 5px; font-size: 11px; margin: 0; /*box-shadow: 0 0 10px rgba(0,0,0,.2); border-radius: 2px;*/ white-space: nowrap; /*border: 1px solid #ccc;*/ font-weight: normal; pointer-events: none;   top: 100%; margin-top: 2px; margin-left: -30px; }
		}
		@media screen and (max-width: 1600px) {
			.headRight,
			.headLeft,
			.headCenter { width: auto; }
		}
	}	
	.embedCode-content {
		padding: 20px 30px; font-size: 14px; color: #aab2bc; margin: 10px 0;
		p { margin: 1em 0 1.2em 0; }
		h4 { text-transform: none; font-weight: normal; margin: .5em 0; }
	}
	.codeSnippet {
		input { color: #aab2bc; @include font-monospace(); border: 1px solid #aab2bc; padding: 10px; }
	}
	.copyBtn { min-height: 41px; min-width: 110px; }
	.primary2 { min-width: 155px; }
	@media screen and (max-width: 800px) {
  		margin: 20px 0;	padding: 0 20px;
		.headRight,
		.headCenter,
		.headLeft { float: none; max-width: 100% !important; margin: 10px 0; }
		.headCenter button { display: none; }
		.embedCode-content { padding: 0; }
		.embedCode-head { padding: 10px 20px; margin: 0 -20px; }
	}
	@media screen and (min-width: 1350px) {
		.embedCode-head.fixed {
			position: fixed; top: 153px; border-top: 1px solid #ddd; z-index: 90; width: 100%; left: 0; padding: 10px 15px 10px 320px;
			+ .embedCode-content { padding-top: 90px; }
		}
	}
	@media (max-width: 991px) { .col-md-6 {clear: both;} }
}



.embedCodeArea .landing-list-container { background:#fff; }
.embedCodeArea .landing-list-container .library-line{ width: 100%; display: block; }
.embedCodeArea .landing-list-container .all_actions_block{ margin-top:15px }
.embedCodeArea .landing-list-container .library-line .thumb{ width: 350px; float: left; }
.embedCodeArea .landing-list-container .library-line .thumb > div{ width: 288px; height: 180px; max-height:none }
.embedCodeArea .landing-list-container .library-line .item_name_desc{ width: auto; padding:5px; padding-top: 64px; overflow: hidden;}
.embedCodeArea .landing-list-container .library-line > * { padding: 20px 40px 60px; height:260px; display:block }
.embedCodeArea .landing-list-container .library-line .thumb img{ height:100%!important }
.embedCodeArea .landing-list-container .library-line .thumb > div{ padding:0 }
.embedCodeArea .landing-list-container .library-line .thumb > div:before{ display:none }
.embedCodeArea .landing-list-container .library-line .caption a:hover{ opacity: 0.7 }
.embedCodeArea .landing.row{ margin-left:0; margin-right:0 }
.embedCodeArea .landing.row >div{ padding:0 }
.embedCodeArea .create_landing{ margin:40px 30px }
.embedCodeArea .landing-empty .icon-landing-empty{ display: block; width: 400px; height: 110px; margin: 10px auto; max-width: 100%; background: center center no-repeat; background-size: contain; background-image: url("//www.cincopa.com/_cms/design15/images/landing-page-empty-illustration.png"); }
.embedCodeArea .landing-empty > div { display: inline-block; vertical-align: middle; max-width: 100%; }
.embedCodeArea .landing-empty { padding: 5px 15px; height: 300px; min-height: calc(100vh - 365px); position:relative; text-align:center }
.embedCodeArea .landing-empty:after { display: inline-block; vertical-align: middle; width: 0; content: ''; height: 100%; min-height: calc(100vh - 395px); }
@media screen and (max-width: 680px){
	  .embedCodeArea .landing-list-container .library-line > * { float: none!important; width: 100% !important; text-align:center !important}
	  .embedCodeArea .landing-list-container .library-line .item_name_desc{ padding-top:0; height:auto; margin-bottom:36px!important }
	  .embedCodeArea .landing-list-container .library-line .thumb > div{ margin:0 auto }
}	
@media screen and (max-width: 540px){
	   .embedCodeArea .landing-list-container .library-line .all_actions_block { text-align: center !important; }
	   .embedCodeArea .landing-list-container .library-line > *{ padding: 20px 5px 60px; margin:0 !important }
}								
