.embedCode {
	&.ebay {
		.col-md-6 p {
			min-height: 2.75em;
			@media screen and (max-width: 1550px) { min-height: 4.15em; }
			@media screen and (max-width: 1220px) { min-height: 5.5em; }
		}
		@media screen and (max-width: 1300px) and (min-width: 990px) { .col-md-6 h4.label > span { min-height: 3em; } }
	}
	&.html {
		.col-md-6 { padding-right: 30px; padding-left: 30px; @include clearfix(); }
		.col-md-6:first-child { padding-left: 15px; }
		.col-md-6:last-child { padding-right: 15px; border-left: 1px solid #d8dadf; }
		.col-md-6 p {
			min-height: 2.75em;
			@media screen and (max-width: 1550px) { min-height: 4.15em; }
			@media screen and (max-width: 1220px) { min-height: 5.5em; }
		}
		@media screen and (max-width: 1300px) and (min-width: 990px) { .col-md-6 h4.label > span { min-height: 3em; } }
	}
	input.codeField { width: 80%; width: calc(100% - 150px); padding: 12px; vertical-align: middle; }
	textarea.codeField {
		margin-bottom: 15px; height: 15em;
		+button { margin-left: 0; }
	}
	.copyStatus { top: auto; left: auto; z-index: 5; margin-left: -147px; margin-top: -25px; }
	@media screen and (max-width: 800px) {
		input.codeField { width: 100%; }
	}
}
