// -----------------------------------------
.libraryContainer.galleriesList .analyticsDropdown {
	display: none;
	> td { border: 2px solid #aab2bc; padding: 0; }
	p {
		color: #656d78; font-size: 13px;
		> b { color: #434a53; font-weight: 600; }
		> b.marked { color: #656d78; font-weight: inherit; background: #fff87d; }
	}
	.statChart_head,
	.itemsDropdown_head {
		background: #fff; border-bottom: 1px solid #d8dadf; margin: 0; padding: 12px 15px; text-align: center; position: relative;
		> * { font-size: 13px; }
		.headLeft { float: none; }
		&:after { content: ''; background: inline-image('images/arrtop.png'); width: 12px; height: 6px; position: absolute; top: 0; right: 65px; margin-top: -8px; }
	}
	.statChart_items,
	.itemsDropdown_items { max-height: 310px; overflow: auto; overflow-x: hidden; padding-right: 15px; margin-right: -15px; }

	.statChart_head,
	.itemsDropdown_head {
		padding: 9px 15px;
		.btn.trans { position: absolute; top: 15px; right: 5px; }
	}
	.domainsList { width: 25%; float: left; height: 100%; margin: 0; max-height: 100%; overflow: auto; overflow-x: hidden; background: #f6f7fb; max-height: 320px; }
	.content { margin: 0; min-height: 200px; width: 75%; float: left; border-left: 1px solid #d8dadf; position: relative; }
	.lwStat,
	.lmStat,
	.lyStat {
		width: 100%; height: 260px; max-width: 100%; max-height: 100%;
		.highcharts-container,
		.chart { max-width: 100%; max-height: 100%; width: 100% !important; height: 260px !important; }
	}
	.forPremiumUsersOnly {
		background: url('/_cms/design15/images/cincopaanalitycs.png') no-repeat left top; text-align: center; padding: 95px 20px;
		h2 { margin: 0 0 5px 0; font-size: 18px; }
		p { margin: 8px 0; }
		.upgrade.btn { text-transform: uppercase; }
	}
	@media screen and(max-width: 1100px) { .btn.toggle { min-width: 50px; } }
	.report_csv {
		float: right; margin-right: 30px; margin-left: 5px;
		b {  }
	}
}
