.domainsList {
	.emptyDomains { padding: 15px; text-align: center; font-size: 16px; }
	h3 { font-size: 13px; margin: 0; }
	.itemsDropdown_head { padding: 17px 15px; }
	.itemsDropdown_items { margin-left: -15px; }
	> ul,
	.itemsDropdown_items ul {
		display: table; border-collapse: collapse; padding: 0; margin: 0; width: 100%; width: calc(100% + 15px);
		> li { display: table-row; list-style: none;
			> * { display: table-cell; vertical-align: middle; white-space: nowrap; font-size: 13px; padding: 15px 10px; border-bottom: 1px solid #d8dadf; }
			> *:first-child { padding-left: 15px; }
			> *:last-child { padding-right: 15px; }
		}
		.counter { vertical-align: top; padding-left: 5px; padding-right: 0;
			> div { background: #aab2bc; color: #fff; display: inline-block; width: 1.6em; height: 1.6em; text-align: center; vertical-align: top; line-height: 1.6em; border-radius: 1em; font-size: 10px; }
		}
		.domains > * { display: block; max-width: 100%; overflow: hidden; text-overflow: ellipsis; cursor: pointer; }
		.domainname {
			font-size: 14px; font-weight: bold; color: $color-blue; text-decoration: none;
			&:hover { text-decoration: underline; }
			+ i { background: #ccd0d9; color: #fff; font-size: 14px; font-weight: bold; display: inline-block; padding: 0px 5px; border-radius: 10px; margin-left: 10px; }
		}
		.domainpage {
			font-size: 12px; color: #aab2bc; text-decoration: underline;
			&:hover { color: #656d78; }
		}
		.domains.expandable {
			.urlList { max-width: 0; @include transition(1s ease max-width); text-overflow: ellipsis; overflow: hidden; }
			.urlList.active { max-width: 600px; }
			.domainpage { display: none; }
			&.active .domainpage { display: block; }
			.domainname {
				color: #656d78;
				&:after { @include iconfont(); font-size: 16px; content: "\e629"; margin: -3px -5px -3px 2px; @include transition (.5s ease all); }
			}
			&.active a.domainname:after { transform: rotate(180deg); }
		}
		> li.total {
			> * { background: #fff; }
			.domainname {
				color: #967ed9;
				+ i { background: #967ed9;  }
			}			
		}
	}
}