.galState {
	font-size: 10px !important; display: inline-block; vertical-align: middle; color: #aab2bc; border: 1px solid; border-radius: 10px; line-height: 1em; padding: 2px 4px; position: relative;
	> i { color: inherit !important;
		&:before { @include iconfont(); font-size: 14px; margin: -5px 2px -5px 0; }
	}
	&.prepare { i:before { @include iconfont(); content: "\e61e"; font-size: 14px; @include animation-rotate(); } }
	&.ready { color: #8ec059; i:before { content: "\e621"; } }
	&.error { color: #ed5564; i:before { display: none; } }
	&.embed { color: #669933; i:before { content: "\e620"; } }
}
