// -----------------------------------------
.itemsDropdown {
	@include dropdownLook(); opacity:1; visibility: visible; overflow: visible; max-height: none; display: none;
	&:before { content: ''; display: inline-block; position: absolute; width: 12px; height: 10px; background: inline-image('images/drpdwn_arr.png'); top: -8px; right: 30px; }
	&.noheader {  }
	.content { margin: 15px 0; }
	p {
		color: #656d78; font-size: 13px;
		> b { color: #434a53; font-weight: 600; }
		> b.marked { color: #656d78; font-weight: inherit; background: #fff87d; }
	}
	.itemsDropdown_head {
		background: #f6f7fb; border-bottom: 1px solid #d8dadf; margin: 0; padding: 12px 15px; @include clearfix();
		> * { font-size: 13px; }
		.headRight { float: right; }
		.headLeft { float: left;
			.delete { margin-left: 0; padding-left: 0; display:none; }
		}
	}
	.dd-container {
		display: inline-block; font-size: inherit; margin: 0; vertical-align: middle;
		.dd-select { font-size: inherit; }
		.dd-selected { font-size: inherit; padding-top: 5px; padding-bottom: 5px; color: $color-blue; }
		.dd-selected:after { top: 0; }
	}
	.itemsDropdown_items { max-height: 360px; overflow: auto; overflow-x: hidden; }

	.itemsDropdown_controls {
		white-space: nowrap; text-align: center;
		.btn { min-width: 100px; }
	}
	
	// -----------------------------------------
	&.assetsList {
		right: 50%; margin-right: -35px; margin-top: -5px;
		.headRight > span { color: $color-blue; }
		.emptyAsset { padding: 15px; text-align: center; font-size: 16px; }
		.itemsDropdown_head .uncheck_all {
			cursor:pointer;display:none;top: 2px;position: relative;
		 	&:hover{text-decoration: underline;}
		}
	}
	&.assetsList .itemsDropdown_items ul {
		display: table; padding: 0; margin: 0; border-collapse: collapse;
		> li { display: table-row; list-style: none;
			> * { display: table-cell; vertical-align: middle; white-space: nowrap; font-size: 13px; padding: 10px 5px; }
		}
		.thumb {
			width: 40px; min-width: 40px;
			> div {
				width: 38px; height: 24px; background: #d8dadf; min-height: 24px; border-radius: 0; border-color: #d8dadf; box-shadow: none !important; padding: 0; border: none;
				&:before { display: none !important; }
				&:after { font-size: 12px; width: 12px; height: 12px; margin-top: -6px; margin-left: -6px; }
			}
			> div:after { @include iconfont(); color: #fff; position: absolute; display: none; width: 100%; height: 100%; font-size: 22px; background: #000; background: rgba(24, 24, 24, 20/100); border-radius: 0; left: 0; top: 0; margin: 0; }
		}
		li.music .thumb div:after { background: #d34552; display: block; content: "\e615"; }
		li.video .thumb div:after { /*background: #d16fae;*/ width: 18px; height: 18px; top: 50%; left: 50%; margin: -9px;  border-radius: 9px;  font-size: 18px; display: block; content: "\e614"; }
		li.unknown .thumb div:after,
		li.other .thumb div:after { background: #f0ba38; display: block; content: "\e617"; }


		.statItem {
			width: auto; padding: 0;
			div:first-child { font-size: 14px;
				i { font-size: 23px; }
				b { font-weight: 400; text-transform: uppercase; vertical-align: middle; margin-left: 3px; }
			}
		}
		.filename { color: #656d78; }
		.lastUpdated { color: #aab2bd; font-size: 11px; margin-top: -2px; }
		.actions { opacity: 0; }
		> li:hover {
			background-color: #f6f7fb;
			.filename { color: $color-blue; text-decoration: underline; }
			.actions { opacity: 1; }
			.hint {
				margin-left: -20px;
				&:after { left: 28px; }
			}
		}
		> li:first-child .actions a > .hint {
			top: 100%; height: 25px; bottom: auto; margin-top: 3px; right: 0; left: auto;
			&:after { top: auto; bottom: 100%; transform: rotate(180deg); right: 8px; left: auto; }
		}
		> li:first-child:last-child .actions a > .hint {
			top: 50%; margin-top: -22px; right: 100%;
			&:after { display: none; }
		}
		.btn > i { margin: 0; }
	}
	// -----------------------------------------
	&.deleteDropdown {
		z-index: 110; right: 310px; margin-top: 40px;
		&:before { left: 11px; right: auto; }
		p.counter { font-size: 18px; color: $color-red; font-weight: bold; text-align: center; }
	}
	// -----------------------------------------
	&.actionsMenu {
		.itemsDropdown_items > ul {
			display: block; margin: 0; padding: 0; list-style: none;
			li { display: block; margin: 0; padding: 0; border-bottom: 1px solid #d8dadf; }
			li:last-child { border-bottom: none; }
			li > a { display: block; margin: 0; padding: 13px 10px; font-size: 13px; color: #434a54; text-decoration: none; cursor: pointer; visibility: visible; opacity: 1; }
			li > a:hover { background: rgba(0,0,0,3/100); }
			li > a > * { vertical-align: middle; }
			li > a > i { color: inherit; }
			li a.delete { color: $color-red; i { color: $color-red; } }
		}
	}
	// -----------------------------------------
	// from Davit 06.09.2016
	&.tagsList {
	    left: 0; right: auto;
	    .fileTags & { left: -170px; }
	    .itemsDropdown_items {
	    	overflow: hidden;
	    	ul {
		        width:100%; display: block; padding: 0; margin: 0; border-collapse: collapse; overflow-x: hidden; max-height: 300px;
		        > li > * { display: table-cell; vertical-align: middle; white-space: nowrap; font-size: 13px; padding: 10px 10px; }
		        > li { width:100%; display: table-row; list-style: none; }
		        > li label {display: table-cell; }
		        > li:hover { background-color: #f6f7fb; }
		        > li .selected { width: 45px; }
	    	}
	    }
	}	
	&.domainsList { margin-top: -7px; right: 50%; margin-right: -35px; }
	::-webkit-scrollbar { width: 30px; border: 15px solid transparent; background-clip: padding-box; }
	::-webkit-scrollbar-track {background: #dedede; border: 10px solid transparent; background-clip: padding-box; border-radius: 15px; }
	::-webkit-scrollbar-thumb { background: #959595; border-radius: 15px; border: 10px solid transparent; background-clip: padding-box; }
	::-webkit-scrollbar-thumb:window-inactive { background: #b8b8b8; border: 10px solid transparent; background-clip: padding-box; }
}