// ==================================================
//               GALLERIES GRID VIEW
// ==================================================
.libraryContainer.galleries_grid .library-line {
// ==================================================
	display: inline-block !important; vertical-align: top; width: 287px; border: 1px solid #ccd0d9; margin: 10px; padding: 20px; padding-bottom: 50px; min-height: 380px;
	> * { display: block !important; border: none; width: auto; padding: 0; margin: 10px auto; max-width: 100%; }
	.galleryItems,
	.galleryStat { display: none !important; visibility: hidden; }
	.galleryThumb { padding-left: 0; position: static; border: none; margin-top: 0; }
	.all_actions_block { position: absolute !important; bottom: 15px; margin: 0 !important; }
	.item_name_desc {
		margin-bottom: 0; position: static;
		.description { min-height: 3.8em; }
	}
	.galleryId { margin-bottom: 0; }
	.filename .btn { margin:0; }
	.filename > span:first-child { width: 100%; }
	/*.filename[style="display: none;"] { display: block !important; visibility: hidden; }
	.changeName { position: absolute; margin-top: 6px; width: 91%; }*/
	.galState { float: left; clear: both; margin-top: 0; margin-bottom: 5px; }
	.all_tags { margin-top: 5px; height: 52px; }
// ==================================================
}
.libraryContainer.galleries_grid .analyticsDropdown { display: none !important; }
// ==================================================
