.libraryContainer.galleriesList .library-line {
// ==================================================

	.highcharts-container {max-width: 100%; }

	> * { padding: 30px 10px; border-bottom: 1px solid #d8dadf; }
	.galleryThumb {
		width: 285px; padding-left: 25px; vertical-align: top;
		.thumb {
			width: auto; display: inline-block; max-width: 100%;
			> div { z-index:5; width: 240px; height: 160px; max-height: 160px; max-width: 100%; box-shadow: none !important; }
			> div:before { border-width: 7px; }
			a { display: block; text-decoration: none; color: inherit; height: 100%; width: 100%; }
			&:hover > div > a:after { font-family: inherit; content: 'Preview'; color: #fff; position: absolute; display: block; width: auto; height: auto; font-size: 10px; background: #000; background: rgba(24, 24, 24, 62/100); border-radius: 20px; left: 50%; top: 50%; margin: -8px 0 0 -3em; text-transform: uppercase; padding: 5px 10px; }
			//.previewGallery { display: none; position: absolute; color: #fff; width: auto; height: auto; font-size: 10px; background: #000; background: rgba(24, 24, 24, 62/100); border-radius: 20px; left: 50%; top: 50%; margin: -8px 0 0 -3em; text-transform: uppercase; padding: 5px 10px; z-index: 5; text-decoration: none; }
			//&:hover .previewGallery { display: block; }
			&:after,
			&:before { content: ''; display: inline-block; position: absolute; width: 100%; height: 100%; border: 1px solid #c7c8cd; top: 2px; z-index: 2; left: 2px; border-radius: 3px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
			&:after { top: 4px; left: 4px; }
		}
		&.landscape img { height: 100% !important; width: auto !important; max-width: none !important; min-height: 100% !important; }
		&.portrait img { height: 100% !important; width: auto !important; max-width: 100% !important; max-height: 100% !important; min-width: 0; }
		.all_actions_block {
			margin-top: 10px; position: relative; margin-bottom: -15px;
			> a { visibility: visible; opacity: 1; margin: 4px 5px; }
			> a.edit { margin-left:0; }
			> a.more { margin-right:0; }
			.share_action { display: none; visibility: hidden; }
			.itemsDropdown { width: 240px; left: 9px; }
		}	
	}

	// -----------------------------------------
	.item_name_desc {
		.filename {
			padding-right: 0; white-space: normal; color: #434a54 !important; overflow: visible; width: 100%;
			> span:first-child {   white-space: nowrap; padding-right: 36px; max-width: 100%; display: inline-block; vertical-align: middle; overflow: hidden; text-overflow: ellipsis; }
			.changeLink { margin-left: -32px; vertical-align: middle; line-height: 24px; }
		}
		.caption { display: none; }
		.description { clear: both; }
		.galleryId,
		.lastUpdated {
			display: block; float: none; margin: 0; color: #ccd0d9; width: auto; clear: both; height: auto;
			> * { color: inherit !important; }
			> div { vertical-align: middle; position: static; display: inline-block; background: transparent; border: none; box-shadow: none; margin: 0; padding: 0; width: auto; font-size: 12px; }
		}
		.lastUpdated { margin-top: 10px; }
		.galleryId { margin-bottom: 10px; }
	}
	.tagsinput {
		min-height: 1.7em !important; clear: both;
		> div { display: inline-block; width: 6em; margin: 0 5px; }
		.tags_clear { display: none; }
		input { display: block; width: 100%; border: none; font-size: 12px; font-style: italic; border-left: 2px solid transparent; padding: 2px 5px; outline: none !important;
			@include placeholder(){ color: #aab2bc; font-style: italic; text-decoration: underline; }
			&:focus { border-color: $color-blue; }
		}
		.tag .removeTag { display: inline-block; }
	}

	// -----------------------------------------
	.changeName {
		width: 100%; margin-bottom: -2px; display: none;
		form { display: inline-block; max-width: 100%; position: relative; padding-right: 74px; width: 100%; margin-top: -6px; margin-left: -7px; }
		input { display: block; width: 100%; border: 1px solid #ddd; padding: 6px; font-weight: bold; font-size: 18px; }
		input + div {
			display: inline-block; position: absolute; right: 0; top: 0;
			a { display: inline-block; width: 32px; height: 32px; vertical-align: middle; background: $color-green; font-size: 0; text-align: center;
				&:before { @include iconfont(); content: "\e621"; color: #fff; line-height: 30px; }
				&[onclick^="cancel"] { background: #f6f7fb; &:before { color: #656d78; content: "\e613"; } }
			}
		}
	}
	// -----------------------------------------
	.galleryItems {
		width: 220px;
		> div { border: 1px solid #d8dadf; border-top: none; border-bottom: none; min-height: 200px; margin: 0 -10px; padding: 30px 30px; }
	}
	.galleryDomains,
	.galleryFiles {
		margin: 15px auto; display: block; max-width: 150px; cursor: pointer; position: relative;
		> i { font-size: 40px; color: #ccd0d9; margin-right: 5px; }
		> * { vertical-align: middle; }
		&:hover span { text-decoration: underline; }
		&.active,
		&:hover { color: $color-blue;
			> i { color: $color-blue; }
		}
	}
	// -----------------------------------------
	.galleryStat {
		width: 400px;
		> .chart,
		> div#chart { max-width: 100%; max-height: 100%; height: 145px !important; margin-bottom: -20px; }
		.totalInfo { white-space: nowrap; text-align: center; }
	}

	// ---------------
	.statItem {
		display: inline-block; vertical-align: top; color: #ccd0d9; min-width: 5em; font-size: 12px; text-align: center; padding: 15px 5px; max-width: 40%;
		div:first-child {
			color: #434a54; font-size: 36px; font-weight: 300; white-space: nowrap;
			i { font-size: 40px; color: inherit; }
		}
		&.more div:first-child i {font-size: 49px}
		small { font-size: .6em; }
		&.more:hover { cursor: pointer; i { text-shadow: 0 0 3px; } div:last-child { text-decoration: underline; }  }
		&.active * { color: $color-blue; }
	}
	.statItem.weekly div:first-child { color: #967bdc; }
	.statItem.galleries div:first-child { color: #d870ad; }
	.statItem.traffic div:first-child { color: #ff6600; }
	.statItem.more div:first-child { color: #1587cc; }
	// ---------------


	.createGalleryNow {
		height: 500px; height: calc(100vh - 155px);
		> div { text-align: center; }
		h2 { font-weight: 100; font-size: 24px; margin: 15px 0; }
	}




// ==================================================
}



.libraryContainer.galleriesList .library-line ~ .library-line ~ .library-line:nth-last-child(2),
.libraryContainer.galleriesList .library-line ~ .library-line ~ .library-line:last-child { // Selecting last, but not 1,2
	.itemsDropdown {
		top: auto; bottom: 100%;
		&:before { bottom: -8px; top: auto; transform: rotate(180deg); }
	}
}
