.libraryArea.galleriesArea { padding-bottom: 50px; }
.libraryArea.galleriesArea .library-head {
	.headRight { max-width: 70%; }
	.headLeft { max-width: 30%; }
	#dropdownOrder {
		border-right: 1px solid #d8dadf; padding-right: 5px; max-width: calc(100% - 200px); width: 190px !important;
		.dd-selected { font-size: 16px; }
	}
	.btn.bluetext { font-size: 16px; }
	.searchbox { margin-left: 0 !important; border: none; }
	@media screen and (max-width: 1000px) and (min-width: 801px) {
		.headLeft { min-width: 155px; }
		.searchbox {
			max-width: calc(100% - 5px);
			.search_input { font-size: 16px; }
		}
		#dropdownOrder {
			width: auto !important;
			.dd-selected-text { font-size: 16px; }
		}
		.btn.trans.bluetext { font-size: 16px; margin: 0; }
	}
}
