@media screen and (max-width: 1500px) and (min-width: 800px) {
	.libraryContainer.galleriesList .library-line {

		.galleryItems { width: 180px;
			> div { padding: 20px 0; }
		}
		.galleryStat {
			width: 360px;
			> #chart,
			> .chart { margin-bottom: -10px; }
		}
		.galleryFiles,
		.galleryDomains {
			text-align: center;
			span { display: block; font-size: 14px; }
		}
		.statItem {
			padding: 10px 5px 0 5px;
			div:first-child { font-size: 24px; }
			&.more div:first-child i {font-size: 40px}
		}
	}
}
@media screen and (max-width: 1300px) and (min-width: 800px) {
	.libraryContainer.galleriesList .library-line {

		.galleryItems { width: 150px; }
		.galleryStat { width: 250px;
			.totalInfo { white-space: normal; }
		}
		.statItem {
			padding: 10px 2px 0 2px; font-size: 10px; min-width: 5em;
			div:first-child { font-size: 18px; i { font-size: 30px; } }
			&.more div:first-child i {font-size: 30px}
		}
	}
}
@media screen and (max-width: 1200px) and (min-width: 800px) {
	.libraryContainer.galleriesList .library-line {
		// display: block;
		> * { display: inline-block; width: 47%; border: none; vertical-align: top; }
		.galleryItems > div,
		> td > div { padding:0; min-height: 0; }
		.galleryThumb { padding-left: 10px; }
		.galleryThumb,
		.galleryItems,
		.galleryStat { text-align: center; width: 47% }
		.statItem { font-size: 12px; min-width: 5em; }
		.galleryDomains,
		.galleryFiles { display: inline-block; padding: 15px; margin: 0; }
		.galleryStat { padding-top:0; }
		.item_name_desc { padding-bottom: 0; }

		.itemsDropdown.assetsList {
			left: -350px; right: -220px;
			&:before { right: 290px; }
		}
		.itemsDropdown.domainsList {
			left: -200px; right: -50px;
			&:before { right: 130px; }
		}
	}
	.libraryContainer.galleriesList.galleries_grid .library-line {
		> * { width: auto; }
	}
	.analyticsDropdown[style="display: table-row;"] { display: block !important; width: calc(100vw - 250px); }
	.analyticsDropdown td { display: block; width: 100%; display: block; height: 313px; }
}


@media screen and (max-width: 800px) {
	.libraryContainer.galleriesList {
		overflow-x: hidden; display: block;
		>tbody,
		>tbody>tr { display: block; }
	}
	.libraryContainer.galleriesList .library-line {
		display: block;
		.galleryItems,
		.galleryStat,
		.lastUpdated,
		.galleryId { display: none !important; visibility: hidden; }
		.galleryThumb {
			position: static; padding: 20px 10px;
			.thumb .img,
			.thumb { max-width: 100%; }
			.all_actions_block {
				position: absolute; z-index: auto; right: 0; bottom: 20px; right: 20px; width: 48% !important; margin: 0; width: calc(50% - 15px) !important; padding: 0; height: 50px;
				> a { padding: 5px; height: 40px; width: 55px; background: #fff; max-width: 21%; max-width: calc(25% - 10px); position: relative; z-index: 10; }
				.itemsDropdown { left:auto; right: 0; }
			}
		}
		.item_name_desc {
			padding-bottom: 75px;
			.caption { margin-top: -6px; }
		}
	}
	.libraryContainer.galleriesList .analyticsDropdown { display: none !important; }
}
@media screen and (max-width: 530px) {
	.libraryContainer.galleriesList .library-line {
		.galleryThumb { max-width: 200px; }
	}
}
@media screen and (max-width: 420px) {
	.libraryContainer.galleriesList .library-line {
		.galleryThumb { max-width: 140px; }
	}
}