.featureBoxesSection:before {
	content: ''; display: block; position: absolute; width: 100vw; height: 100%; background: #f00; top: 0; left: 50%; transform: translate(-50%, 0); z-index: 0;
	background: -moz-linear-gradient(left, #fbfbfb 0%, #fdfdfd 50%, #fbfbfb 100%); background: -webkit-linear-gradient(left, #fbfbfb 0%,#fdfdfd 50%,#fbfbfb 100%); background: linear-gradient(to right, #fbfbfb 0%,#fdfdfd 50%,#fbfbfb 100%);
}

.featureBoxesItem {
	display: inline-block; vertical-align: top; width: 360px; padding: 30px; border: 1px solid #f2f2f2; border-radius: 4px; background: #fff; text-decoration: none; color: inherit;
    max-width: 30%;
	margin: 15px; flex-shrink: 1; position: relative;
	.fbi-thumb {
		text-align: center;
		img { max-width: 100%; }
	}
	.fbi-title { font-size: 24px; color: #000; @include font-accent(); font-weight: bold; text-align: center; margin-bottom: 25px; }
	.fbi-descr { font-size: 14px; color: #8D9399; text-align: center; }
	.fbi-readmore {
		color: $color-blue; text-align: center; font-size: 14px; font-weight: bold;
		position: absolute; bottom: 15px; width: 100%; left: 0; margin: 0 !important;
		&:before { content: 'Read more...'; }
	}
	&:hover { box-shadow: 0 4px 20px rgba(0,0,0,.1); }
	.featureBoxes.cols-3 & { max-width: 33%; max-width: calc(33% - 30px); }
	.featureBoxes.cols-4 & { max-width: 25%; max-width: calc(25% - 30px); }
	@media (max-width: 800px) {
		max-width: 50% !important; max-width: calc(50% - 30px) !important;
	}
	@media (max-width: 520px) {
		max-width: 100% !important;
	}
}
div.featureBoxesItem { box-shadow: 0 4px 20px rgba(0,0,0,.1); }


.featureBoxes {
	display: flex; flex-wrap: wrap; max-width: 100%;
	&.cols-4,
	&.cols-3,
	&.cols-2 {align-items: stretch; justify-content: center; }
	&.cols-3 .featureBoxesItem { width: 33%; max-width: 33% !important; max-width: calc(33% - 30px) !important; }
	&.cols-2 .featureBoxesItem { width: 50%; max-width: 50% !important; max-width: calc(50% - 30px) !important; }
}
