.fieldBox {
	position: relative; margin: 20px 0;
	.fb-field {
		display: block; width: 100%; font-size: 15px; color: #343a41; border: 1px solid #d8dade; border-radius: 2px; padding: 14px; outline: none !important;
		&:focus { border-color: #656d77 !important; }
	}
	select.fb-field { height: auto; color:#717171; padding-right: 35px; background-color: #fff !important; background-position: calc(100% - 10px) 50% !important; }
	.fb-msg {
		position: absolute; top: 50%; margin-top: -13px; right: 10px; font-size: 12px; display: inline-block; padding: 3px 5px; border-radius: 3px;
		&.danger { background-color: $color-red; color: #fff; }
	}
	&.error {
		.fb-field { border-color: $color-red !important; }
	}
	// ----
	&.grouped {
		display: table; width: 100%;
		>div {
			display: table-cell;
			.fb-field { border-radius: 0; border-left-color: transparent; }
			&:first-child .fb-field { border-radius: 2px 0 0 2px; border-left-color: #d8dade; }
			&:last-child .fb-field { border-radius: 0 2px 2px 0; }
		}
	}
}

.collapsibleItem.faq {  // RecTrace page
	transition: .5s ease all; background: transparent; box-shadow: none !important; border: none !important;
	color: #485059; margin: 30px auto;
	> .title {
		background: #ffffff; border-radius: 10px;
		padding: 7px 30px 7px 20px; font-size: 16px; color: #538ae8;
		&:before { font-size: 24px; top: 8px; margin-top: 0; content: "+"; position: absolute; right: 15px; left: auto; font-weight: bold; color: $color-blue; }
		i {
			width: 62px; height: 62px; display: inline-block; line-height: 48px; text-align: center; border-radius: 50px;
			font-weight: bold; font-size: 18px; border: 6px solid #fff; box-shadow: 0 0 2px #4d4d4d;
			margin: -12px 25px -13px -30px; color: #fff;
			@include linear-gradient(#2bace2, #4794e6);
		}
	}
	.content { padding-left: 60px; margin-top: 10px; font-size: 13px; color: #485059; }
	&:hover {
		box-shadow: 0 2px 10px rgba(0,0,0,.2);
		>.title { color: $color-blue; }
	}
	&.active {
		>.title:before { left: 10px; top: 13px; margin-top: 0; content: "–"; opacity: 1; }
	}
}