.integrationSteps {
	display: block; list-style: none; margin: 30px 0; padding: 0; text-align: center; display: flex; justify-content: space-between;
	.is-item {
		display: inline-block; vertical-align: top; width: 180px; margin: 10px 5px; text-align: center; position: relative; flex-shrink: 1;
		&:last-child .is-img:after { display: none !important; }
	}
	.is-img {
		margin: 10px 0; position: relative;
		&:after { content: ''; display: block; position: absolute; border-top: 1px solid #cacdd0; width: 100%; left: 50%; top: 50%; margin-left: 58px; box-sizing: content-box; padding: 0 15px; }
		img { border: 15px solid #f3f5f6; background: #f3f5f6; border-top: none; border-bottom: none; position: relative; z-index: 1; height: 60px; }
	}
	.is-number {
		@include horiz-gradient(#5389e8, #22b4e1); border-radius: 20px; padding: 5px 10px;
		font-size: 13px; text-transform: uppercase; color: #fff; line-height: 1;
		display: inline-block; margin-bottom: 20px;
	}
	.is-text {
		line-height: 1.5; font-size: 18px;
		b { font-weight: normal; color: $color-blue; }
	}
	&.magento {
		.is-img {
			border-radius: 2px; border: 1px solid #e8e8e8;
			background: #fff; padding: 10px; width: 100px; height: 100px; display: flex; margin: 10px auto 30px auto; align-items: center; justify-content: center;
			&:after { border-color: #a3ced7; left: 65%; width: 70%; }
			img { background: transparent; border: none; height: auto; }
		}
		.is-text {
			font-size: 15px;
			a { color: #f36f25; }
		}
	}
	@media (max-width: 640px) {
		display: block;
		.is-item {
			display: block; width: auto; text-align: left;
			>div { display: block; vertical-align: middle; margin: 5px; width: auto; text-align: center; }
		}
		.is-img:after { display: none; }
		// .is-text { max-width: calc(100% - 195px); }
	}
}