.landerSplash {
	margin-top: -20px;
	.ls-top {
		@include clearfix();
		.ls-top-left { float: left; }
		.ls-top-right { float: right; }
	}
	margin: 0 -50px; padding: 0 50px; color: #fff; font-size: 18px; position: relative;
	margin-top: -20px !important;
	p { line-height: 1.55; }
	strong { font-weight: bold; font-size: 16px; }
	.ls-media { max-width: 500px; margin: 20px auto; }
	@media (min-width: 1200px) {
		margin: 0 -1000px; padding: 0 1000px;
		// margin: 0 calc(-50vh - 600px); padding: 0 calc(50vh + 600px);
		margin: 0 -15vw; padding: 0 15vw;
	}
	@media (min-width: 1500px) {
	    margin: 0 calc(-50vw + 580px); padding: 0 calc(50vw - 580px);
	}
	@include diagonal-gradient(#ed813e, #f19f25);
	&.salesforce {
		@include linear-gradient(#0e8dc8, #0e90cb);
	}
	&.publishers {
		background: #1587cc;
		h1 { font-size: 36px; font-weight: normal; }
		h2 { font-size: 28px; font-weight: normal; }
	}
	&.hasBg {
		background: none;
		.ls-bg { position: absolute; height: 70%; background-size: cover; width: 100%; top: 0; left: 0; }
	}
	h1, h2, h3, h4 { color: inherit; }
	h1 { margin: .5em 0; line-height: 1.2; }
	h3 { margin: .4em 0; font-size: 24px; font-weight: normal; }
	.ls-breadcrumbs {
		font-size:14px;font-weight:600;
		i { margin: 0 10px; }
		a {
			color: inherit; text-decoration: none;
			&:hover { text-decoration: underline; }
		}
	}
	>.ls-breadcrumbs {
		width: 100%; flex-shrink: 0; margin-top: 20px; text-align: center;
		@media (min-width: 641px) { position: absolute; z-index: 5; top: 60px; margin: 0; width: 100%; text-align: center; box-sizing: border-box; flex-grow: 0; max-width: calc(100vw - 50px); }
	}
	.ls-content {
		max-width: 1050px;
		margin: 0 auto; padding: 60px 0 30px 0; text-align: center; position: relative; z-index: 1;
		.textcenter ul { text-align: left; display: inline-block; margin: 0 0 20px 0; }
	}
	.ls-actions {
	}
	.mediaElement { margin: 30px 0; }
	&.white {
		background: #fafafa; color: inherit;
		h1, h2 { color: #000; }
		.ls-content { padding: 80px 0 100px 0; }
		background-color:#fafafa; background-position: center top; background-size: 100vw auto; background-repeat: no-repeat;
		@media (max-width: 900px) {
			background-position: left top !important; background-size: cover !important;
		}
	}
	&.big {
		display: flex; flex-wrap: wrap; min-height: 70vh; align-items: center; background-position: center top; background-size: 100vw auto;
		>* { flex-grow: 1; }
		h1 { margin-bottom: 30px; }
		.ls-actions { margin-top: 40px; }
		.ls-toplinks { font-size:14px;font-weight:600;margin-top: -80px;margin-bottom: 80px; }
		p { font-size: 18px; }
		.btn { font-size: 18px; }
		h1, h2 {
			font-size: 52px;
			b { color: $color-green; }
		}
		.ls-media { max-width: 100%; }
	}
	&.hasMedia {
		margin-bottom: 200px;
		.mediaElement { margin-bottom: -150px; box-shadow: 0 0 30px rgba(0,0,0,.4); border-radius: 5px; overflow: hidden; }
		.mediaElementVideoContainer { border-radius: 5px !important; overflow: hidden; }
		.flexslider { margin-bottom: -150px !important; }
	}
	&.white.big {
		.mediaElementVideoContainer { border-radius: 10px !important; overflow: hidden; box-shadow: 0 10px 35px rgba(#000, .08); }
	}
	&.notInverse {
		color: inherit;
		h1 { color: #434a53; }
	}
	@media (max-width:930px){
		.ls-content { max-width: 100vw !important; padding: 30px 0; }
	}
	@media (max-width:640px){
		padding: 40px 0; min-height: 0 !important;
		.textleft { text-align: center !important; }
		.ls-content { padding: 30px 10px !important; padding-bottom: 0; }
		.ls-breadcrumbs { font-size: 11px; }
		h1 { text-align: center; }
		.ls-actions .btn { font-size: 14px; margin: 5px; font-weight: normal; }
		&.big {
			background: #f4f4f4 !important;
			h1 { font-size: 22px; margin-bottom: 10px; }
			.ls-actions { margin-top: 20px; }
			.ls-media { margin-bottom: 0; }
			.hasMedia { margin-bottom: 150px; }
		}
	}
	&.function {
		display: flex; align-items: center; min-height: calc(100vh - 180px);
		.navAppMode ~ .content-container & { min-height: calc(100vh - 240px); }
		@media (max-width: 990px) {
		    // background-position: left top !important;
		    &.big {
		    	margin-bottom: 23vw;
		    	.ls-media { margin-bottom: -40vw; }
		    }
		}
		@media (max-width: 640px) {
		    &.big {
		    	margin-bottom: 20vw;
		    }
		}
	}
	&.feature {
		display: flex;
		// min-height: calc(100vh - 70px);
		min-height: 300px;
		// align-items: center;
		align-items: flex-start;
		.ls-content { padding-top: 130px; }
		.navAppMode ~ .content-container & { min-height: 300px; }
		// .navAppMode ~ .content-container & { min-height: calc(100vh - 130px); }
		.ls-media { max-width: 100%; }
		&.hasMedia .ls-media { margin-bottom: -300px; }
		@media (max-width: 900px) {
		    // background-position: left top !important;
		}
		@media (max-width: 640px) {
		    &.hasMedia .ls-media { margin-bottom: -200px; margin-left: 15px; margin-right: 15px; }
		}
		@media (max-height: 800px) {
			.ls-content { padding-bottom: 30px; padding-top: 110px; }
		}
	}
}
