.landerSplash.magento {
    margin-bottom: 150px;
	.ls-content {
		max-width: 1160px;
		img { max-width: 100%; }
		p { max-width: 940px; margin-right: auto; margin-left: auto; }
	}
	h1 { margin: .5em 0; font-size: 48px; }
	h2 { font-size: 24px; color: #ff7b31; font-weight: normal; margin: .3em 0 1.5em 0; }
	@media (max-width: 800px) {
	}
	.magentoSplash { margin-bottom: -106px; }
}

.magentoFeatures {
	list-style: none; display: block; margin: 70px 0 60px 0; text-align: center; padding: 0;
    text-transform: uppercase; font-size: 16px;
	li { display: inline-block; vertical-align: top; margin: 10px 20px; text-align: center; width: 28%; }
}

.contentBox.magento {
    border-radius: 4px; box-shadow: none;
    h3 {
    	margin: -30px -40px 30px -40px; padding: 21px 30px; font-size: 24px; color: #fff; font-weight: normal;
    	background: #fc9a47; @include horiz-gradient(#ffa751, #f78032);
    }
}

.arrList.magento {
	li:before { content: ''; width: 17px; height: 17px; background: transparent no-repeat center center !important; }
	&.chain li:before { background-image: inline-image("images/magento-list-chain.png") !important; }
	&.circle li:before { background-image: inline-image("images/magento-list-circle.png") !important; }
	color: #2bace2;
}

ul.ulList.magentoo {
	li::before { color: #f88133 }
}


.landerSplash.zendesk {
	background: #78a300;
	.ls-content {
		max-width: 1160px;
		img { max-width: 100%; }
		p { max-width: 800px; margin-right: auto; margin-left: auto; }
	}
	h1 { margin: .5em 0; font-size: 40px; }
	h2 { font-size: 24px; color: #ff7b31; font-weight: normal; margin: .3em 0 1.5em 0; }
	@media (max-width: 800px) {
	}
}
.contentBox.zendesk {
	margin: 90px 0;
	h3 { font-size: 28px; margin-bottom: 20px; }
	.gray { background: #b9deef; margin: -30px -40px -30px 0; position: relative; right: -25px; display: flex; align-items: center; justify-content: center; }
	.row { display: flex; }
}
.contentBox.zendesk2 {
	h3 { font-size: 24px; margin-bottom: 20px; }
}