.btn.rectrace {
    background: #ef4264; color: #fff; font-size: 16px; font-weight: bold; padding: 22px;
    &:hover { background: #f55574; }
}

.landerSplash.rectrace {
	.ls-content { max-width: 1160px; }
	.ls-rectrace-wrap { display: flex; margin-top: 57px; }
	.ls-rectrace-logo {  }
	.ls-rectrace-text { text-align: left; padding-left: 70px; }
	h1 { margin: .5em 0; font-size: 36px; }
	.btn.rectrace { min-width: 360px; }
	.gallerydemo.storyboard { width: 800px !important; }
	@media (max-width: 800px) {
		.ls-rectrace-wrap { flex-wrap: wrap; }
		.ls-rectrace-logo,
		.ls-rectrace-text { display: block; float: none; width: 100%; }
		.ls-rectrace-logo { text-align: center; }
	}
}
