@import "incl/variables";
@import "incl/init";
@import "incl/utils";
@import "incl/layout-appheader";
@import "incl/layout-logoutheader";
@import "incl/forms";

@media screen and (max-width: 800px) {
	body { padding-top: 150px; }
}

.header .appnav .hdrMobileMenu { display: none !important; }

.container { padding-top: 1px; }
.header {
	.btn {
	    background: transparent;
		b, i { display: inline-block !important; vertical-align: middle; }
		&:hover { background-color: $color-blue; }
		&.secondary { color: #656d78 !important; background: #fff !important; }
		&.blue,
		&.primary {
			color: #fff; border: 1px solid $color-blue; padding: 12px 10px; font-weight: 600; background: $color-blue; @include linear-gradient(#0797e4, #067aba); box-shadow: none; border-radius: 3px;
			> i { color: inherit; }
			&:hover { border-color: #0871b9; background-color: #056EAE; }
			&:active { border-color: #0871b9; box-shadow: inset 0 1px 5px rgba(#000, 30/100); }
		}
		&.green {
			color: #fff; background: $color-green; @include linear-gradient(#81bf3e, #75ad38); padding: 12px 10px; border: 1px solid $color-green; border-radius: 3px;
			> i { color: inherit; }
			&.big {
				// background: $color-green;
				// &:hover { background: darken($color-green, 5%); }
			}
			&:hover { box-shadow: 0 1px 3px rgba(#000, 30/100); }
			&:active { box-shadow: inset 0 1px 5px rgba(#000, 30/100); }
		}
		&.trans {
			border: none; background: none; box-shadow: none; overflow: visible; color: inherit !important;
			>i { margin: 0; }
			.icon-search { margin: 0; } 
			&.active i { color: #434a54; cursor: default; }
		}
	}
	.accountMenu > a.btn { padding: 0; }
}
