@import "incl/variables";

@import "incl/utils";

body b,
body i { font-family: inherit; }

.green { color: $color-green; }
.blue { color: $color-blue; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.smaller { font-size: .9em; }
p.bigger { font-size: 1.35em; }

p>b { font-weight: bold; }

img.img-raised { box-shadow: 0 3px 40px rgba(#000, .7); border-radius: 4px; }

object { max-width: 80%; max-width: 80vw; max-height: 55vh; }  // svg images on lander pages

hr {  border: none; border-top: 2px solid #d2d9e2; margin: 10px -20px; }


@media (min-width: 768px) {
	div[class*="col-md"] {
		h1, h2, h3, h4 { &:first-child { margin-top: 0; } }
	}
}

// ---------------------------
// STATIC PAGE HEADER
// ---------------------------
html, body { background: #fff; font-size: 16px; }
.header {
	.sitemap { display: block !important; visibility: visible; }
	/*.sitemap, .row1 { display: block !important; visibility: visible; }*/
//	.appnav { display: none !important; visibility: hidden; }
}
.headerBreadcrumbs {
	position: absolute; background: rgba(255,255,255,10/100); top: 80px; font-size: 12px; padding: 7px 15px; width: 100%; color: #aab2bc; z-index:80;
	a {
		color: inherit; text-decoration: none;
		&:hover { text-decoration: underline; }
	}
}
// ---------------------------
// STATIC PAGE HEADER
// ---------------------------

/*.header {display: none; } //  DEBUG ONLY*/
.header {
	~ .content-container { margin-top: 80px; }
	@media screen and (max-width: 800px) {
		.appnav .hdrFullMenu { display: none !important; }
		&.loggedout { margin-bottom: -80px;	}
		~ .content-container { margin-top: 140px; }
	}
}
	
ul.list {
	padding-left: 0; list-style: none; font-size: 20px; margin: 1.5em 0;
	li {
		display: block; padding-left: 15px; position: relative; margin-left: -15px;
		&:before { color: #0187cf; vertical-align: middle; display: inline-block; content: "\e645"; font-family: 'cincopaicons'; font-size: 6px; left: 0; position: absolute; top: 13px; }
	}

}


.content-container {
	padding: 0 20px 0 20px !important; overflow: hidden; z-index: 0; line-height: 1.5;
	img { max-width: 100%; height: auto; }
}
.box,
.graybox,
.contentWrap { width: 100%; max-width: 1200px; margin: 0 auto; @include clearfix(); }
h2 { font-size: 2.25em; line-height: 1.2; font-weight: bold; text-align: center;
	b { font-weight: bold; }
	i { font-style: italic; }
}
.maxw-680 { max-width: 680px !important; margin-left: auto; margin-right: auto; }
.maxw-1010 { max-width: 1010px !important; margin-left: auto; margin-right: auto; }

.pageContentWrap { max-width: 1280px; margin: 0 auto; }


.box { margin: 30px auto; }
pre { background-color: #f5f5f5; padding: 10px 20px; border: 1px solid #eaeaea; overflow: auto; white-space: pre-wrap; }


@import "incl/static-footer";
@import "incl/layout-sidemenu-loggedout";



// For how it works old pages
.steps { border-bottom: 1px solid #999; margin-bottom: 30px; }
.steps .icon.big { font-size: 14px; line-height: 1.3em; width: 30%; }
.steps .icon.big i { margin: 0; background-image: url(../../design13/images/icons-how.png); width: 165px; height: 165px; }
.steps > .icon { width: 30%; text-align: center; color: #666666; text-align: left; }
.steps > .icon > b {     border: 2px solid #29abe2; color: #29abe2; border-radius: 1em; text-align: center; width: 2em; height: 2em; display: block; line-height: 1.7em; float: left; margin-bottom: 60px; margin-right: 5px; }
.steps .icon.big.step1 i { background-position: 0 0; }
.steps .icon.big.step2 i { background-position: -166px 0; }
.steps .icon.big.step3 i { background-position: -332px 0; }
.skin-box.new {
	display: inline-block; vertical-align: top; width: 220px; text-align: center; margin: 15px 7px;
	a {
		text-decoration: none; color: #000; font-size: 14px; position: relative; display: block; border: 1px solid #CACACA; padding: 5px; border-radius: 5px;
		&:hover { box-shadow: 0 2px 10px rgba(0,0,0,.2); }
	}
	.btn-3d { display: none; }
	a:hover .btn-3d { position: absolute; top: 50px; z-index: 10; left: 50%; margin-left: -36px; display: inline-block; background: #FFF; font-weight: bold; background: rgba(24, 24, 24, 0.62); color: #fff; font-size: 12px; text-transform: uppercase; padding: 5px 10px; border-radius: 10px; box-shadow: 0 2px 10px #000; border: 1px solid #656565; }
}
@media screen and (max-width: 620px) {
	.steps .icon.big {
		width: 100%; height: auto;
		i { margin: 0 auto; }
		b { margin-bottom: 0; }
	}
}

// div.skin-box.new { text-align: center; font-size: 13px; width: 226px; height: 195px; display: inline-block; vertical-align: top; zoom:1; *display: inline; position: relative; margin: 2px 8px; } 
// div.skin-box.new a { background: #B1B1B1; display:block; padding: 1px; text-decoration:none; color:#fff; cursor:pointer; height: 100%; height: 146px; line-height: 1.1em;    }
// div.skin-box.new .tn { display: block; padding: 0; background: url(../../design13/images/skinbox-frame.png) no-repeat center top; height: 140px; position: relative; background: #000; }
// .start-steps div.skin-box.new a.previewlink { height: 141px !important; padding-bottom: 0 !important; font-size:0; } 
// div.box.white, div.box.lightgray, div.box.darkgray { margin:0; padding:0; width: auto; background: transparent; border: none; } 
// .skin-responsive:after, .skin-cssmod:after, .skinThumb.responsive:after, .skinThumb.cssmod:after, .textTitle.responsive:after, .textTitle.cssmod:after, .ddChild .responsive:after, .ddChild .cssmod:after {
// width: 40px; height: 40px; top: 3px; right: 3px; left: auto; 
// }
// div.skin-box.skin-preview {width: 200px; height: 165px !important; }
// div.skin-box.skin-preview  a{width: 198px; height: 119px; background: #B1B1B1; color: #000000 !important; }
// div.skin-box.skin-preview .tn {background: none; width: 200px; height: 120px !important; margin-bottom: 12px; }
// div.skin-box.skin-preview a:hover{background: #29abe2; }
// div.skin-box.skin-preview  .tn img {width: 198px !important; height: 119px !important; }
// div.skin-box.new { text-align: center; font-size: 13px; width: 165px; height: 190px; display: inline-block; zoom:1; *display: inline; position: relative; }
// div.skin-box.new a {    display:block; padding:10px 5px 3px 5px; text-decoration:none; color:#000; cursor:pointer; height: 100%; height: 146px; padding-bottom: 39px; line-height: 1.1em;    }
// div.skin-box.new .tn { display: block; padding: 4px 6px 14px 6px; background: url(../images/skinbox-frame.png) no-repeat center top; height: 85px; position: relative; }
// div.skin-box.new .tn img { width: 141px !important; height: 86px !important; }  /* old thumbs resize */
// div.skin-box.new b.btn-3d { display: none; position: absolute; bottom: 0;width: 70px; left: 50%; margin-left: -45px; text-transform: uppercase; }
// div.skin-box.new .tn > i { background: url(../images/ico-preview.png) no-repeat center center; position: absolute; width: 100%; height: 100%; top: 0; left: 0; display: none; }
// div.skin-box.new:hover b.btn-3d, div.skin-box.new:hover .tn > i { display: block; }

// For how it works old pages



// ----- PAGES
@import "pages/old-pages-support";


@import "pages/static-home";
@import "pages/static-slideshows";
@import "pages/static-video";
@import "pages/static-videohosting";
@import "pages/static-videoportal";
@import "pages/static-musicplayer";
@import "pages/static-plans";
@import "pages/static-unlimited";
@import "pages/static-digital";
// ----- 2016
@import "pages/static-lander";

@import "pages/static-ott";

.splashArea01.music01 { background-color: #7E232C; background-image: url('/_cms/design15/images/music-splash01.jpg'); }
.splashArea01.slideshow01 { background-color: #000000; background-image: url('/_cms/design15/images/slideshows-splash01.jpg'); }
.splashArea01.slideshow02 { background-color: #0E4C71; background-image: url('/_cms/design15/images/slideshows-splash02.jpg'); }
.splashArea01.slideshow03 { background-color: #0F3E75; background-image: url('/_cms/design15/images/slideshows-splash03.jpg'); }
.splashArea01.videoportal01 { background-color: #26214A; background-image: url('/_cms/design15/images/videoportal-splash02.jpg'); }
.splashArea01.video01 { background-color: #592041; background-image: url('/_cms/design15/images/videos-splash01.jpg'); }
.splashArea01.video02 { background-color: #044973; background-image: url('/_cms/design15/images/videos-splash02.jpg'); }
.splashArea01.wordpress { background-color: #0B445F; background-image: url('/_cms/design15/images/wordpress-splash01.jpg'); }
.splashArea01.joomla { background-color: #365186; background-image: url('/_cms/design15/images/joomla-splash.jpg'); }
.splashArea01.podcast01 { background-color: #947070; background-image: url('/_cms/design15/images/podcast-splash01.jpg'); }
.splashArea01.podcast02 { background-color: #293A4C; background-image: url('/_cms/design15/images/podcast-splash02.jpg'); }
.splashArea01.podcast03 { background-color: #155E89; background-image: url('/_cms/design15/images/podcast-splash03.jpg'); }
.splashArea01.podcast04 { background-color: #325da4; background-image: url('/_cms/design15/images/splash-podcastplayer.jpg'); }
.splashArea01.podcast_jquery { background-color: #325da4; background-image: url('/_cms/design15/images/splash-podcastplayer-jquery.jpg'); }
.splashArea01.features01 { background-color: #365186; background-image: url('/_cms/design15/images/features-splash01.jpg'); }
.splashArea01.solutions { background-color: #095297; background-image: url('/_cms/design15/images/solutions-splash.jpg'); }
.splashArea01.slideshow_html5 { background-color: #365186; background-image: url('/_cms/design15/images/slideshow-splash-html5.jpg'); }
.splashArea01.slideshow_jquery { background-color: #365186; background-image: url('/_cms/design15/images/slideshow-splash-jquery.jpg'); }
.splashArea01.audio_jquery { background-color: #842013; background-image: url('/_cms/design15/images/splash-audioplayers-jquery.jpg'); }
.splashArea01.audio_html5 { background-color: #842013; background-image: url('/_cms/design15/images/splash-audioplayers-html5.jpg'); }


// ------ landing pages trying to auto apply
.cmspage {
	ol,
	ul:not(.skinsList),
	.steps,
	.stepsdesc,
	h3,
	h4,
	h2,
	p { max-width: 1200px; margin-left: auto !important; margin-right: auto !important; }
	@media screen and (max-width: 800px) { img { max-width: 100%; height: auto; } }
}

// .skinPreviewArea {
// 	margin: 20px -40px;
// 	.skinPreview-head .headLeft { width: 40%; width: calc(50% - 150px); }
// 	.simulator.mobile.portrait iframe { height: 420px !important; }
// 	.simulator.mobile.landscape iframe { height: 245px !important; }
// 	.simulator.tablet.portrait iframe { height: 495px !important; }
// 	.simulator.tablet.landscape iframe { height: 370px !important; }
// }

.skinsList .skinsList { margin: 0; }

.skinsList {
	max-width: 1390px;
	ol { margin: 0; padding: 0; }
	@media screen and (max-width: 1650px) { max-width: 1390px; }
	@media screen and (max-width: 1425px) { max-width: 1130px; }
	@media screen and (max-width: 1150px) { max-width: 825px; }
	@media screen and (max-width: 875px) { max-width: 555px; }
}

.skinsPage {
	.skinsList { max-width: 1090px; }
	.skinsList .skinsSection { border: none; }
	.skinsList .skinsSection h3 { display: none; }	
	.skinPreviewArea.singleSkinPreview { max-width: 1090px; }
	p { text-align: center; }
}

.popularSkins {
    background: rgba(255,255,255,.1); margin: 20px -20px -80px -20px; padding: 20px 20px 50px 20px;
	.skinsList .skinsSection > h3 { margin: 0; padding: 0; display: none; }
	>h3 { display: block; margin: 0 0 -15px 0; font-size: 20px; }
	.moreSkins {
		font-size: 18px;
		i { font-size: 18px; margin-right: 7px; }
	}
    .skinsList {
    	text-align: center;
    	.skinsSection { border: none; margin: 0; }
    	.skinsList-item {
    		width: 230px; height: 140px;
    		.wrap { border: 4px solid #ffffff; border-radius: 4px; position: relative; top: 0; margin: 0; padding: 0; }
    		.thumb { height: 138px; }
    		.details { position: absolute; height: 100%; background: rgba(0,0,0,.8); top: 0; color: #fff; padding: 10px 8px 30px 8px; overflow: hidden; line-height: 1.4; }
    		.title { color: #fff; margin: 4px 0 10px 0; }
    		.descr { color: #fff; opacity: .8; margin: 5px 0; }
    		.usethis { position: absolute; bottom: 0; background: transparent; border: none; text-align: left; padding: 102px 10px 10px 10px; margin: 0 -8px; width: 100%; }
    		.icon-usethis {
    			float: right; margin-right: -8px;
    			&:before { content: "\e614"; }
    		}
    	}
    }
}

.skinfamiliesPromo {
	p { font-size: 22px; text-align: center; }
}
.familiesList {
    display: block; list-style: none; margin: 30px 0;
    li { display: inline-block; vertical-align: top; width: 235px; margin: 25px 40px; text-align: center; }
    .thumb { position: relative; }
    .img { padding: 4px 3px; background: #fff; border: 2px solid #d9d9d9; border-radius: 3px; }
    .skinsCounter { position: absolute; background: #616166; color: #fff; border-radius: 15px; font-size: 14px; line-height: 1; padding: 4px 10px; top: -5px; right: -5px; }
    .title { font-size: 18px; font-weight: normal; margin: 18px 0 10px 0; }
    .descr { font-size: 14px; max-height: 3em; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; }
}

.startNowSmall { text-align: center; background: #F1F1F1; padding: 15px; margin: -33px auto 30px auto; }




// Press page
.pageContentWrap.pressArea {
	max-width: 740px; padding: 60px 0;
	hr { margin: 0 15px; }
}
.pressItem {
	clear: both; overflow: hidden; margin: 15px 0; transition: .7s ease all; padding: 15px; min-height: 90px;
	display: table; width: 100%; table-layout: fixed;
	>* { display: table-cell; vertical-align: middle; }
	&:hover { box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15); }
	.thumb {
		width: 120px; padding-right: 20px;
		img { max-width: 100px; height: auto; font-size: 0; border: none; max-height: 100px; background: #f5f6f7; }
	}
	a { text-decoration: none; }
	h3.title {
		margin: 0 0 5px 0 !important; border-left: 3px solid #0086cf; line-height: 1.3; padding-left: 10px;
		a {
			color: inherit; text-decoration: none;
			&:hover { text-decoration: underline; }
		}
	}
	a.readmore {
		float: right; font-size: 15px; display: inline-block; opacity: .6; transition: .2s ease all;
		&:hover { opacity: 1; }
	}
	.date { font-size: 15px; float: left; display: inline-block; opacity: .5; }
}



// Case staties pages
.caseSidebar {
    font-size: 14px; margin: 10px auto; float: left; background: #f6f7fb; padding: 97px 30px 90px 30px; height: 100%; height: 100vh; left: 0; border-top: 1px solid #d8dadf; margin: 0; width: 300px; margin-right: -320px !important; position: relative; z-index: 5; position: fixed; top: 0; left: 0; overflow: auto; overflow-x: hidden; z-index: 0; border-right: 1px solid #d8dadf;
}
.caseContent {
	padding-left: 300px; padding-top: 20px; line-height: 1.7; max-width: 1050px;
	h3 {
		color: $color-blue; font-weight: normal; font-size: 22px;
		&:first-child { margin-top: 0; }
	}
	h2 { text-align: left; font-size: 26px; margin: 15px 0; }
	h4 { text-transform: none; font-size: 1.1em; }
	p { font-size: 17px; margin: .5em 0 1.6em 0; }
	img.shadowed { border: 10px solid #fff; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); border-radius: 2px; }
}
.featuresUl {
	display: block; list-style: none; margin: 1em 0; padding: 0;
	li {
		display: block; margin: 0; padding: 0;
		a { display: inline-block; background: #9ba5b7; color: #fff;     line-height: 1.2; padding: 3px 10px; margin: 2px 3px; border-radius: 2px; text-decoration: none; }
	}
}
@media screen and (max-width: 800px) {
	.caseSidebar,
	.caseContent { display: block; position: relative; width: auto; height: auto; padding: 10px 30px; margin: 10px -20px; float: none; }
	.featuresUl li { clear: none; float: none; display: inline-block; }
}


