@import "incl/variables";
@import "incl/init";
@import "incl/utils";
//@import "incl/grid";  // ported from bootstrap

//.sitemap,
//.row1 { display:none !important; }

@import "incl/layout-appheader";
@import "incl/layout-logoutheader";
//.row1 { display: none; }  // before new header
//@import "incl/layout-sidemenu";
//@import "incl/layout-lib_header";
.header {
    @import "incl/forms";
}

.alignright { float: right; }
.alignleft { float: left; }

.simplemodal-container { @include box-sizing(content-box); }

.appnav { display: block !important; }
.header .logo { background: none; }

.header .appnav { overflow: visible; }
.header .appnav > .logo { top: 0; }
.more-ways-to-upload { margin-right: -30px; }

@media screen and (max-width: 600px) {
  .progressWrapper { width: 100%; }
  div.wizardSteps {margin-top: 140px !important;}
}

.upload_head .continueAreaBtn { float: none; }

@media screen and (max-width: 800px) {
  .wizardSteps li { line-height: 1; }
  .wizardSteps li:before {margin: -4px -0.3em;}
}


.header + .content-container.clearfix {
  margin-top: 100px !important;
  @media screen and (max-width: 800px) { margin-top: 124px !important; }
}

.tagsButtons {   left: 122px; }

// ---------------------
.container ~ .CodeMirror { margin-left: 300px; }
// ---------------------

h1:first-child { margin-top: 0; }
.simplemodal-overlay { background: #000; }
.sortPopup .selectBox { margin: 10px }


//@import "pages/app-assets";
//@import "pages/app-asset-single";

//@import "pages/app-galleries";

//@import "pages/app-skins-list";
@import "pages/app-wizard";

.wizardSteps li:before { margin: -0.3em; }

div.tagsinput span.tag a { font-size: 15px !important; }

.libraryContainer { // Old upload from media
    display: table; table-layout: fixed; width: 100%;
    .uploadFromMedia .library-line {
        overflow: hidden; display: table-row;
        >* { display: table-cell; margin: 0; padding: 5px; font-size: 13px; overflow: hidden; vertical-align: middle; }
    }
}

.upload_head { @include clearfix(); }
#dragAndDropHead .drag_drop_desc { max-width: 100%; }


@import "pages/app-skinpreview";


@import "pages/old-pages-fixes";  // Should be finaly removed some day ;-)


.uploadFromMedia .libraryContainer { display: block; }
// .uploadFromMedia .libraryContainer {
//   .library-line {
//     display: table-row;
//     >* {
//       display: table-cell !important; width: auto !important; left:0; top:0; height: auto; vertical-align: middle; font-size: 13px; overflow: hidden; padding: 5px;
//       .tagsinput { width: auto !important; }
//     }
//   }
// }




//@import "pages/app-myaccount";  // ask Denis when to enable, update


// -- all site modals styles
//@import "incl/modal";




// =======================================================
/*
.char-left {font-size:11px; color:Gray; margin-right:10px; text-align: right; width: 120px; float: right; }
.asset_block {
  background-color: #FFFFFF; padding: 5px;
  table { margin: 10px auto; table-layout: fixed; border-collapse: collapse; }
  div.head{display: inline;}
  div.filename { overflow: hidden; white-space: nowrap; -moz-binding: url('moz_overflow.xml#ellipsis'); -o-text-overflow: ellipsis; text-overflow: ellipsis; width: 230px; float: left; }
  input[type=text], textarea { margin-bottom: 3px; width: 350px; background-color: #FFFFFF; }
  textarea { height: 75px; }
}
.asset_block_head {color: #555555; padding-left: 10px; padding-right: 10px; text-align: right; vertical-align: top; }
.itemPreview { position:relative; }
.addthis_toolbox  { position: absolute; left: 40px; bottom: 0; width: auto; margin-bottom: -15px; }
.addThisBlock {margin-left: 0;padding: 10px 10px 0 10px;}
.disabled{color: Gray;}
.cancelBtn  {margin-right: 10px;}
.previewVideo { margin: 0 auto; }
.poster_by_sec {}
.setThumbSec {margin: 0 3px;}
.postersContainer { font-size: 0; }
div.posterGroup .thumbImage {width: 20%; margin: 2px 5px; display: inline-block; position: relative; font-size: 14px; font-size: 1rem; line-height: 0; overflow: hidden; text-align: center; }
div.posterGroup .thumbImage img {max-width: 100%; max-height: 100%; }
.thumbImage:hover:after {content: 'Set as thumbnail'; background: rgba(131, 129, 129, 70/100); width: 100%; position: absolute; top: 0; left: 0; height: 100%; color: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; line-height: 1em; padding: 15px 5px; cursor: pointer; font-size: 14px; text-shadow: 0 0 2px rgba(0, 0, 0, 72/100); font-weight: bold; text-align: center; }
.thumbImage.active:hover:after { display:none; }
.thumbImage.invalid:hover:after {display:none;}
div.thumbImage.active { border: 2px solid #0096EB; box-shadow: 0px 0px 0px 3px #B1DDFF; }
div#simplemodal-data table input.btn {margin-top: 20px;}
.cancelBtn  {margin-right: 10px;}
.tags .tagsinput input {display: none;}
.tags .tagsinput {background: inherit;  border: none;overflow: auto; width: auto !important; height: auto !important; min-height: 0 !important; margin-bottom: 0; }
.tags .tagsinput .tag .removeTag {display:none}
// =======================================================

// -------------------------------
.simplemodal-container br {display: none; }


.libraryContainer.assets_list .library-line-preload {float: left; width: 1200px; height: 125px; background-repeat: no-repeat; opacity: 0.4; }
#libraryHead div.tagsFilterBlock { display: block; }
#libraryHead .selectedTag { border: 1px solid #29abe2; display: inline; padding: 5px 15px; margin: 2px 5px; position: relative;}
#libraryHead .selectedTag span { color: #C0C0C0; }
// .library-head .selectedTag a{position: absolute;right: 0;top: -28px;}

*/



//@import "incl/animations";



/*
.activeInternalMessages{
    #intercom-container #intercom-launcher {bottom:220px;}
    &.minimizedInternal #intercom-container #intercom-launcher {bottom:100px;}  
} 
.alignright { float: right !important; }


.editorArea {
    z-index: 1500; position: relative; background: #F3F3F3; margin: 50px 0 0 0; padding: 20px; border-top: 1px solid #B5B5B5; border-bottom: 1px solid #B5B5B5; box-shadow: 0 0 20px rgba(0,0,0,.15); font-size: 13px;
    input { padding: 5px; }
}
*/


//  Davit for wizard/start pages
.preloaderDiv {
    background: #CCD0D9 url(/_cms/design13/images/grey_preloader.gif) no-repeat center center; width: 100%; height: 100%; display: block; position: absolute; z-index: 999; left: 0; top: 0; opacity: 0.9;
    .loadingText { font-size: 20px; color: #fff; font-style: italic; z-index: 9999; display: block; position: absolute; top: 53.5%; left: 0; width: 100%; text-align: center;   text-shadow: 1px 1px rgba(0, 0, 0, 19/100); }
}
