#~gallery_div~ .textBox{ display:none }
#~gallery_div~ .ze_menuBox { display:block; position:absolute; z-index:100; top:0; width: 50%; margin: 0; padding: 30px; }
#~gallery_div~ .ze_menuBox li.ze_opened { background: rgba(0,0,0,0.6); width:100%;}
#~gallery_div~ .ze_menuBox li > div{display:block; cursor:pointer}
#~gallery_div~ .ze_menuBox li div.menuBoxTitle{font-size:18px; color: #0086cf; line-height:1.2; height:2em}
#~gallery_div~ .ze_menuBox li div.menuBoxDesc{font-size: 14px; transition: width 1s; transition: height 1s; overflow:hidden; height:0; }
#~gallery_div~ .ze_menuBox li div.menuBoxDescInner {transition:none}
#~gallery_div~ .ze_menuBox li div.menuBoxDesc.menuBoxOpened{width:100%; overflow-y:auto}
#~gallery_div~ .ze_menuBox li{color: #fff; text-align: left; list-style:none; padding: 10px; width:0; transition: width 1s;}
#~gallery_div~ .ze_menuBox span.menuBoxTitleCursor{display: inline-block;cursor: pointer;margin-left: 20px;color: yellow;}
#~gallery_div~ .ze_menuBox .ze_activeMenu span.menuBoxTitleCursor{display:none}