/* Cool footer */
#cool-footer {width: 100%; height: 500px; position: relative; overflow: hidden; background: #121921; border-top: 1px solid #272b30;}
#skyline {width: 100%; height: 193px; position: absolute; left: 0; bottom: 0; background: inline-image("images/skyline.png") repeat-x center bottom; z-index: 9;}
#footer-element-moon {width: 183px; height: 174px; position: absolute; right: 70px; top: 200px; background: inline-image("images/footer-element-moon.png") no-repeat; opacity: 0;}
#footer-element-plane-1 {width: 56px; height: 54px; position: absolute; right: 425px; top: 80px; background: inline-image("images/footer-element-plane-1.png") no-repeat;}
#footer-element-plane-2 {width: 66px; height: 63px; position: absolute; left: 650px; top: 175px; background: inline-image("images/footer-element-plane-2.png") no-repeat;}
#footer-element-balloon-1 {width: 25px; height: 38px; position: absolute; right: 130px; top: 345px; background: inline-image("images/footer-element-balloon-1.png") no-repeat;}
#footer-element-balloon-2 {width: 33px; height: 50px; position: absolute; left: 340px; top: 280px; background: inline-image("images/footer-element-balloon-2.png") no-repeat;}
#footer-element-zeppelin-1 {width: 42px; height: 22px; position: absolute; right: 780px; top: 320px; background: inline-image("images/footer-element-zeppelin-1.png") no-repeat;}
#footer-element-zeppelin-2 {width: 29px; height: 15px; position: absolute; left: 140px; top: 350px; background: inline-image("images/footer-element-zeppelin-2.png") no-repeat;}