.emailProvider {
	.providerLeft i { display: inline-block; width: 32px; height: 32px; background-repeat: no-repeat; background-position: center center; vertical-align: middle; margin-right: 10px; }
	&[data-name="aweber"] .providerLeft i { background-image: inline-image("images/icoemprov-aweber.png"); }
	&[data-name="constantcontact"] .providerLeft i { background-image: inline-image("images/icoemprov-ccontact.png"); }
	&[data-name="mailchimp"] .providerLeft i { background-image: inline-image("images/icoemprov-mailchimp.png"); }
}