.libraryArea.activeEditor #libraryContainer { display: block; white-space: nowrap; overflow: auto; margin-top: 30px; background: transparent; border: none; border-top: 1px solid #ddd; }
.libraryArea.activeEditor #libraryContainer .library-line { display: inline-block; background: transparent; border: none; }
.libraryArea.activeEditor #libraryContainer .library-line .selected, .libraryArea.activeEditor #libraryContainer .library-line .item_name_desc, .libraryArea.activeEditor #libraryContainer .library-line .all_actions_block, .libraryArea.activeEditor #libraryContainer .library-line .analytics_view_div, .libraryArea.activeEditor #libraryContainer .library-line .analytics_div { display: none !important; }
.libraryArea.activeEditor #libraryContainer .library-line .thumb { width: 130px; }
.libraryArea.activeEditor #libraryContainer .library-line .thumb > div { min-height: 80px; width: 120px; height: 70px; }

/*# sourceMappingURL=nav.css.map */
