.libraryArea.activeEditor #libraryContainer {
	display: block; white-space: nowrap; overflow: auto; margin-top: 30px; background: transparent; border: none; border-top: 1px solid #ddd;
	.library-line {
		display: inline-block; background: transparent; border: none;
		.selected,
		.item_name_desc,
		.all_actions_block,
		.analytics_view_div,
		.analytics_div { display: none !important; }
		.thumb {
			width: 130px;
			> div { min-height: 80px; width: 120px; height: 70px; }
		}
	}
}
