.ze_htmloverlay_form { display: block; width: 400px; max-width: 90%; margin: 0 auto; font-family: 'Open Sans', 'Helvetica', Arial, sans-serif; }
.ze_htmloverlay_form input { display: block; max-width: 100%; width: 200px; margin: 12px; padding: 8px; font-size: 16px; }
.ze_htmloverlay_form input#ze_htmloverlay_form_email { width: 300px; }
.ze_htmloverlay_form input[type="text"] { background: rgba(255, 255, 255, 0.7); border: 1px solid #fff; box-shadow: inset 0 0px 3px #000, 0 1px 5px #000; color: rgba(0, 0, 0, 0.95); }
.ze_htmloverlay_form input[type="text"].placeholder { color: rgba(0, 0, 0, 0.6); font-style: italic; }
.ze_htmloverlay_form input[type="text"]:-moz-placeholder { color: rgba(0, 0, 0, 0.6); font-style: italic; }
.ze_htmloverlay_form input[type="text"]::-moz-placeholder { color: rgba(0, 0, 0, 0.6); font-style: italic; }
.ze_htmloverlay_form input[type="text"]:-ms-input-placeholder { color: rgba(0, 0, 0, 0.6); font-style: italic; }
.ze_htmloverlay_form input[type="text"]::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.6); font-style: italic; }
.ze_htmloverlay_form input[type="submit"] { background: #008bd5; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 1px 5px #000; border: 1px solid #006fab; text-transform: uppercase; font-weight: bold; color: #fff; letter-spacing: .05em; cursor: pointer; }
.ze_htmloverlay_form input[type="submit"]:hover { background-color: #017bbb; }

/*# sourceMappingURL=ze_htmloverlay_form.css.map */
