@import "incl/variables";
@import "incl/utils";


.ze_htmloverlay_form {
    display: block; width: 400px; max-width: 90%; margin: 0 auto; font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
    input {
    	display: block; max-width: 100%; width: 200px; margin: 12px; padding: 8px; font-size: 16px;
    	&#ze_htmloverlay_form_email { width: 300px; }
    }
	input[type="text"] {
		background: rgba(255, 255, 255, 0.7); border: 1px solid #fff; box-shadow: inset 0 0px 3px #000, 0 1px 5px #000;
		color: rgba(0,0,0,.95);
		@include placeholder {
			color: rgba(0,0,0,.6); font-style: italic;
		}
	}
	input[type="submit"] {
		background: #008bd5; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(255, 255, 255, 0.2), 0 1px 5px #000; border: 1px solid #006fab; text-transform: uppercase; font-weight: bold; color: #fff; letter-spacing: .05em; cursor: pointer;
		&:hover { background-color: #017bbb; }
	}
}