// ------------------------------------------
// SKIN ITEM ON START PAGE
// ------------------------------------------
.skinsList {
	display: block; list-style: none; margin: 20px auto; padding: 0; font-size: 0; text-align: left; max-width: 1370px;
	>* { font-size: 14px; font-size: 1ex; font-size: 1rem; }
	ol { max-width: 100% !important; }
	.skinsSection {
		>h3 { font-size: 20px; margin: 40px auto 10px auto; padding: 30px 10px 10px 10px; color: #545454; font-weight: 400; border-radius: 0; display: block; background: transparent; }
		>p { font-size: .9em; text-align: left; margin: 0 auto; color: #656d78; }
		text-align: center; margin: 30px auto; font-size: 16px; border-bottom: 2px solid #DEDCDC;
		// a { display: inline-block; }  removed. why we need this? check use-this button on create slideshow page
	}
	@media screen and (max-width: 1650px) { max-width: 1090px; }
	@media screen and (max-width: 1420px) { max-width: 820px; }
	@media screen and (max-width: 1080px) { max-width: 100%; text-align: center; }
}