.skinsFilters {
	li,
	ul { display: block; list-style: none; margin: 0; padding: 0; }
	.skinsMediaType {
		>a { display: block; border-bottom: 1px solid #d8dadf; color:#656d78; border-top: 1px solid #d8dadf; margin: 0 -30px -1px -30px; padding: 13px 30px; cursor: pointer; }
		>a:hover { background: #e6e8ec; }
		>a>i { display: inline-block; vertical-align: middle; width: 50px; height: 50px; margin-right: 8px; background-repeat: no-repeat; background-position: center center; }
		>a>b { font-weight: bold; }
		&.all>a>i { background-image: inline-image('images/sidemediatype-all.png'); }
		&.photos>a>i { background-image: inline-image('images/sidemediatype-photos.png'); }
		&.videos>a>i { background-image: inline-image('images/sidemediatype-videos.png'); }
		&.portal>a>i { background-image: inline-image('images/sidemediatype-portal.png'); }
		&.music>a>i { background-image: inline-image('images/sidemediatype-music.png'); }
		&.slideshow>a>i { background-image: inline-image('images/sidemediatype-slideshow.png'); }
		&.acive>a { background: #656d78; color: #fff; border-color: #656d78; }
		> ul { max-height: 0; overflow: hidden; height:0; visibility: hidden; opacity:0; @include transition(.2s ease all); padding: 0 10px; }
		&.active>ul { max-height: 200px; height:auto; visibility: visible; opacity:1; padding: 15px 10px; }
		&.active>a { background: #656d78; color: #fff; }
		>ul>li { margin: 8px 0; }
	}
	.checkBox {
		color: #aab2bc; font-weight: bold; font-size: 14px;
		&:hover,
		input[type=checkbox]:checked ~ b { color: #434a53; }
		> i { margin-right: 8px !important; }
		&:hover > i { border-color: #434a53; }
	}
}
