.mobileMenuFilter { display: none; }
// ---------------
@media screen and (max-width: 800px) {
	.skinsList ol { white-space: nowrap; overflow: auto; overflow-y: hidden; }
	.skinsList { padding: 20px; margin: 0; }
	.skinsList,
	.skinsList ol {
		>li { max-width: 94%; margin: 15px 2%; height: auto; /*box-shadow: none !important;*/ }
		.wrap { position: static !important; padding: 8px !important; margin: 0 !important; }
		.title { height: 2em; }
		.details { height: auto; max-height: 250px; visibility: visible; opacity: 1; }
		a.btn.usethis { display: block; }
	}
	.mobileMenuFilter { display: block; padding: 20px;
		select { display: block; visibility: visible; width: 100%; background-color: #fff !important; }
	}
}
@media screen and (max-width: 600px) {
	.skinsList { padding: 20px 0; }
}