// Expanded style look for skins list
// .skinsSection.open-look .skinsList-item,
.skinsList.open-look .skinsList-item {
	height: auto;
	.thumb { height: 125px; }
	.thumb > div:after { font-family: inherit; content: 'Preview'; color: #fff; position: absolute; display: block; width: auto; height: auto; font-size: 10px; background: #000; background: rgba(24, 24, 24, 0.62); border-radius: 20px; left: 50%; top: 50%; margin: -8px 0 0 -3em; text-transform: uppercase; padding: 5px 10px; }
	.wrap { padding: 20px; margin: 0 !important; position: relative !important; top: 0 !important; left: 0; }
	.title { height: 2em; overflow: hidden; }
	.details { height: auto; max-height: 250px; visibility: visible; opacity: 1; }
	.features { min-height: 24px; }
	.descr { min-height: 6em; overflow: hidden; }
}