.skinsList-item {
	display: inline-block; vertical-align: top; text-align: left; font-size: 1ex; width: 242px; height: 160px; max-width: 100%; position: relative; z-index: auto; margin: 15px;
	.wrap { background: #fff; border: 1px solid #c7c8cd; border-radius: 2px; padding: 8px; /* @include transition(.3s ease all); */ top:0; position: relative; transform: scale3d(1,1,1); }
	.thumb {
		background: #ccd0d9; display: block; width: 224px; max-width: 100%; height: 140px; overflow: hidden; font-size: 0; position: relative; cursor: pointer;
		img { min-width: 100%; }
		> div:after { font-family: inherit; content: 'click to preview'; color: #fff; position: absolute; display: block; width: auto; height: auto; font-size: 10px; background: #000; background: rgba(24, 24, 24, 0.62); border-radius: 20px; left: 43%; top: 50%; margin: -8px 0 0 -3em; text-transform: uppercase; padding: 5px 10px; }
	}
	.details { display: block; height: 0; max-height: 0; overflow: hidden; visibility:hidden; opacity:0; /* @include transition(.3s ease all); */ }
	.features {
		margin: 10px auto;
		.icon-premium { color: $color-yellow; /*display: none;*/ }
	}
	&.premium .features .icon-premium { display: inline-block; }
	.title { color: #434a53; font-size: 14px; line-height: 1.1em; font-weight: bold; margin: 10px auto; text-transform: none; white-space: normal; }
	.descr { color: #aab2bc; font-size: 12px; margin: 10px auto; white-space: normal; }
	.usethis { display: block; margin: 10px 0 0 0; text-transform: uppercase; font-size: 14px; }
	&:hover {
		z-index: 200;
		.thumb > div:after { animation-name: bounceIn; animation-duration: 450ms; animation-timing-function: linear; animation-fill-mode: forwards; }
		.wrap { padding: 20px; margin: -13px; position: absolute; top: -75px; left: 0; box-shadow: 0 3px 10px rgba(0,0,0,30/100); }
		.details { height: auto; max-height: 250px; visibility: visible; opacity: 1; }
	}
	&.visited .wrap:before { content: ''; display: block; width: 50px; height: 50px; position: absolute; right: 0; top: 0; z-index:5; background: inline-image('images/skin-visited.png'); }
	@media (max-width: 800px) {
		.thumb > div:after { opacity: 1; visibility: visible; }
	}
}