// used on start, wizard pages------------------------------------------------------------------------
.fixedToolbar {
    position: fixed; overflow: hidden; z-index: 500; right: 0; top: 50%; margin-top: -120px; border-radius: 4px 0 0 4px; border: 1px solid #acb1b8; border-right-color: #E8E8E8; box-shadow: 0 0 10px rgba(#000, 30/100);
	ul,
	li { display: block; list-style: none; margin:0; padding: 0; }
	.btn {
		padding: 11px 9px; width: 100%; margin: 0; border: none; background: #fff; text-shadow: none;
		>i { font-size: 32px; }
		>b { display: none; }
		&:hover { background: #dddfe4; }
		&.active {
			background: #656d78; cursor: default; pointer-events: none;
			i { color: #fff !important; }
		}
	}
	@media screen and (max-width: 800px) { display: none !important; }
	@media screen and (max-height: 655px) { top: auto; margin-top: 0; bottom: 10%; }
}