// Davit May 19th, 2015 at 11:26 AM
.skinPreviewArea { display:none; }
.container.activeContainer .skinPreviewArea { display:block; }
// .container.activeContainer .skinsList { display:none; } //removed for Davit request 02.02.2016 (slack)
//


// Single skin preview for skins pages
.skinPreviewArea.singleSkinPreview {
	display: block; margin: 20px auto; background: transparent; box-shadow: none;
	.skinPreview-head { box-shadow: 0 1px 10px #e4e4e4; border: 1px solid #d8dadf; }
	.skinPreview-content { padding: 20px 0; }
	.simulatorContainer {
		width: 100%;
		.simulator.desktop { width: 100%; height: calc(100vh - 230px); overflow: auto; padding: 0; background: transparent; }
		.simulator #iframeWrapper,
		.simulator .iframeWrapper { height: calc(100vh - 230px) !important; }
		.simulator iframe { border: none; height: auto; }
	}
}
#singleskin_Wrapper .mediaElement {position: relative; z-index: 0; }
// Single skin preview for skins pages



.skinPreviewArea {
	border-radius: 4px; margin: 0; padding-top: 64px;
	.btn { font-size: 14px; }
	.skinPreview-head {
		position:relative; padding: 20px 30px 20px 60px; background: #fff; border-radius: 4px 4px 0 0; border-bottom: 1px solid #d8dadf; @include clearfix(); text-align: center;
		.backToSkins {
			position: absolute; top: 0; left: 0; margin: 0; border: none; width: 50px; height: 100%; background: #eee; color: #40464f;
			&:hover { background: #dadde6; }
			b { display: none; }
		}
		.headRight,
		.headLeft,
		.headCenter { display: inline-block; }
		.headRight,
		.headLeft { width: 40%; width: calc(50% - 135px); min-height: 1px; }
		.headRight { float: right; text-align: right; position: relative; }
		.headCenter,
		.headLeft { float: left; text-align: left; }
		.headLeft { padding-right: 5px; }
		h3 { margin-top: 0; margin-bottom: 5px; }
		h3+p { margin-top: 0; }
		p { margin-bottom: 0; color: #aab2bc; font-size: 14px; }
		.headCenter .btn {
			padding: 5px 14px; 
			>i { font-size: 40px; }
		}
		.btn.active {
			background: #656d78 !important; border-color: #656d78; box-shadow: 0 2px 10px #656d78 !important; cursor: default; /*pointer-events: none;*/
			i { color: #fff; }
		}
		//.saveMessage { position: absolute; top: 40px; right: 28%; color: #aab2bd ; max-width: 500px; background: #fff; z-index: 500; padding: 2px 7px; font-size: 12px; margin: 0; box-shadow: 0 0 5px; border-radius: 5px; white-space: nowrap; border: 1px solid; margin-left: -8px; } // Davit
		.btn.save {
			position: relative; overflow: visible;
			.saveMessage { position: absolute; color: #aab2bd; max-width: 500px; background: #fff; z-index: 500; padding: 2px 5px; font-size: 11px; margin: 0; /*box-shadow: 0 0 10px rgba(0,0,0,.2); border-radius: 2px;*/ white-space: nowrap; /*border: 1px solid #ccc;*/ font-weight: normal; pointer-events: none;   top: 100%; margin-top: 2px; margin-left: -30px; }
		}
		@media screen and (max-width: 1600px) {
			.headRight,
			.headLeft,
			.headCenter { width: auto; }
		}
		@media screen and (max-width: 800px) {
			.headRight { display: none; }
		}
	}

	.previewModesToolbar {
		@extend .fixedToolbar;
	    top: 75px !important;
	}

	.skinPreview-subhead {
		padding: 3px 30px; background: #fff; border-bottom: 1px solid #d8dadf; text-align: center; @include clearfix();
		.btn {
			color: #656d78; font-size: 12px;
			i { font-size: 18px; color: $color-blue; }
		}
	}
	.skinPreview-content {
		padding: 20px 30px;
	}
	.simulatorContainer {
		position: relative; width: 1024px; margin: 0 auto;
		.simulator {
			margin: 0 auto; background-position: center top;
			#iframeWrapper,
			.iframeWrapper { width: 100%; height: 100%; max-width: 100vw; overflow: auto !important; -webkit-overflow-scrolling: touch !important; }
			iframe {
				width: 100%; height: 99%; max-width: 100vw; background: #fff; border: 1px solid #C0C9CC;
				min-width: 100%; width: 100px; /* *width: 100%;*/
				&#singleskin_simulator_content { height: 100% !important; border: 1px solid #CFD4DA; border-radius: 2px; box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.02); background: #FDFCFC; }
			}
			// replaced with skin_preview.css
			// &.desktop { width: 1020px; height: 600px; padding: 38px 125px 80px 128px; background-image: inline-image('images/previewdevice-desktop.png'); }
			// &.tablet { width: 430px; height: 600px; padding: 50px 30px 60px 30px; background-image: inline-image('images/previewdevice-tablet.png'); }
			// &.tablet.landscape { width: 600px; height: 430px; padding: 30px 50px 30px 60px; background-image: inline-image('images/previewdevice-tablet-h.png'); }
			// &.mobile { width: 290px; height: 560px; padding: 70px 20px 75px 20px; background-image: inline-image('images/previewdevice-mobile.png'); }
			// &.mobile.landscape { width: 560px; height: 290px; padding: 20px 70px 20px 75px; background-image: inline-image('images/previewdevice-mobile-h.png'); }
		}
		.previewRotate { display: none; position: absolute; top: 0; right: 50px; width: 80px; height: 80px; font-size: 0; outline: none !important; cursor: pointer; border: none; background: inline-image('images/previewdevice-rotate.png'); }
		.previewRotate:hover { box-shadow: 0 0 25px rgba(36, 138, 255, 20/100); border-radius: 50px; }
		.simulator.mobile+.previewRotate,
		.simulator.tablet+.previewRotate { display: block; }
		.simulator.landscape+.previewRotate { background-image: inline-image('images/previewdevice-rotate2.png'); }
	}
	#singleskin_Wrapper { margin: 0 auto; }
	@media screen and (max-width: 1100px) {
		.simulatorContainer {
			max-width: 100%;
			.simulator.desktop {
				background: transparent; max-width: 100%; padding: 0; @include box-sizing(border-box);
				iframe { border: none; }
			}
		}
	}
	@media screen and (max-width: 800px) {
  		margin: 20px 0;
		.headRight,
		.headCenter,
		.headLeft { float: none; max-width: 100% !important; margin: 10px 0; }
		// .headRight { white-space: nowrap; }
		.headCenter button { display: none; }
		.simulatorContainer { max-width: 100%; }
		iframe { border: none; }
		.simulatorContainer .simulator { padding: 0 !important; margin: 0; max-width: 100% !important; height: 480px !important; height: 70vh !important; background: transparent !important; @include box-sizing(border-box); }
		.skinPreview-content { padding: 0 !important; }
		.skinPreview-head { padding: 5px; padding-left: 60px; }
		.headLeft,
		.headRight { display: block; width: 100%; }
		.btn.prev,
		.btn.next { b { display: none; } }
		.btn { margin: 0 2px; }
		.btn.primary { padding: 12px 5px; }
		&.wizard .skinPreview-head { display: none; }
	}
	@media screen and (min-width: 1350px) {
		.skinPreview-head.fixed {
			position: fixed; top: 153px; border-top: 1px solid #ddd; z-index: 90; width: 100%; left: 0; padding: 10px 15px 10px 320px;
			+ .skinPreview-content { padding-top: 90px; }
		}
	}

	@media screen and (max-width: 1200px) {
		.simulatorContainer {
			width: 100%;
			.simulator.desktop {
				background: none; padding: 0; width: auto;/*min-height: 600px; min-height: calc(100vh - 100px)*/;
				.iframeWrapper { height: calc(100vh - 230px); }
				iframe { border: none; }
			}
		}
		.skinPreview-head {
			.headRight,
			.headLeft { width: auto; }
		}
	}

	@media screen and (max-height: 600px) {
		.skinPreview-content {height:100%}
		.simulatorContainer {
			width: 100%; height: 100%;
			.simulator.desktop { background: none; padding: 0; width: auto; height: 100%; min-height: 50px; }
		}
	}

	@media screen and (max-width: 1000px) {
		.skinPreview-head .headCenter { display: none; }
		.simulatorContainer {
			width: 100%;
			.simulator { background: none !important; padding: 0 !important; width: auto !important; }
			.previewRotate { display: none; }
		}
	}	
}