.skinEdit {
	padding: 97px 30px 160px 30px; min-height: 100%; padding-bottom: 30px; border-right: 1px solid #d8dadf;
	.skinEdit-sections { display: block; position: relative; margin: 7px -31px; padding:0; list-style:none; overflow: auto; overflow-x: hidden; margin-bottom: -50px; height: calc(100vh - 190px) !important; }
	.skinEdit-section {
		display: block; margin: 0; padding: 0;
		.sectionTitle { cursor: pointer; display: block; margin: 0; padding: 13px 20px; color: #656d78; border: 1px solid #d8dadf; border-left: none; border-right: none; text-decoration: none; font-weight: bold; cursor: pointer; border-right: 1px solid #d8dadf; @include linear-gradient(#f3f9fc, #d1e7f5); }
		.sectionTitle i:before,
		.sectionTitle i:before { content: "\e801"; }
		i.icon-wiz_advanced:before {content: "\e635"; }
		i.icon-wiz_basic:before {content: "\e636"; }
		i.icon-wiz_player:before {content: "\e637"; }
		i.icon-wiz_onclick:before {content: "\e647"; }
		i.icon-wiz_branded:before {content: "\e648"; }
		i.icon-palette:before {content: "\e62a"; }
		i.icon-wiz_controls:before,
		i.icon-wiz_player:before {content: "\e637"; }
		i.icon-email:before,
		i.icon-wiz_mail:before,
		i.icon-envelop:before { content: "\e657"; }
		i.icon-wiz_misc:before {content: "\e650"; }
		.sectionTitle>i { font-size: 24px; margin-right: 5px; }
		.sectionTitle>i,
		.sectionTitle>b { vertical-align: middle; }
		&:first-child .sectionTitle { border-top: 1px solid #d8dadf; }
		&:hover .sectionTitle,
		&.active .sectionTitle { color: #fff; cursor: default; border-color: #656d78; border-right: none; @include linear-gradient(#656d78, #515860); }
		&[data-tab="hidden"]{display:none!important}
	}
	.sectionContent {
		margin: 0 1px 0 0; padding: 0 20px; background: #fff; overflow: hidden; max-height: 0; @include transition(.2s cubic-bezier(0.36, 0.37, 1, 1) all);
		opacity: 0;
		// transform: scale3d(1,0,1);
	}
	.skinEdit-section.active .sectionContent { visibility: visible; padding: 20px; max-height: 2500px; transform: none; overflow: visible; opacity: 1; }
	.grouping {
		border-top: 1px solid #ddd; margin: 30px -20px; padding: 0 20px;
		&:first-child { margin-top:0; border-top: none; }
	}
	.presetValues,
	.field[id^="skin_param_size"] { display: inline-block; vertical-align: middle; width: 60px !important; margin-right: 5px; }
	.openPreset { 
		text-decoration: none; font-size: 1em;
		//&:before { @include iconfont(); content: "\e601"; font-size: 24px; }
	}
	.presetValues {
		position: relative;
		#preset_values_skin_param_size_thumb { position: absolute; top: 0; background: #fff; }
	}
	.tagsinput { min-height: 0 !important; height: auto !important; }
	.bubbleInfo { position: static; }
	.fieldItem {
	    &:not(.cp-hide) { display: flex !important; flex-wrap: nowrap; }
	    > label { width: 25%; margin-top: 8px !important; margin-right: 10px; line-height: 1.3 !important; }
	    > .argumentValue { flex-grow: 1; }
	    .field { width: 100%; }
	    &:after { display: none; }
	}
	@media screen and (max-width: 800px) {
		padding-top: 0; min-height: 0;
		.fieldItem.select .dd-container .dd-options {  width: 100% !important; }
		.skinEdit-section.active .sectionContent { max-height: none; }
	}
}

// ------------------------------------------------------------------------
.skinEdit-selected {
	clear: both; margin: 0 -10px; @include clearfix();
	.thumb {
		display: inline-block; width: 120px; height: 75px; float: left; background: #ccd0d9; max-width: 50%; max-width: calc(120px); overflow: hidden;
		img { max-width: 100%; height: auto; min-height: 100%; }
	}
	.galleryThumb.portrait img { height: 100%; width: auto; margin: 0 auto; display: block; min-width: 0; }
	.descr {
		max-width: 45%; max-width: calc(100% - 130px); float: left; margin-left: 10px;
		h4 { font-size: 14px; margin-top: 0; font-weight: 600; max-height: 3.5em; overflow: hidden; text-overflow: ellipsis; }
		a { font-size: 12px; }
	}
	.galState .hint {
		left: -50px;
		&:after { left: 90px; }
	}
}