.skinEditorTabs {
    font-size: 14px; margin: 10px auto; float: left; background: #f6f7fb; padding: 0; left: 0; border-top: 1px solid #d8dadf; border-right: none; margin: 0; width: 300px; margin-right: -320px !important; position: relative; z-index: 5; position: fixed; top: 0; left: 0; height: 100%; overflow: auto; overflow-x: hidden; z-index: 99;
    &:after { content: ''; display: block; clear: both; height: 0; }
    h4 { text-transform: none; font-weight: 400; font-size: 18px; display: block; }
	// -----------------
	@media screen and (max-width: 1150px) and (min-width: 801px) {
		width: 250px; margin-right: -250px !important;
	}
	// -----------------
	@media screen and (max-width: 800px) {
		height: auto; display: block; position: static; visibility: visible; opacity: 1; width: 100%; max-width: none; max-height: none; left: 0; top: 0; float: none; padding-bottom: 0; padding-top: 20px;
		.skinEdit-sections { margin-bottom: 0; height: auto !important; }
		.sectionTitle.fixed { position: static; width: auto; }
		.sectionTitle,
		.followWrap { display: none; }
	}
	// -----------------
}