.wizardSteps {
	background: #fff; border-bottom: 1px solid #f2f2f2; margin: 0; padding: 0; text-align: center;
    border: 1px solid #d8dadf !important;
	position: relative; z-index: 90;
	display: flex; justify-content: space-around; align-items: center;
	.btn { font-size: 14px; }
	.btn-back {
		margin-left: 20px; color: #6b7c93;
		i { color: #121921; margin-right: 10px; vertical-align: middle; position: relative; top: -.03em; }
	}
	.wizard_style_btn {
			.saveMessage { position: absolute; top: 100%; background: #fff; padding: 5px; margin-top: 7px; font-size: 12px; line-height: 1.2; left: 50%; transform: translate(-50%, 0); }
	}
	>.btn:last-child { margin-right: 20px; }
	>div { display: table; width: 100%; max-width: 1000px; margin: 0 auto; }
	ol { display: table-row; padding: 0; margin:0; list-style: none; white-space: nowrap; }
	li {
		display: table-cell; width: 20%; vertical-align: middle; line-height: 1; font-weight: 100; font-size: 40px !important; white-space: nowrap;
		// background-repeat: no-repeat; background-position: right center; padding-right: 13px; background-image: inline-image("images/stepsarrow.png"); }
		// li:last-child { background: none; padding-right:0;
	}
	li>a { color: #232a32; font-size: 16px; text-decoration: none; display: inline-block; vertical-align: middle; text-align: center; padding: 5px; cursor: pointer; border: 1px solid transparent; white-space: nowrap; }
	li>a>i { display: inline-block; vertical-align: middle; font-size: 18px; width: 30px; height: 30px; text-align: center; line-height: 28px; border-radius: 20px; border: 1px solid #c8c8c8; background: #f4f4f4; margin-right: 5px; color: #232a32; }
	li>a>b { display: inline-block; vertical-align: middle; white-space: normal; }
	li.active {
		>a { cursor: default; }
		>a>i { background-color: $color-green; color: #fff; border-color: $color-green; }
	}
	li.disabled {
		opacity: .4;
		// >a { opacity: .2; cursor: default; }
		// >a>i { color: #232a32; }
	}
	li:not(.active):not(.disabled)>a:hover {
		color: $color-green;
		// /*background: rgba(0, 134, 207, 5/100); border-radius: 40px; border-color: rgba(0, 134, 207, 20/100);*/
		>i { background-color: $color-green; color: #fff; border-color: $color-green; }
	}
	@media screen and (max-width: 1370px) {
		margin-left: auto !important; margin-right: auto !important;
	}

	@media screen and (max-width: 1250px) {
		li:before { font-size: 26px; }
		//li a { font-size: 16px; }
		li > a > i { width: 30px; height: 30px; line-height: 28px; }

	}
	@media screen and (max-width: 1100px) {
		li > a > b { width: 70%; text-align: left; width: calc(100% - 40px); }
	}
	@media screen and (max-width: 800px) {
		margin: 0 0 20px 0; padding: 5px 5px; width: 100%;
		li:before { margin: 0 -0.4em 0 -0.6em; line-height: 40px; }
		li { font-size: 30px; max-width: 19%; line-height: 0; }
		li:first-child { font-size: 30px; }
		li>a { padding: 0 5px 0 5px; }
		li>a>i { display: none; }
		li>a>b { font-size: 13px; line-height: 1.1em; width: auto; }
		.header.loggedout+.content-container & { margin: 0; }
	}
	@media screen and (max-width: 500px) { 
		>div { display: table; min-height: 35px; max-width: calc(100vw); table-layout: fixed; }
		ol { display: table-row; }
		li:before { margin: -5px -0.4em 0 -24px !important; position: absolute; }
		li a { text-align: left; }
		li { display: table-cell; vertical-align: middle;}
	}
	@media screen and (max-width: 400px) {
		li>a>b { font-size: 12px; }
	}
	@media screen and (min-width: 1250px) {
		// &.fixed {
		& {
			margin: 0; position: fixed; top: 64px; width: 100%; left: 0; z-index: 100;
			~.librarySideMenu {
				padding-top: 105px;
				h3 { margin: 25px 0 15px 0; }
			}
			~.skinPreviewArea { margin-top: 43px; }
			~.wizardArea { padding-top: 44px; }
		}
	}
}
@media screen and (max-width: 800px) {
	.wizardSteps ~ .librarySideMenu.skinEditorTabs { transform: none !important; }
}
