.embedContent {
    p { color: #aab2bc; font-size: 12px; }
    .embed_code_copybtn { position: relative; }
    .copyStatus { top: 8px; left: 13em; }
    // =========================================================
    @media screen and (max-width: 500px) {
        .embed_code_copybtn { display: none; }
    }
    // =========================================================
}