.itemsContent.email {
    min-height: 270px; height: 500px; min-height: calc(100vh - 365px); padding: 30px; background: #fff; border: 1px solid #ccd0d9; border-radius: 5px; text-align: center;
    >div { display: inline-block; vertical-align: middle; max-width: 100%; }
    &:after { display: inline-block; vertical-align: middle; width: 0; content:''; height: 100%; min-height: calc(100vh - 395px); }
    .emailplaneIcon { display: inline-block; width: 123px; height: 114px; margin: 10px auto; background: center center no-repeat; background-image: inline-image("images/upload-email.png") }
    >* { max-width: 540px; margin: 0 auto; }
    .infoOnText { background: #f6f7fb; padding: 15px 10px; border-radius: 5px; color: #656d78; font-weight: 500; max-width: 420px; }
    .globalField>.values>* { display: inline-block; vertical-align: middle; margin: 5px; }
    .popup { left: -10px !important; }
}

.itemsContent.webcam {
    min-height: 270px; min-height: calc(100vh - 365px); padding: 30px; background: #fff; border: 1px solid #ccd0d9; border-radius: 5px; text-align: center;
    embed { max-width: 100%; }
    @media screen and (max-width: 640px) {
        padding: 10px;
        #webcamobj .video-js { max-height: 70vw; max-width: 100%; }
    }
}



.itemsContent.basic {
    min-height: 270px; height: auto; min-height: calc(100vh - 365px); padding: 30px; background: #fff; border: 1px solid #ccd0d9; border-radius: 5px; text-align: center;
    >div { display: inline-block; vertical-align: middle; max-width: 510px; }
    &:after { display: inline-block; vertical-align: middle; width: 0; content:''; min-height: calc(100vh - 395px); }
    .fileUploadFrame { height: 21px; }
    .listNumber b {display: inline-block; background-color: #ccd0d9; border-radius: 20px; color: #fff; min-width: 22px; line-height: 22px; text-align: center; height: 22px; }
    table { margin: 0 auto 30px auto; text-align: left; }
    td { padding: 5px; }
    p b { font-weight: bold; }
    @media screen and (max-width: 640px) {
        >div { max-width: 100%; overflow: hidden; }
    }
}

.itemsContent,
.uploadMethod {
    .uploadAreaSuccess,
    #uploadFilesAreaSuccess h3 { // bad selector
        font-weight: normal; color: $color-green; font-size: 1em; margin-top: 30px;
        i { font-size: 16px; margin: 2px 5px 5px 5px; }
    }
    @media screen and (max-width: 640px) { height: auto !important; }
}