.oldUploadPage { position: absolute; top: 90px; }


.modalContainer {
    #add_gall_id.dd-container { margin-top: 0; }  // Embed popup
    .infoBlock { word-wrap: break-word; }
}

.uploadArea-content .libraryContainer { border: none; margin: 0; }


.uploadPaginatorArea {
    display: block; background: #fff; border: 1px solid #ccd0d9; border-bottom: none; border-radius: 5px 5px 0 0; padding: 10px 15px; @include clearfix();
    >.leftArea { float: left; }
    >.rightArea { float: right; }
    .instagramIcon { display: inline-block; vertical-align: middle; margin: 2px 5px; font-size: 0; background: #777; width: 40px; height: 40px; background: url('../images/instagram40.png') no-repeat center center; background-size: contain; }
    .dd-container { display: inline-block; vertical-align: middle; width: auto !important; margin: 3px; }
}


.arowsPaginator {
    display: inline-block; vertical-align: middle;
    ul, li { margin: 0; padding:0; display: block; list-style: none; display: inline-block; vertical-align: middle; }
    a {
        text-decoration: none; padding: 5px 0; display: block; min-width: 16px; text-align: center; display: block;
        &:hover { background: #ccc; }
        i { font-size: 18px; }
        b { display: inline-block; vertical-align: middle; margin: 0 3px; font-weight: 500; }
    }
}
