.posterGroup {
    text-align: center;
    .posterBySec {
        margin: 10px 0;
        label { display: block; font-size: 13px; color: #656d78; margin: 5px 0; }
        .secondsInput { width: 20% !important; border: 1px solid #d8dadf; border-radius: 3px; padding: 10px; font-size: 13px; color: #aab2bd; }
    }
    .postersContainer { font-size: 0; }
    .thumbImage {
        margin: 5px; display: inline-block; position: relative; font-size: 14px; font-size: 1rem; line-height: 80px; font-size: 13px; overflow: hidden; text-align: center; width: 146px; height: 84px; border-radius: 1px; border: 2px solid #FFFFFF; -moz-box-shadow: 0px 0px 0px 1px #c7c8cd; -webkit-box-shadow: 0px 0px 0px 1px #c7c8cd; box-shadow: 0px 0px 0px 1px #c7c8cd;
        img { max-height: 100%; height: 100%; width: auto; }
        .error { line-height: 1; display: inline-block; vertical-align: middle; margin-top: 24px; }
        &:hover {
            &:after {content: 'Set as thumbnail'; background: rgba(82, 82, 82, 70/100); width: 100%; position: absolute; top: 0; left: 0; height: 100%; color: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; line-height: 1em; padding: 26px 5px; cursor: pointer; font-size: 12px; text-shadow: 0 0 2px rgba(0, 0, 0, 72/100); font-weight: 300; text-align: center; }
            &.active:after,
            &.invalid:after { display:none; }
        }
        &.active { -webkit-box-shadow: 0px 0px 0px 2px #1587cc; -moz-box-shadow: 0px 0px 0px 2px #1587cc; box-shadow: 0px 0px 0px 2px #1587cc; }
        &.invalid p { line-height: 1.3; margin-top: 30px; margin-bottom: 50px; }
    }
}