.itemsContent ~ .libraryContainer { background: transparent; }

.uploadItem {
    display: block;
    padding: 20px; background: #fff; margin: 10px 0; white-space: nowrap; position: relative; @include transition(.5s ease box-shadow);
    font-size: 16px; display: flex; flex-wrap: 1;
    // border-top: 10px solid #f2f2f2;
    margin-top: 10px !important;
    .progressMeta {
        display: flex; flex-wrap: wrap; align-items: flex-start;
        // width: calc((100% - 180px)*0.7);
        width: 100%;
    }
    &[style*="position: absolute;"] { @include box-shadow(0 0 30px rgba(#000, .5)); }
    &.added { box-shadow: 0 0 0 2px $color-green; border-color: $color-green; z-index: 1; }
    &.removed { box-shadow: 0 0 0 2px $color-red; border-color: $color-red; z-index: 1; }
    input,
    textarea {
        width: 100%; max-width: 100%; margin: 10px 0; display: block; background: #fff; border: 1px solid #c8c8c8; border-radius: 3px; padding: 5px 7px;
        &:first-child { margin-top:0; }
        &:last-child { margin-bottom:0; }
        &::placeholder { color: #c8c8c8; }
    }
    form { margin: 0; padding: 0; }
    .fileControls, .fileThumb, .fileInfo, .fileEditor, .fileTags, .fileActions, .fileMore,
    >div { display: inline-block; vertical-align: middle; padding: 0 10px; position: relative; white-space: normal; text-align: left; }
    .icon-arrupsmall:before { content: '\e941'; }
    .icon-arrdwnsmall:before { content: '\e940'; }
    .icon-stat_more:before { content: '\e93e'; }
    .fileControls {
        min-height: 90px; vertical-align: top; padding: 0; flex-grow: 0;
        width: 24px; margin-left: -5px; margin-right: 10px;
        .reorderItem {
            margin: -2px -3px 5px -3px; left: 0; width: auto;
            >span,
            > a {
                font-size: 20px;
                @include iconfont(); color: #6b7c93;
                display: block; height: 30px; text-align: center; text-decoration: none; line-height: 24px;
                &:before { font-size: inherit; }
                &:hover { color: $color-blue; }
            }
            .dragItem {
                cursor: move; margin-bottom: 15px;
                &:before { content: '\e93f'; }
            }
            .moveUp,
            .moveDown { cursor: pointer; }
        }
        .delete_action {
            position: absolute; left: -6px; bottom: -8px;
            &:hover {
                background-color: transparent; border: transparent; box-shadow: none;
                i { color: $color-red !important; }
            }
        }
    }
    .fileTopActions {
        font-size: 14px; margin-bottom: 20px; width: 100%; min-height: 24px; text-align: left;
        &:before { content: 'Main Info'; color: #232a32; font-weight: 600; @include font-accent(); margin-right: 15px; }
        .changeThumbnail,
        .assetsUrl {
            display: inline-block; margin-right: 20px;
            >div { display: inline-block; }
        }
    }
    .tagsButtons {
        font-size: 14px; margin-bottom: 20px; min-height: 24px;
        &:before { content: 'Tags'; color: #232a32; font-weight: 600; @include font-accent(); margin-right: 15px; }
    }

    .fileDetails {
        display: flex; flex-wrap: wrap; width: 50%; align-items: flex-start;
    }
    .fileThumb {
        width: 15%; width: calc(140px); vertical-align: top; margin: 0; padding: 0;
        > div:after { @include iconfont(); color: #fff; position: absolute; display: none; width: 40px; height: 40px; font-size: 40px; background: #000; background: rgba(24, 24, 24, 62/100); border-radius: 20px; left: 50%; top: 50%; margin: -20px; }
        >div { width: 140px; height: 80px; max-width: 100%; overflow: hidden; background: repeat center center; background-image: url('../images/nothumb.png'); }
        img { width: 100%; height: 100%; }
        /*img[src="http://www.cincopa.com/design/images/nofotosmall.gif"] { background-color: #d8dadf; -webkit-filter: grayscale(100%); -ms-filter: grayscale(100%); -moz-filter: grayscale(100%); filter: grayscale(100%); height: auto; padding: 14px 0; }*/
        img[src="http://www.cincopa.com/design/images/nofotosmall.gif"] { display: none; }
    }
    &.music .fileThumb>div:after { display: block; content: "\e615"; }
    &.video .fileThumb>div:after { display: block; content: "\e614"; }
    
    .fileInfo {
        vertical-align: top; min-height: 80px; padding-bottom: 35px; flex-grow: 1;
        // width: calc(100% - 140px);
        width: calc((100% - 170px)*.3);
        .file-title { display: block; color: #3a3641; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
        .file-size { font-size: 12px; color: #6b7c93; display: block; overflow: hidden; text-overflow: ellipsis; }
        .file-descr { display: block; overflow: hidden; text-overflow: ellipsis; }
        .prgsLine { position: absolute; bottom: 0; width: 100%; left: 5px; width: calc(100% - 15px); }
        .changeThumbnail {
            position: relative;
            >div { position: absolute; right: 0; top: -4px; }
        }
        .itemDelete {
            position: absolute; bottom: 0; left: 0; border-radius: 4px;
            i { color: $color-red; }
        }
    }
    .changePoster { cursor: pointer; }
    .fileMeta {
        vertical-align: top; width: 50%; display: flex; flex-wrap: wrap;
        .prgsLine { margin: 10px 0; width: 100%; }
    }
    .fileEditor {
        vertical-align: top; width: 50%;
        .field.description { margin-bottom: 0; }
    }
    .fileTags {
        width: 25%; flex-grow: 1; padding-left: 30px;
        label { display: none; }
        input { padding: 5px 0; background: transparent; border: none; width: 100% !important; }
        input { @include placeholder { text-decoration: underline; color: $color-blue; } }
    }
    .fileTopActions a,
    a.copyTags,
    a.selectTags {
        font-size: 14px; text-decoration: none;
        &:hover { text-decoration: underline; }
    }
    span.tag, .library-line span.tag { margin: 0 10px 10px 0; }
    .tagsinput { height: auto !important; }
    .fileActions {
        flex-grow: 0; line-height: 90px; text-align: center;
        visibility:hidden!important;
        display: none !important;
        &:after { content: ''; display: inline-block; vertical-align: middle; height: 90px; }
        .embed_action {
            display: none;
            // &[style="visibility: visible;"] { display: inline-block; }
        }
        
    }
    .fileMore {
        display: block; width: 100%; position: relative;
        padding: 0 23px;
        // width: 10%; width: calc(#{$fileMore-width});
        .btn {
            color: #6b7c93; margin: 0; background: #fff;
            i { font-size: 20px; margin-right: 5px; color: inherit; }
            b { font-weight: normal; font-size: 13px; }
            b:before { content: 'Show '; }
        }
        &.active {
            &:before { content: ''; display: block; position: absolute; width: calc(100% - 20px); border-bottom: 1px solid #e5e5e5; top: 50%; }
            .btn {
                color: $color-blue;
                i:before { content: '\e93d'; }
                b:before { content: 'Hide '; }
            }
        }
    }
    .advancedOptions {
        display: block; white-space: nowrap; width: 100%; padding: 10px 20px 0 30px;
        max-height: 0; overflow: hidden; padding-top: 0; padding-bottom: 0; margin: 0; border-top: none; transform: scale3d(1,0,1); @include transition(.25s ease all);
        &.active { max-height: 100%; transform: none; margin: 0 0 -10px 0; padding-top: 10px; }
        >div {
            display: inline-block; vertical-align: top; margin: 0 1%; white-space: normal;
            &:first-child { margin-left: 0; }
            &:last-child { margin-right: 0; }
        }
        label { font-weight: 600; color: #232a32; font-size: 16px; margin-bottom: 10px; display: block; }
        .fileRelated { width: 25%; }
        .fileReference { width: 25%; }
        .fileDescr { width: 48%; }
        @media screen and (max-width: 640px) {
            >div { display: block; width: auto !important; text-align: left; }
        }
    }
    .advancedSave {
        position: absolute; right: 10px; top: 5px;
        .hint {
            left:auto; right: 0;
            &:after { left: auto; right: 34px; }
        }
    }
    .field { display: block; margin: 0 auto 8px auto; position: relative; }
    .fileInfo,
    .fileTags,
    .fileActions { padding-right: 10px; min-height: 80px; }


// =========================================================
    @media screen and (max-width: 1100px) {
        white-space: normal; text-align: right;
        // .fileInfo { width: 15%; }
        // .fileEditor { width: 15%; }
        .fileDetails { width: calc(100% - 30px); }
        .fileTags { width: 100%; padding: 10px 10px 10px 35px; border: none; border-top: 1px solid #d8dadf; border-bottom: 1px solid #d8dadf; margin: 10px 0; min-height: 0;}
        .fileActions {
            width: auto; line-height: 1; min-height: 0;
            &:after { display: none;}
        }
        .fileMore { width: auto; }
    }
// =========================================================
    @media screen and (max-width: 500px) {
        white-space: normal; /*text-align: right;*/
        .fileInfo { width: 30%; border-right: none; }
        .fileEditor { width: 100%; }
        .fileTags { }
        .fileActions {
            position: static;
            .share_tooltip { position: static;  height: 0;  margin: 0; width:0; }
            .shareBlock {
                left: 0 !important; margin: 0; top: auto !important; text-align: center; padding: 20px; margin-top: 30px; width: 100%;
                >* { text-align: center; }
                .copy_url { width: 100%; }
                .copyBtn { display: none !important; }
            }
        }
        .fileMore {
            b { display: none; }
        }
    }


// ----------------------------------------------------------
    &.media {
        margin: 0 0 -1px 0; border-radius: 0;
        .fileInfo { width: 30%; }
        .fileEditor {
            width: 30%;
            input, textarea { border-color: #d8dadf; background-color: #fff; }
        }
        .fileTags { width: 30%; border-right: none; }



    // =========================================================
        @media screen and (max-width: 1100px) {
            white-space: normal; text-align: right;
            .fileInfo { width: 15%;  }
            .fileEditor { width: 15%; }
            .fileTags { width: 100%; padding: 10px 10px 10px 35px; border: none; margin: 0 0 -10px 0; min-height: 0; border: none; padding: 0;}
            .fileActions {
                width: auto; line-height: 1; min-height: 0;
                &:after { display: none;}
            }
            .fileMore { width: auto; }
        }
    // =========================================================
        @media screen and (max-width: 500px) {
            white-space: normal; text-align: right;
            .fileInfo { width: 30%; border-right: none; }
            .fileEditor { width: 100%; }
            .fileTags { }
            .fileActions { }
            .fileMore {  }
        }
    // =========================================================
    // =========================================================




    }
// ----------------------------------------------------------
    &.isDeleted {
        background-color: rgba(#fff, 15/100); border-color: rgba($color-red, 10/100);
        .dragItem,
        >* { opacity: .3; -webkit-filter: blur(1px); -moz-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px); @include transition(.2s ease all); pointer-events: none; }
        .fileControls {opacity: 1; -webkit-filter: none; -moz-filter: none; -ms-filter: none; filter: none; pointer-events: auto; }
        .itemDelete {
            i { font-size: 18px; }
            i:before { content: '\e65e'; }
            &:hover i { color: $color-green !important; }
        }
    }
// ----------------------------------------------------------
}