.uploadSearchArea {
    display: block; border: 1px solid #ccd0d9; padding: 10px 15px; @include clearfix();
    margin: -21px -10px 10px -10px; background: #fff;
    >div { display: flex; align-items: center; justify-content: space-between }
    .selectedFiles {
        float: left; margin: 2px 15px 2px 0; min-width: 25%;
        b { display: inline-block; vertical-align: middle; height: 1.7em; background-color: #e2fae9; padding: 0 4px; line-height: 1.7em; min-width: 1.7em; text-align: center; font-size: 15px; color: $color-green; border-radius: 20px; }
        i { font-weight: 500; display: inline-block; vertical-align: middle; color: #565656; font-size: 18px; margin-left: 10px; }
    }
    .search_input {
        padding: 10px 5px; margin: -5px 0 -5px -5px; width: 400px; max-width: 50%; max-width: calc(70% - 200px); outline: none !important;
        &::placeholder { color: #6b7c93; font-weight: 100; }
    }
    .searchbox {
        padding: 0 !important; border: none !important; background: none !important; position: relative;
        .search_input { padding-left: 30px; border-radius: 5px; border: 1px solid #d8dadf; width: 100% !important; max-width: 100% !important; }
        .search_img { position: absolute; top: 50%; margin: -12px 0; }
    }
    .reset_search {
        margin-left: -.5em; width: 24px; height: 24px; line-height: 24px; text-align: center; color: #aaa; display: none;
        i { font-size: 18px; line-height: 24px; }
        &[style="display: block;"] { display: inline-block !important; }
        &:hover i { color: $color-red; }
    }
    .dd-select .dd-selected { padding: 11px 18px 10px 10px !important; }
    .selectedFiles,
    .dropdownTypesbox,
    .dropdownUsagebox,
    .searchbox { width: 25% !important; display: flex; align-items: center; }
    .dropdownTypesbox,
    .dropdownUsagebox,
    .searchbox { flex-grow: 1; }
    @media (max-width: 800px) {
        .search_input { width: 100%; max-width: calc(100% - 35px); }
    }
    @media (max-width: 640px) {
        >div>div { width: 100% !important; margin: 5px 0; }
        .dropdownUsagebox,
        .dropdownTypesbox {
            display: flex;
            >* { flex-grow: 1; }
        }
    }
}