.itemsContent {

}


.uploadItems.grid { padding: 5px 10px; background: #fff; margin: 15px auto; border: 1px solid #ccd0d9; border-radius: 3px; }
.uploadItems.grid .uploadItem {
    display: inline-block; padding: 10px; position: relative; width: 190px; vertical-align: top; margin: 5px;
    input,
    textarea {    }
    .fileControls, .fileThumb, .fileInfo, .fileEditor, .fileTags, .fileActions, .fileMore,
    >div { display: block; padding: 0; min-height: 0 !important; width: 100%; margin: 10px 0; border: none; }
    .fileDetails { width: 100%; }
    .fileMeta { width: 100%; }
    .fileTopActions {
        flex-wrap: wrap; display: flex;
        >div { max-width: 100%; overflow: hidden; margin: 0; text-overflow: ellipsis; }
    }
    .fileControls {
        z-index: 5; width: 100% !important; left: 0; top: 0; padding: 0;
        .reorderItem { width: 26px; margin: 0; }
        .moveUp, .moveDown { display: none; }
        .dragItem { top: 0; left: 10px; margin: 0; }
        .delete_action { top: -5px; left: auto; right: 0; }
    }
    .fileThumb {
        margin: 0;
        >div { width: 100%; height: 160px; padding: 0; border: none; display: flex; align-items: center; }
        img { width: 100%; height: auto; }
    }
    .fileInfo {
        margin-bottom: 0; width: 100%; position: static;
        .file-title { white-space: nowrap; }
        .file-descr { }
        .prgsLine { width: 100%; left: 0; margin-top: 5px; position: absolute; bottom: 70px; }
        .changeThumbnail { position: absolute; width: 100%; top: -35px; }
        .itemDelete { top: 20px; right: 0; z-index: 10; }
    }
    .fileEditor { display: none;   }
    .fileTags {  display: none;  }
    .fileActions {  display: none;  }
    .fileMore {  display: none;  }
    .advancedOptions { display: none; }
    .advancedSave { right: 40px; top: 7px; }
}