.uploadArea {
    background: #f2f2f2; margin: 0;
    .uploadArea-head {
        padding: 15px 20px; background: #fff; font-size: 14px; border-radius: 4px 4px 0 0; border-bottom: 1px solid #d8dadf; @include clearfix(); text-align: center;
        display: flex; justify-content: space-between;
        border: 1px solid #d8dadf; margin-top: -1px;
        .headRight,
        .headLeft,
        .headCenter { display: inline-block; }
        .headRight,
        .headLeft {
            // width: 40%; width: calc(55% - 135px);
            min-height: 1px;
        }
        .headRight { float: right; text-align: right; position: relative; }
        .headCenter,
        .headLeft { float: left; text-align: left; }
        .headLeft { padding-right: 5px; flex-grow: 1; }
        h3 { margin-top: 0; margin-bottom: 0; @include font-accent(); font-size: 22px; font-weight: 600; }
        h3+p { margin-top: 0; }
        p { margin-bottom: 0; color: #aab2bc; font-size: 14px; }
        .headCenter .btn {
            padding: 5px 14px; 
            >i { font-size: 40px; }
        }
        .last_added_grid_view {
            display: inline-block; vertical-align: middle; padding: 7px 5px 7px 0; border-right: 1px solid #E4E4E4; margin-right: 5px;
            .btn.trans { margin: 0 2px; }
        }
        .btn.save {
            position: relative; overflow: visible;
            .saveMessage { position: absolute; color: #aab2bd; max-width: 500px; background: #fff; z-index: 500; padding: 2px 5px; font-size: 11px; margin: 0; /*box-shadow: 0 0 10px rgba(0,0,0,.2); border-radius: 2px;*/ white-space: nowrap; /*border: 1px solid #ccc;*/ font-weight: normal; pointer-events: none;   top: 100%; margin-top: 2px; margin-left: -30px; }
        }
       .uploadTotals {
            color: #6b7c93; display: inline-block; vertical-align: middle; font-weight: 300; padding: 0 15px;
            >span { display: block; text-align: right; margin: 5px 0; }
            b { border-radius: 30px; color: #fff; background: #e6f3fa; color: $color-blue; padding: 2px 5px; min-width: 23px; display: inline-block; vertical-align: middle; text-align: center; }
            .totals>b { background: #e2faea; color: $color-green; }
            @media screen and (max-width: 1450px) {
                border-radius: 5px;
            }
       }
       &.fixed { 
            position: fixed; top: 100px; width: 100%; padding: 15px 20px 15px 320px; left: 0; z-index: 20;
            + .uploadArea-content { padding-top: 102px; }
            @media screen and (max-width: 1250px) {
                position: relative; top: 0; width: auto; padding: 18px 30px; left: 0;  z-index: auto;
                + .uploadArea-content { padding-top: 10px; }
            }
       }

        @media screen and (max-width: 1600px) {
            .headRight,
            .headCenter { width: auto; }
            .headLeft { width: calc(100% - 440px); }
        }
        @media screen and (max-width: 800px) {
            .headRight,
            .headLeft,
            .headCenter { width: auto; max-width: 100%; }
            &.fixed { padding: 0 20px; }
        }
        @media screen and (max-height: 690px) {
            padding-right: 60px;
        }
    }   
    .uploadArea-content {
        padding: 10px; font-size: 14px; color: #aab2bc; margin: 10px 0;
        // padding-right: 60px;
        p { margin: 1em auto 1.2em auto; }
        h4 { text-transform: none; font-weight: normal; margin: .5em 0; }
        .charactersLeftDiv { bottom: 5px; position: absolute; color: $color-blue; white-space: nowrap; font-size: 12px; font-weight: 400; text-align: right; overflow: hidden; text-overflow: ellipsis; right: 10px; } }
    .codeSnippet {
        input { color: #aab2bc; @include font-monospace(); border: 1px solid #aab2bc; padding: 10px; }
    }
    .copyBtn { min-height: 41px; min-width: 110px; }
    @media screen and (max-width: 800px) {
        margin: 20px 0; padding: 0 10px;
        .headRight,
        .headCenter,
        .headLeft { float: none; max-width: 100% !important; margin: 10px 0; }
        .headCenter button { display: none; }
        .uploadArea-head {
            padding: 10px 20px; margin: -20px -20px 10px -20px;
            &.fixed {
                position: relative; top: 0; left: 0; width: auto;
                + .uploadArea-content { padding-top: 0; }
            }
            .headLeft { display: none; }
            .uploadTotals { width: 50%; width: calc(100% - 110px); text-align: right; margin-right: 10px; }
            .sortItems,
            .last_added_grid_view { display: none !important; }
        }
        .uploadArea-content { padding: 0; }
    }
    @media screen and (min-width: 1350px) {
        .embedCode-head.fixed {
            position: fixed; top: 153px; border-top: 1px solid #ddd; z-index: 90; width: 100%; left: 0; padding: 10px 15px 10px 320px;
            + .embedCode-content { padding-top: 90px; }
        }
    }
}