.uploadItems.grid.smaller .uploadItem {
    width: 100px; margin: 5px;
    .fileThumb > div { height: 90px; }
    .fileInfo {
        .changeThumbnail { font-size: 10px; line-height: 1; }
        .file-size { height: 2em; display: block; }
    }
}