.uploadMethod {
    position: relative;
    &.normal {
        padding: 15px 20px; background: #fff; border: 2px dashed #ccd0d9; border-radius: 5px; text-align: center; @include transition(.5s ease all);
        >div { display: inline-block; vertical-align: middle; }
        .icon-upload_big {
            font-size: 0; width: 124px; height: 55px;
            background: no-repeat center center; background-size: cover;
            background-image: inline-image('images/dragndropupload.png');
            vertical-align: baseline; margin-bottom: -20px; margin-right: 20px;
            &:before { display: none; }
        }
        .draghere {
            color: #6b7c93; font-size: 22px;
            +span { color: #6b7c93; font-size: 16px; display: inline-block; margin: 0 10px; }
        }
        .maxsize { font-size: 12px; font-style: italic; }
        .selectFile { position: absolute; opacity: 0; cursor: pointer; visibility: hidden; z-index: -100; width: 0; height: 0; }
        .fileSelect { display: inline-block; vertical-align: middle; }
        &.dropContHover {
            border-color: $color-green; color: $color-green; box-shadow: 0 0 20px;
            &:before { position: absolute; width: 100%; height: 100%; display: block; content: ''; left: 0; top: 0; z-index: 10; }
            .draghere,
            .icon-upload_big { color: $color-green; }
            .btn { display: none; }
        }
    }
    &.normal.maximized {
        height: auto; min-height: calc(100vh - 345px);
        &:after { display: inline-block; vertical-align: middle; content: '';  min-height: calc(100vh - 395px); }
        .icon-upload_big { font-size: 100px; display: block; margin: 0 auto; }
        span { display: block; margin: 10px 0; }
        .draghere {font-size: 24px; }
    }
    &.dropbox {
        padding: 5px 15px; background: #fff; border: 1px solid #ccd0d9; border-radius: 5px; text-align: center;
        >div { display: inline-block; vertical-align: middle; max-width: 100%; }
        .icon-upload_big_dropbox {
            display: inline-block; width: 160px; height: 50px; max-width: 100%; margin: 10px auto; background: center center no-repeat; background-size: contain; background-image: inline-image("images/uploaddropbox.png");
            +span { display: inline-block; vertical-align: middle; margin: 0 10px; }
        }
        &.maximized {
            min-height: 270px; height: 300px; min-height: calc(100vh - 365px); padding: 30px;
            &:after { display: inline-block; vertical-align: middle; width: 0; content:''; height: 100%; min-height: calc(100vh - 395px); }
            .icon-upload_big_dropbox {
                display: block; width: 400px; height: 110px; margin: 10px auto;
                +span { display: block; margin: 20px auto; }
            }
            .dropboxbutton { margin-bottom: 40px; }
        }
    }
    &.url {
        padding: 20px; background: #fff; border: 1px solid #ccd0d9; border-radius: 5px; text-align: center;
        >div { display: inline-block; vertical-align: middle; }
        span { display: block; margin: 5px auto; max-width: 500px; }
        input { padding: 5px; margin: 10px auto; width: 100%; }
        button { min-width: 150px; }
        &.maximized {
            min-height: 270px; height: auto; min-height: calc(100vh - 365px); padding: 30px;
            &:after { display: inline-block; vertical-align: middle; width: 0; content:''; min-height: calc(100vh - 395px); }
        }
    }
    &.instagram {
        .loginToInstagram {
            padding: 5px 15px; background: #fff; border: 1px solid #ccd0d9; border-radius: 5px; text-align: center; min-height: 270px; height: 100%; min-height: calc(100vh - 480px); padding: 30px;
            >* { display: block; margin: 20px auto; }
            @media screen and (max-width: 640px) { height: auto !important; min-height: 0 !important; }
        }
        .uploadItems.grid { background: transparent; }
        .uploadItem {
            padding: 3px; margin: 10px;
            .fileControls { left: 5px; top: 5px; }
            .thumb {
                margin:0;
                img { width: 100%; height: auto; }
            }
        }
        .btn.instagram { background-color: #49709b; border-color: #49709b; }
    }
    @media screen and (max-width: 640px) {
        &.maximized { height: auto !important; min-height: 0 !important; }
    }
    .btn .icon-checked { font-size: 16px; margin: 0 3px; }
}