.uploadWays {
    padding-top: 2px; height: calc(100vh - 240px); overflow: auto; overflow-x: hidden; margin: 0 -30px 10px -30px;
    li,
    ul { display: block; list-style: none; margin: 0; padding: 0; font-size: 18px; @include font-accent(); }
    .uploadWayItem {
        >a { display: block; position: relative; color:#6b7c93; margin: 0; padding: 13px 20px; cursor: pointer; }
        >a:hover { background: #e6f3fa; }
        >a>i { position: relative; top: .07em; display: inline-block; vertical-align: middle; width: 30px; font-size: 26px; margin-right: 8px; @include iconfont(); color: $color-blue; }
        >a>b { font-weight: 300; display: inline-block; max-width: calc(100% - 50px); vertical-align: middle; }
        // >a>i { background-image: inline-image('images/upload-icons-40.png'); }
        &.webcam>a>i:before { content: '\e934'; }
        &.wordpress>a>i { background-position: -40px 0; }
        &.email>a>i:before { content: '\e933'; }
        &.basic>a>i:before { content: '\e939'; }
        &.normal>a>i:before { content: '\e931'; }
        &.url>a>i:before { content: '\e93a'; }
        &.library>a>i:before { content: '\e932'; }
        &.dropbox>a>i:before { content: '\e936'; }
        &.mobile>a>i:before { content: '\e935'; }
        &.gdrive>a>i { background-position: -360px 0; }
        &.facebook>a>i { background-position: -400px 0; }
        &.instagram>a>i:before { content: '\e938'; }
        > ul { max-height: 0; overflow: hidden; height:0; visibility: hidden; opacity:0; @include transition(.2s ease all); padding: 0; }
        &.active>ul { max-height: 290px; height:auto; visibility: visible; opacity:1; padding: 0; }
        &.active>a {
            background: #e6f3fa; color: #232a32; font-weight: 600; pointer-events: none; box-shadow: inset 3px 0 0 $color-blue;
            >i { color: inherit; }
        }
        >ul>li {
            margin: 8px 0; display: inline-block;
            >a {
                margin: 0; padding: 0; display: inline-block; border: none;
                b { display: none; }
                i { margin-right: 0; }
            }
        }
    }
    ~#wasthispagehelpful { position: static; }
    ~.sidebarFooter { margin-bottom: -85px; position: static; }
    .storageUsage {
        font-size: 12px; color: #656d78; margin: 20px -10px;
        label { font-weight: normal; float: left; max-width: 60%; margin-bottom: 5px; }
        .value { font-size: 11px; float: right; color: #aab2bd; max-width: 40%; }
        .progressbar { margin: 5px 0; }
    }
    .selected { margin: 10px 0; font-size: 12px; padding: 0 20px; }
    .checkBox > b { max-width: calc(100% - 10px); }
}