//  -----------------------------------------
//  html
//  -----------------------------------------


//  -----------------------------------------
//  html
//  -----------------------------------------


code { border: 1px solid #E0E0E0; padding: 10px 14px; color: #677484; font-size: 13px; font-family: "Courier New", Courier, monospace; resize: vertical; width: 100%; background: #fff; display: block; margin: 20px auto; max-width: 100%; }
.codeField {
	border: 1px solid #aab2bc; padding: 15px 18px; color: #aab2bc; font-size: 12px; @include font-monospace(); resize: vertical; width: 100%;
	.modalContent & { background-color: #f6f7fb; }
}
.modalContent textarea.codeField { height: 10em; margin: 10px 0; }
