.radioBox {
	vertical-align: top; position: relative; cursor: pointer; display: inline;
	input[type=radio] { display: none; }
	input[type=radio] + i { height: 20px; width: 20px; display: inline-block; vertical-align: middle; margin: 0 5px; background: #fff; border: 1px solid #d8dadf; border-radius: 20px; box-shadow: inset 0 1px 4px #d8dadf; cursor: pointer; margin-right: -40px !important; }
	input[type=radio] + i:before { content: ''; background: #0086cf; display: inline-block; text-align: center; vertical-align: top; line-height: 18px; opacity: 0; width: 12px; height: 12px; border-radius: 20px; top: 50%; margin-top: -6px; position: absolute; left: 9px; opacity: 0; @include transition(.5s ease opacity); }
	input[type=radio]:checked + i {
		border-color: $color-blue;
		&:before { opacity: 1; }
	}
	> * { vertical-align: middle; display: inline-block; }
	> b { line-height: 1.2; padding-left: 50px; }
	&:hover > i { border-color: #434a53; }
}
