.checkBox {
	vertical-align: top; position: relative; cursor: pointer; display: inline;
	input[type=checkbox] { display: none; }
	input[type=checkbox] + i { height: 20px; width: 20px; display: inline-block; vertical-align: middle; margin: 0 5px; background: #fff; border: 1px solid #d8dadf; border-radius: 3px; box-shadow: inset 0 1px 4px #d8dadf; cursor: pointer; margin-right: -40px !important; }
	input[type=checkbox] + i:before { content: "\e602"; font-family: 'cincopaicons'; font-size: 13px; color: #fff; display: inline-block; text-align: center; width: 100%; vertical-align: top; line-height: 18px; opacity: 0; }
	input[type=checkbox]:checked + i {
		background: $color-green; box-shadow: none; border-color: $color-green;
		&:before { opacity: 1; }
	}
	> * { vertical-align: middle; display: inline-block; }
	> b { line-height: 1.2; padding-left: 50px; }
	&:hover > i { border-color: #434a53; }
	.field { margin: 2px 0; color: #aab2bd; font-size: 13px; padding: 9px; border-radius: 2px; border: 1px solid #d8dadf; margin-left: 10px; }
}