//  -----------------------------------------
//  html
//  -----------------------------------------
// <div class="collapsibleItem big">
// 	<a class="title"><i></i><b>Tab title</b></a>
// 	<div class="content">
// 		Content here
// 	</div>
// </div>
//  -----------------------------------------
//  html
//  -----------------------------------------



// ============================================
.collapsibleItem {
	background: #d8dadf; border: 1px solid #d8dadf; border-radius: 4px; color: #656d78; padding: 3px 10px; margin: 5px auto;
	>.title {
		display: block; cursor: pointer; position: relative; margin: -3px -10px -6px -10px; padding: 3px 3px 3px 20px; font-size: 14px; color: #656d78;
		&:before { @include iconfont(); position: absolute; font-size: 20px; left: 0; top: 50%; margin-top: -11px; content: "\e601"; }
		&:hover { color: $color-blue; }
	}
	>.content { padding-left: 10px; padding-top: 5px; font-size: 14px; visibility: hidden; height: 0; overflow: hidden; opacity:0; @include transition(.3s ease all); transform: scale(1,0); color: #919498; }
	&.active {
		>.content { visibility: visible; height: auto; opacity: 1; transform: scale(1,1); }
		>.title:before {
			@include transform(rotate(180deg)); margin-top: -9px; cursor: pointer; opacity: .3;
			&:hover { opacity: 1; }
		}
	}
}
.collapsibleItem.big {
	border-radius: 0; border: none; border-bottom: 1px solid #eeeff3; border-top: 1px solid #eeeff3; background: #fff; margin: -1px auto 0 auto; padding: 34px 55px;
	&:first-child,
	&:first-of-type { border-top: 1px solid #eeeff3; }
	>.title {
		font-size: 18px; font-weight: bold; color: $color-blue; margin: -34px -55px; padding: 34px 55px;
		&:before { margin-top: -15px; left: auto; right: 16px; font-size: 35px; color: #656a71; }
	}
	&.active {
		background: #f6f7fb;
	}
	>.content {
		padding-left: 0;
		ul { padding-left: 1.3em; }
		>*:last-child { margin-bottom: 0; }
	}
	&.active {
		>.title { cursor: default; }
		>.title:before { top: 32px; right: 19px; content: "\e613"; font-size: 24px; color: $color-blue; }
	}
}
.collapsibleItem.plus {
	background: #ffffff; transition: .5s ease all; border-radius: 0;
	> .title {
		padding: 7px 3px 7px 30px; font-size: 16px; color: #656d78;
		&:before { font-size: 22px; left: 10px; top: 4px; margin-top: 0; content: "+"; }
	}
	&:hover {
		box-shadow: 0 2px 10px rgba(0,0,0,.2);
		>.title { color: $color-blue; }
	}
	&.active {
		>.title:before { left: 10px; top: 13px; margin-top: 0; content: "–"; opacity: 1; }
	}
}
.collapsibleItem.tiny {
	border-radius: 0; border: none; background: #fff; margin: 5px auto; padding: 0 32px 0 0; text-transform: uppercase; display: inline-block;
	&:first-child,
	&:first-of-type { border: none; }
	>.title {
		font-size: 14px; font-weight: bold; color: $color-blue; margin: 5px auto; padding: 0 32px 0 0; text-transform: uppercase; display: inline-block; @include font-accent();
		&:before { margin-top: -20px; left: auto; right: 0; font-size: 35px; color: inherit; }
	}
	&.active {
	}
	>.content {
		padding-left: 0; font-size: inherit; color: inherit; text-transform: none;
		ul { padding-left: 1.3em; }
		>*:last-child { margin-bottom: 0; }
	}
	&.active {
		>.title { cursor: default; }
		>.title:before { top: 14px; font-size: 35px; color: inherit; opacity: 1; }
	}
}
.collapsibleItem.faq {  // RecTrace page
	background: #ffffff; transition: .5s ease all; border-radius: 0;
	> .title {
		padding: 7px 3px 7px 30px; font-size: 16px; color: #656d78;
		&:before { font-size: 22px; left: 10px; top: 4px; margin-top: 0; content: "+"; }
	}
	&:hover {
		box-shadow: 0 2px 10px rgba(0,0,0,.2);
		>.title { color: $color-blue; }
	}
	&.active {
		>.title:before { left: 10px; top: 13px; margin-top: 0; content: "–"; opacity: 1; }
	}
}
// .collapsibleItem.faq {  // RecTrace page
// 	transition: .5s ease all; background: transparent; box-shadow: none !important; border: none !important;
// 	color: #485059; margin: 30px auto;
// 	> .title {
// 		background: #ffffff; border-radius: 10px;
// 		padding: 7px 30px 7px 20px; font-size: 16px; color: #538ae8;
// 		&:before { font-size: 24px; top: 8px; margin-top: 0; content: "+"; position: absolute; right: 15px; left: auto; font-weight: bold; color: $color-blue; }
// 		i {
// 			width: 62px; height: 62px; display: inline-block; line-height: 48px; text-align: center; border-radius: 50px;
// 			font-weight: bold; font-size: 18px; border: 6px solid #fff; box-shadow: 0 0 2px #4d4d4d;
// 			margin: -12px 25px -13px -30px; color: #fff;
// 			@include linear-gradient(#2bace2, #4794e6);
// 		}
// 	}
// 	.content { padding-left: 60px; margin-top: 10px; font-size: 13px; color: #485059; }
// 	&:hover {
// 		box-shadow: 0 2px 10px rgba(0,0,0,.2);
// 		>.title { color: $color-blue; }
// 	}
// 	&.active {
// 		>.title:before { left: 10px; top: 13px; margin-top: 0; content: "–"; opacity: 1; }
// 	}
// }
// ============================================