.fieldBox {
	position: relative; margin: 20px 0; color: #fff;
	.fb-field {
		display: block; width: 100%; font-size: 15px; color: #343a41; border: 1px solid #d8dade; border-radius: 2px; padding: 14px; outline: none !important;
		&:focus { border-color: #656d77 !important; }
	}
	select.fb-field { text-align: left; height: auto; color:#717171; padding-right: 35px; background-color: #fff !important; background-position: calc(100% - 10px) 50% !important; }
	.fb-msg {
		position: absolute; top: 50%; margin-top: -13px; right: 10px; font-size: 12px; display: inline-block; padding: 3px 5px; border-radius: 3px;
		&.danger { background-color: $color-red; color: #fff; }
	}
	&.error {
		.fb-field { border-color: $color-red !important; }
	}
	.fb-hint { color: #fff; font-size: 13px; opacity: .5; position: absolute; margin-top: 5px; }
	// ----
	&.grouped {
		display: table; width: 100%;
		>div {
			display: table-cell;
			.fb-field { border-radius: 0; border-left-color: transparent; }
			&:first-child .fb-field { border-radius: 2px 0 0 2px; border-left-color: #d8dade; }
			&:last-child .fb-field { border-radius: 0 2px 2px 0; }
		}
	}
}