.dd-container {
    margin: 10px auto; color: #434a54 !important; line-height: 1.1em; position: relative;
    border-radius: 5px;
    .dd-select { background: transparent !important;/*sic!*/ color: inherit !important; max-width: 100% !important; display: inline-block; width: auto !important; position: relative; }
    .dd-selected {
        display: block; padding: 10px 25px 10px 10px; font-size: 18px; color: inherit; text-decoration: none; white-space: nowrap; position: relative; cursor: pointer; z-index: 1; overflow: hidden; text-overflow: ellipsis;
        // &:before { @include iconfont(); position: absolute; right: -2px; top: 50%; margin-top: -11px; color: $color-blue; content: "\e601"; }
        &:hover { color: $color-blue; }
        // + .dd-pointer-up { display: inline-block; width: 12px; height: 10px; position: absolute; top: 100%; left: 20px; margin-top: -9px; z-index: 105; background-repeat: no-repeat; background-position: center top; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAMAAAC38k/IAAAAM1BMVEUAAAAAAAAAAADLzdLNz9QAAADY2t8AAAAAAAAAAAAAAADR09gAAADO0NXo6ez////7/PzWmA89AAAADnRSTlMDAQaHhgIACQgECoMLhQG2zJIAAABISURBVHheVcdZDoAwDMTQmXTf0t7/tCQIJPDXMzKZYCUyg0STMaS5CKlLdVUxQkrUczQWMXfz3nZdMIPbL0zcfg7u97A//eYC5FAEtWo+3GUAAAAASUVORK5CYII=); }
    }
    a * { cursor: pointer; }
    .dd-pointer {
        position: absolute; width: 100%; height: 100%; background: #fff; z-index: 0; top: 0; left: 0; margin: 0; border-radius: 5px; border: 1px solid transparent;
        &:before { @include iconfont(); font-size: 29px; position: absolute; right: 0; top: 50%; margin-top: -.5em; color: $color-blue; content: "\e601"; }        
        &.dd-pointer-up {
            background-color: #f2f9fd; border-color: #129ce6;
            &:before { transform: rotate(180deg); }
        }
    }
    .dd-options { position: absolute; z-index: 50; top: 100%; border-radius: 4px; box-shadow: rgba(#000, 15/100) 3px 3px 10px 4px; margin: 0px; padding: 0 15px; list-style: none; background: #FFF; max-height: 18em; /*max-height: 90ex;*/ overflow: auto; overflow-x: hidden; z-index: 100; text-align: left; min-width: 180px; }
    .dd-options>li { padding: 0; margin: 0; }
    .dd-options>li>a { display: block !important; cursor: pointer; padding: 10px; margin: 0 -15px; border-top: 1px solid #fafafa; color: #6b7c93; font-size: 13px; text-decoration: none; line-height: 1.1em; min-height: 35px; position: relative; }
    .dd-options>li>a:hover { background: #fafafa; color: #0086cf; }
    .dd-options>li>a>* { display: inline-block; vertical-align: middle; }
    //.dd-options>li>a:after { height: 100%; content: ''; display: inline-block; vertical-align: middle; height: 48px; position: relative; margin: -11px; margin-right: -500px; }
    .dd-options>li:first-child>a { border-top: none; }
    .dd-options>li>.dd-option-selected {
        color: #000; padding-right: 24px;
        &:after { @include iconfont(); content: '\e96b'; position: absolute; right: 4px; top: 50%; margin-top: -.5em; color: #0086cf; font-size: 20px; }
    }
    .dd-option small { color: #aab2bd !important; font-size: 11px; display: block !important; }
    .dd-selected-text,
    .dd-selected-description {max-width: 100%; overflow: hidden; display: block; text-overflow: ellipsis; line-height: 1.3em; }
    .dd-selected-description { opacity: .5; margin-left: 27px; }
    .dd-selected-text { display: inline-block; }
}