//  -----------------------------------------
//  html
//  -----------------------------------------
// <div class="progressDiv prgsLine">
//     <div class="wrp">
//         <div class="progressBarInProgress value" style="width: 24%;"></div>
//         <div class="progressTimeRemSpan track">19 s </div>
//         <div class="progressBarInProgress value"></div>
//         <div class="progressBarStatus">Uploading...</div>
//         <div>24%</div>
//     </div>
// </div>
//  -----------------------------------------
//  html
//  -----------------------------------------



.prgsLine {
    height: 24px; transform: scale3d(1,1,1); position: relative;
    .wrp { border-radius: 4px; width: 100%; height: 100%; background: #e6f3fa; }
    .value {
        background: #ade9fb; @include transition(.2s ease all);
        border-radius: 4px; position: relative; height: 100%; width: 0;
        // &:before { @include linear-gradient(rgba(#000,0), rgba(#000,15/100)); content: ''; display: block; position: absolute; width: 100%; left: 100%; top: 0; left: 0; border-radius: 15px; height: 100%; }
        .title {
            position: absolute; width: 100%; bottom: 100%; text-align: right; display: none; 
            >div { display: inline-block; background: #f1f2f6; border: 1px solid #ccd0d9; padding: 3px 6px; color: $color-blue; margin: 0 -16px 10px -16px; font-size: 11px; border-radius: 5px; }
        }
        .track { width: 100%; height: 100%; border-radius: 15px; background: inline-image("images/upload-progressbar.png") left center; }
    }
    .progressBarStatus { position: absolute; top: 50%; margin-top: -.5em; font-size: 9px; text-align: center; width: 100%; left: 0; color: #139ce6; line-height: 1; }
    .progressTimeRemSpan { position: absolute; right: 8px; top: 50%; margin-top: -.5em; font-size: 9px; line-height: 1; font-weight: bold; }
    .wrp>div:last-child { position: absolute; top: 50%; left: 8px; font-size: 9px; line-height: 1; font-weight: bold; margin-top: -.5em; }
    &:hover {
        .value .title { display: block; }
    }
}
@include keyframe(progress) {0% { background-position: 0 center; background-position: calc(100%) center; } 100% { background-position: 20px center; background-position: calc(100% + 20px) center; } }
.prgsLine .value .track {animation: progress linear .5s; animation-iteration-count: infinite; -webkit-animation: progress linear .5s; -webkit-animation-iteration-count: infinite; -moz-animation: progress linear .5s; -moz-animation-iteration-count: infinite; -ms-animation: progress linear .5s; -ms-animation-iteration-count: infinite; }
.prgsLine .value.progressBarComplete {
	background: #e2faea;
	.track { animation: none; -webkit-animation: none; -ms-animation: none; -moz-animation: none; }
    ~ .progressBarStatus { color: #3eb060; }
}