.inputDigital {
    display: table; border: 1px solid #d9dbe0; border-radius: 3px; overflow: hidden; background: #fff;
    >* { display: table-cell; vertical-align: middle; position: relative; }
    .field {
    	input { height: 40px; margin: 0; border-radius: 0; background: transparent; border: none; border-right: 1px solid #d9dbe0; min-width: 80px; width: 80px; max-width: 100%; }
    }
    .buttons {
    	a {
    		cursor: pointer; display: block; margin: 0; height: 20px; background: #fff; width: 40px; text-align: center;
    		i { font-size: 10px; line-height: 20px; }
    		&:hover { background-color: #eee; }
    	}
    	.incr,
    	.decr { color: $color-blue; }
    }
}