.bubbleInfo {
	color: #ccd0d9; cursor: help; display: inline-block; vertical-align: middle; position: relative;
	.trigger { color: inherit !important; }
	.trigger:before { @include iconfont(); content: "\e644"; }
	&:hover { color: #434a53; }
	.popupwrap { position: absolute; left: 0; width: 100%; }
	.popup {
		white-space: normal; display: none; font-size: 13px; position: absolute; background: #434a53; color: #fff; bottom: 100%; left: 0; z-index: 500; padding: 5px 10px; line-height: 1.2em; border-radius: 4px; font-weight: 400; margin-bottom: 28px; margin-left: -1em; max-width: 100%; min-width: 110px;
		&:after { content: ''; width: 10px; height: 5px; top: 100%; position: absolute; left: 34px; display: block; background: inline-image('images/hint-arrw.png') no-repeat center bottom; }
	}
	.closePopup { display: none; }
}