//  -----------------------------------------
//  html
//  -----------------------------------------


//  -----------------------------------------
//  html
//  -----------------------------------------



.progressbar {
	width: 100%; height: 20px; text-align: left; overflow: hidden; background: #D8DADF; border-radius: 18px;
	.progressbar_value { width: 0; height: 100%; border-radius: 18px; background: $color-blue;}
	&.good .progressbar_value { background: $color-green; }
	&.bad .progressbar_value { background: $color-red; }
	&.bad .progressbar_value { background: $color-red; }
}