// ===========================================================
.fieldItem {
	display: inline-block; vertical-align: top; margin: 10px;
	&.block { margin: 15px 0; clear: both; @include clearfix(); }
	> label { display: block; font-size: 13px; margin-top: 5px; }
	.field { display: block; width: 100%; margin: 2px 0; color: #aab2bd; font-size: 13px; padding: 9px; border-radius: 2px; border: 1px solid #d8dadf; }

	// ---------------------------------------------------------
	.numbersRow {
		@include clearfix(); display: inline-block; vertical-align: middle;
		display: inline-flex;
		> * { display: block; width: 33%; float: left; text-align: center; height: 40px; border: 1px solid #d8dadf; }
		.buttonPlg { width: calc(40px); color: #656d78; padding: 10px; font-weight: 600; cursor: pointer; box-shadow: 0 2px 3px rgba(0,0,0,10/100); @include linear-gradient(#ffffff, #f3f3f3); position: relative; z-index: 1; }
		.buttonPlg:hover { color: $color-blue; }
		.buttonPlg.dec { border-radius: 4px 0 0 4px; }
		.buttonPlg.inc { border-radius: 0 4px 4px 0; }
		input { width: calc(100% - 80px) !important; border-radius: 0; border-left: none; border-right: none; color: #aab2bd; font-weight: bold; margin: 0; }
	}
	// ---------------------------------------------------------
	.percOrPx {
		@include clearfix(); display: inline-block; vertical-align: middle;
		> span {
			display: block; width: 50%; min-width: 40px; float: left; text-align: center; height: 40px; border: 1px solid #d8dadf; color: #aab2bd; padding: 10px; font-weight: 600; cursor: pointer; background: #fff;
			&:first-child { border-right: none; border-radius: 4px 0 0 4px; }
			&:last-child { border-left: none; border-radius: 0 4px 4px 0; }
			&:hover { color: $color-blue; }
			&.active { background: $color-blue; @include linear-gradient(#2d93d1, #147ab8); color: #fff !important; cursor: default; pointer-events: none; }
		}
	}
	// ---------------------------------------------------------
	.toggleOnOff {
		@include clearfix(); display: inline-block; vertical-align: middle;
		> span {
			display: block; width: 50%; width: 40px; float: left; text-align: center; height: 40px; border: 1px solid #d8dadf; color: #aab2bd; padding: 12px 10px; font-weight: 600; cursor: pointer; background: #fff;
			&:first-child { border-right: none; border-radius: 4px 0 0 4px; }
			&:last-child { border-left: none; border-radius: 0 4px 4px 0; }
			&:hover { color: $color-blue; }
			&.on.active { background: $color-blue; @include linear-gradient(#2d93d1, #147ab8); color: #fff !important; cursor: default; pointer-events: none; }
			&.off.active { background: #68707a; @include linear-gradient(#757c86, #5b636d); color: #fff !important; cursor: default; pointer-events: none; }
		}
	}
	// --------------------------------------------------------
	&.toggle {
		display: block; line-height: 0; margin: 10px 0;
		> * { line-height: normal; display: inline-block; vertical-align: middle; }
		//&:after { content: ''; display: inline-block; width: 100%; line-height: 0; }
		> label { margin-right: 5px; text-align: left; line-height: 1; }
		&.block {
			text-align: right;
			> label { width: calc(100% - 90px); max-width: calc(100% - 90px); }
		}
	}
	.dd-container { margin: -10px auto 0 auto; }
	&.color {
		> label { float: left; }
		.argumentValue {
			position: relative; float: right;
			.colorSample { border: 1px solid rgba(0,0,0,30/100) !important; width: 28px !important; height: 28px !important; border-radius: 50px !important; position: absolute; top: 7px; left: 5px; pointer-events: none; }
			input { width: 90px !important; display: inline-block; padding-left: 37px; height: 38px; border-radius: 20px 4px 4px 20px; outline: none !important; }
		}
	}
//	&.select {
//		.argumentName { display: inline-block; vertical-align: middle; width: 57%; margin-right: 3%; }
//		.argumentValue { display: inline-block; vertical-align: middle; width: 40%; }
//		.dd-container {
//			margin: -5px auto -5px auto; width: auto !important;
//			.dd-select { text-align: right; display: block; }
//			.dd-selected { width: auto; max-width: 100%; display: inline-block; }
//			.dd-selected + .dd-pointer-up { left: auto; right: 20px; }
//			.dd-options { width: 200px !important; right: 0; }
//		}		
//	}
	&.select {
		.dd-container {
			margin: 5px auto; width: auto !important;
			.dd-select { text-align: left; display: block; border: 1px solid #DDD; padding: 0; margin: 0; border-radius: 3px; }
			.dd-selected {
				width: auto; max-width: 100%; display: block; padding: 7px 18px 7px 5px;
				&:after { right: 0; top: 3px; }
				// +.dd-pointer-up { left: auto; right: 20px; margin-top: -2px; }
				label { font-size: 14px; }
			}
			.dd-options { width: 200px !important; right: 0; min-width: 100%; }
			.dd-pointer:before { margin-top: -.5em; }
		}		
	}
	.icon-premium { color: $color-yellow; }
}


.fieldItem .bubbleInfo,
.argumentGroup .bubbleInfo {
	.popup { left: 20px; }
}