//  -----------------------------------------
//  html
//  -----------------------------------------
// <button class="btn primary"><i class="ico-info"></i><b>Button text</b></button>
// <a class="btn primary">Button text</a>
//  -----------------------------------------
//  html
//  -----------------------------------------


// .btnflat,
.btn {
	@include inline-block(middle); text-align: center; color: $color-gray; cursor: pointer; min-width: 24px; min-height: 24px; line-height: 1em; text-transform: none; font-size: 16px; text-decoration: none !important; margin: 0 5px; outline: none; /*text-shadow: 1px 1px 2px rgba(#000, 25/100);*/ text-overflow: ellipsis; outline: none !important; position: relative;
	// @include transition(.2s ease all); 
 	// overflow: hidden;  // check hints to be visible on galleries page
	font-family: 'Montserrat', 'Roboto', sans-serif;
	> * { vertical-align: middle; display: inline-block; @include transition(.2s ease all); }
	> i { font-size: 24px; color: $color-icon; margin: -6px 0; }
	&:hover {
		overflow: visible;
		> i { color: #6b7c93; }
		.hint { visibility: visible; opacity: 1; }
	}
	&.gray {
		&:hover { }
		&:active { }
	}
	&.blue,
	&.primary {
		color: #fff; border: 1px solid $color-blue; padding: 10px 15px; box-shadow: none;
		// border-radius: 3px;
		// background: $color-blue; @include linear-gradient(#0797e4, #067aba);
		// background-image: linear-gradient(-180deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%);
		background: #0086CF; border-radius: 4px;
		> i { color: inherit; }
		transition: none;
		&:hover { color: #fff; background: #027abb; }
		// background-image: linear-gradient(-180deg, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%);
		// &:hover { color: #fff; background: #0086CF; background-image: linear-gradient(-180deg, rgba(255,255,255,0.35) 0%, rgba(0,0,0,0.35) 100%); }
		// &:hover { border-color: #0871b9; background-color: #056EAE; }
		&:active { border-color: #0871b9; box-shadow: inset 0 1px 5px rgba(#000, 30/100); }
	}
	&.primary2 {
		color: #fff; border: 1px solid $color-orange; padding: 10px 15px; background: $color-orange; box-shadow: none; border-radius: 3px;
		> i { color: inherit; }
		&:hover { border-color: #eb520a; background-color: #eb520a; }
		&:active { border-color: #f16d2e; box-shadow: inset 0 1px 5px rgba(#000, 30/100); }
	}
	&.btnflat,
	&.secondary {
		color: #656d78; background: #fff; padding: 10px 15px; border: 1px solid #d8dadf; border-radius: 3px; text-shadow: none; min-height: 40px;
		> i { color: #434a54; }
		&:hover { box-shadow: 0 1px 3px rgba(#000, 30/100); }
		&:active { box-shadow: inset 0 1px 5px rgba(#000, 30/100); }
	}
	&.secondary2 {
		color: $color-blue; background: #f3f9fd; @include linear-gradient(#feffff, #e6f3fa); text-decoration: 0 1px 0 #fff; padding: 13px 25px; border: 1px solid $color-blue; border-radius: 3px;
		> i { color: $color-blue; }
		&:hover { box-shadow: 0 1px 3px rgba(#000, 30/100); }
		&:active { box-shadow: inset 0 1px 5px rgba(#000, 30/100); }
	}
	&.secondary3 {
		color: #fff; border: 1px solid $color-bluegray; padding: 10px 15px; background: $color-bluegray; box-shadow: none; border-radius: 3px;
		> i { color: inherit; }
		&:hover { border-color: darken($color-bluegray, 5%); background-color: darken($color-bluegray, 5%); }
		&:active { border-color: #0871b9; box-shadow: inset 0 1px 5px rgba(#000, 30/100); }
	}
	&.light {
		font-size: 14px; color: $color-blue; background: #f5f5f5; @include linear-gradient(#ffffff, #f3f3f3); padding: 10px 15px; border: 1px solid #d8dadf; font-weight: normal; border-radius: 3px; box-shadow: 0 1px 3px rgba(0,0,0,10/100);
		> i { color: inherit; }
		&:hover { box-shadow: 0 1px 5px rgba(0,0,0,25/100); }
		&:active { box-shadow: inset 0 1px 7px rgba(#000, 30/100); @include linear-gradient(#f3f3f3, #ffffff); }
	}
	&.green {
		color: #fff; padding: 10px 15px; border: 1px solid $color-green; background: $color-green; border-radius: 4px;
		> i { color: inherit; }
		&:hover {
			background: #389755;
		}
		&:active { box-shadow: inset 0 1px 5px rgba(#000, 30/100); }
	}
	&.green-outline {
		color: $color-green; padding: 10px 15px; border: 1px solid $color-green; background: transparent; border-radius: 4px;
		> i { color: inherit; }
		&:hover {
			color: #fff; border-color: $color-green; background: $color-green;
		}
	}
	&.red {
		color: #fff; background: $color-red; padding: 10px 15px; border: 1px solid $color-red; border-radius: 4px;
		> i { color: inherit; }
		&:hover { box-shadow: 0 1px 3px rgba(0,0,0,30/100); }
		&:active { box-shadow: inset 0 1px 5px rgba(0,0,0,30/100); }
	}
	&.gray {
		color: #fff; background: #aab2bd; padding: 10px 15px; border: 1px solid #aab2bd; border-radius: 4px;
		> i { color: inherit; }
		&:hover { box-shadow: 0 1px 3px rgba(0,0,0,30/100); }
		&:active { box-shadow: inset 0 1px 5px rgba(0,0,0,30/100); }
	}
	&.dark {
		color: #fff; background: #434a53; padding: 10px 15px; border: 1px solid #434a53; border-radius: 4px;
		> i { color: inherit; }
		&:hover { box-shadow: 0 1px 3px rgba(0,0,0,30/100); }
		&:active { box-shadow: inset 0 1px 5px rgba(0,0,0,30/100); }
	}
	&.purple {
		color: #fff; border: 1px solid $color-purple; padding: 10px 15px; font-weight: 600; background: $color-purple; box-shadow: none; border-radius: 4px;
		> i { color: inherit; }
		&:hover { border-color: lighten($color-purple, 5%); background-color: lighten(#967ed9, 5%); }
		&:active { border-color: $color-purple; box-shadow: inset 0 1px 5px rgba(0,0,0,30/100); }
	}
	&.toggle {
		color: #656d78; background: transparent; padding: 8px 10px; font-size: 12px; font-weight: 400; border: 1px solid #ccd0d9; border-radius: 4px; min-width: 100px;
		span[class^="icon"],
		> i { color: inherit; font-size: 18px; margin-right: 3px; }
		&:hover { box-shadow: 0 1px 3px rgba(0,0,0,30/100); }
		&:active { box-shadow: inset 0 1px 5px rgba(0,0,0,30/100); }
		&.active { background: #656d78 !important; color: #fff !important; box-shadow: 0 1px 3px rgba(0,0,0,30/100) !important; border-color: #656d78 !important; cursor: default; pointer-events: none; }
	}
	&.trans {
		border: none; background: none; box-shadow: none; overflow: visible;
		>i { margin: 0; }
		.icon-search { margin: 0; } 
		&.delete {
			color: $color-red;
			i { color: inherit !important; }
			&:hover b { text-decoration: underline; }
		}
		&.active i { color: #434a54; cursor: default; }
	}
	&.outlined {
		font-size: 16px; color: #fff; border: 2px solid; background: none; box-shadow: none; overflow: hidden; text-transform: uppercase; font-weight: 600; padding: 15px 10px; border-radius: 3px; min-width: 180px;
		i, b { color: inherit; }
		.icon-video { margin-right: -7px; } // it has too big right margin
		&.small { font-weight: normal; text-transform: none; border-radius: 4px; }
		&:hover { background: rgba(#fff, 10/100); }
	}
	&.bigPromo {
		color: $color-blue; border: 1px solid #e4e9f0; background: #f7f7f7; padding: 30px; width: 760px; max-width: 100%; font-size: 18px; font-weight: normal; border-radius: 5px;
		&:hover { background: $color-blue; color: #fff; }
	}
	&.noText > b { display: none; }
	&.rounded {
		width: 40px; height: 40px; border-radius: 20px; border: 1px solid #d8dadf; line-height: 40px; text-align: center; line-height: 36px; background: #fff;
		>i { line-height: 37px; margin: 0; }
		&:hover { border-color: $color-blue; box-shadow: 0 0 0 1px $color-blue; }
		&:active {
			box-shadow: inset 0 1px 5px rgba(0,0,0,30/100);
			> i { transform: scale(1.6); opacity: .5; }
		}
	}
	&.square {
		@extend .rounded; border-radius: 4px; width: 52px; height: 30px; box-shadow: 0 1px 2px rgba(0,0,0,30/100); border-color: #ccd0d9; line-height: 26px;
		> i { color: #aab2bc; line-height: 26px; }
		&:hover > i { color: $color-blue; }
	}
	&.square.active,
	&.rounded.active,
	&.secondary.active { > i { color: $color-blue; } border-color: #0871b9; box-shadow: inset 0 1px 5px rgba(0,0,0,30/100) !important; cursor: default !important; }
	&.delete_action,
	&.deleteItem {
		&:hover {
			background-color: #ed5564; border-color: #B82937; color: #fff; box-shadow: 0 0 0 1px #ed5564;
			i { color: #fff !important; }
		}
	}
	//
	&.bluetext {
		color: $color-blue; font-size: 18px; font-weight: 400;
		i { color: inherit; }
	}
	//.small { padding-top: 7px; padding-bottom: 7px; }

	// special buttons
	&.upgrade { min-width: 80px;
		.icon-crown { color: $color-yellow !important; margin-right: 5px; }
	}
	&.small { padding: 8px 10px; }
	&.smallest { font-size: 13px; text-transform: uppercase; line-height: 1em; padding: 4px 10px; font-weight: 400; }
	&.big { padding: 17px 30px; font-size: 14px; text-transform: uppercase; border-radius: 3px; border: none; }
	&.bigger { text-transform: uppercase; font-size: 14px; padding: 17px 20px; margin: 5px 15px; }
	.disabled { opacity: .6; cursor: default; pointer-events: none; }
}
// ================================================================
// ==========  BUTTONS
// ================================================================



// .btn.getDemo{
//     color: #fff; background: #BAC2C8; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BAC2C8), color-stop(100%, #979DA2)); background-image: -webkit-linear-gradient(top, #BAC2C8, #979DA2);
//     background-image: -moz-linear-gradient(top, #BAC2C8, #979DA2); background-image: -ms-linear-gradient(top, #BAC2C8, #979DA2); background-image: -o-linear-gradient(top, #BAC2C8, #979DA2); background-image: linear-gradient(to bottom, #BAC2C8 0%, #979DA2 100%); padding: 14px 39px; border: 1px solid #BAC2C8; border-radius: 3px; margin: 16px 0;
// }

.btn.freeTrial{
    color: #fff; background: #41BB40;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #41BB40), color-stop(100%, #359834)); background-image: -webkit-linear-gradient(top, #41BB40, #359834); background-image: -moz-linear-gradient(top, #41BB40, #359834); background-image: -ms-linear-gradient(top, #41BB40, #359834);
    background-image: -o-linear-gradient(top, #41BB40, #359834); background-image: linear-gradient(to bottom, #41BB40 0%, #359834 100%);  padding: 14px 36px; border: 1px solid #41BB40;  border-radius: 3px; margin: 0 0;                                      
}       
.btn.getDemo b,.btn.freeTrial b{color:#fff!important}
