.sIco {
	font-size: 20px; transform: scale3d(1,1,1);
	text-align: center; cursor: pointer; color: inherit; background: transparent; border: 1px solid; display: inline-block; vertical-align: middle; padding: .2em; border-radius: 30px; margin: 5px; width: 1.66em; height: 1.66em; transition: .5s ease all;
	&:before { @include iconfont(); vertical-align: baseline; line-height: 1.125em; font-size: inherit; }
	&.facebook:before { content: '\e662'; }
	&.twitter:before { content: '\e901'; }
	&.instagram:before { content: '\e663'; }
	&.linkedin:before { content: '\e900'; }
	&.dribble:before { content: '\e902'; }
	&:hover {
		color: #fff; transform: scale3d(1.2,1.2,1);
		&.facebook { background-color: $color-facebook; border-color: $color-facebook; }
		&.twitter { background-color: $color-twitter; border-color: $color-twitter; }
		&.instagram { background-color: $color-instagram; border-color: $color-instagram; }
		&.linkedin { background-color: $color-linkedin; border-color: $color-linkedin; }
		&.dribble { background-color: $color-dribble; border-color: $color-dribble; }
	}
	&.colorful {
		color: #fff;
		&.facebook { background-color: $color-facebook; border-color: $color-facebook; }
		&.twitter { background-color: $color-twitter; border-color: $color-twitter; }
		&.instagram { background-color: $color-instagram; border-color: $color-instagram; }
		&.linkedin { background-color: $color-linkedin; border-color: $color-linkedin; }
		&.dribble { background-color: $color-dribble; border-color: $color-dribble; }
	}
}