.tooltipIcon {
    margin: 0 2px;
	&:before { content: "\e644"; @include iconfont(); font-size: 24px; vertical-align: middle; }
}

span.tooltip {
    position: absolute; z-index: 6000; display: block; max-width: 500px; font-size: 15px; line-height: 1.3;
    background: #000; padding: 20px; color: #fff; border-radius: 5px; box-shadow: 0 2px 15px rgba(0,0,0,.6), 0 1px 3px rgba(0,0,0,.7);
    a { margin: 0 5px; color: inherit; text-decoration: underline; }
    .tale { content: ''; width: 0; height: 0; border-style: solid; border-width: 20px 10px 0 10px; border-color: #000000 transparent transparent transparent; display: block; position: absolute; top: 100%; }
    &.bottom .tale { top: auto; bottom: 100%; border-width: 0 10px 20px 10px; border-color: transparent transparent #000000 transparent; }
    .close { display: none; }
    @media (max-width: 800px) {
	    .close {
		    float: right; margin: -13px -10px 5px 5px; display: inline-block; text-decoration: none;
	    	&:before { @include iconfont(); content: "\e613"; font-size: 24px; }
	    }
	}
}
