// =======================================================================
// === GRID VIEW LIBRARY LIST =========================
// =======================================================================
.libraryContainer.assets_grid {
	display: block; padding: 10px;
	.library-line {
		display: inline-block; vertical-align: top; width: 300px; min-height: 412px; padding: 20px; margin: 5px; overflow: visible; border: 1px solid #c7c8cd; position: relative;
		> div { display: block; margin: .2em auto; padding: 0; width: auto !important; max-width: 100%; }
		.selected { position: absolute; z-index: 2; }
		.thumb { height: 155px; overflow: hidden; margin: -3px -3px 10px -3px; width: auto !important; max-width: 110%; }
		.thumb > div {
			padding: 0; height: 148px; max-height: 148px; border-radius: 0; border: none; width: auto;
			img { border-color: #f6f7fb; border-radius: 0; box-shadow: none !important; padding: 0; }
			&:before { display: none; }
		//&:after { left: auto; right: 12px; }
		}
	}
	.library-line:hover { box-shadow: 0 2px 4px #c7c8cd; }
	.library-line:hover .thumb:after {content: ''; display: block; position: absolute; width: 100%; height: 95%; background: #000; top: 0; left: 0; opacity: .4; }
	.library-line .all_actions_block {
		position: absolute; z-index: 10; top: 110px; width: 100% !important; text-align: center; left: 0; display: none !important;
		> a { z-index: 5; position: relative; }
	}
	.library-line:hover .all_actions_block { display: block !important; }
	.library-line .analytics_div,
	.library-line .analytics_view_div { display: none !important; }
	.library-line .item_name_desc .description { max-height: 4.4em; height: 4em; margin-bottom: 5px; overflow: hidden; text-overflow: ellipsis; }
	.library-line .all_tags { min-height: 50px; }
	.library-line .div_items_tags {padding: 5px; border-top: 1px solid #ccc; margin-top: 10px; margin: 10px -5px 0 -5px; width: auto !important; max-width: none;}
	.tagsinput { padding-left: 0; padding-right: 0; }
	.library-line-selected { border-color: #7BBF90; box-shadow: 0 0 0 2px #7bbb90; }
	.library-line-selected + .library-line-selected > div { border-top-color: transparent !important; }

	.item_name_desc {
		.filename { float: none; padding-right: 0; }
		.lastUpdated {
			display: block; margin: -8px 0 5px 0; width: auto; float: none; height: auto;
			.date_div { width: auto; display: inline-block !important; background: none; border: none; box-shadow: none; margin: 0; position: static; vertical-align: middle; }
		}
	}
}
// =======================================================================
// === GRID VIEW LIBRARY LIST =========================
// =======================================================================

