// =======================================================================
// === LIBRARY LIST ITEM  ====================================
// =======================================================================
.library-line {
	cursor: auto !important; border-top: 1px solid #aab2bd; padding: 0; position: relative; background: #fff; display: table-row;
	&:first-child{ border-top: none; }
	// > * {display: inline-block; vertical-align: middle; }
	> * { display: table-cell; vertical-align: middle; padding: 5px; overflow: visible; padding: 20px 10px; position: relative;  }
	.selected {
		vertical-align: top; width: 42px; position: relative; z-index: 50;
		input[type=checkbox] + label { height: 20px; width: 20px; display: block; background: #fff; border: 1px solid #d8dadf; border-radius: 3px; box-shadow: inset 0 1px 4px #d8dadf; cursor: pointer; }
		input[type=checkbox] + label:after { content: "\e602"; font-family: 'cincopaicons'; font-size: 13px; color: #fff; display: inline-block; text-align: center; width: 100%; vertical-align: top; line-height: 18px; opacity: 0; }
		input[type=checkbox]:checked + label {
			background: #66c100; box-shadow: none; border-color: #66c100;
			&:after { opacity: 1; }
		}
	}
	//> .galleryThumb > .thumb,
	.thumb {
		vertical-align: top; width: 244px; min-width: 100px; position: relative; text-align: center; z-index: 1;
		> div { width: 224px; height: 140px; cursor: pointer; border: 1px solid #aab2bd; padding: 3px; vertical-align: middle; border-radius: 3px; min-height: 105px; max-height: 140px; overflow: hidden; position: relative; background: repeat center center; background-image: url('../images/nothumb.png'); }
		> div:after { @include iconfont(); color: #fff; position: absolute; display: none; width: 40px; height: 40px; font-size: 40px; background: #000; background: rgba(24, 24, 24, 62/100); border-radius: 20px; left: 50%; top: 50%; margin: -20px; }
		> div:before { content: ''; position: absolute; border: 5px solid #fff; width: 100%; height: 100%; top: 0; left: 0; border-radius: 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
		img { width: 100% !important; height: auto !important; min-width: 100%; min-height: 100%; }
		> div:hover { box-shadow: inset 0 0 0 5px #fff, 0 1px 6px #aab2bd; }
		&.portrait img { max-height: 100%; height: 100% !important; width: auto !important; min-width: 0; }
	}
	&.music .thumb div:after { display: block; content: "\e615"; }
	&.video .thumb div:after { display: block; content: "\e614"; }
	
	.modified {display: none !important; padding: 0; width: 0; border: none; }

	.item_name_desc {
		vertical-align: top; width: 30%; line-height: 1.2em; color: #656d78;
		i {font-style: normal; color: #656d78;}
		.filename,
		.edit_active { float: left; }
		.lastUpdated {
			display: inline-block; float: left; color: #ccc; position: relative; width: 30px; height: 24px; margin-left: -26px; margin-right: -10px;
			> i { color: #ccd0d9; }
			.date_div { position: absolute; display: none; top: 0; left: 100%; color: #aab2bd; max-width: 500px; background: #fff; z-index: 500; padding: 2px 7px; font-size: 12px; margin: 0; box-shadow: 0 0 5px; border-radius: 5px; white-space: nowrap; border: 1px solid; margin-left: -8px; }
			&:hover {
				> i { color: #656d78; }
				.date_div { display: block; }
			}
		}
		.filename { color: #434a54; overflow: hidden; white-space: nowrap; font-size: 18px; font-weight: bold; line-height: 1.2em; margin-bottom: .5em; display: inline-block; max-width: 100%; padding-right: 30px; text-overflow: ellipsis; cursor: pointer; }
		.filename:hover{ color: #0086cf; }
		.caption { clear: both; font-weight: bold; margin: .3em 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
		.description { font-size: 13px; max-height: 5em; line-height: 1.25em; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; display: -webkit-box; }
	}

	.tagsinput { border: none; background: none; max-height: 50px; overflow: auto; overflow-x: hidden; }
	.tagsinput div { display: none; }

	.all_actions_block a { opacity:.5; }
	&:hover .all_actions_block a { opacity:1; visibility: visible; }
	.all_actions_block { /*white-space: nowrap;*/ }
	.all_actions_block a { margin: 4px 2px; }
	.share_action { position:relative; z-index:50; }
	.input_class_checkbox{display: none; }
	&.deleting { @include transition(opacity 2s ease-in-out); opacity: 0; background: rgba(255, 0, 19, 7/100); -webkit-filter: grayscale(50%); filter: grayscale(50%); pointer-events: none; }
	&.empty_gallery {
	    display: block; width: 100%; text-align: center; background: #fff; border: 1px solid #CFCFCF; border-radius: 0 0 5px 5px;
	    >* { display: block; width: 100%; }
	    h2 { margin: .5em 0; }
	}
	.changeName {
		width: 100%; margin-bottom: -2px; display: none;
		form { display: inline-block; max-width: 100%; position: relative; padding-right: 74px; width: 100%; margin-top: -6px; margin-left: -7px; }
		input { display: block; width: 100%; border: 1px solid #ddd; padding: 6px; font-weight: bold; font-size: 18px; }
		input + div {
			display: inline-block; position: absolute; right: 0; top: 0;
			a { display: inline-block; width: 32px; height: 32px; vertical-align: middle; background: $color-green; font-size: 0; text-align: center;
				&:before { @include iconfont(); content: "\e621"; color: #fff; line-height: 30px; }
				&[onclick^="cancel"] { background: #f6f7fb; &:before { color: #656d78; content: "\e613"; } }
			}
		}
	}
	.icon-edit { opacity:0; }
	&:hover {
		.icon-edit{ opacity:1; }	
	}
	.changeLink { margin-left: -32px; vertical-align: middle; line-height: 24px; }
	.save_cancel_box { display: inline-block; vertical-align: top; margin-left: 12px; margin-top: 3px; }
	.changeDescription {
		width: 100%;
		&.fieldItem .field{display: inline-block; width: 75%;}
		.save_cancel_box a {
			display: inline-block; width: 32px; height: 32px; vertical-align: middle; background: #8DC153; font-size: 0; text-align: center;
			&[onclick^="cancel"] { background: #F6F7FB; }
			&:before { @include iconfont(); content: "\e621"; color: #FFF; line-height: 30px; }
			&[onclick^="cancel"]:before { color: #656D78; content: "\e613"; }
		}
	}
}
// =======================================================================
// === LIBRARY LIST ITEM  ====================================
// =======================================================================
