// =======================================================================
// === ASSETS LIST ONLY =========================
// =======================================================================
.libraryContainer.assets_list .library-line{
	> * { border-top: 1px solid transparent; border-bottom: 1px solid #d8dadf; }
	> *:first-child { border-left: 2px solid transparent; }
	> *:last-child { border-right: 2px solid transparent; }	
	.selectTags { visibility:hidden; }
	&:hover .selectTags { visibility:visible; }
	.description >i,
	.caption >i{padding-right: 36px;}
}

// =======================================================================
// === LIBRARY LIST RESPONSIVE =========================
// =======================================================================
/* ---------------------------------   */
@media screen and (max-width: 1380px) and (min-width: 801px) {
/* ---------------------------------   */

	.libraryContainer.assets_list {
		display: block;
		.library-line { display: block; }
		.library-line > * { border: none !important; display: inline-block; }
		.library-line .item_name_desc { width: 69%; margin-left: -294px; padding-left: 300px; padding-right: 20px; }
		.library-line .all_actions_block { width: 30%; padding: 0; position: absolute; bottom: 10px; right: 0; text-align: right; padding-right: 1%; }
		.library-line .analytics_view_div,
		.library-line .analytics_div { width: 15%; }
	}
/* ---------------------------------   */
}
/* ---------------------------------   */
/* ---------------------------------   */
@media screen and (max-width: 1150px) and (min-width: 801px) {
/* ---------------------------------   */
// .libraryContainer.assets_list .library-line {
// 	.item_name_desc { width: 100%; }
// 	.analytics_view_div { margin-left: 55px; }
// 	.analytics_view_div,
// 	.analytics_div { padding-top: 0; }
// 	.analytics_view_div,
// 	.analytics_div { width: 24%; width: calc(24% - 27px); }
// 	.all_actions_block { width: 48%; }
// 	.item_name_desc {
// 		.filename { float: none; padding-right: 0; }
// 		.lastUpdated {
// 			display: block; margin: -8px 0 5px 0; width: auto; float: none; height: auto;
// 			.date_div { width: auto; display: inline-block !important; background: none; border: none; box-shadow: none; margin: 0; position: static; vertical-align: middle; }
// 		}
// 	}

// }
/* ---------------------------------   */
}
/* ---------------------------------   */
// =======================================================================
// === LIBRARY LIST RESPONSIVE =========================
// =======================================================================
