// =======================================================================
// === LIBRARY LIST MOBILE =========================
// =======================================================================/* ------------------ */
/* mobile */
/* ------------------ */
@media screen and (max-width: 800px) {
/* ------------------ */
.library-line {
	display: block;
	.selected input[type=checkbox] + label {
		height: 40px; width: 40px;
		&:after { font-size: 22px; line-height: 36px; }
	}
	.analytics_div,
	.analytics_view_div{ display: none !important; }
	&:after { content: ''; height: 0; display: block;clear: both; }
	> * { padding: 20px 10px; display: inline-block; float: left; vertical-align: top !important; width: 48% !important; margin: 0 1% !important; width: calc(50% - 15px) !important; margin: 0 calc(7px) !important; border: none !important; }
	> .selected { position: absolute; margin-top: 13px !important; margin-left: 20px !important; width: 40px !important; }
	> .all_actions_block {
		float: right; padding: 0 10px 10px 10px;
	}
	.thumb { text-align: left; width: 100%; }
	.thumb > div { max-width: 260px; width: 100%; }
	.thumb img { width: auto !important; height: 100% !important; }
	.all_actions_block > a {
		opacity: 1 !important; visibility: visible !important; width: 50px; border-radius: 3px; background: #f6f7fb;
		> i { color: #434a54; }
	}
	.share_tooltip .shareBlock { margin-left: -230px; max-width: 100vw; }
	.item_name_desc {
		.filename { float: none; padding-right: 0; }
		.lastUpdated {
			display: block; margin: -8px 0 5px 0; width: auto; float: none; height: auto;
			.date_div { width: auto; display: inline-block !important; background: none; border: none; box-shadow: none; margin: 0; position: static; vertical-align: middle; }
		}
	}
	.all_tags { display: none; }
} 
.copyBtn.hided { display: none; }
/* ------------------ */
}

/* ------------------ */
@media screen and (max-width: 540px) {
/* ------------------ */
.library-line {
	.all_actions_block { display: block !important; width: 100% !important; text-align: right !important; }
	.item_name_desc { margin-left: 0 !important; padding-left: 0 !important; }
}
/* ------------------ */
}
/* mobile */
/* ------------------ */
// =======================================================================
// === LIBRARY LIST MOBILE =========================
// =======================================================================/* ------------------ */
