// /* /incl/_animations.scss */
// ANIMATIONS
.btn.glow:hover>i,
.upload_files.btn:hover>i,
.createaccount.btn:hover>i,
.upgrade.btn:hover > i {
  animation: glowing-icon ease-in .5s;
  animation-iteration-count: 4;
  transform-origin: 50% 50%;
  -webkit-animation: glowing-icon ease-in .5s;
  -webkit-animation-iteration-count: 4;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: glowing-icon ease-in .5s;
  -moz-animation-iteration-count: 4;
  -moz-transform-origin: 50% 50%;
  -ms-animation: glowing-icon ease-in .5s;
  -ms-animation-iteration-count: 4;
  -ms-transform-origin: 50% 50%;
}


// -----------------------------------------------
@include keyframe(glowing-icon) {
  0% { text-shadow: 0 0 0; transform: scale(1, 1); }
  50% { text-shadow: 0 0 5px; transform: scale(1.2, 1.2); }
  100% { text-shadow: 0 0 0; transform: scale(1, 1); }
}


// -----------------------------------------------
@include keyframe(rotating-icon) {
  0% { transform: rotateZ(0deg); }
  50% { transform: rotateZ(180deg); }
  100% { transform: rotateZ(360deg); }
}


// -----------------------------------------------
@include keyframe(attention-glow) {
  0% { box-shadow: 0 0 0, inset 0 0 0; }
  50% { box-shadow: 0 0 5px, inset 0 0 3px; }
  100% { box-shadow: 0 0 0, inset 0 0 0; }
}


// -----------------------------------------------
@include keyframe(fadeout) {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


// -----------------------------------------------
@include keyframe(fadein) {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
