// /* /incl/_forms.scss */

.hint {
	font-family: 'Roboto', Arial, sans-serif; opacity: 0; visibility: hidden; font-size: 13px; position: absolute; white-space: nowrap; background: #434a53; color: #fff; display: inline-block; bottom: 100%; left: 0; z-index: 500; padding: 5px 10px; line-height: 1.2em; border-radius: 4px; font-weight: 400; margin-bottom: 8px; margin-left: -1em;
	&:after { content: ''; width: 10px; height: 5px; top: 100%; position: absolute; left: 34px; display: block; background: inline-image('images/hint-arrw.png') no-repeat center bottom; }
	*:hover > & { opacity: 1; visibility: visible; @include transition(1s cubic-bezier(1, 0.04, 0.25, 1) opacity); }
}
.hintwrap {
	position: relative; z-index: 5;
	&:hover .hint { opacity: 1; visibility: visible; @include transition(1s cubic-bezier(1, 0.04, 0.25, 1) opacity); }
}
.helpHint {
	position: relative; color: #ccd0d9; cursor: help; width: 100px; white-space: normal;
	.hint { width: 100px; white-space: normal; margin-left: -27px; margin-bottom: 3px; }
	&:before { @include iconfont(); content: "\e644"; }
	&:hover { color: #434a53; }
}



label.itoggle {
	max-width: none; display: block; width: 83px; height: 41px; border-radius: 4px; margin: 0; background: url(/_cms/design15/images/itogglebigcinco.png) left bottom no-repeat; cursor:pointer; text-indent:-5000px;
	&.iToff { background-position:right bottom; }
	span { display: none !important; }
}
input.iT_checkbox{position:absolute; top:-9999px; left:-9999px; }


.colorpicker { z-index: 500; }



// ===========================================================
.argumentGroup { @include clearfix(); }
.argumentValue {
	position: relative;
	.dd-container {
		.dd-selected { padding-left: 0;
			label {  font-size: 16px; }
		}
		.dd-option-text span { vertical-align: middle; }
	} 
	.colorPalletBox { width: 15px; height: 15px; display: inline-block; vertical-align: middle; margin: 0 3px 0 0; border: 1px solid #9C9C9C; }
	//span[id^="skin_param_color"] { border: 1px solid #555; width: 38px; height: 38px; display: inline-block; vertical-align: middle; margin-right: -3px; margin-top: -3px; border-radius: 3px 0 0 3px; }
}
.argumentGroup.disabled_group {
	position:relative;
	.argumentValue,
	.argumentName { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; filter: alpha(opacity=40); -moz-opacity: 0.4; -khtml-opacity: 0.4; opacity: 0.4;}
	&:before { content: '';position: absolute;display:inline-block; zoom: 1;width: 100%;height: 100%;top: 0;left: 0;z-index: 5; }
	.bubbleInfo {
		.trigger { z-index: 5; position: relative; }
		.popup { min-width: 150px; }
	}
}
// ===========================================================


h4.label {
	display: block; margin: .3em 0 .7em 0;
	>span { display: inline-block; border-radius: 10px; color: #fff; background: #656d78; text-transform: none; font-size: 14px; font-weight: 500; line-height: 1.3em; padding: 2px 7px; }
}