// /* /incl/_init.scss */
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
html, body { background: #F2F2F2; color: #6b7c93; padding: 0; margin: 0; }
body,
body *, select, input, textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, form, fieldset, table, tr, td, img { font-family: $font-main, Arial, sans-serif; }
input, button, select, textarea, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }


::-webkit-scrollbar { width: 16px; border: 5px solid #f1f1f1; background-clip: padding-box; }
::-webkit-scrollbar-track {background: #dedede; border: 5px solid #f1f1f1; background-clip: padding-box; border-radius: 10px; }
::-webkit-scrollbar-thumb { background: #959595; border-radius: 10px; border: 5px solid transparent; background-clip: padding-box; }
::-webkit-scrollbar-thumb:window-inactive { background: #b8b8b8; border: 5px solid transparent; background-clip: padding-box; }


::-moz-selection { color: #fff; background: $color-blue; }
::selection { color: #fff; background: $color-blue; }


b { font-weight: inherit; }
i { font-style: inherit; }

a { color: #0086cf; }
b { font-weight: inherit; }
i { font-style: inherit; }

.cp_hidden { display: none; visibility: hidden; }
.cp-hide,
.cp_hide { display: none !important; visibility: hidden !important; }
.cp_show { display: block !important; visibility: visible !important; }
//.cp_mobileonly { display: none; }
.floatleft { float: left !important; }
.floatright { float: right !important; }
.alignleft,
.textleft { text-align: left !important; }
.alignright,
.textright { text-align: right !important; }
.center,
.aligncenter,
.textcenter { text-align: center !important; }
.top { vertical-align: top !important; }
.middle { vertical-align: middle !important; }
.bottom { vertical-align: bottom !important; }

.disabled { opacity: .3; pointer-events: none; }

.cp_disabled {
    opacity: .6; position: relative;
    // pointer-events: none; cursor: not-allowed;
    &:after {
        content: ''; display: block; width: 100%; height: 100%; background: rgba(191, 191, 191, 0.38) no-repeat center center; position: absolute; top: 0; left: 0; margin: -3px; padding: 3px; box-sizing: content-box;
        background-image: inline-image("images/lock.png");
    }
}

.color-primary { color: $color-blue; }
.color-warning { color: $color-red; }


.mobileOnly { display: none !important; }
@media screen and (max-width: 800px) {
    .mobileOnly { display: block !important; }
    .headRight .mobileOnly { display: inline-block !important; }
}

h1, h2 { @include font-accent(); color: #000; margin: 1em 0 .5em 0;  }
h3, h4 { color: #434a54; margin: 1em 0 .5em 0; }
h2 { font-size: 24px; font-weight: 700; }
h4 { font-size: 14px; text-transform: uppercase; }
p { margin: .5em 0 1em 0; }

.block { display: block !important; }

// ################################################
// /* icons duplicates */
.icon-premium:before,
.icon-crown:before { content: "\e604"; }
.icon-trash:before,
.icon-delete:before {content: "\e60e"; }
.icon-wiz_design:before,
.icon-palette:before { content: "\e62a"; }
.icon-wiz_controls:before,
.icon-wiz_player:before {content: "\e637"; }
.icon-email:before,
.icon-wiz_mail:before,
.icon-envelop:before {content: "\e657"; }

// /* icons duplicates */

[class^="icon-"], [class*=" icon-"] {
	font-family: 'cincopaicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 24px;
	line-height: 1;
    vertical-align: middle;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
}