// /* /incl/_layout-sidemenu.scss */
.content-container {
    padding-left: 300px;
    &.hideleftbar {
        padding-left: 0 !important;
        .librarySideMenu { display: none !important; }
        .library-head { padding-left: 10px !important; }
    }
}



.librarySideMenu {
    position: fixed; z-index: 99; float: left;
    overflow: auto; overflow-x: hidden;
    height: 100%; height: 100vh;
    width: 300px;
    top: 0; left: 0;
    margin: 0; margin-right: -320px !important;
    // padding: 73px 30px 90px 30px;
    padding: 79px 30px 90px 30px; // check assets page
    font-size: 14px; background: #fff;  border-top: 1px solid #d8dadf;
    .lsm-logo { display: none; }
    >h3 { margin: 10px 0 25px 0; font-size: 18px; font-weight: normal; }
    .sideMenuTitle h3 { margin: 25px 0; }
    &:after { content: ''; display: block; clear: both; height: 0; }
    .left_panel > *,
    .right_panel > * { vertical-align: middle; }
    .title { color: #7BBF90; font-size: 24px; line-height: 1em; border-right: solid 2px #C0C0C0; padding: 0 15px 0 0; display: inline-block; font-family: 'neo_sans_prolight', sans-serif; font-weight: 500; }
    .all_media_types,
    .all_galleries { border: 0; display: block; }
    .divDDContainer { height: auto !important; border: none; display: block; margin: 30px 5px; max-width: 150px; font-size: 1.2em; color: #333; min-width: 8em; cursor: pointer; background: transparent;}
    .create_gallery,
    .upload_files { width: auto; display: block; text-transform: uppercase; font-size: 14px; font-weight: bold; }
    .create_gallery,
    #dropdownUsageMobile { display: none; }
    .sideMenuFilters { border-top: 1px solid #d8dadf; margin: 19px -30px 19px -30px; padding: 20px 30px; width: auto !important; border-bottom: 1px solid #d8dadf; }
    .all_tags_block {
        // max-height: calc(100vh - 425px);
        overflow: auto; margin-right: -10px; padding: 5px 0;
        > h4 { margin-top: 0; }
    }
    .sideMenuControls + .all_tags_block { border-top: 1px solid #d8dadf; margin: 19px -30px 19px -30px; padding: 20px 30px; width: auto !important; }

    h4 { text-transform: none; font-weight: 400; font-size: 18px; display: block;
        i { color: #9ba5b7; margin-right: 5px; }
        b { vertical-align: middle; }
    }
    @media screen and (max-width: $media-mobile-max) {  }    
    .skinsFilters {
        >ul { padding: 0 15px 0 35px; margin-left: -35px; border-radius: 0 5px 5px 0; }
        max-height: calc(100vh - 260px); overflow-y: auto;
        li { margin: 10px 0; }
        a {
            display: block; font-size: 15px; color: #909caa; text-decoration: none; cursor: pointer;
            &:hover { color: #0086cf; }
            &.active {color: #000 !important; font-weight: bold; opacity: 1; cursor: default; }
        }
    }
    body.loggedout & {
        // &:before { content: ''; display: block; background: url(../../design13/images/logo.png); width: 160px; height: 45px; position: absolute; top: 20px; left: 20px; }
        .lsm-logo { display: block; position: absolute; top: 20px; left: 30px; }
    }
}




//--------------------------------------------------------
#wasthispagehelpful {
    bottom: 45px; position: fixed; left: 27px;
    .pageHelpful { margin-right: 0px; display: none; }
    #feedbacktext { width:215px; }
    .feedback.btn { margin-left: 44px; font-size: 11px; font-weight: 400; }
    @media screen and (max-width: $media-mobile-max) {
        .feedback.btn { margin-left: 22px; }
    } 
}
#wasthispagehelpful .feedbackTitle,
.helpTitle .titleFirstRow{ font-size:13px; }
//--------------------------------------------------------



//--------------------------------------------------------
.sidebarFooter {
    margin: 0 10px; padding: 10px 0; position: fixed; bottom: 0; width: 250px;
    p { font-size: 12px; margin: -1px 0; }
    p b { color: #434a53; font-size: 14px; }
    .links {
        font-size: 11px; color: #ddd;
        a { color: #aab2bc; display: inline-block; margin: 0 .1em; text-decoration: none; }
    }
}
//--------------------------------------------------------








// ---------------------------------
@media screen and (max-width: 1150px) and (min-width: 801px) {
// ---------------------------------
.library-head { padding-left: 260px !important; }
.content-container { padding-left: 250px !important; }
.librarySideMenu { width: 250px; margin-right: -250px !important; }
.sidebarFooter { width: 230px; }
}
// ---------------------------------



// ------------------
// mobile */
// ------------------
@media screen and (max-width: 800px) {
// ------------------
.content-container { padding-left: 0 !important; }
.library_message_main { display: none !important; }
.library-head { padding-left: 0 !important; }
//---------
.librarySideMenu {
    display: block !important;
    visibility: visible !important; z-index: 5000 !important; background: #e5e5e5; width: 90%; padding-bottom: 15px; top: 6px; left: 0; transform: translate(-100%, 0); max-height: calc(100% - 6px); opacity:0; transition: .3s ease opacity, .3s ease transform;
    &.active { transform: translate(0,0); opacity: 1; }
    .dd-container {
        margin: 10px auto !important; background: #fff; border-radius: 3px; border: none !important; padding: 10px 20px !important;
        .dd-selected { display: none !important; }
        .dd-options {
            max-height: none !important; display: block !important; width: auto !important; float: none; position: relative; top: 0; left: 0; box-shadow: none; border-radius: 0; padding: 0; z-index: auto;  position: static; height: auto !important;
            >li>a {
                min-height: 40px; padding: 7px 0; position: relative; margin:0;
            }
            >li>a.dd-option-selected {
                padding-right: 20px;
                &:before { @include iconfont(); content: "\e602"; position: absolute; right: 0; font-size: 19px; color: #f00; top: 50%; margin-top: -10px; color: $color-blue !important; }
            }
        }
    }
    .sideMenuControls {
        margin: -20px -30px; padding: 20px; background: #434a54; text-align: center; display: flex; flex-wrap: wrap;
        .btn { flex-grow: 1; flex-shrink: 1; }
    }
    .sideMenuFilters { padding: 20px; }
    .create_gallery,
    .upload_files {
        width: 45%; display: inline-block;
        b { display: block; }
    }
    .dd-container { width: auto !important; }
    #dropdownUsageMobile { display: block; }

    .sidebarFooter,
    #wasthispagehelpful { display: none; }
}
//---------

// ------------------
}
// mobile */
// ------------------
