/* /incl/_layout-appheader.scss */
// ========================================
// ---------- HEADER ----------------------
// ========================================
.oldPagesLinks { font-size: 12px; cursor: pointer; /*max-width: 55px; white-space: normal; display: inline-block; line-height: 1.2em; vertical-align: middle; vertical-align: -webkit-baseline-middle; margin: 0 5px;*/ }
.appnav {
    padding: 15px 0;
    &.cp-hide { opacity: 0; }
}

// LOGO BADGE
.header .logo a:after {
    .cincopa_account_ &,
    .cincopa_account_free &,
    .cincopa_account_professional & { font-size: 10px; color: #434a54; background: #e1e2e6; position: absolute; bottom: -6px; font-weight: bold; text-transform: uppercase; left: 0; line-height: 1em; text-align: center; border-radius: 10px; padding: 2px 5px; }
    .cincopa_account_professional & { content: 'Premium'; }
    //.cincopa_account_free & { content: 'Free'; color: #aaa; }
}
// LOGO BADGE

.header .appnav {
	@include font-accent(); position: fixed; background: #fff; width: 100%; height: 80px; border-top: 5px solid $color-blue; padding: 0; top: 0; left: 0; border-bottom: 1px solid #d8dadf; box-shadow: 0 0 10px rgba(0,0,0,15/100); z-index: 1500; clear: both;
    display: table !important; max-width: 100%;
    >div { display: table-cell !important; vertical-align: middle; padding: 14px 0; }
	> .logo {
        width: 175px; padding-left: 10px;
		a { position: relative; width: 165px; max-width: 100%; font-size: 0; line-height:0; height: 45px; border: 0; display: block; }
        a img { display: block !important; opacity: 1; width: 165px; height: auto; visibility: visible; max-width: 100%; }
        //a:after { content: 'BETA'; font-size: 10px; text-decoration: none; position: absolute; right: 10px; background: #757E84; display: block; line-height: 1; color: #fff; padding: 2px 5px; border-radius: 7px; top: -8px; }
	}
    .btn { margin: 0 3px; }
    .hdrFullMenu { width: 125px; }
    .hdrMobileMenu { display: none !important; }
    .showMobileMenu { width: 40px; height: 40px; margin-left: 5px; padding: 5px !important; }
	.headCenter { display: none; }
    .headRight,
	.headCenter,
	.headLeft { line-height: 40px; position: relative; white-space: nowrap; }
	.headRight {
        text-align: right; max-width: 48%; padding-right: 10px;
        .parentMenu { font-size: 13px; color: inherit; }
    }
	.headLeft {
		text-align: left;  max-width: 48%;
        .dd-select { margin: 0; }
		.dd-select a,
        a.menuItem {
			@include vertical-aligner(); display: inline-block; vertical-align: middle; height: 75px; margin: -15px 5px; color: #aab2bd; text-decoration: none; font-size: 16px; border-bottom: 4px solid transparent; text-align: center; cursor: pointer;
            position: relative;
            .smallnew { position: absolute; font-size: 10px; color: #FE3C00; font-weight: bold; right: 0; }
			&:hover,
			&.active { color: $color-blue; border-bottom-color: $color-blue; }
			&.active { cursor: default; }
            &:first-child { margin-left: 0; }
            &:after { height: 111%; z-index: -1; visibility: hidden; } // align items
		}
	}
    
    .headLeftOptions {
        line-height: 1; text-align: left;
        > a { height: auto; margin: 5px 10px; }
        .try_other_box,
        .prev_next_box {
            vertical-align: middle; margin: 0 5px !important;
            &[style="display: block;"] { display: inline-block !important; }
            a { margin: 0 5px; line-height: 1; height: auto; }
        }
    }
	.headRightActions { text-align: right; white-space: nowrap; }
    .btn { text-transform: uppercase; }
    .sessionBox { position: absolute; top: -5px; right: 0; font-size: 10px; border: 1px solid #0086cf; line-height: 1; padding: 2px 5px; background: #fff; }
    // -----------------------------------------------
    .accountMenu {
        position: relative; display: inline-block; margin-left: 5px;
        > a.btn {
            color: #434a54; font-size: 16px; text-transform: none; font-weight: normal; margin: 0;
            b { @include transition(none); max-width: 7em; overflow: hidden; text-overflow: ellipsis; line-height: 1.2em; }
            i { margin: 0 -3px; }
            &:hover { color: $color-blue; }
        }
        &.active {
            &:after { content: ''; display: inline-block; width: 12px; height: 10px; position: absolute; top: 100%; right: 20px; margin-top: 5px; z-index: 100; background-repeat: no-repeat; background-position: center top; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAMAAAC38k/IAAAAM1BMVEUAAAAAAAAAAADLzdLNz9QAAADY2t8AAAAAAAAAAAAAAADR09gAAADO0NXo6ez////7/PzWmA89AAAADnRSTlMDAQaHhgIACQgECoMLhQG2zJIAAABISURBVHheVcdZDoAwDMTQmXTf0t7/tCQIJPDXMzKZYCUyg0STMaS5CKlLdVUxQkrUczQWMXfz3nZdMIPbL0zcfg7u97A//eYC5FAEtWo+3GUAAAAASUVORK5CYII=); }
            &:before { content: ''; display: block; width: 100%; position: absolute; height: 25px; top: 100%; }
            > ul { opacity: 1; max-height: 40em; visibility: visible; }
            > a.btn > .icon-arr_drop { transform: rotate(-180deg); }
        }
        > ul {
            position: absolute; z-index: 50; right: 0; border-radius: 4px; box-shadow: rgba(0, 0, 0, 23/100) 0px 1px 5px; margin: 0px; margin-top: 12px; border: 1px solid #d8dadf; padding: 0 15px; list-style: none; background: #FFF;  max-height: 90ex; overflow: hidden; overflow-x: hidden; z-index: 100; text-align: left; min-width: 240px; opacity: 0; visibility: hidden; max-height: 0; -moz-transition: 0.5s ease all; -ms-transition: 0.5s ease all; -o-transition: 0.5s ease all; transition: 0.5s ease all;
            li {
                > a { display: block !important; position: relative; padding: 10px 0; margin: 0; border-top: 1px solid #d8dadf; color: #434a54; font-size: 13px; text-decoration: none; line-height: 1.1em; min-height: 48px;   line-height: 29px; @include transition(.2s ease all); }
                > a[href="/media-platform/wizard2/library.aspx"]:before { top: 17px; right: 0; }
                > a:hover { color: $color-blue; }
                &:first-child > a { border-top: none; }
                > .dd-option:hover,
                > .dd-option-selected { color: #0086cf; }
                &:last-child > a {
                    margin: 0 -15px; padding: 10px 15px; background: #f6f7fb; color: $color-red;
                    &:hover { background-color: #ed5564; color: #fff; }
                }
            }
        }
        @media screen and (max-width: 940px) and (min-width: 801px) {
            > a.btn b { max-width: 2em; }
        }
    }
    // -----------------------------------------------
    .childMenu {
        position: absolute; z-index: 50; left: 0; margin: 0; border-radius: 4px; box-shadow: rgba(0, 0, 0, 23/100) 0px 1px 5px; margin: 0px; margin-top: 12px; border: 1px solid #d8dadf; padding: 0 15px; list-style: none; background: #FFF;  max-height: 90ex; overflow: hidden; overflow-x: hidden; z-index: 100; text-align: left; min-width: 240px; opacity: 0; visibility: hidden; max-height: 0; -moz-transition: 0.5s ease all; -ms-transition: 0.5s ease all; -o-transition: 0.5s ease all; transition: 0.5s ease all;
        li {
            > a { display: block !important; position: relative; padding: 10px 0; margin: 0; border-top: 1px solid #d8dadf; color: #434a54; font-size: 13px; text-decoration: none; line-height: 1.1em; min-height: 48px;   line-height: 29px; @include transition(.2s ease all); }
            > a:hover { color: $color-blue; }
            &:first-child > a { border-top: none; }
            &:last-child > a {
                margin: 0 -15px; padding: 10px 15px;
            }
        }
    }
    .parentMenu {
        display: inline-block; position: relative;
        &.active .childMenu { display: block; max-height: 100vh; visibility: visible; opacity: 1; }
    }
    // -----------------------------------------------
    .gridMenuBtn {
        overflow: visible;
        i { font-size: 40px; margin: -14px -11px; }
    } 
    .gridMenuWrap { display: inline-block; position: relative; }
    .gridMenu {
        @include dropdownLookOnly(); padding: 0; position: absolute; width: 600px; max-width: 90vw; height: 510px; right: -14px; top: 50px; background: #f6f7fb;
        &:before { content: ''; display: inline-block; position: absolute; width: 12px; height: 10px; top: -8px; right: 30px; background: inline-image('images/drpdwn_arr.png'); }
        li,
        ul { list-style: none; display: block; margin:0; padding:0; width: 200px; max-width: 30vw; }
        a { padding: 3px; display: block; text-decoration: none; cursor: pointer; line-height: 1.2em; position: relative; }
        >ul{ height: 100%; background: #fff; }
        >ul>li { border-bottom: 1px solid #d8dadf; }
        >ul>li:last-child { border: none; }
        >ul>li>a { font-size: 18px; color: #434a54; padding: 15px; }
        >ul>li ul { background: #f6f7fb; position: absolute; left: 100%; top:0; height: 100%; padding: 15px 0; }
        >ul>li>ul { border-left: 1px solid #d8dadf; border-right: 1px solid #d8dadf; }
        >ul li.active>ul { display: block; z-index:60; }
        >ul>li.active>a,
        >ul>li:hover>a { background: $color-blue; color: #fff; }
        >ul>li>a>i { font-size: 40px; }
        >ul>li>ul { left: 33.333%; }
        >ul>li>ul>li>ul { left: 100%; margin-left: 1px; width: 198px; display: none; }
        >ul>li ul a { color: #aab2bc; font-size: 12px; padding: 8px 20px; }
        >ul>li ul a:hover { color: $color-blue; }
        >ul>li>ul>li .pointer { position: relative; }
        >ul>li>ul>li.active > .pointer:after,
        >ul>li>ul>li:hover > .pointer:after { content: ''; display: inline-block; position: absolute; width: 12px; height: 16px; top: -20px; right: -8px; z-index: 65; background: inline-image('images/gridmenu-arr.png');}
        li.divider { border-top: 1px solid #d8dadf; height: 0; }
    }
    .gridMenu.active,
    .gridMenuWrap.active .gridMenu { visibility:visible; opacity:1; max-height: 90vh; }
    // -----------------------------------------------
	a.beta { position: relative; }
	a.beta:before {content: 'BETA'; font-size: 10px; text-decoration: none; position: absolute; right: 50%; margin-right: -15px; background: #757E84; display: block; line-height: 1; color: #fff; padding: 2px 5px; border-radius: 7px; top: 49px; }
    .accountMenu a.beta {
        position: relative;
        &:before { top: 17px; right: 12px; margin-right: 0; }
    }
    .btn .icon-check { font-size: 16px; margin-right: 5px; }


    //------------------------------------------------
    @media screen and (max-width: 1260px) and (min-width: 800px) {
        .hdrFullMenu {
            width: auto;
            a { white-space: nowrap; padding: 14px 5px; }
        } 
        a.btn[title="Support"] { display: none; }
        .headRight { max-width: 65%; max-width: calc(100% - 475px); }
        > .logo { margin-right: 10px; }
        a .smallnew { right: 0; }
    }
    //------------------------------------------------

    @media screen and (max-width: 1100px) {
        .btnflat.createaccount,
        .btn.createaccount,
        .btnflat.upgrade,
        .btn.upgrade {
            min-width: 50px;
            b { display: none; }
        }
        @at-root .header:not(.loggedout) .appnav .getdemoBtn {display:none}
    }

    @media screen and (max-width: 940px) and (min-width: 801px) {
        .headLeft > a { margin: -15px 3px; font-size: 16px; }
    }


    //------------------------------------------------
    @media screen and (max-width: $media-mobile-max) {
    .header .logo a {
        &:after { bottom: -12px; font-size: 7px; }
    }
    .header .appnav { height: 70px; padding: 10px 5px; }
    .hdrMobileMenu { display: table-cell !important; width: 50px; }
    .hdrFullMenu { width: auto; }
    .headLeft {
        display: table !important; padding: 0;
        position: fixed; left: 0; top: 80px; background: #fff; width: 100%; max-width: none; height: 60px; box-shadow: 0 2px 5px rgba(26, 29, 36, 15/100), inset 0 2px 2px rgba(14, 17, 23, 6/100); z-index: -1;
        >.parentMenu { display: none !important; }
        >a { display: table-cell !important; vertical-align: middle; }
        a.menuItem {
            height: 60px; margin: 0; vertical-align: middle; width: 25%; text-align: center;
            &.active  { background: #e5f3fa; }
            .smallnew { right: auto; margin-left: -30px; margin-top: -5px; }
        }
    }
    .headRight { max-width: none; }
    .headLeftOptions {
        background: #f5f6fa; position: fixed; display: table !important; width: 100%; left: 0; top: 80px; padding: 0 !important; text-align: center;
        >div {
            width: 33%; vertical-align: middle; padding: 0;
            &.dd-container { display: table-cell !important; vertical-align: middle; margin: 0 !important; text-align: center; }
            &.prev_next_box,
            &.try_other_box {
                &[style="display: block;"] {
                    display: table-cell !important; margin: 0 !important; text-align: center;
                    > a { display: inline-block; width: auto !important; height: auto !important; }
                }
            }
        }
    }
    .createaccount.btn { display: none !important; }
    .upgrade.btn { background: transparent !important; box-shadow: none !important; border: none !important; padding-left: 0; padding-right: 0;
        b { text-decoration: underline !important; }
    }
    .accountMenu { margin-left: 0; }
    .gridMenuWrap,
    a.btn[title="Support"] { display: none; }
    //-----
    }    
    //------------------------------------------------
    //------------------------------------------------
    @media screen and (max-width: 600px) {
		> .logo a {
            width: 100px; height: auto; background-size: contain; background-position: center center;
            &:after { bottom: -12px; }
        }
		.btnflat.upgrade, .btn.upgrade { min-width: 0; }
        .dd-select a,
        a.try_other,
        .headLeft > a { font-size: 15px; margin: 0; }
	} 
    //------------------------------------------------
    @media screen and (max-width: 430px) {
        > .logo a { width: 80px; }
		.btnflat.upgrade, .btn.upgrade { font-size: 0; }
		.accountMenu > a.btn b { max-width: 2em; }
        @at-root .header.loggedout .appnav .getdemoBtn {display:none}
	} 
    @media screen and (max-width: 350px) {
        .headRight { margin-right: -20px; }
        .header .appnav > .logo a { width: 70px; }
        .header .appnav .btn.upgrade { margin-right: 0; }
    } 
}
// .header ~ .content-container { margin-top: 80px; }



body.hidescroll .container { height: 100vh; overflow: hidden; }
@media sceeen and (min-width: 801px) { .hidescroll .header .row1 { padding-right: 31px; } }
.btn.big.showFullMenu {
    padding: 14px 20px; margin: -1px 7px; font-size: 14px !important; float: left;
    b { text-transform: uppercase; }
    i { margin-right: 5px; }
    i span {
        display: block; height: 2px; width: 16px; background: #434a53; margin: 3px 0; transition: .3s ease-out all; position: relative; top: 0;
    }
    &.active {
        background: #EAEAEA; color: #0687CD;
        i span {
            background-color: #0687CD;
            &:nth-child(1) { transform: rotate(45deg); transform-origin: center; position: relative; top: 5px; }
            &:nth-child(2) { opacity: 0; }
            &:nth-child(3) { transform: rotate(-45deg); transform-origin: center; position: relative; top: -5px; }
        }
    }
    @media screen and (max-width: 1000px) { padding: 14px 10px; }
    @media screen and (max-width: 800px) {
        i { position: absolute; left: 50%; top: 50%; margin: -10px; opacity: 0; }
        &.active {
            i { opacity: 1; }
            b { opacity: 0; }
        }
    }
    @media screen and (max-width: 430px) {
        padding: 14px 0px;
    }
}
.fullscreenMenu {
    display: none; font-family: "Open Sans", Arial, sans-serif; color: #373637;
    position: fixed; top: 0; left: 0; width: 100%; height: 100%; padding: 130px 30px 20px 30px; background: #fff; z-index: 1400; overflow-y: auto; -webkit-overflow-scrolling: touch; margin-top: calc(80px); padding-top: calc(50px); height: calc(100% - 80px);
    &.active { display: block; }
    b { text-transform: uppercase; display: block; color: #999999; margin: 0 0 20px 0; font-size: 15px; font-weight: 600; letter-spacing: .05em; }
    ul {display: block; list-style: none; padding: 0; margin: .5em 0 2em 0; font-size: 17px; }
    li { display: block; margin: .7em 0; }
    ul.sub-child li { 
        color: #666666; font-size: 15px;
        &:before { content: '- '; font-size: 0.7em; margin-right: 4px; }
    }
    a {
        color: inherit; text-decoration: none; font-weight: normal;
        &:hover { text-decoration: underline; }
    }
    .col-md-4 {
        padding: 0 40px; border-right: 1px solid #E2E2E2; border-left: 1px solid #E2E2E2; margin-left: -1px;
        &:first-child { border-left: none; }
        &:nth-child(3) { border-right: none; }
    }
    @media (min-width: 800px) {
        .col-md-4 { width: 33.33333333%; display: inline-block; vertical-align: top; }
    }
    @media screen and (max-width: 800px) {
        padding: 160px 30px 20px 30px; padding-top: calc(80px);
        .col-md-4 { border: none !important; }
    }
}

.librarySideMenu .fullscreenMenu {
    display: block !important; position: relative !important; margin: 0 -30px !important; padding: 30px 25px !important; width: auto !important; max-height: none !important; height: auto !important;
}


