/* /incl/_layout-logoutheader.scss */
// ----------------------------------------
//  Logged out user HEADER
// ----------------------------------------
.header .appnav {
// ----------------------------------------
// ----------------------------------------

.phone-number {
	text-decoration: none; position: relative;
	i { background-color: #BAC2C8; padding: 6px; font-size: 12px; border-radius: 7px; vertical-align: middle; margin-right: 5px; color: #fff; }
	span { vertical-align: middle; color: #505E67; }
	@media (max-width: 800px){
		span { display: none; }
	}
}


.sub-nav {
	position: relative; z-index: 1500; line-height: 1.1;
	.btn.big { margin-left: 10px; padding: 11px 10px; }
}
// first level
.sub-nav > ul {
	display: inline-block; vertical-align: middle; margin: 0; padding:0; position: relative;
	>li {
		display: inline-block; vertical-align: middle; position: relative;
		.pointer:after { content: "\e601"; font-family: 'cincopaicons'; position: absolute; top: 50%; margin-top: -.55em; right: 0; font-size: .8em; opacity: .7; }
	}
	>li>a { cursor: pointer; display: block; font-size: 14px; text-transform: uppercase; letter-spacing: .05em; color: #434a53; font-weight: normal; padding: 12px; text-decoration: none; }
}
//
.sub-nav > ul > li > ul,
.sub-nav > ul > li > ul > li > ul { @include dropdownLookOnly(); position: absolute; overflow: visible; }
.sub-nav > ul > li > ul {
	width: 230px; left: -20px; top: 100%; overflow: visible !important;
    li {
        position: relative;
        .pointer:after { transform: rotate(-90deg); }
        a { display: block !important; position: relative; padding: 10px 0; margin: 0; border-top: 1px solid #d8dadf; color: #434a54; font-size: 13px; text-decoration: none; line-height: 1.1em; min-height: 40px; line-height: 20px; @include transition(.2s cubic-bezier(0, 1.12, 0.65, 1.01) all); }
        a:hover { color: $color-blue; }
        &:first-child > a { border-top: none; }
        > ul { visibility: hidden; position: absolute; max-height:0; max-width:0; opacity:0; left: 100%; top: 0; transform: scale(1,0); left: 100%; overflow: visible !important; }
        &:hover > ul { visibility: visible; opacity: 1; max-height: 600px; max-height: 90ex; transform: none; }
        //&:hover>a:after { content: ''; position: absolute; width: 10px; height: 30px; /* background: #f00; */ right: -9px; transform: rotate(10deg); width: 100%; bottom: -15px; z-index: 500; transition: 1s linear z-index; }
        //&:hover>a:after:hover { z-index:-1; }
    }
}
.sub-nav > ul li:hover > ul { visibility: visible; opacity: 1; max-height: 600px; max-height: 90ex; }



// ---------------
@media screen and (max-width: 1150px) {
// ---------------

.sub-nav .btn.big { padding: 11px 5px; }
.sub-nav > ul > li > a { font-size: 12px; }
.headLeft .dd-select a { margin-left: 0; padding-left: 0; }
.prev_next_box a,
.try_other_box a,
.dd-selected-text { font-size: 13px !important; }
.phone-number span { display: none; }
// ---------------
}
// ---------------




// ---------------
@media screen and (max-width: 1030px) {
// ---------------
.startnow-sub { padding-left: 5px; padding-right:5px; }

.sub-nav > ul > li > a { font-size: 11px; }
.startnow-sub { padding-left: 5px; padding-right: 5px; } 

// ---------------
}
// ---------------

@media screen and (max-width: 800px) { 
	.sub-nav > ul { display: none; }
}


@media screen and (max-width: 530px) {
	> .logo a { width: 100px; background-size: contain; background-position: center center; }
	> .logo { width: 100px; }
	.sub-nav { margin: 2px 0; }
	.sub-nav .btn.big { margin-left: 0; vertical-align: top; white-space: normal; }
} 

@media screen and (max-width: 470px) {
	> .logo a { width: 80px; background-size: contain; background-position: center center; }
	> .logo { width: 80px; }
	.phone-number { display: none; }
}

@media screen and (max-width: 400px) {
	.startnow-sub { max-width: 6em; margin: -6px 0; }
}

// ----------------------------------------
// ----------------------------------------
}
// ----------------------------------------
// ----------------------------------------



// }
