// /* /incl/_layout-sidemenu-loggedout.scss */
.sidemenuNavigation {
	max-height: 80%; max-height: calc(100% - 85px); overflow: auto; padding: 20px 5px 20px 15px; margin: 0 -30px;
	ul, li { display: block; list-style: none; margin:0; padding:0; }
	li>a { display: block; border-bottom: 1px solid #d8dadf; padding: 11px 0; text-decoration: none; }
	>ul>li>a>i { font-size: 40px; }
	>ul>li:last-child>a { border-bottom: none; }
	>ul { background: #fff; padding: 0 20px; font-size: 16px; border-radius: 4px; }
	>ul>li>a { color: #434a54; font-size: 18px; }
	>ul>li ul { display: none; margin-left: 30px; }
	>ul>li.active>a { color: $color-blue; }
	li.active>ul { display: block; }
	>ul>li>ul a { color: #aab2bc; }
}




// ========================================
// ---------- SIDE MENU LOGOUT ----------------------
// ========================================
.librarySideMenu.loggedOut{
// ========================================


.sideMenuControls .start_now { display: block; font-size: 16px; text-transform: uppercase; padding: 20px 5px; }

.sideMenuControls { margin: -20px -30px 0 -30px; }


@media screen and (max-width: $media-mobile-max) {
// ========================================




// ========================================
}



// ========================================
}


@media screen and (max-width: $media-mobile-max) {.gridMenuWrap { display: none !important; }}

// ========================================
// ---------- SIDE MENU LOGOUT ----------------------
// ========================================
