/* /incl/_layout-lib_header.scss */
.libraryArea { padding-top: 78px; }

// =====================================================================
// =====================================================================
.library-head {
	position: fixed; top: 58px; z-index: 97; width: 100%; padding: 12px; padding-left: 315px; left: 0; clear: both; border: 1px solid #d8dadf; background: #f6f7fb; text-align: center; min-height: 80px; line-height: 50px; height: 81px;
    display: table; width: 100%; table-layout: auto; max-width: 100%;
    >div { display: table-cell; vertical-align: middle !important; float: none !important; width: auto; }
	.check_all_items_block {
		height: 20px; width: 20px; display: block; background: #fff; border: 1px solid #d8dadf; border-radius: 3px; box-shadow: inset 0 1px 4px #d8dadf; cursor: pointer;
		&:after { content: "\e602"; font-family: 'cincopaicons'; font-size: 13px; color: #fff; display: inline-block; text-align: center; width: 100%; vertical-align: top; line-height: 18px; opacity: 0; }
		&:hover {
			background: #66c100; box-shadow: none; border-color: #66c100;
			&:after { opacity: 1; }
		}
	}
    .dd-container { max-width: calc(100% - 60px); vertical-align: middle; margin: 7px auto; }
    .other_actions_block { display: none; line-height: 71px;}
    *[style="display: block;"]{ display: inline-block !important; }
    .last_added_grid_view {
        display: inline-block; vertical-align: middle; margin: 0 0 0 5px; border-left: 1px solid #d8dadf; margin-left: 5px !important; padding-left: 5px;
        > a { margin:0; }
    }
    .searchbox {
        border-left: 1px solid #d8dadf; margin-left: 15px !important; white-space: nowrap; max-width: 400px; width: calc(100% - 40px); padding-right: 30px; position: relative !important; display: inline-block;
        .search_img { margin-left:15px; }
        .search_input {display: inline-block; vertical-align: middle; max-width: calc(100% - 30px); width: 100%; border: none; margin-left: 0; font-size: 18px; color: #aab2bd; padding: .3em; outline: none !important; background: transparent;}
        .search_input::placeholder { color: #aab2bd;  }
        .search_input:focus { border-color: #0F7DBD; }
        .reset_search { position: absolute; top: 0; right: 0; width: 14px; font-size: 16px; text-decoration: none; display: none; }
    }
	.other_actions_block .divDDContainer { height: auto !important; width: 100px; border: none; }
	.last_added_grid_view .divDDContainer { height: auto !important; width: 170px; border: none; margin: 0 50px; background: transparent;}
	.other_actions_block > a { display: inline-block; vertical-align: middle; width: 32px; height: 30px; background-repeat: no-repeat; background-position: center center; margin: 0 5px; }
	.check_all_items_block { display: inline-block; vertical-align: middle; }
	.other_actions_block  a, .library-head .last_added_grid_view  a{ display: inline-block; }
	#dropdownUsage {
		max-width: calc(100% - 95px); width: 190px !important; display: inline-block;
		.dd-selected { font-size: 16px; }
	}
	.btn.green, .btn.primary, .btn.secondary, .btn.gray { text-transform: uppercase; font-size: 14px; }
	.headRight,
	.headCenter,
	.headLeft {
		// display: inline-block; line-height: 50px;
		position: relative;
	}
	.headRight { text-align: right; float: right; max-width: 48%; white-space: nowrap; }
	.saving {
		position: absolute; top: 0; color: #0086cf; white-space: nowrap; font-size: 14px; font-weight: bold; text-align: right; background: rgba(246, 247, 251, 1); display: none; overflow: hidden; text-overflow: ellipsis; height: 100%; right: 100%; padding-left: 11px;
		&.success { color: #8dc153; }
		&.error { color: #d870ad; }
	}
	.headLeft {
		text-align: left;
		// width: 80%;
	}
	.headCenter { max-width: calc(100vw - 840px); }
	h3 { font-size: 24px; font-weight: 700; color: #434a54; text-align: center; text-transform: none; line-height: 1.1em; padding: 3px 0; margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
	.back_toassets {
		font-weight: 600; white-space: nowrap;
		.icon-arr_back { color: #0086cf; }
		b { font-size: 14px; }
	}
	.other_actions_block {
		> a { width: 40px; height: 40px; display: inline-block; background-color: #fff; background-position: center center; background-repeat: no-repeat; border-radius: 2em; border: 1px solid #d9dbe0; cursor: pointer; position: relative; z-index: 3; }
		> a:hover { background-color: #967bdc; border-color: #967bdc; }
		.download_action{ background: url('/_cms/media-platform/assets-images/icon_download_active.png'); }
	}
	.show_less { margin: 0 0 0 20px; height: auto; width: auto; line-height: 1em; padding: 0;}
	.show_all { display: inline-block; margin: 0 0 0 20px; height: auto; width: auto; line-height: 1em; padding: 0;}
	#dropdownOrder { display: inline-block; vertical-align: middle; }
} 
// =====================================================================
// =====================================================================





#libraryHead {
	.copy_delete_block {display:none; border-left: 1px solid #d8dadf; margin-left: 15px !important; padding-left: 15px; max-width: calc(100% - 40px); position: relative !important; }
	#copyTo { width: 9em !important; display: inline-block; }
	.copy_delete_block .delete_action:hover {background-color: #ed5564; border-color: #ed5564; color: #fff; }
}
#libraryHead .tagsFilterBlock {
    display: block; max-width: 100%; overflow-x: auto; white-space: nowrap;
	.selectedTag {
		line-height: 1.1em; padding: 4px 2px 4px 5px !important; background: #85adc3; font-size: 12px; font-weight: bold; color: #fff; border-radius: 4px; border: none;
		span { color: #fff; display: inline-block; }
	}
}
.removeTag {
	font-size: 0; cursor: pointer; color: inherit; display: inline-block; width: 24px; vertical-align: middle; margin: -7px -7px -3px 0; text-decoration: none; text-align: center;
	&:before { @include iconfont(); font-size: 17px; content: "\e613"; }
	&:hover { color: #d8dadf; }
}
#libraryHead .tagsFilterBlock .selectedTag .removeTag {
	height: 16px; margin: -3px 0 0 0;
	&:before { font-size: 16px; }
}



// ------------------ */
// mobile */
// ------------------ */
@media screen and (max-width: 800px) {
// ------------------ */
.libraryArea { padding-top: 0; }  // test both assets and galleries page
.libraryArea.activeEditor { padding-top: 40px; }
#libraryHead {
    top: 60px; padding: 2px 12px !important; min-height: 60px; height: 60px;
    .headCenter, .headRight { display: none !important; }
    .headLeft { max-width: none; width: 100%; }
    .searchbox { border: none; text-align: center; margin: 0 !important; }
}
// .libraryContainer { margin-top: 119px; }
table.libraryContainer { padding-top: 0; margin-top: 60px; }

// ------------------ */
}
// mobile */
// ------------------ */
