// /* /incl/_utils.scss */
// #############################################################################
// global mixins
// #############################################################################
@mixin clearfix {
  // clear:both;
	&:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }
	// * html & { height: 1px } /* ie */
}

@mixin inline-block($align) { display: inline-block; zoom:1; *display: inline; vertical-align: $align; }

@mixin box-shadow($shadows...) { -moz-box-shadow: $shadows; -webkit-box-shadow: $shadows; box-shadow: $shadows; }
@mixin box-sizing($boxsizing) { -moz-box-sizing: $boxsizing; -webkit-box-sizing: $boxsizing; box-sizing: $boxsizing; }
@mixin linear-gradient($fromColor, $toColor) {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$fromColor), color-stop(100%,$toColor)); // Saf4+, Chrome
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); // Chrome 10+, Saf5.1+, iOS 5+
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); // FF3.6
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); // IE10
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); // Opera 11.10+
  background-image:         linear-gradient(to bottom, $fromColor 0%, $toColor 100%)
}

@mixin diagonal-gradient($fromColor, $toColor) {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$fromColor), color-stop(100%,$toColor)); // Saf4+, Chrome
  background-image: -webkit-linear-gradient(left, $fromColor, $toColor); // Chrome 10+, Saf5.1+, iOS 5+
  background-image:    -moz-linear-gradient(left, $fromColor, $toColor); // FF3.6
  background-image:     -ms-linear-gradient(left, $fromColor, $toColor); // IE10
  background-image:      -o-linear-gradient(left, $fromColor, $toColor); // Opera 11.10+
  background-image:         linear-gradient(to bottom right, $fromColor 0%, $toColor 100%)
}


@mixin horiz-gradient($fromColor, $toColor) {
  background-image: -webkit-gradient(linear, left center, right center, color-stop(0%,$fromColor), color-stop(100%,$toColor)); // Saf4+, Chrome
  background-image: -webkit-linear-gradient(left, $fromColor, $toColor); // Chrome 10+, Saf5.1+, iOS 5+
  background-image:    -moz-linear-gradient(left, $fromColor, $toColor); // FF3.6
  background-image:     -ms-linear-gradient(left, $fromColor, $toColor); // IE10
  background-image:      -o-linear-gradient(left, $fromColor, $toColor); // Opera 11.10+
  background-image:         linear-gradient(to right, $fromColor 0%, $toColor 100%)
}


@mixin transition($transitions...) { -webkit-transition: $transitions; -moz-transition: $transitions; -ms-transition: $transitions; -o-transition: $transitions; transition: $transitions; }

@mixin transform($transform...) { -webkit-transform: $transform; transform: $transform; }

@mixin vertical-aligner(){
	> * { vertical-align: middle; }
	&:after { content:''; display: inline-block; height: 100%; vertical-align: middle; }
}



@mixin iconfont() { font-family: 'cincopaicons'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; font-size: 24px; line-height: 1; vertical-align: middle; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@mixin reflect() { -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: "FlipH"; }

@mixin fadeOut { visibility: hidden; opacity: 0; transition: .5s ease opacity; }
@mixin fadeIn { visibility: hidden; opacity: 1; transition: .5s ease opacity; }


@mixin dropdownLook() { position: absolute; right: 0; border-radius: 4px; box-shadow: rgba(0, 0, 0, 23/100) 0px 1px 5px;  margin: 0px; margin-top: 12px; border: 1px solid #d8dadf; padding: 0; list-style: none; background: #FFF; max-height: 90ex; overflow: hidden; overflow-x: hidden; z-index: 100; text-align: left; min-width: 240px; opacity: 0; visibility: hidden; max-height: 0; @include transition(.2s cubic-bezier(0, 1.12, 0.65, 1.01) all); }
@mixin dropdownLookOnly() { border-radius: 4px; box-shadow: rgba(0, 0, 0, 23/100) 0px 1px 5px;  border: 1px solid #d8dadf; padding: 0 15px; list-style: none; background: #FFF; max-height: 90vh; z-index: 100; text-align: left; min-width: 200px; opacity: 0; visibility: hidden; max-height: 0; @include transition(.2s cubic-bezier(0, 1.12, 0.65, 1.01) all); }


@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}



@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }
 
    @-moz-keyframes #{$animation_name} {
        @content;
    }
 
    @-o-keyframes #{$animation_name} {
        @content;
    }
 
    @keyframes #{$animation_name} {
        @content;
    }
}

@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
 
    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
 
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}


@mixin animation-rotate() {
  animation: rotating-icon linear .7s;
  animation-iteration-count: infinite;
  transform-origin: 49% 52%;
  -webkit-animation: rotating-icon linear .7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 49% 52%;
  -moz-animation: rotating-icon linear .7s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 49% 52%;
  -ms-animation: rotating-icon linear .7s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 49% 52%;	
}
@mixin animation-attentionglow() {
  animation: attention-glow ease-in .5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: attention-glow ease-in .5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: attention-glow ease-in .5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: attention-glow ease-in .5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: attention-glow ease-in .5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;	
}



// ###################################################################


