// /* /incl/_variables.scss */
// COLORS
$color-blue: #0086cf;
$color-lightblue: #e6f3fa;
$color-orange: #fb6721;
$color-bluegray: #86adc2;
$color-primary: #0086cf;
$color-blueshade: #85adc3;
$color-gray: #434a54;
$color-icon: #aab2bd;

// $color-green: #8dc153; // before 2018
$color-green: #3eb060; // 2018
$color-yellow: #ffc330;
$color-purple: #967bdc; // or 967ed9
$color-pink: #d870ad;
$color-red: #db4c3f;
// $color-red: #f94d29;  // new red color 2018 ??

$color-tint-orange: #f8ceaf;
$color-tint-purple: #bdcdfb;
$color-tint-green: #9de6ac;
$color-tint-blue: #7ad9f0;


$color-twitter: #588dca;
$color-facebook: #3b589b;
$color-linkedin: #0079b9;
$color-instagram: #517fa5;
$color-dribble: #ed4a88;

$media-mobile-max: 800px;


//
$color-photos: #cbc3a3;
$color-pro: #85b159;
$color-free: #0086cf;
$color-startup: #0994e0;
// $color-plus: #3eb060;
$color-plus: #28a8ee;
// $color-corporate: #28a8ee;
$color-corporate: #3eb060;
$color-enterprise: #50bbf5;


//
$border-radius: 3px;


$font-main: 'Open Sans';
$font-accent: 'Raleway';
$font-accent2: 'Montserrat';
$font-color: #656d78;
@mixin font-main() { font-family: $font-main, Arial, sans-serif; }
@mixin font-accent() { font-family: $font-accent, $font-main, Arial, sans-serif; }
@mixin font-accent2() { font-family: $font-accent2, $font-main, Arial, sans-serif; }

@mixin font-narrow(){ font-family: 'Roboto Condensed', 'Roboto', sans-serif; }
@mixin font-monospace(){ font-family:  "Courier New", Courier, monospace; }

