// /* /incl/_variables.scss */
// COLORS
$color-blue: #0086cf;
$color-orange: #fb6721;
$color-bluegray: #86adc2;
$color-primary: #0086cf;
$color-blueshade: #85adc3;
$color-gray: #434a54;
$color-icon: #aab2bd;

$color-green: #8dc153;
$color-yellow: #ffc330;
$color-purple: #967bdc; // or 967ed9
$color-pink: #d870ad;
$color-red: #ed5564;

$media-mobile-max: 800px;


//
$border-radius: 3px;


$font-main: 'Open Sans';
$font-accent: 'Montserrat';
@mixin font-accent() { font-family: $font-accent, $font-main, Arial, sans-serif; }

@mixin font-narrow(){ font-family: 'Roboto Condensed', 'Roboto', sans-serif; }
@mixin font-monospace(){ font-family:  "Courier New", Courier, monospace; }
