/* /pages/_app-myaccount.scss */
/* dennis  */
.overviewArea{
	background: #fff;
	padding: 30px;
}
.overviewArea .colm-6{
	width: 50%;
	float: left;
}
.overviewArea .colm-3{
	width: 33.333333%;
	float: left;
}
.colm-2{
	width: 50%;
	float: left;
}
.overviewArea .colm-6.left-side{
	padding-right: 30px;
}
.overviewArea .colm-6.right-side{
	padding-left: 30px;
}
.overviewArea .colm-2.left-side{
	padding-right: 25px;
}
.overviewArea .colm-2.right-side{
	padding-left: 25px;
}

.clear{
	clear: both;
}
.overviewArea .name-title{
	font-size: 18px;
	font-weight: normal;
  	color: #656D78;
	margin-bottom: 0;
}
.overviewArea .name{
	margin-top: 0;
	color: #0086cf;
	font-size: 18px;
	font-weight: 600;
}
.overviewArea .current-plan span.expired{
	color: #ed5564;
	font-size: 14px;
}
.overviewArea .current-plan .name{
	float: left;
	margin-right: 30px;
}
.overviewArea .icon-crown{
	color: #ffc330;
}
.overviewArea .buy_premium{
	font-size: 13px;
	font-weight: bold;
	color: #a7afba;
	text-transform: uppercase;
}
.overviewArea .traffic-box{
	border: 1px solid #d8dadf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 16px;
  	padding-right: 0;
	float: left;
}
.overviewArea .packages{
	margin-top: 52px;
}
.overviewArea .packages .name-title{
	margin-bottom: 10px;
}
.overviewArea .traffic-box{
	margin-right: 10px;
}
.overviewArea .icon-ok{
	color: #66c100;
}
.overviewArea .traffic-box .name{
	margin-right: 20px;
	display: inline;
}
.overviewArea .traffic-box p{		
	font-size: 14px;
  	margin-bottom: 0;
}
.overviewArea .traffic-box p .green{
	color: #66c100;
}
.overviewArea #dropdownTypes.dd-container .dd-selected{
	font-size: 13px;
	color: #a7afba;
	text-transform: uppercase;
}
.overviewArea #dropdownTypes.dd-container .dd-selected:before{
	content: "\e629";
	color: #0086cf;
}
.overviewArea #dropdownTypes.dd-container .dd-selected:after{
	content: "";
}
.overviewArea #dropdownTypes{
	float: left;
}
.overviewArea .extra-package{
	float: right;
	margin-top: 18px;
}
.overviewArea .icon-star{
	color: #ffc330;
}
	
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-left, .ui-corner-br {
  border-bottom-right-radius: 18px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 18px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-left, .ui-corner-tr {
  border-top-right-radius: 18px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 18px;
}
.ui-widget-content {
  	/*border: 1px solid #AAA;*/
  	background: #d8dadf;
  	color: #222;
}
.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
}
.ui-progressbar {
  height: 20px;
  text-align: left;
  overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
  /*margin: -1px;*/
  height: 100%;
}

.ui-widget-header {
  	/*border: 1px solid #AAA;*/
  	background: #8dc153;
  	color: #222;
  	font-weight: bold;
}
		
#progressbar2 .ui-widget-header{
	background: #ffde00;
}
.bar-desc{
	margin-top: 13px;
	margin-bottom: 7px;
}
.bar-percent{
	float: left;
	font-size: 14px;
}
.bar-traffic{
	float: right;
	color: #aab2bd;
	font-size: 11px;
}
.chart-box{
	margin-top: 55px;
}
#chart-container{
	width: 100%;
	height: 200px;
	margin: 0 auto
}
.period-box{
	font-size: 12px;
	float: right;
	margin-right: 11px;
}
.last-30{
	color: #0086cf;
	margin-right: 10px;
}
.all-time{
	color: #aab2bd;	
}

.overviewArea-first{
	padding-bottom: 75px;
}
.overviewArea-second{
	border-top: 1px solid #d8dadf;
}
.grey-box{
	width: 100%;
	height: 400px;
	background: #f6f7fb;
	margin-top: 30px;
}
/* dennis  */