/* /pages/_app-wizard.scss */
.wizardArea { /*background: #fff;*/ min-height: calc(100vh - 190px); }


#preset_values_skin_param_size_thumb {  
	width: auto;
	label.dd-selected-text { display: none !important; visibility: hidden; }
}

.wizardControlsMobile {
	display: none;
	@media screen and (max-width: 800px) {
		display: block; margin-top: 15px; text-align: right;
	}
}

.applyState {
    position: absolute; top: 14px; left: 100%; width: 16px; height: 16px; margin-left: 0; @include iconfont(); font-size: 14px;
    &.saved:before { content: "\e602"; color: $color-green; }
    &.error:before { content: "\e643"; color: $color-red; }
    &.saving:before { content: "\e61e"; color: $color-blue; @include animation-rotate(); }
}


.alternatives {
	text-align: center; background: rgba(0,0,0,.03); padding: 20px; margin-top: -10px;
	p { margin: -5px 0 10px 0; }
}


#testpreview { display: none; }


.sectionTitle { position: relative; z-index: 11; text-transform: capitalize; }
.sectionTitle.fixed { position: fixed; top: 180px; width: 300px; z-index: 11; }
.sectionTitle.fixed.absolute {position: absolute; }
@media screen and (max-width: 1150px) and (min-width: 801px){
	.sectionTitle.fixed { width: 250px; }
}

#_css_area { @include font-monospace(); width: 100% !important; padding: 8px 10px; color: #242424; font-size: 12px; border: 1px solid #ccc; border-radius: 3px; outline: none !important; }

.wizard-maxwidth {
	.numbersRow { max-width: 60%; width: 130px; min-width: 130px; float: left; clear: none; }
	.percOrPx { float: right; clear: none; }
}

