/* /pages/_app-asset-single.scss */
// =======================================================================
// ==== SINGLE ASSET VIEW =====================================================
// =======================================================================
#libraryHeadAsset {
	.headLeft { width: 10.36em; position: relative; z-index: 1; }
	.headRight { width: 16.43em; position: relative; z-index: 1; }
	.headCenter { width: 80%; text-overflow: ellipsis; overflow: hidden; }
}

.libraryArea {
	#libraryHeadAsset,
	.assetEditor { display: none; }
	&.activeEditor {
		#libraryHeadAsset { display: table; }
		.assetEditor { display: block; }
		#libraryHead,
		#libraryContainer,
		.load_more { display: none; }
	}
	.load_more { display: block; visibility: hidden; text-align: center; font-size: 20px; padding: 15px; cursor: pointer; border: 1px dashed transparent; }
	&.loading .load_more {
		display: block; visibility: visible; font-size: 0;
		&:before { @include iconfont(); content: "\e61e"; font-size: 50px; opacity: .3; @include animation-rotate(); }
	}
}

.assetEditor { background: #fff; padding: 15px; font-size: 14px; }
.boxInfo,
.boxStat,
.boxMetaEditor,
.boxPreview { @include clearfix();
	background: #fff; border: 1px solid #d8dadf; border-radius: 2px; padding: 20px; margin: 0 auto 15px auto; box-shadow: 0 1px 4px rgba(0,0,0,15/100); position: relative; 
	p[style="clear:both;"] { display: none; }
}
.boxStat { overflow: hidden; }
.boxMetaEditor,
.boxDetails { display: inline-block; vertical-align: top; width: 48%; max-width: calc(50% - 32px); margin: 15px; }
.boxPreview { padding: 5px; overflow: hidden; text-align: center; }

.assetEditor hr { height: 0; margin: 15px -15px; border: none; border-bottom: 1px solid #d8dadf; }

.boxInfo {
	text-align: justify; text-justify: distribute-all-lines; line-height: 0; 
	&:after {content: ''; display: inline-block; width: 100%; height: 0; }
	ul {display: inline-block; vertical-align: top; list-style: none; margin: 0; padding: 0; line-height: 1.5em; min-width: 7em; }
	ul:empty { display: none; }
	li {margin: 0 15px 10px 0; text-align: left; }
	i {color: #656d78; font-weight: bold; font-style: normal; }
	b {color: #0086cf; font-weight: bold; }
}
// box editor
.boxMetaEditor {
	padding: 0; background: #f6f7fb;
	.tabsHead {
		display: block; list-style: none; padding: 0 10px; margin: 0 auto; background: #ffffff; border-bottom: 1px solid #d8dadf; font-weight: 600; /*text-align: justify; text-justify: distribute-all-lines;*/ font-size: 0; line-height: 0;
		&:after { content: ''; display: inline-block; width: 100%; height: 0; }
		li {
			display: inline-block; vertical-align: top;
			a { display: block; padding: 10px 5px; font-size: 14px; text-transform: uppercase; color: #aab2bd; cursor: pointer; border-bottom: 2px solid transparent; line-height: 1.4em; }
			a:hover { color: #0086cf; }
			&.active a { color: #0086cf; border-bottom-color: #0086cf; }
		}
	}
	.tabContent {
		@include clearfix(); position: relative; padding: 0 20px; background: #f6f7fb; max-height: 0; overflow: hidden; opacity: 0; @include transition (.5s cubic-bezier(.1, -1.5, .1, 2.5) max-height, .3s ease-in opacity); transform: scale3d(1,1,1);
		&.active { padding: 20px; max-height: 1000px; opacity: 1; overflow: visible; }
		&.annotations {
			.dd-option [class^="icon-"],
			.dd-option [class*=" icon-"] { margin-right: 10px; }
		}
	}	
	table.boxMeta_form {
		border-collapse: collapse; width: 100%; border: none; table-layout: fixed;
		tr {
			> * { border-bottom: 1px solid #d8dadf; padding: 8px; }
			&:last-child > * { border-bottom: none; }
		}
		th { text-align: left; font-size: 13px; font-weight: 400; color: #656d78; max-width: 30%; }
		td { width: 70%; }
	}
	input,
	textarea { font-size: 14px; color: #434a54; background: transparent; border: 1px solid transparent; border-radius: 20px; padding: 5px 10px; width: 100%; display: block; line-height: 1.2em; }
	textarea { border-radius: 4px; height: 5em; }
	*::-webkit-input-placeholder { font-size: 13px; color: #aab2bd; }
	*::-moz-input-placeholder { font-size: 13px; color: #aab2bd; }
	*::-ms-input-placeholder { font-size: 13px; color: #aab2bd; }
	td:hover *::-webkit-input-placeholder { color: #0086cf; cursor: pointer; text-decoration: underline; }
	td:hover *:focus::-webkit-input-placeholder { color: #aab2bd !important; text-decoration: none !important; }
	input:focus,
	textarea:focus { background-color: #fff; border-color: #d8dadf; outline: none; }
	div.tagsinput {
		margin-bottom: 0; background: transparent; border: none; max-width: 100%;
		div { display: inline-block; float: none; }
		input { border: none !important;}
	}
	tr:last-child > * { padding-bottom: 0; }
	.tagsinput::-webkit-input-placeholder { color: #aab2bd; }
	.tabContent.thumbnail {
		.saveBtn { margin-top: 15px; }
	}
	.tabContent.share .addthis_toolbox { position: static; margin: 10px auto; }
	.timelineBlock {
		display: block !important; width: 100% !important; float: none !important;
		.add_annotation_btn { font-weight: bold; cursor: pointer;
			&:hover { color: #0086cf; }
		}
	}
}
// =======================================================
.boxPreview {
	.skinView.portraitVideo { max-width: 300px; margin: 0 auto; }
	.skinView > *,
	> *,
	img { max-width: 100%; height: auto; }
}
// =======================================================
.boxStat {
	//overflow: hidden;
	> * { display: inline-block; vertical-align: middle; }
	.chart_div { padding-left: 120px; padding-right: 120px; width: 100%; min-width: 100px; margin-left: -120px; margin-right: -120px; }
	#chart { max-height: 110px !important; position: relative; max-width: 100%; margin-bottom: -15px; }
	.highcharts-container { max-width: 100%; max-height: 100%; }
}
// =======================================================
.tabContent.embed {
	textarea { background: #fff; border: 1px solid #ccc; border-radius: 2px; padding: 10px; font-family: monospace; font-size: 12px; margin-bottom: 20px; min-height: 10em; }
	.copyBtn {
		display: block; background: #B5B5B5; text-align: center; font-size: 16px; padding: 10px; border: 1px solid; margin-top: -21px; margin-bottom: 25px; color: #fff;
		&:hover,
		&.hover { background-color: #A3A3A3; }
		&:active,
		&.active { box-shadow: inset 0 2px 3px rgba(0,0,0,30/100); }
	}
	.embed_code_copybtn { position: relative; }
	.titleDescBlock p { font-size: .9em; margin-bottom: 8px; }
}
.noFlash .copyBtn { display: none !important; }
// =======================================================
#add_annotation,
.video_thumb_sec { transform: scale3d(1,1,1); display: none; position: absolute; right: 10px; bottom: 55px; background: #000; background: rgba(0, 0, 0, 40/100); font-size: 10px; color: #fff; color: rgba(255, 255, 255, 81/100); text-decoration: none!important; border: none; padding: 3px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; border: 1px solid; text-transform: uppercase; }
#add_annotation:hover,
.video_thumb_sec:hover { background: #000; color: #fff; }
#add_annotation { bottom: 80px; }
// =======================================================================
// ==== SINGLE ASSET VIEW =====================================================
// =======================================================================

// ======================================================
.timelineBlock{display:none; float:right; width: 50%; }
.timelineBtn,
.metaInfoBtn { display:none; font-size: 18px; padding: 5px 15px; color: #666666; text-decoration: none !important; }
.timelineBtn:hover,
.metaInfoBtn:hover { color: #0C92DF; text-decoration: none; box-shadow: inset 0 -2px 0; }
.metaInfoBtn.active,
.timelineBtn.active { background: #0C92DF; color: #fff; box-shadow: none !important; }
.simplemodal-data.video .timelineBtn ,.simplemodal-data.video .metaInfoBtn { display: inline-block; float: right; }
.activeTimeline table {display:none;}
.activeTimeline .timelineBlock {display:block; padding: 20px 0; }
select[name="edit_annotations"] { width: 100%; }
.timelineBlock  textarea {resize: none; min-width: 78%; }
.timelineBlock .annotation_field {
	margin:5px auto;
	a { cursor: pointer; }
	label { width: 70px; display: inline-block; margin-right: 3%; text-align: right; }
}
.timelineBlock .addAnnotations {position:relative;display:none;}
.timelineBlock .annotation_thumb_preview {width: 100px;height: 50px;position: absolute;top: 0;right: 0;text-align: right;}
.timelineBlock .annotation_thumb_preview img{width: auto;height: auto;max-width: 100%;max-height: 100%;}
.timelineBlock .annotations { }
.timelineBlock .annotations .timelineElement {margin: 5px auto;position:relative; display:none;}
.timelineBlock .annotations .timelineElement label{width: 70px; margin-right:10px; display: inline-block;}
.timelineBlock .annotations .timelineElement span.delete { font-size: 12px; cursor: pointer; color: #FFFFFF; font-weight: bold; text-transform: uppercase; background: #DD4A4A; padding: 1px 20px; float: right; }
a.annotation_seconds_plus {margin-right: -1px; }
a.annotation_seconds_plus,
a.annotation_seconds_minus {display: inline-block; padding: 0; background: #E5E5DE; width: 1em; line-height: .9em; text-align: center; font-size: 20px; vertical-align: middle; margin: 0 2px; color: #777; text-decoration: none !important; }
.activeTimeline #add_thumb_sec,
.activeTimeline .previewVideoPoster {/* display: none !important;*/ visibility:hidden;}
.modalControlsArea {text-align: right; clear: both; }
.timelineBlock  div.titleBlock label:after {content: '*';color: red;}
.timelineBlock .edit_controls{ display:none;}
.timelineElement.active .edit_controls{ display:block;}
.tabsControls {float: right;width: 50%;color: #0C92DF;text-decoration: none; border-bottom: 2px solid;}
//.mejs-container .mejs-controls{visibility: initial!important;}
#add_annotation, #add_thumb_sec { z-index:9; }
// ======================================================


.timelineBlock .annotation_field {
   	margin: 5px 20px 0 0;
	p { margin: 5px 0; }
	b { font-size: 14px; }
	&.timeField { display: inline-block; vertical-align: top; margin-right: 20px !important; }
}

.fieldsSection {
    margin: 20px -20px; border-bottom: 1px solid #d4d4d4; padding: 10px 20px; border-top: 1px solid #d4d4d4;
	h3 { color: #8c9094; margin: 10px 0 0 0; }
	.radioBox {
		i {
			margin-left: 0 !important;
			&:before { left: 4px !important; }
		}
	}
}

.assetEditor .addthis_toolbox  { position: absolute; left: 40px; bottom: 0; width: auto; margin-bottom: -15px; }
.assetEditor .addThisBlock {margin-left: 0;padding: 10px 10px 0 10px;}



// video progress slider for anotations
#progress-slider {
	height: 6px; border-radius:2px; background: #bac6db; margin: 10px 2px; position: relative; cursor: pointer;
	#progress-slider-fill { height:100%; background:#1c87d3; width:0; }
	#progress-slider-dragger { position:absolute; width:12px; height:12px; border-radius:50%; margin:-6px 0 0 2px; border: 1px solid #ddd; background: #fff; top:50%; @include box-shadow(0 2px 3px #777); }
	.progress-slider-transition { transition: all 1s; }
}








// =======================================================================
// ==== MOBILE SINGLE ASSET VIEW =====================================================
// =======================================================================
// ------------------ */
// mobile */
// ------------------ */
@media screen and (max-width: 800px) {
// ------------------ */
.libraryArea.activeEditor .assetEditor { padding-top: 79px; }
#libraryHeadAsset {
    z-index: 110; padding: 7px 12px; min-height: 60px; height: 70px; top: 140px;
    .btn > b { display: none; }
    .btn.trans {
        color: #656d78; background: #fff; padding: 7px 10px; border: 1px solid #d8dadf; border-radius: 3px;
        > i { color: #434a54; }
        &:hover { box-shadow: 0 1px 3px rgba(0,0,0,30/100); }
        &:active { box-shadow: inset 0 1px 5px rgba(0,0,0,30/100); }
    }
    .headCenter {
        padding-left: 3.5em; padding-right: 8em; padding-top: 15px; margin-left: -11.5em;
        h3 { font-size: 19px; }
    }
    .headLeft { width: 4em; }
    .headRight { width: 8em; }
}

.assetEditor { margin: 0 -20px; }
.boxInfo,
.boxStat,
.boxMetaEditor,
.boxPreview,
.boxDetails { margin: 25px 15px; width: auto; max-width: 100%; display: block; }
.boxInfo { margin-bottom: 0; }
.boxStat { margin-top: 0; border-top: none; }
.boxStat + hr { display: none; }

// ------------------ */
}
// mobile */
// ------------------ */
// =======================================================================
// ==== MOBILE SINGLE ASSET VIEW =====================================================
// =======================================================================