/* /pages/_app-assets.scss */

.empty_gallery { padding: 15px; text-align: center; font-style: italic; }


.share_tooltip {
	width: 40px; height: 40px; z-index: auto; margin-left: -44px; z-index: 200; position: absolute; padding: 0; display: none;  line-height: normal;
	&[style^="display: block;"]{ display: inline-block !important; }
	.shareBlock { position: absolute; width: 350px; height: auto; left: 50% !important; margin-left: -280px; top: 100% !important; margin-top: 8px; z-index: 100; padding: 0px 6px 1px 8px; text-align: center; top: auto; left: auto; background: #fff; border: 1px solid #aab2bd; color: #aab2bd; font-size: 12px; -webkit-border-radius: 2px; -webkit-box-shadow: 0 0 0 0px #aab2bd, 0 6px 10px #aab2bd;  }
	.shareBlock:after { content: ''; width: 100%; height: 16px; display: block; z-index: -1; left: 0; top: 0; position: absolute; margin-top: -16px; }
	.tooltipArrow { width: 0; height: 0; border-width: 8px; border-style: solid; border-color: transparent transparent #aab2bd transparent; top: 100%; left: 50%; z-index: 1; position: absolute; margin-top: -7px; margin-left: -8px; }
	.addthis_toolbox {position: relative; width: auto; margin: 10px 0; float: none; clear: both; left: 0; top: 0; }
	.addthis_toolbox a{margin:0;}
	.share_media{text-align: left; color: #aab2bd; font-size: 14px; margin-top: 5px; }
}

.copy_button,
.share_tooltip .copy_button { cursor: pointer; border-radius: 3px; display: inline-block; zoom: 1; vertical-align: middle; padding: 12px 26px; min-width: 3em; text-decoration: none; color: #f6f7fb; margin: 2px; font-size: 14px; line-height: 1.2em; background: #8dc153; }
.copy_url,
.share_tooltip .copy_url { padding: 8px 5px; margin-right: 7px; border-radius: 3px; width: 200px; display: inline-block; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; font-size: 16px; color: #0086cf; font-weight: bold; text-decoration: underline; background: #f6f7fb; border: 1px solid #d8dadf; white-space: nowrap; }
.copy_url a { color: #0086cf !important; }


.copy_delete_block {
	.copy_searchbox {
		margin-left: -15px !important; white-space: nowrap;
		.new_gallery{border: none;}
	}
}

.tabContent.share .addThisBlock { position: relative; }
.copyStatus { background: #fff; padding: 1px 5px; display: inline-block; position: absolute; top: 5px; left: 17em; border-radius: 4px; border: 1px solid; color: #AEAEAE; font-size: 12px; box-shadow: 0 1px 2px  }


.analytics_div,
.analytics_view_div { color: #ccd0d9; width: 9em; font-size: 12px; text-align: center; padding: 15px 5px;  }
.analytics_div .infolder { color: #d870ad; font-size: 36px; font-weight: 300; white-space: nowrap; }
.analytics_view_div .weekly_views { color: #967bdc; font-size: 36px; font-weight: 300; white-space: nowrap; }
.analytics_div .infolder > i,
.analytics_view_div .weekly_views > i { font-size: 40px; }


span.tag,
.library-line span.tag { border: none; border-radius: 3px; display: inline-block; zoom: 1; padding: .4em .5em; min-width: 3em; text-decoration: none; color: #232a32; margin: 4px; font-size: 16px; line-height: 1em; background: #e6f3fa; box-shadow: none; text-align: center; }
.library-line .tag .removeTag{display:none;}
.library-line span.edit_tooltip{position: absolute; display: none; z-index: 1; padding: 0px 6px 1px 6px; text-align: center; margin-top: -25px; margin-left: -25px; background: #454958; color: #fff; font-size: 12px; height:20px; z-index: 5; }
// ===============


a.top {
	position: fixed; bottom: 100px; right: 10px; padding: 22px; display: none; border-radius: 50%; text-align: center; opacity: 0.8; z-index: 1000;
	background: no-repeat center center #333333; background-image: inline-image("images/toparrow.png");
	@media screen and ( max-width: 800px ) { display: none !important; }
}


.libraryContainer.assets_list .library-line-preload {float: left; width: 1200px; height: 125px; background-repeat: no-repeat; opacity: 0.4; }
#libraryHead div.tagsFilterBlock { display: block; }
#libraryHead .selectedTag { border: 1px solid #29abe2; display: inline-block; padding: 5px 15px; margin: 2px 5px; position: relative;}
#libraryHead .selectedTag span { color: #C0C0C0; }
// .library-head .selectedTag a{position: absolute;right: 0;top: -28px;}*/
