/* /pages/_app-skinpreview.scss */
.skinpreviewHead {
	.appnav .btn {
		// text-transform: none;
		&.reset {
			color: $color-blue !important; padding: 12px 5px;
			i { color: inherit !important; }
		}
		&.green { padding: 13px 5px; text-transform: uppercase; }
		&[style="display: inline;"] { display: inline-block !important; }
	}
	.dd-container { margin: 0; display: inline-block; width: auto !important; }
	.try_other_box {
		&[style="display: block;"] { display: inline-block !important; vertical-align: middle; }
	}
	@media screen and (max-width: 960px){
		.dd-container {width: auto !important;}
		.appnav .headLeft {
			.try_other_box a { width: auto; white-space: normal; line-height: 1.2; height: auto; padding: 15px 0; vertical-align: middle; }
			.prev_next_box a { font-size: 0 !important; white-space: normal; line-height: 1.2; height: auto; padding: 15px 0; width: auto; display: inline-block; float: none !important; min-width: 40px; }
			a {  display: inline-block; }
		}
		.appnav .btn.reset { b { display: none; } }
		.appnav .btn.use_this_skin { i { display: none; } }
		/*+.skinpreviewSubhead {margin-top: 70px; }*/
	}
	@media screen and (max-width: 600px){
		.appnav .btn.reset {
			white-space: normal; line-height: 1.1; padding: 0;
			b { display: none !important; }
			i { display: inline-block !important; }
		}
		.appnav .btn.primary { padding: 10px 5px;  white-space: normal; }
		.appnav .headLeft {
			>div { display: table-cell !important; vertical-align: middle; width: 31% !important; text-align: center; }
			.try_other_box a { width: auto; white-space: normal; line-height: 1.2; height: auto; padding: 15px 0; vertical-align: middle; }
			.prev_next_box a { font-size: 0 !important; white-space: normal; line-height: 1.2; height: auto; padding: 15px 0; width: auto; display: inline-block; float: none !important; min-width: 40px; text-align: center; }

		}
		/*+.skinpreviewSubhead {margin-top: 70px; }*/
	}
	@media screen and (max-width: 420px){
		.appnav .headRightActions .btn.primary { width: 55px; white-space: normal; padding: 5px; margin: -4px 0;}
		.appnav .headRightActions .btn.primary[style="display: inline;"] { display: inline-block !important; }
	}
}


.skinpreviewSubhead {
	position: fixed; width:100%; left: 0; top: 80px; text-align: center; padding: 10px 30px; background: #f5f6fa; border-bottom: 1px solid #d8dadf; @include clearfix();
	.btn {
		color: $color-blue; font-size: 13px !important;
		&.trans { padding: 5px 0; }
		i { font-size: 18px; color: $color-blue; }
	}
	.bx-viewport {
		padding: 0; margin: 0; background-color: #F5F6FA; z-index: 5; position: relative; background: transparent !important; border: none !important; box-shadow: none !important; height: auto !important;
		ul { margin: 0; }
		li { margin: 0 5px; }
	}
}

.skinpreviewPage {
	box-shadow: none; margin: 110px 0 0 0; padding: 20px;
	div[id^="cp_widget"] { margin: 20px auto; }
}


.mobile_qr_box {
	display: none; background: #fff; padding: 10px; position: fixed; -webkit-box-shadow: -3px 8px 14px 0px rgba(145, 158, 158, 0.65); -moz-box-shadow: -3px 8px 14px 0px rgba(145, 158, 158, 0.65); box-shadow: -3px 5px 4px 0px rgba(145, 158, 158, 0.65); right: 0px; max-width: 180px; margin-top: -30px; z-index: 85000;
	.open_qr_box i { font-size: 35px; }
	.qr_code_box { display: none; }
	.qr_code_box a {color: #ACB4BE; float: right; top: -20px; }
	.qr_code_box p.title { font-size: 17px; }
	.qr_code_box p.desc { font-size: 13px; }
	#qrcode { float:left; display: none; }
	#qrcode img { width: 120px; }
	@media all and (max-width: 800px) { display: none; }
}




// Davit 03.02.2016 for skin previews
.hidescroll { overflow:hidden; }
// .content-container { position:static!important; } // static by defaul now
.fixedpreview {position:fixed!important; left:0; right:0; bottom:0; top:0; background:rgba(255,255,255,1); z-index:1000; margin: 0!important; }
// .mobile_qr_box {
// 	position: absolute; margin-top: 5px; -webkit-border-radius: 10px 0 0 10px; -moz-border-radius: 10px 0 0 10px; border-radius: 10px 0 0 10px; margin-top: 10px;
// }
// @media (max-width: 800px){
// 	.previewModesToolbar{display: none;}
// }
// Davit 03.02.2016 for skin previews







