.cpBrandAssets {
	margin: 40px auto;
	h1,
	h2,
	h3,
	h4,
	p { text-align: left; line-height: 1.3; margin: 0 0 20px 0; }
	p { line-height: 1.7; }
	h1 { font-size: 34px; }
	h2 { font-size: 26px; }
	h3 { font-size: 20px; }
	h4 { font-size: 16px; }
	>div { margin: 40px 0; text-align: center; }
	.col-md-12 {
		h1, h2 { text-align: center; margin-bottom: 40px; }
	}
	// ----------------
	.cba-typography {
		text-align: center;
	}
	.cba-box { padding: 50px; border-radius: 5px; border: 1px solid #eee; box-shadow: 0 3px 40px rgba(0,0,0,.1); }

	// ----------------
	.cba-colors {
	}
	.cba-card {
		border: 1px solid #eee; text-align: left; border-radius: 5px; padding: 15px; overflow: hidden; margin-bottom: 30px;
		div {
			min-height: 100px; margin: -15px -15px 10px -15px; border-bottom: 1px solid #eee; padding: 20px; text-align: center;
			img { transform: scale(.5); }
		}
		h4 { font-size: 1rem; font-weight: bold; margin: .7em 0 .2em 0; }
		p { color: #777; }
		>*:last-child { margin-bottom: 0; }
	}

	// ----------------
	.cba-logos {
	}


}