/* /pages/_static-unlimited.scss */
// -------------------------------------------------
// DIGITAL ASSETS PAGE
// -------------------------------------------------
.pages-unlimited {
}

.splashArea01.digitalassets {
	background-color: #072f45; background-image: url('/_cms/design15/images/splash-digitalassets.jpg'); padding: 120px 20px;
	h1 { font-family: 'Roboto Condensed', sans-serif; }
}



.videosharebanner { height: 385px; position: relative; }
.videosharebanner > .vshbg { background: url(/_cms/media-platform/videosharefiles/vshpage_banner01.jpg); height: 385px; width: auto; margin: 0 -1000px; background-position: top center; padding: inherit; margin-bottom: -385px;}
.videosharebanner > .vshwrap { position: relative; }
.videosharebanner h2 { font-size: 42px; text-transform: none; color: #fff; font-family: 'neo_sans_promedium', 'Exo', sans-serif; font-weight: normal; text-align: center; margin-bottom: 1em; padding: 0; padding-top: 1em; }
.videosharebanner h3 { font-size: 20px; text-transform: none; color: #fff; font-family: 'neo_sans_prolight', 'Exo', sans-serif; font-weight: normal; width: 42%; margin-left: 17%; display: inline-block; vertical-align: middle; }
.videosharebanner .btnflatorange { vertical-align: middle; display: inline-block; margin-left: 8%; }


.vsh_descriptbox { padding: 50px 50px; margin: 0 auto; overflow: hidden; position: relative; z-index: 0; max-width: 1200px; }
.vsh_descriptbox.nobtmline { border: none; }
.vsh_descriptbox > div { width: 46%; /*display: inline-block;*/ float: left; vertical-align: middle; font-size: 17px; color: #222; }
.vsh_descriptbox > div.img { text-align: center; /*position: relative;*/ }
.vsh_descriptbox > div.img:after { content: ''; display: block; position: absolute; width: 615px; height: 61px; bottom: 50px; background: url(/_cms/media-platform/videosharefiles/vshbnr_dividerleft.png); left: 35%; z-index: -1; }
.vsh_descriptbox.imgright > div.img:after,
.vsh_descriptbox > div + div.img:after { background: url(/_cms/media-platform/videosharefiles/vshbnr_dividerright.png); right: 35%; left: auto;  background-position: right top !important; width: 712px; }
.vsh_descriptbox.imgright .img { float: right; }

.vsh_bluebox { background: #a9cfe5; padding: 60px 1040px; text-align: center; margin: 0 -1000px; margin-top: 40px; }
.vsh_bluebox h2 { color: #244960; font-size: 36px; padding: 0 0 1em 0; }

.vsh_featurebox { display: inline-block; width: 270px; vertical-align: top; margin: 25px; }
.vsh_featurebox p { text-align: left; }


/**/
@media screen and (max-width: 1030px) {
	.videosharebanner { text-align: center; padding-bottom: 135px; margin-bottom: -100px; }
	.videosharebanner > .vshbg { display: none; background: none; }
	.videosharebanner h2 { margin: .5em 0; padding: 0; }
	.videosharebanner h3 {width: 100%; margin-left: 0; }
	.videoBack { height: 100% !important; }
	.big-video-image { width: auto !important; height: 100% !important; left: -30% !important; }
	// .vsh_descriptbox { padding: 20px 0; }
	// .vsh_descriptbox { overflow: hidden; clear: both; margin: 25px 0; width: auto; display: block; }
	// .vsh_descriptbox > div { width: auto; display: block;}
	// .vsh_descriptbox > div.img:after { bottom: 0; }
	.vsh_descriptbox img,
	.vsh_featurebox img {max-width: 100%;}
	.vsh_featurebox h3 {margin-top: 0; padding-top: 0;}
	.vsh_featurebox p { line-height: 1.3em; }
	.videosharebanner {height: auto;}
	.vsh_bluebox {margin: 0; width: auto; padding: 10px 0 30px 0;}
	.vsh_bluebox h2 { padding: 0; margin: .5em 0; }
	.vshwrapfooter h3 {text-align:center;margin: 0;padding: 3px;}
}

@media screen and (max-width: 960px) {
	.videosharebanner h2 { padding-top: 12%; }
	.videosharebanner h3 { margin-top: 18%; color: #222; }
	.videoOptionsBlock {display:none;}
}

@media screen and (max-width: 860px) {
	.videosharebanner h2 { padding-top: 10%; }
	.videosharebanner h3 { margin-top: 16%; }
	.vsh_featurebox { clear: both; overflow: hidden; width: auto; margin: 5px 0; display: block; max-width: none; }
}

@media screen and (max-width: 830px) {
	.videosharebanner h2 { padding-top: 8%; }
	.videosharebanner h3 { margin-top: 12%; }
}
@media screen and (max-width: 830px) {
	div.videoBack { top: -165px; }
}
@media screen and (max-width: 690px) {
	.videosharebanner h2 { padding-top: 5%; }
	.videosharebanner h3 { margin-top: 7%; }
	.videosharebanner { height: auto !important; }
	.videosharebanner .videoBack { height: 100% !important; width: 100%; margin: 0; }
	.vshwrap > h2 { margin-bottom: .5em; }
	.vshwrapfooter h3 { margin: 0; width: auto; padding: 10px; }
	.videoOptionsBlock { margin: 10px 0; }
	.vshwrapfooter h3 { margin:0 !important; }
	.vsh_descriptbox { padding: 10px; }
}

@media screen and (max-width: 610px) {
	.videosharebanner h2 { padding-top: 1%; font-size: 36px; }
	.videosharebanner h3 { margin-top: 7%;  }
}
@media screen and (max-width: 480px) {
	.videosharebanner h2 { padding-top: 1%; font-size: 26px; }
	.videosharebanner h3 { margin-top: 5%;  }
}
@media screen and (max-width: 410px) {
	.videosharebanner h2 { padding-top: 5%; font-size: 20px; }
	.videosharebanner h3 { margin-top: 5%;  }
}
@media screen and (max-width: 380px) {
	.videosharebanner h2 { padding-top: 4%; font-size: 14px; }
	.videosharebanner h3 { margin-top: 0;  }
}


.videoBack {height: 500px;margin: 0 -50%;width: 1960px;overflow: hidden;position: absolute;top: -115px;}
/*patch */
.videoBack {background-image:url(/_cms/design13/images/video_hosting_bg.png);height: 550px;z-index: -1;}
.videosharebanner {height: 410px;font-family: 'neo_sans_prolight', 'Exo', sans-serif;}	
.videosharebanner h2 , .vshwrapfooter h3{color:#456355;}
.vshwrapfooter h3 {font-weight: 500;}
.videoOptionsBlock > div { display:inline-block;margin:10px 25px;vertical-align: top;}
.videoOptionsBlock { text-align:center;margin: 25px auto;}
.videoOptionsBlock > div  span {display: block;color:#ffffff;font-weight:500;line-height: 18px;}
.vshwrapfooter {padding-top:10px;}
.vshwrapfooter .btnflat.blue{padding: 20px 40px;}
.vshwrap > h2 {margin-bottom: 1.7em;padding-top: 0.2em;font-size: 35px;font-weight: 500;}
.videoOptionsBlock img {margin-bottom: 15px;}

.vshwrapfooter h3 {margin-left:8%;}

.emailCollector input {height: 35px;font-size: 18px;border: none;outline: none;width: 300px;vertical-align: top;margin: auto 15px;margin-top: 30px;}
.emailCollector  .btnflat{margin-top: 30px;}
.emailCollector{position: relative;text-align: center;}
.emailCollector .error {position: absolute;color: #FC4545;top: 23px;left: 14px;}
.emailCollector h3 {font-size: 15px;margin: 0;padding: 0;color: #ffffff;line-height: 15px;text-align: center;font-weight: normal;}



// -------------------------------------------------
// DIGITAL ASSETS PAGE
// -------------------------------------------------