.bigsplashbuttonsArea {
	margin: 0 -20px; background: #242424 url('/_cms/design16/images/bigsplashbuttonsbg.jpg') center top; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover;
	padding: 80px 0;
	h2 { color: #fff; font-size: 36px; text-align: center; font-weight: bold; margin-top: 0; }
	p { color: #d6e8fb; text-align: center; font-size: 22px; max-width: 880px; margin: 10px auto; }
}
.bigsplashbutton {
	display: inline-block; vertical-align: top; position: relative; padding: 25px; margin: 15px 13px; @include font-accent(); color: #fff; cursor: pointer;
	@media screen and (min-width: 800px) {
		margin: 15px 5px;
		.contentWrap {
			white-space: nowrap;
			>* { white-space: normal; }
		}
	}
	&:before { position: absolute; display: block; content: ''; top:0; left:0; width: 100%; height: 100%; background: inherit; border-radius: inherit; box-shadow: inherit; @include box-sizing(content-box); @include transition(.2s ease all); }
	img { max-width: 100%; height: auto; }
	.img {
		display: inline-block; margin: 10px auto; position: relative; width: 90px; height: 90px; border-radius: 50px; background: #fff; padding: 15px;
		&:after { position: absolute; width: 100%; height: 100%; background: center center no-repeat; background-size: contain; top: 0; left: 0; opacity: 0; visibility: hidden; content: ''; display: none; }
	}
	.title { 
		font-size: 16px; padding-left: 8px; text-transform: uppercase; letter-spacing: .05em; display: block; margin: 15px 0 0 0; text-align: center; position: relative;
		i { opacity: 0; margin-right: -1em; margin-top: -2px; }
	}
	&.photos { color: #84bb49; }
	&.music { color: #d83949; }
	&.videos { color: #d467a7; }
	&.slideshows { color: #46bbe6; }
	&.podcasts { color: #f5b538; }
	&:hover {
		.img { width: 100px; height: 100px; margin: 5px -5px; }
		.title i { opacity: 1; }
	}
	// ---------------
	@media screen and (max-width: 1100px) {
	// ---------------
	padding: 15px !important;
	.title { font-size: 18px; }
	.title i { display: none; }
	.img { height: auto; }
	// ---------------
	}
	// ---------------
	@media screen and (max-width: 640px) {
		padding: 0 3px !important; width: 40%; margin: 15px 0;
		.title { font-size: 14px; margin: 5px 0 0 0; }
		.img { width: 70px; }
	}
}