.home_title {
	position: relative; text-align: center; margin: 0 -20px; padding: 100px 20px;
	// background: rgba(#000, .4) no-repeat center center; background-size: cover;
	h1, h2 { @include font-accent(); color: #fff; font-size: 60px; font-weight: normal; text-transform: none; letter-spacing: 0; text-shadow: 0 1px 3px rgba(0,0,0,50/100); text-align: center; line-height: 1.1; margin-top: 0; }
	h2, h3, h4, h5 { color: #0086cf; }
	h4 {
		@include font-accent(); font-size: 24px; text-transform: none; line-height: 1.3; margin-bottom: 40px; font-weight: normal;
		&+h4 { margin-top: -1em; }
	}
	.btn+h4 { margin-top: 3em; }
	p { text-align: center; color: #839dc0; font-size: 1em; line-height: 1.5em; text-shadow: 0 1px 3px rgba(0,0,0,50/100); text-align: center; }
	.btn.trans {
		font-size: 16px; color: #fff; font-weight: normal;
		i { color: inherit !important; text-shadow: 1px 1px 3px rgba(0, 0, 0, 60/100); font-size: 28px; }
	}
	ul { color: #fff; list-style: initial; max-width: 850px; margin: 2em auto 2em auto; text-align: left; }
	@media screen and (max-width: 800px) {
		padding: 60px 20px;
		h1, h2 { font-size: 38px; }
	}
}