.clienttypesArea {
	padding: 80px 0;
	h2:first-child { margin-top: 0; }
	p { font-size: 22px; color: #656d78; }
	.clienttype {
		display: inline-block; margin: 10px 40px; text-align: center; text-decoration: none; border-bottom: 2px solid transparent;
		&[href]:hover { border-bottom-color: $color-blue; }
		.img { display: block; }
		img { width: 100px; height: auto; }
		.title { display: block; text-transform: uppercase; color: #434a54; @include font-accent(); }
	}
	@media screen and (max-width: 800px) {
		.clienttype { margin: 10px 10px; }
	}
}