.testimoniesList16 {
	max-height: 330px; overflow: auto; padding-right: 20px; font-size: 14px; line-height: 1.8;
	.slides { list-style: none; display: block; padding: 0; margin: 0; }
	.testimoiesItem {
		margin: 0 0 20px 0; color:#666e79; border: 1px solid #f2f2f2; padding: 30px; border-radius: 5px;
		>span {
			color: #454952; display: block; margin: 5px 0 20px 0;
			&:before { content: ''; display: inline-block; vertical-align: middle; border-top: 3px solid $color-blue; width: 30px; margin-right: 10px; }
		}
		>div { display: table-cell; vertical-align: middle; }
		.ti-photo { width: 70px; }
		img { border-radius: 50px; }
		.ti-desc { font-size: 14px; color: #8D9399; line-height: 1.57; padding-left: 30px; }
		h3 { font-size: 22px; color: #434A54; font-weight: 400; }
	}	
	::-webkit-scrollbar-track { background: transparent; }
	::-webkit-scrollbar-thumb { background: $color-blue; }
}