.testimoniesList {
	text-align: center;
	.testimoiesItem {
		background: #fff; @include linear-gradient(#ffffff, #f6f7fb); margin: 10px; border: 1px solid #ccd0d9; padding: 30px 20px 30px 85px; font-family: 'PT Serif', 'Georgia', serif; font-style: italic; font-size: 16px; font-weight: 100; color: #434a53; display: inline-block; text-align: left; position: relative; min-height: 60px; white-space: normal;
		&:after { content: ''; display: block; position: absolute; width: 100; width: calc(100% + 10px); height: 100%; height: calc(100% - 10px); z-index: -1; top: 5px; left: -6px; border: inherit; background: inherit; }
		&:before { content: ''; display: block; position: absolute; width: 100; width: calc(100% + 18px); height: 100%; height: calc(100% - 20px); z-index: -2; top: 10px; left: -10px; border: inherit; background: inherit; }
		i { position: absolute; width: 50px; height: 50px; display: block; background-position: center center; background-repeat: no-repeat; left: 20px; top: 50%; margin-top: -25px; background-image: inline-image('images/blockquote.png'); background-repeat: no-repeat; }
	}
	&.flexslider {
		text-align: center; border: none; box-shadow: none; padding: 0; margin: 0; margin-bottom: 40px; background: inherit; max-width: 810px; margin-left: auto; margin-right: auto;
		&.slider .testimoiesItem { display: none; }
		&.slider .testimoiesItem.active { display: inline-block; }
		.slides { white-space: nowrap; text-align: left; }
		.slides > li { position: relative; z-index:1; float: none !important; display: inline-block !important; vertical-align: middle; text-align: center; }
		.slides > li.flex-active-slide { z-index: 0; }
		.testimoiesItem { width: 640px; max-width: 80%; max-width: calc(100% - 130px); margin: 20px auto; }
		.flex-direction-nav .flex-prev {left: 10px;opacity: 0.8;}
		.flex-direction-nav .flex-next {right: 10px;opacity: 1;}
		.flex-prev,
		.flex-next,
		.testimoniesNav button { display: inline-block; border: none; border-radius: 25px; width: 50px; height: 50px; background: #656d78; color: #fff; font-size: 24px; line-height: 50px; text-align: center; }
		.testimoniesNav li { display: inline-block; }
		.flex-prev,
		.testimoniesNav button.prev {
			&:before { content: "\e656"; @include iconfont(); line-height: 50px; text-shadow: none; }
		}
		.flex-next,
		.testimoniesNav button.next {
			&:before { content: "\e62d"; @include iconfont(); line-height: 50px; text-shadow: none; }
		}
	}
	&.cols2 .testimoiesItem { width: 600px; max-width: 48%; max-width: calc(50% - 35px); vertical-align: middle; }
	&.cols3 .testimoiesItem { width: 300px; max-width: 31%; max-width: calc(33% - 35px); vertical-align: middle; }
	@media screen and (max-width: 800px) {
		.testimoiesItem {
			padding: 20px; font-size: .8em;
			i { display: none; }
		}
	}
	@media screen and (max-width: 600px) {
		&.cols2 .testimoiesItem,
		&.cols3 .testimoiesItem { width: auto; max-width: 100%; }
	}

}