

.logosArea {
    padding: 20px 1000px 30px 1000px; margin: 0 -1000px;
}

.partnersArea {
	.partnlogo {
		margin: 10px; display: inline-block; vertical-align: middle;
		img { height: 65px; width: auto; }
	}
	@media screen and (min-width: 800px) {
		img { height: auto; width: 100px; width: 25vw; }
	}
}

.clntsArea {
	margin-top: 15px;
	.clntlogo {
		margin: 10px 5px; display: inline-block; vertical-align: middle;
		img { height: 44px; width: auto; }
	}
	@media screen and (min-width: 800px) {
		img { height: auto; width: 100px; width: 25vw; }
	}
}

.homemediatypes {
	display: inline-block; position: relative; width: 650px; max-width: 100%;
	>.laptop { width: 100%; height: auto; }
	>.video { position: absolute; top: 0; left: 0; width: 280px; max-width: 47.46%; }
	>.audio { position: absolute; right: 0; top: 0; width: 270px; max-width: 45.77%; }
	>.photos { position: absolute; right: 0; bottom: 34%; width: 270px; max-width: 45.77%; }
	>.video,
	>.audio,
	>.photos {
		display: inline-block;
		img { width: 100%; height: auto; }
	}
}

.home-testimonies {
	padding: 80px 0;
	h2 { margin: 0 0 80px 0; }
	h4 { color: #434a53; @include font-accent(); font-weight: bold; text-transform: none; text-align: center; font-size: 18px; }
	.video { padding: 8px; border: 1px solid #d2d2d2; }
}





