#homeslider {
	position: relative; margin: 0 -20px; overflow: hidden;
	background: url('/_cms/design15/images/landingsplash-publishers.jpg') no-repeat center top; background-size: cover;
	// background: #5c504a url("/_cms/design15/images/home-splash01.jpg") no-repeat center center; background-size: cover;
	.cincopa_promo_content {
		position: absolute; width: 100%; height: 100%; top: 0; width: calc(100% + 40px); margin-left: -20px; background: rgba(0,0,0,60/100);
		.overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	}
	#cincopa_promo { max-width: 800px !important; margin: 70px auto !important; z-index: 10; position: relative !important; }
	.closeBtn {
		position: absolute; top: 30px; right: 30px; margin-left: -1em; cursor: pointer; font-weight: 100; text-transform: uppercase; font-size: 0; color: #fff;
		&:hover { transform: scale(1.2,1.2); }
		&:before { content: "\e613"; font-family: 'cincopaicons'; font-size: 32px; vertical-align: middle; }
	}
	.icon-play { margin-left: 5px; margin-right: -5px; }


	// Davit 30.09.2016
	.home_gallery{ width:80%; margin:0 auto}
	.home_gallery_container{ width:100%; margin:0}
	@media screen and (max-width: 820px) {
		.home_gallery{width:100%;}
	}

}