.homeplatformhoney {
	position: relative; width: 498px; height: 294px;
	a {
		cursor: pointer; text-align: center; text-decoration: none; background: url('/_cms/design15/images/icon-platform.png') no-repeat center top; width: 200px; height: 148px; display: inline-block; position: absolute; color: #434a53; @include transition(.5s ease all);
		&:after { content:''; background-image: url('/_cms/design15/images/icon-platform.gif'); display: block; opacity:0; } // hover image preload
		i { font-size: 80px; color: #aab2bc; display: block; margin-top: 23px; }
		b { text-transform: uppercase; font-size: 13px; display: block; font-family: 'Roboto Condensed', 'Roboto', sans-serif; font-weight: bold; }
		&:hover {
			background-image: url('/_cms/design15/images/icon-platform.gif');
			i, b { color: #fff; }
		}
	}
	.iconCDN { bottom: 0; left: 0; }
	.iconDAM { top: 24.9%; left: 30%; }
	.iconUM { bottom: 0; right: 0; }
	.iconAN { top:0; left:0; }
	.iconHTML { right:0; top:0; }
	@media screen and (max-width: 1100px) { margin: 0 auto;	}
	@media screen and (max-width: 800px) {
		max-width: 100%; margin-bottom: -30px;
		a { max-width: 39%; background-size: contain; background: none !important; }
		a i { font-size: 64px; color: $color-blue !important; }
		a b { font-size: 16px; color: #434a53 !important; }
	}
}