.homeSection {
	width: 100%; max-width: 1200px; margin: 0 auto; @include clearfix();  text-decoration: none !important; color: inherit;
	padding: 90px 0; overflow: hidden; border-bottom: 1px solid #f0f3f8; display: flex; align-items: center;
	p {
		font-size: 24px; line-height: 1.5; text-align: center; color: #8d9399;
		&:last-child { margin-bottom: 0; }
	}

	img { max-width: 100%; }
	h2 {
		text-align: center; font-size: 48px; margin: 10px 0 0 0; font-family: 'Montserrat', 'Open Sans', Arial, sans-serif; font-weight: normal;
		b { color: #0086cf; font-weight: inherit; text-decoration: underline; }
		&:after { content: ' →'; opacity: 0; margin-right: -50px; display: inline-block; }
	}
	.hs-partlogos {
		img { margin: 5px 30px; vertical-align: middle; }
	}
	.hs-link {
		color: $color-blue; font-size: 18px; font-weight: normal;
		i { margin-right: 10px; }
	}
	@media (min-width: 992px) {
		justify-content: center; margin: 0 -20px; width: auto; max-width: none;
	}
	@media screen and (max-width: 640px) {
		h1, h2 { font-size: 25px; }
		p {
			font-size: 16px;
			&:last-child { margin-bottom: 1em; }
		}
	}
}


.homeSection {
	margin: 0 -20px; padding: 0 20px;
	&.gray { background: #f6f7fb; }
	.descr,
	.thumb { display: inline-block; vertical-align: middle; width: 45%; margin: 0; padding: 80px 0; }
	h2 { font-size: 24px; font-weight: bold; color: #434a53; @include font-accent(); text-align: left; }
	p { color: #656d78; font-size: 16px; margin: 1em 0 1.2em 0; font-weight: 300; }
	.btn:first-child { margin-left: 0; }
	.descr { max-width: 38%; margin-right: 10%; }
	.thumb + .descr { margin-right: 0; margin-left: 10%; }
}


.homeSection {
	@media screen and (max-width: 1100px) {
		.descr { max-width: 43%; margin-right: 3%; }
	}
	@media screen and (max-width: 1100px) {
		img { max-width: 100%; height: auto; }
		.descr, .thumb { display: block; text-align: center; width: auto; margin: 0 !important; max-width: none; padding: 20px 0; }
		h2 { text-align: center; }
	}
}