// Hybrid Cloud
.cpSolutionCard {
	margin: 10px; padding: 15px; background: #fff; border-radius: 4px; overflow: hidden; box-shadow: 0 10px 20px rgba(#000, .1);
	width: 50%; max-width: 210px;
	.csc-thumb {
		margin: -15px -15px 15px -15px;
	}
	h4 { font-size: 16px; font-weight: bold; font-family: $font-accent, $font-main, Arial, sans-serif; text-transform: none; }
	p {
		display: flex; flex-wrap: wrap; justify-content: center;
		// text-align: center;
		a { display: inline-block; font-size: 14px; margin: 2px 4px; }
	}
}