// Hybrid Cloud  http://dev8.cincopa.com/solution/hybrid-cloud
.cpCompareTable {
	display: flex; align-items: flex-start; margin: 20px 0;
	background: #fff; border-radius: 4px; box-shadow: 0 3px 10px rgba(#000, .15);
	.cct-item {
		position: relative; z-index: 0; width: 25%; font-size: 14px;
		&:first-child { font-size: 16px; }
		>div {
			padding: 20px; display: flex; align-items: center;
			border-top: 1px solid rgba(#000, .1);
			&:first-child { border-top: none; }
			&.cct-title { font-weight: bold; font-size: 16px; }
			&.highlight { background: rgba(#000, .1); }
		}
		&.best {
			color: #fff;
			&:before {
				content: ''; display: block; position: absolute; width: 100%; height: 100%; background: #f00; z-index: -1; box-sizing: content-box; padding: 20px 0; top: -20px; border-radius: 4px; box-shadow: 0 3px 20px rgba(#000, .15);
				@include linear-gradient(#7cc3d1, #0192ec);
			}
		}
	}
	@media (max-width: 640px) {
		display: block;
		.cct-item {
			display: block; width: 100%; margin: 40px 0;
			&:first-child { display: none; }
			>div {
				padding: 5px 15px; display: flex;
				&:before { content: attr(data-title); font-size: 12px; text-transform: uppercase; opacity: .6; width: 30%; padding-right: 10px; }
			}
		}
	}
}