/* /pages/_static-lander.scss */
.lander__promobox {
	margin: 30px 0 0 0; text-align: center;
	&__item {
		display: inline-block; text-decoration: none; vertical-align: top; line-height: 2em; letter-spacing: .05em; width: 255px; max-width: 100%; color: #fff; border: 2px solid #fff; margin: 20px; padding: 20px; text-align: center; text-transform: uppercase; text-align: center; cursor: pointer; @include transition(.5s ease all);
		text-shadow: 0 1px 2px #000;
		&:hover { background-color: #fff; color: #0d2830; text-shadow: none; @include box-shadow(0 2px 10px rgba(#000, .3)); }
	}
}



// 2018 new pages
.landerTabs {
	font-size: 14px; padding: 0; text-align: center; border-bottom: 1px solid #eee;
	.lt-item {
		display: inline-block; color: inherit; text-decoration: none; vertical-align: top; line-height: 1.6; max-width: 100%; margin: 0 20px; padding: 15px 10px; text-align: center; cursor: pointer; border-bottom: 2px solid transparent; min-height: 110px; display: inline-flex; font-size: 14px; align-items: center;
		&.active,
		&:hover { border-color: $color-green; color: $color-green; }
	}
	@media ( max-width: 800px) {
		// display: none;
	 //    border-left: 1px solid #eee; text-align: left; border-bottom: none;
	 //    .lt-item {
	 //    	display: block; text-align: left; min-height: 0; margin: 10px 0; padding: 5px 20px;
	 //    	border: none; border-left: 2px solid transparent;
	 //    }
	    white-space: nowrap; overflow-x: auto;
	    .lt-item {
	    	white-space: normal; min-height: 50px; margin: 0;
	    }
	}
}

.startNowBox {
    text-align: center; padding: 80px 50px; background: #3eb060; margin: 0 -20px;
    h2 { color: #FFF; margin-bottom: 35px; font-size: 26px; }
}

.questionsBox {
	display: flex; align-items: center; justify-content: center; min-height: 290px; background: #fafafa url("//wwwcdn.cincopa.com/_cms/design15/images/function_question.jpg"); background-position: center center; background-size: cover;
    text-align: center; padding: 50px; margin: 0 -20px;
    h2 { margin-bottom: 35px; font-size: 26px; }
}



.landerSection {
	width: 100%; max-width: 1200px; margin: 0 auto; position: relative; @include clearfix();
	padding: 80px 0; flex-wrap: wrap; // check /solution/publishers before changing this
	flex-wrap: wrap; align-items: center; display: flex;
	>div { flex-shrink: 0; max-width: 100%; }
	&.top { align-items: flex-start; }
	// border-bottom: 1px solid #f0f3f8;
	&:before { content: ''; display: block; width: 5000px; position: absolute; bottom: 0; z-index: 1; left: -2000px; }
	>.row { max-width: 1280px; margin: 0 auto; width: 100%; }
	h2 { margin-top: 0; margin-bottom: .8em; }
	h5 { font-size: 15px; font-weight: normal; color: #1c1c1c; margin: 1em 0 0 0; }
	a { text-decoration: none; color: inherit; }
	ul,
	p {
		a { text-decoration: underline; color: $color-blue; }
	}
	p {
		font-size: 18px;
		&:last-child { margin-bottom: 0; }
	}
	.ls-br {
		&:before { content: '\u2219'; }
	}
	// .ls-readmore {
	// 	color: $color-blue; font-weight: bold;
	// 	&:before { content: 'Learn more...'; }
	// }
	.textcenter ul { display: inline-block; text-align: left; }
	.ls-features {
		a { font-weight: bold; text-decoration: none; margin: 0 5px; }
		a:hover { text-decoration: underline; }
	}
	&.sm {
		padding-top: 40px; padding-bottom: 40px;
		p { font-size: 16px; }
	}
	&.purple {
		background: $color-purple; color: #fff;
	    margin: 0 -1000px; padding-left: 1000px; padding-right: 1000px; width: auto; max-width: none;
		h1,h2,h3,p { color: inherit; }
	}
	&.blue {
		background: $color-blue; color: #fff;
	    margin: 0 -1000px; padding-left: 1000px; padding-right: 1000px; width: auto; max-width: none;
		h1,h2,h3,p { color: inherit; }
	}
	&.gray:before { position: absolute; z-index: 0; height: 100%; background: #fafafa; }
	&.fullheight {
		min-height: 75vh;
		// min-height: calc(100vh - 60px);
	}
	&.reverse {
		@media (min-width: 992px) {
			flex-flow: row-reverse;
		}
	}
	@media screen and (max-width: 640px) {
		padding: 40px 0;
		&.row { margin: 0 -15px; width: calc(100% + 30px); }
		&.fullheight { min-height: 0; }
		h1, h2 { font-size: 20px; }
		p {
			font-size: 14px;
			&:last-child { margin-bottom: 1em; }
		}
		.btn { font-size: inherit; }
		.col-md-6 img { margin-bottom: 30px; }
		.ls-actions {
			.btn { display: block; width: 100%; margin: 15px 0; }
		}
	}
}


.landerpage {
	position: relative; margin: 0 -20px; overflow: hidden;
	background: #96938c url('/_cms/design15/images/landingsplash-01.jpg') no-repeat center 50%; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover;
	h2 {
		max-width: 1200px; margin-left: auto; margin-right: auto;
		
	}

	// &:before { content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: #03263a; opacity: .5; }
	&.lander01,
	&.lander02,
	&.lander03,
	&.lander04,
	&.lander05,
	&.lander06 {
		h1, h2, h4 { text-shadow: 0 0 10px #67585d, 0 0 3px #42383b; }
	}
	&.lander01 {
		h1, h2, h4 { color: #fff; }
	}
	&.lander02 {
		background-color: #ADA2A8; background-image: url('/_cms/design15/images/landingsplash-02.jpg'); background-position: center 50%;
		h2 { max-width: 1125px; }
		h1, h2, h4 { color: #fff; }
	}
	&.lander03 {
		background-color: #f7f8fa; background-image: url('/_cms/design15/images/lander03-splash.jpg'); background-position: center 50%;
		h2 { max-width: 1220px; }
		h1, h2, h4 { color: #fff; }
	}
	&.lander04 {
		background-color: #849493; background-image: url('/_cms/design15/images/lander04-splash.jpg'); background-position: center 50%;
		h2 { max-width: 1220px; }
		h1, h2, h4 { color: #fff; }
	}
	&.lander05 {
		background-color: #909696; background-image: url('/_cms/design15/images/lander05-splash.jpg'); background-position: center 50%;
		h2 { max-width: 1220px; }
		h1, h2, h4 { color: #fff; }
	}
	&.lander06 {
		background-color: #5f5e5e; background-image: url('/_cms/design15/images/lander06-splash.jpg'); background-position: center 50%;
		h2 { max-width: 1100px; }
		h1, h2, h4 { color: #fff; }
	}
	&.lander07 {
		background: #d3d9e2;
		.landerpage_title { padding: 20px 20px; }
		h1,
		h2 { max-width: 1100px; font-size: 40px; margin: 0.45em auto; color: #434a53; }
	}
}
.landerpage_title {
	position: relative; text-align: center; margin: 0 -20px; padding: 100px 20px 20px 20px;
	h1, h2 {
		color: #0e2830; font-size: 60px; font-weight: 500; text-align: center; line-height: 1.4; margin-top: 0;
		@media screen and (max-width: 640px) { font-size: 40px; letter-spacing: normal; margin-left: 5px; margin-right: 5px; line-height: 1.3; }
	}
	h3, h4, h5 { color: #2c5369; }
	h4 {
		font-size: 24px; text-transform: none; line-height: 1.3; margin-bottom: 40px; font-weight: normal;
		&+h4 { margin-top: -1em; }
	}
	.btn+h4 { margin-top: 3em; }
	p { text-align: center; color: #839dc0; font-size: 1em; line-height: 1.5em; text-shadow: 0 1px 3px rgba(0,0,0,50/100); text-align: center; }
	.btn.trans {
		font-size: 16px; color: #fff; font-weight: normal;
		i { color: inherit !important; text-shadow: 1px 1px 3px rgba(0, 0, 0, 60/100); font-size: 28px; }
	}
	ul {
		color: #fff; list-style: initial; max-width: 850px; margin: 2em auto 2em auto; text-align: left;
		a { color: inherit; }
	}
}
.lander__buttons { margin: 40px auto 120px auto; }


.landerpage_tabs {
	position: relative; margin: 0 -20px; background: #f6f7fb; border-bottom: 1px solid #e4e6e9;
	ul {
	    display: block; text-align: center; display: flex; justify-content: space-around; list-style: none; margin: 0 auto; padding: 0; max-width: 1200px;
		li {
			display: inline-block; vertical-align: middle; list-style: none; margin: 0 15px;
			a {
				display: block; color: #8e98a8; padding: 10px 0; cursor: pointer; border-bottom: 2px solid transparent; margin-bottom: -1px; position: relative;				i { display: inline-block; font-size: 32px; vertical-align: middle; margin-right: 20px; }
				i { display: inline-block; font-size: 32px; vertical-align: middle; margin-right: 20px; }
				b { display: inline-block; vertical-align: middle; line-height: 1.2; text-align: left; font-size: 15px; }
				span { display: none; }
			}
			&:hover a { color: $color-blue; }
			&.active a { color: $color-blue; border-bottom-color: $color-blue; }
		}
	}
	@media screen and (max-width: 1280px) {
		ul {
			flex-wrap: wrap; align-items: center;
			li a i {font-size: 20px; margin-right: 10px; }
		}
	}
	@media screen and (max-width: 640px) {
		ul {
			justify-content: flex-start;
		}
		li {
			padding: 0 5px; margin: 0; width: 25%; min-height: 50px; text-align: left;
			b,
			i { display: none; }
			span { display: block; }
		}
	}
}





.lander__raiseBrand {
	margin: 0 -20px; padding: 0 20px; background: #1c1b1c no-repeat center center; background-size: cover;
	background-image: url("/_cms/design15/images/lander01-city.jpg");
	color: #fff;
	h2 { color: inherit; }
	p { color: #d6e8fb; }
}


// Client solution pages
.landerpage.landerClient {
	background: #0c0f11; @include linear-gradient(#293134, #829099);
	h1, h2, h4 { color: #fff; text-shadow: 0 1px 20px #4A626B; }
	h1, h2 { line-height: 1.1; font-size: 50px; }
	h4 { font-size: 18px; }
	ul {
		font-size: 27px; line-height: 1.3; margin: 1em 0;
		a {
			text-decoration: none;
			&:hover { text-decoration: underline; }
		}
		li { margin: .5em 0; }
	}
	.landerpage_title { padding: 80px 20px 20px 20px; max-width: 1160px; margin: 0 auto; }
	.lander__buttons { margin: 40px auto 50px auto; }
}


.lander__whyshould {
	padding: 80px 0; text-align: center; max-width: 1200px; margin: 0 auto; text-decoration: none;
	h2:first-child { margin-top: 0; }
	p { font-size: 22px; color: #656d78; }
	&__item {
		display: inline-block; width: 220px; max-width: 100%; margin: 10px 5px; text-align: center; text-decoration: none;
		.img { display: block; }
		img { width: 100px; height: auto; }
		.title { display: block; font-size: 24px; line-height: 1.5; text-align: center; color: #656d78; @include font-accent(); }
	}
}



.lander02 {
	&__section02 {
		margin: 0 -20px; padding: 0 20px; background: #1c1b1c no-repeat center center; background-size: cover;
		background-image: url("/_cms/design15/images/lander02-section02bg.jpg");
		color: #fff;
		h2 { color: inherit; }
		p { color: inherit; }
	}
	&__section04 {
		margin: 0 -20px; padding: 0 20px; background: #1c1b1c no-repeat center center; background-size: cover;
		background-image: url("/_cms/design15/images/lander02-section04bg.jpg");
		color: #fff;
		h2 { color: inherit; }
		p { color: inherit; }
	}
}



.lander03 {
	&__section02 {
		margin: 0 -20px; padding: 0 20px; background: #1c1b1c no-repeat center center; background-size: cover;
		background-image: url("/_cms/design15/images/lander03-section02bg.jpg");
		color: #fff;
		h2 { color: inherit; }
		p { color: inherit; }
	}
	&__section04 {
		margin: 0 -20px; padding: 0 20px; background: #1c1b1c no-repeat center center; background-size: cover;
		background-image: url("/_cms/design15/images/lander03-section04bg.jpg");
		color: #fff;
		h2 { color: inherit; }
		p { color: inherit; }
	}
}


.lander04 {
	&__section02 {
		margin: 0 -20px; padding: 0 20px; background: #1c1b1c no-repeat center center; background-size: cover;
		background-image: url("/_cms/design15/images/lander04-section02bg.jpg");
		color: #fff;
		h2 { color: inherit; }
		p { color: inherit; }
	}
	&__section04 {
		margin: 0 -20px; padding: 0 20px; background: #1c1b1c no-repeat center center; background-size: cover;
		background-image: url("/_cms/design15/images/lander04-section04bg.jpg");
		color: #fff;
		h2 { color: inherit; }
		p { color: inherit; }
	}
}

.lander05 {
	&__section02 {
		margin: 0 -20px; padding: 0 20px; background: #1c1b1c no-repeat center center; background-size: cover;
		background-image: url("/_cms/design15/images/lander05-section02bg.jpg");
		color: #fff;
		h2 { color: inherit; }
		p { color: inherit; }
	}
	&__section04 {
		margin: 0 -20px; padding: 0 20px; background: #1c1b1c no-repeat center center; background-size: cover;
		background-image: url("/_cms/design15/images/lander05-section04bg.jpg");
		color: #fff;
		h2 { color: inherit; }
		p { color: inherit; }
	}
}


.lander06 {
	&__section02 {
		margin: 0 -20px; padding: 0 20px; background: #1c1b1c no-repeat center center; background-size: cover;
		background-image: url("/_cms/design15/images/lander06-section02bg.jpg");
		color: #fff;
		h2 { color: inherit; }
		p { color: inherit; }
	}
	&__section04 {
		margin: 0 -20px; padding: 0 20px; background: #1c1b1c no-repeat center center; background-size: cover;
		background-image: url("/_cms/design15/images/lander06-section04bg.jpg");
		color: #fff;
		h2 { color: inherit; }
		p { color: inherit; }
	}
}


.lander07 {
	&__section {
		margin: 0 -20px; padding: 0 20px; background: #d3d9e2 no-repeat center center; background-size: cover;
	}
	@media screen and (max-width: 640px) {
		h1,
		h2 { font-size: 28px; }
	}
}


// New design for landing pages
.newDesign {
	h2 { color: #106183; font-weight: 400; font-size: 28px; line-height: 1.45; -webkit-font-smoothing:antialiased; font-smoothing: antialiased; }
	.landerpage.lander02 {
		background-image: url("/_cms/design15/images/landingsplash-publishers.jpg"); background-color: #636b75; background-position: 25% top;
		h2 { font-size: 36px; text-align: left; text-shadow: none; font-family: 'Montserrat', 'Open Sans', Arial, sans-serif; line-height: 1.2; margin-left: 0; }
		h4 { text-align: left; color: #f0f3f8; font-weight: 300; text-shadow: none; font-size: 20px; }
		p { text-align: left; }
		@media screen and (max-width: 800px) {
			h4 { margin: 15px 0; }
		}
	}
	.landerpage_title {
		margin: 0 auto; max-width: 1200px; padding: 150px 20px;
		.gallerydemo { box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); border-radius: 4px; overflow: hidden; transform: scale3d(1,1,1); }
		.contactUs { margin-left: 0; min-width: 200px; text-shadow: none; font-size: 15px; font-weight: normal; letter-spacing: 2px; }
		.cp_reset_style { margin: 0; }
		@media screen and (max-width: 800px) { padding: 30px 10px; }
	}
	.landerSection { 
		position: relative;
		&:after { content: ''; display: block; position: absolute; border-bottom: 1px solid #f0f3f8; bottom: 0; width: 3000px; left: -1000px; visibility: visible; }
		p { font-size: 18px; color: #9ca3a9; font-weight: 300; line-height: 1.66; }
	}
	.lander__promobox { background: #f0f3f8; }
	.landerpage_title .lander__promobox { margin-bottom: -20px; }
	.lander__promobox__item {
		color: #656d78; text-shadow: none !important; border: none; font-weight: bold; font-size: 14px; letter-spacing: 1px; line-height: 1.55; padding: 10px !important; vertical-align: middle; width: 14em; margin: 20px 50px;
		&:hover { box-shadow: none; background: transparent; color: #29abe2; }
		@media screen and (max-width: 800px) { margin: 5px 10px; }
	}
	.lander02__section04,
	.lander02__section02 { background: transparent; }
}
.lander__whyshould { padding: 40px 0; font-size: 0; }
.lander__whyshould__item {
	width: 280px; border-right: 1px solid #f0f3f8;
	&:last-child { border-right: none; }
	img { width: 60px; }
	.title { font-size: 16px; }
	&:hover .title { color: $color-blue; text-decoration: underline; }
	@media screen and (max-width: 800px) { width: 100%; border-right: none; }
}

.publishersMedia {
	a {
		&.slideshow,
		&.video,
		&.audio { position: absolute; right: 3%; display: block; width: 11%; height: 17%; }
		&.slideshow { top: 22%; }
		&.video { top: 43%; }
		&.audio { top: 63%; }
	}
}

.becomePartner {
    max-width: 870px; color: #fff;
    h2 { position: relative; color: inherit; }
	&:before { background: $color-green; color: #fff; content: ''; display: block; position: absolute; z-index: 0; top:0; height: 100%; width: 100vw; left: 50%; transform: translate(-50%, 0); }
	.fieldBox {
		.fb-field {
			font-size: 14px; border-color: #fff; border-radius: 4px; padding: 10px 15px;
			&:focus { border-color: #09ff52 !important; box-shadow: 0 0 15px #85ff00; }
		}
	}
	.btn.secondary { margin-top: 60px; background: rgba(#fff, .5); border-color: #fff; color: #3a3641; font-weight: 500; font-size: 16px; }
	.checkBox input[type=checkbox] {
		+ i { background: transparent; box-shadow: none; border-radius: 0; border-color: #fff; }
		&:checked + i {  }
	}
}

.flexbox {
	display: flex; margin-top: 90px;
	&:first-of-type { margin-top: 0 !important; }
	&.top { align-items: flex-start; }
	&.middle { align-items: center; }
	&.bottom { align-items: flex-end; }
	&.wrap { flex-wrap: wrap; }
	.noshrink { flex-shrink: 0; }
	img { margin-right: 40px; margin-top: -10px; }
	@media screen and (max-width: 640px) {
		margin-top: 40px;
	    img { transform: scale(.8); margin-right: 20px; }
	}
}


@media screen and (min-width: 800px) {
	.col-md-6 .bigsplashbutton { padding: 10px 20px; margin: 15px 20px; }
}