/* /pages/_static-music.scss */
// -------------------------------------------------
// MUSIC LANDING PAGE
// -------------------------------------------------
.splashArea01.musicplayer {
	background-color: #3e3343;
	background-image: url('/_cms/design15/images/musicplayer-splash01.jpg'); margin-bottom: 0; padding: 180px 20px;
	h1 {
		color: #fff; font-weight: 300; text-shadow: 0 1px 3px rgba(#000, 50/100); @include font-narrow();
		&:after { display: none; }
	}
	.btn { padding: 17px 30px; margin-top: 5px; margin-bottom: 5px; }
	&:after { display: none; }
}


// .mp_features_block {
// 	.img {
// 		position: relative;
// 		img { position: relative; @include transition(.5s ease opacity); }
// 		img.active { position: absolute; left: 0; top: 0; visibility: hidden; opacity:0; z-index: 1; }
// 		&:hover img.active { visibility: visible; opacity: 1; }
// 	}
// }





.mp_features_block {
// ------------------------------------------
	text-align: center; max-width: 1000px; margin: 45px auto;
	.mp_featurebox_small {
		display: inline-block; width: 270px; vertical-align: top; margin: 25px; @include font-narrow(); font-size: 18px; text-align: center; position: relative; height: 220px; border: 1px solid transparent; cursor: pointer;
		div.info { width: 190px; margin: 24px auto 24px auto; color: #000; font-size: 24px;line-height: 1.2em; font-weight: 100; }
		.img { height: 75px; margin-top: 30px; }
		&.left_align { border-right: none }
		&.right_align { border-left: none }
		&.clicked {
			background: #ffffff; border: 1px solid #EFEFEF;
			.info_onhover { display: block; }
		}

	}
	.info_onhover { position: absolute; width: 400px; height: 220px; z-index: 999; display: none; border: 1px solid #EFEFEF; background: inherit; }
	.left_align .info_onhover { top: -1px; left: 270px; border-left: none; }
	.right_align .info_onhover { top: -1px; right: 270px; border-right: none; }
	// .musicbtnflat { color: #0075B9 !important; border: 1px solid #0075B9; font-size: 17px; padding: 20px 86px; font-weight: normal; background: transparent !important; }
	// .smbtnflat { background: transparent !important; color: #0075B9 !important; border: 1px solid #0075B9; font-weight: normal; padding: 16px 35px; font-size: 17px; width: 110px; margin: 0 auto; margin-bottom: 50px; display: block; }
	// .mp_bluebox .icon_up { margin-bottom: -7px }
	.info_onhover > div { display: inline-block; width: 270px; }
	.info_onhover  p { width: 270px; margin: 35px auto; }
	.img .active { display: none; }
	.mp_featurebox_small.clicked .img .active ,
	.mp_featurebox_small:hover .img .active { display: inline; }
	.mp_featurebox_small.clicked .img .passive,
	.mp_featurebox_small:hover .img .passive { display: none; }
	@media (max-width: 1010px) {
		.info_onhover, .right_align .info_onhover{top: 185px !important;left: -1px !important;width: 270px;font-size: 15px;border-top: none;border-left: 1px solid #EFEFEF !important;}
		.info_onhover p{width:200px;}
		.mp_featurebox_small.left_align.clicked, .mp_featurebox_small.right_align.clicked{border: 1px solid #EFEFEF;border-bottom:none;}
	}
// ------------------------------------------
}



