.seeAllSkins { font-size: 1.3em; font-weight: 100; display: inline-block; }


// Solutions page at least
.justify { text-align: justify; }
.justifier { display: inline-block; zoom: 1; *display: inline; height:0; width: 100%; }
.icon { display: inline-block; zoom: 1; *display: inline; vertical-align: top; text-align: center; padding: 5px; color: #4d4d4d; text-decoration: none; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
a.icon:hover { background-color: #29abe2; color: #fff;  }
.icon.big { font-size:16px; width: 120px; }
.icon.big i { display: block; width: 110px; height: 110px; margin: 0 auto; }
.icon.big i { background-image: url(../images/icons-big75.png); }
.icon.big.blue i { background-image: url(../images/icons-bluewhite.png); }
.icon.big.slideshows i { background-position: 0 0; }
.icon.big.photos i { background-position: -110px 0; }
.icon.big.videos i { background-position: -220px 0; }
.icon.big.music i { background-position: -330px 0; }
.icon.big.podcasts i { background-position: -440px 0; }
.icon.big.slideshows:hover i { background-position: 0 -110px; }
.icon.big.photos:hover i { background-position: -110px -110px; }
.icon.big.videos:hover i { background-position: -220px -110px; }
.icon.big.music:hover i { background-position: -330px -110px; }
.icon.big.podcasts:hover i { background-position: -440px -110px; }
/**/
.icon.big.wordpress i { background-position: 0 0; }
.icon.big.joomla i { background-position: -110px 0; }
.icon.big.drupal i { background-position: -220px 0; }
.icon.big.blogger i { background-position: -330px 0; }
/**/


.col2 { display: inline-block; vertical-align: top; width: 48%; margin: 0 1%; text-align: left; }



// upload page
.upload_head { margin-top: 20px; }



// media upload app
.stepsdesc {
	@include clearfix();
	h3 { margin: 0; text-transform: uppercase; }
	> .step { width: 100%; clear: both;}
	> .step > b { border: 2px solid #29abe2; color: #29abe2; border-radius: 1em; text-align: center; width: 1.8em; height: 1.8em; display: block; line-height: 1.8em; float: left; margin-bottom: 60px; margin-right: 5px; }
	> .step > div { float: left; width: 660px; margin-left: 10px; max-width: calc(100% - 50px); }
}


// landing lists
ol.disc,
.landpage {
	margin-left:20px;
	b { font-weight: bold; text-transform: capitalize; font-size: 1.1em; }
	a { font-weight:bold; }
	li { padding:0 0 0px 24px; margin: .4em 0; background: url(/design/images/buttons/plugins.gif) no-repeat; background-position:0 1px; list-style: none;}
}


// ------ landing pages trying to auto apply
.cmspage {
	ol,
	ul:not(.skinsList),
	.steps,
	.stepsdesc,
	h3,
	h4,
	h2,
	p { max-width: 1200px; margin-left: auto !important; margin-right: auto !important; }
	@media screen and (max-width: 800px) { img { max-width: 100%; height: auto; } }
}
