// For how it works old pages
.steps { border-bottom: 1px solid #999; margin-bottom: 30px; }
.steps .icon.big { font-size: 14px; line-height: 1.3em; width: 30%; }
.steps .icon.big i { margin: 0; background-image: url(../../design13/images/icons-how.png); width: 165px; height: 165px; }
.steps > .icon { width: 30%; text-align: center; color: #666666; text-align: left; }
.steps > .icon > b {     border: 2px solid #29abe2; color: #29abe2; border-radius: 1em; text-align: center; width: 2em; height: 2em; display: block; line-height: 1.7em; float: left; margin-bottom: 60px; margin-right: 5px; }
.steps .icon.big.step1 i { background-position: 0 0; }
.steps .icon.big.step2 i { background-position: -166px 0; }
.steps .icon.big.step3 i { background-position: -332px 0; }
.skin-box.new {
	display: inline-block; vertical-align: top; width: 220px; text-align: center; margin: 15px 7px;
	a {
		text-decoration: none; color: #000; font-size: 14px; position: relative; display: block; border: 1px solid #CACACA; padding: 5px; border-radius: 5px;
		&:hover { box-shadow: 0 2px 10px rgba(0,0,0,.2); }
	}
	.btn-3d { display: none; }
	a:hover .btn-3d { position: absolute; top: 50px; z-index: 10; left: 50%; margin-left: -36px; display: inline-block; background: #FFF; font-weight: bold; background: rgba(24, 24, 24, 0.62); color: #fff; font-size: 12px; text-transform: uppercase; padding: 5px 10px; border-radius: 10px; box-shadow: 0 2px 10px #000; border: 1px solid #656565; }
}
@media screen and (max-width: 620px) {
	.steps .icon.big {
		width: 100%; height: auto;
		i { margin: 0 auto; }
		b { margin-bottom: 0; }
	}
}
