/* /pages/_static-ott.scss */
.splashArea01.ottpageSplash {
	background: #29abe2 url("/_cms/features/ott/ottsplash-bg.png") repeat;
	text-align: left;  padding-top: 90px; padding-bottom: 65px; margin-bottom: 20px;
	h2, p { text-align: left; }
	h2 { text-transform: uppercase; margin-bottom: 20px !important; }
	p { color: #fff; }
	.ottDevices { margin-bottom: -145px; margin-top: -20px; }
}

.ottPage .cmspage {
	h2 { margin: 20px 0 50px 0; }
	h3 { font-size: 22px; font-weight: normal; }
	h4 { color: $color-blue; margin-top: 40px !important; font-size: 16px; }
	p { font-size: 16px; }
}


.ottFeature {
	display: table; width: 100%; table-layout: fixed; min-height: 90px; color: #727a84; line-height: 1.5;
	>* { display: table-cell; vertical-align: top; padding: 10px; }
	.thumb { width: 68px; }
}