.packagesHeadWrap {
	padding: 70px 40px 150px 40px; margin: -20px -20px -60px -20px; text-align: center; font-size: 18px;
	h1 { color: #000; font-weight: bold; font-size: 48px; margin: .5em 0 .2em 0;  @include font-accent(); }
	.current_plan_name { text-transform: uppercase; color: #232a32; background: rgba(0,0,0,.15); padding: 7px 15px; border-radius: 20px; font-size: 14px; }
	.suggested_plan_name { color: #50b76f; text-transform: uppercase; padding: 10px; font-size: 14px; font-weight: bold; background: #fff; border-radius: 4px; }
	@media screen and (max-width: 800px) {
		padding-bottom: 70px; margin-bottom: 0;
	}
}