.packagesBoxes {
	text-align: center; font-size: 0; max-width: 1300px; margin: 0 auto;
	position:relative; // merged
	display: flex; flex-wrap: wrap; align-items: flex-start;
	.packageInfoTerms { font-size: 14px; display: block; text-align: left; margin-left: 30px; width: 100%; }
	.package-box {
		flex-grow: 1;
		display: inline-block; width: 24%; vertical-align: top; font-size: 16px; max-width: 310px; min-width: 185px; border: 1px solid #d8dadf; background: #f6f7fb; padding: 35px; margin-right: -2px; text-align: left; position: relative;
		min-height: 0 !important;
		.submitplan {
			margin: 20px auto 50px auto; text-align: center; min-height: 53px;
			position: absolute; left: 0; right: 0; bottom: 25px;
			.btn {
			    padding: 12px 20px; border: none; min-width: 100px; background: #fff;
			    @include font-main();
				&.smaller { padding-left: 30px; padding-right: 30px; }
				&:hover { box-shadow: 0 1px 5px rgba(#000, 30/100); }
			}
			.noCredit { margin-bottom: -20px; display: block; font-size: 12px; margin-top: 4px; float: right; }
		}
		.not_available { color: #d04235; font-weight: 500; margin: auto 10px; position: absolute; bottom: -29px; text-align: center; left: 0; right: 0; height: 32px; vertical-align: middle; font-size: 14px; line-height: 1.3; }
		.submitArea { min-height: 150px; overflow: hidden; }
		&.free {
			.submitplan .btn { color: $color-free; }
			.titleBox { background: $color-free; }
		}
		&.startup {
			.submitplan .btn { color: $color-startup; }
			.titleBox { background: $color-startup; }
		}
		&.plus {
			.submitplan .btn { color: $color-plus; }
			.titleBox { background: $color-plus; }
		}
		&.corporate {
			.submitplan .btn { color: $color-corporate; }
			.titleBox { background: $color-corporate; }
		}
		&.enterprise {
			margin-left: 8px; margin-top: -2px;
			.submitplan .btn { color: #fff !important; background: transparent; border: 1px solid #fff; }
			.titleBox {
				background: $color-enterprise;
			    padding-top: 73px; height: 407px;
			}
		}
		&.plus,
		&.corporate {
			h2 b { display: inline-block; }
			h2 b::first-letter { font-size: 20px; vertical-align: top; }
			.currentPlanArrow i { -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: "FlipH"; left: auto; right: -13px; }
		}
		.currentPlanArrow {
			position: absolute; top: 0; left: 50%; display: none;
			i { background: inline-image("images/plansArrow-pro.png"); width: 170px; height: 70px; display: block; position: absolute; bottom: 5px; left: -6px; }
		}
		&.suggested {
			background: #fff; box-shadow: 0 5px 40px rgba(#000, 30/100); position: relative; z-index: 5;
			.currentPlanArrow { display: block; }
		}
		.yourPlan { font-size: 26px; font-weight: bold; text-shadow: 1px 1px #fff; color: #D6D6D6; margin-bottom: -20px; }
		.saleofferbadge { position: absolute; padding: 2px; z-index: 900; width: 75px; height: 75px; top: 18px; left: auto; right: -10px; }
		.bestvaluebage,
		i.bestvalue:after { background: #f3f3b0; background: linear-gradient(#ffffbc, #e5e5a2); @include font-accent(); display: inline-block; position: absolute; content: 'Best value'; text-transform: uppercase; font-size: 12px; line-height: 1; right: 0; top: 38px; padding: 5px 10px; border-radius: 15px 0 0 15px; box-shadow: 0 1px 4px rgba(0,0,0,.2); color: #434a53; }

		@media screen and (min-width: 800px) {
			min-height: 760px;
		}
	}
	.selfService { display: block; color: #969696; font-size: 11px; text-align: center; line-height: 1; padding: 14px 10px; text-transform: uppercase; margin: -38px -36px 35px -35px; background: #cdcdcf; }
	.startup .selfService { background-color: #d8d9da; }
	.plus .selfService { background-color: #e2e3e4; }
	.corporate .selfService { background-color: #eeeeee; }
	.enterprise { margin-top: 36px; }
	.titleBox {
		margin: -36px -36px 0 -36px; padding: 35px 30px; background: $color-blue; color: #fff; padding-bottom: 20px;
		min-height:200px; position:relative; height: 370px;
		h3 {
			@include font-accent(); font-weight: bold; font-size: 26px; text-transform: capitalize; line-height: 1; color: inherit;
		    height: 100px; display: flex; align-items: center; justify-content: center; margin: -35px -30px 35px -30px;
	        border-bottom: 1px solid rgba(#fff,.3);
	        letter-spacing: .03em;
	        position: relative;
	        span { position: absolute; width: 100%; font-size: 12px; margin-top: 15px; top: 50%; left: 0; font-weight: 400; opacity: .7; }
		}
		h2 {
			font-weight: 900; font-size: 20px; text-align: center; margin: 0 0 .5em 0; line-height: 1; color: inherit;
			i {
				font-style: inherit;
				&:first-child { vertical-align: top; }
			}
			b { font-weight: inherit; font-size: 36px; }
		}
		h2 { @include font-main(); }
		center { font-size: 15px; line-height: 1.3; }
		.monthPrice {
		    margin: 0 0 .5em 0; line-height: 1; color: inherit; font-size: 16px; text-align: center; margin-top: 20px;
			&:empty { display: none; }
			i { font-style: inherit; font-weight: normal !important; }
			b { color: #fff; font-weight: inherit; }
		}
		/*h2.newPrice { font-size: 28px; }*/
		.newPrice b {font-size: 1.8em; margin-right: 8px; }
		.needmore {
			margin-top: 10px; padding: 15px 30px; background: rgba(0, 0, 0, 0.2); box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4); border-top: 1px solid rgba(255, 255, 255, 0.2); position: absolute; bottom: 0; width: 100%; left: 0; height: 67px; cursor: pointer;
			h2 {margin: 0; text-transform: none; }
			b.needmoreTitle {font-size: 14px; color: #fff; line-height: 1; font-weight: normal; }
			b.needmoreDesc {display: block; margin-top: 8px; color: #fff; font-size: 14px; }
			b.needmorePrice {position: absolute; display: block; top: 0; margin: auto; bottom: 0; height: 20px; right: 30px; }
		}

	}
	.desc { color: #434a53; font-style: italic; display: block; text-align: center; }
	.packageInfo {
		>ul {
			padding: 0; margin: 0 0 -34px 0;
			> li {
				// display: block; padding: 10px 20px 0 20px; margin: 0 -35px; line-height: 1.5; color: #3a4049; font-size: 14px;
				display: flex; min-height: 50px !important; font-size: 13px !important; color: #3a4049; padding-top: 18px !important; box-sizing: border-box; justify-content: flex-start; align-items: center; line-height: 1.2; padding: 18px 10px; border-top: 1px solid #e8e7e6;
				&:empty { display: none; }
			}
		}		
	}
	.packageInfoTerms { font-size: 12px; margin-left: 31px; color: #656d78; }

	.btn.smaller[href="/register.aspx"],
	.btn.smaller[href="/register.aspx"] + .gray { min-width: 85px !important; }
	.package-box.professional .submitplan .btn.smaller[href="/register.aspx"] + .gray { background: #0086cf !important; }
	@media screen and (min-width: 1200px) {
		.package-box .desc { min-height: 6em; }
	}
	@media screen and (max-width: 1300px) and (min-width: 949px) {
		.package-box .submitArea { overflow: visible; }
	}
	@media screen and (max-width: 1300px) and (min-width: 1120px) {
		.package-box .submitArea { min-height: 180px; }
	}
	@media screen and (max-width: 1330px) and (min-width: 1120px) {
		.titleBox { min-height: 211px; }
	}
	@media screen and (min-width: 1330px) {
		.package-box {
			&.professional { /*padding-bottom: 55px;*/ }
			&.unlimitedphotos {
				/*padding-bottom: 79px;*/
				/*li:last-child { border-bottom: 1px solid #d8dadf; }*/
			}
		}
	}
	@media screen and (max-width: 1160px) {
		.package-box .submitplan .btn { padding: 18px 10px; white-space: normal; max-width: 100%; min-width: 120px; }
	}
	@media screen and (max-width: 949px) {
		.currentPlanArrow { display: none !important; }
		.package-box {
			display: block; width: auto; max-width: none; top: 0 !important; text-align: center; margin: 0 -20px;
			.submitplan .btn { padding: 18px 50px; white-space: nowrap; }
		}
		.titleBox {
			h2,
			.monthPrice { text-align: center; }
		}
	}
	@media screen and (max-height: 800px) {
		.titleBox { height: 300px; }
		.package-box {
			.submitplan { margin-bottom: 20px; }
			&.enterprise .titleBox { height: 338px; }
		}
	}
}


.cpTooltip {
    display: none; position: absolute; background: #fff; z-index: 100; padding: 20px; box-shadow: 0 5px 20px rgba(0,0,0,.3); width: 400px; max-width: 100vw; border-radius: 10px;
    top: 100%; margin-top: 12px; left: 50%; margin-left: -37px; font-size: 13px; text-align: left;
    &:before { content: ''; display: block; position: absolute; width: 24px; height: 24px; background: #fff; top: -12px; left: 25px; transform: rotate(45deg); }
    &:after { content: ''; display: block; position: absolute; bottom: 100%; left: 0; width: 100%; height: 20px; }
    h3 { font-size: 20px; text-align: center; margin: -20px -20px 15px -20px; border-bottom: 1px solid #ddd; padding: 15px 20px; }
    ul { margin: .5em 0; padding: 0; }
    li { display: list-item; margin: 0; padding: 0; margin-left: 20px; list-style: outside; margin-bottom: 10px; }
    .cp-close { display: none; position: absolute; right: 15px; top: 19px; display: block; text-decoration: none; -webkit-appearance: none; border: none; background: none; }
    @media (max-width: 950px) {
    	position: fixed; bottom: 0; left: 50%; margin: 0; top: auto; transform: translate(-50%, 0); max-width: 100vw;
    	&:before { display: none; }
    	.cp-close { display: block; }
    }
}

.cpTooltiped {
	// background: #ceeaf9; display: inline-block; border-radius: 15px; padding: 5px 10px;
	position: relative; border-bottom: 1px dashed; color: #027abb; cursor: help;
	&.cpTooltipedHovered .cpTooltip{display:block}
}
