.mContent {
	.mtplans {
		white-space: nowrap;
		a.btn.green { display: block; max-width: 250px; font-size: 16px; font-weight: 500; margin: 10px auto; }
		b { font-weight: bold; }
		.showNewInfo { margin-top: 1.5em; }
		+.paymethods { margin-top: 25px; }
	}
	.mtplan {
		white-space: normal; position: relative; display: inline-block; vertical-align: top; min-width: 230px; max-width: 250px; margin: 15px; padding: 30px 20px; background: #f6f7fb; border: 1px solid #d8dadf;
		&:hover { border-color: #3a8abb; box-shadow: 0 3px 10px rgba(#000, 10/100); }
		.descr { margin: -31px -21px 19px -21px !important; padding: 20px; background: #3a8aba; @include linear-gradient(#3a8aba, #4099cf); color: #272b30; text-align: left; min-height: 160px; }
		h3 { margin-top: 5px; margin-bottom: .2em; color: #fff; font-weight: bold; font-size: 31px; text-transform: capitalize; @include font-narrow(); text-align: left; line-height: 1; text-shadow: 0 1px 4px rgba(0,0,0,.4); }
		h5 { background: #f3f3b0; background: linear-gradient(#ffffbc, #e5e5a2); @include font-narrow(); display: inline-block; position: absolute; text-transform: uppercase; font-size: 12px; line-height: 1; right: -9px; top: 4px; padding: 5px 10px; border-radius: 15px 0 0 15px; box-shadow: 0 1px 4px rgba(0,0,0,.2); color: #434a53; }
		h5:empty { display: none; }
		a.btn.green { min-width: 100px; }
		a[data-href^="https://www.paypal.com/"] { font-size: 12px }
		/*br { display: none; }*/
		p { margin: .5em 0; }
		.price {
			font-size: 24px; font-weight: 600; color: #272b30;
			i { font-weight: 100; text-transform: capitalize; }
		}
		.plimus.btn.primary { font-size: 15px; font-weight: 400; font-style: normal; min-width: 150px; margin: 5px auto; padding: 16px 10px; @include linear-gradient(#2d93d1, #137ab8); }
	}
	@media screen and (max-width: 949px) {
		.mtplans { white-space: normal; }
	}
}