#startup-popup {
	position: absolute; left: 105%; top: -60px; display: none; z-index: 10; background: #fff; min-height: 0 !important; height: auto!important; padding: 25px; border: 1px solid #656d78; width: 100%;
	.titleBox {
		text-align: center; padding-top: 63px; height: auto!important; min-height: 0; margin-bottom: 0; padding-bottom: 0; background: none; color: #656d78;
		h3 {margin-bottom: 26px; }
		h2 {text-align: center; text-transform: uppercase; margin: 0 0 .5em 0; }
		i {font-weight: 100; }
	}
	.monthPrice {text-align: center; color: #656d78; }
	.submitplan {margin: 0; min-height: 36px; }
	.submitArea {
		min-height: 0 !important; height: auto !important;
		a {background: #fff; border: 1px solid #656d78; width: 76%; padding: 22px 20px; color: #656d78; }
	}
	.packageInfo {
		padding-top: 0;
		ul {
			color: #fff; border: 0; width: 100%; margin: 0;
			li {border: none; height: auto!important; padding: 8px 0; min-height: 0!important; font-weight: bold; margin: 0; color: #656d78; }
		}
	}
	&:before {left: -10px; top: 80px; position: absolute; content: ''; border-right: 10px solid #a9cc01; border-bottom: 11px solid transparent; border-top: 11px solid transparent; }
	.closeStartUpPopup {position: absolute; top: 20px; font-weight: bold; right: 16px; font-size: 25px; display: block; z-index: 50; color: #656d78; }
	p.not_available {margin: 0!important; }
}
