.packagesHead {
	font-size: 18px; color: #6b7c93;
	p {
		margin: .2em auto;
		i { color: #FFFFFF; border-bottom: 1px solid rgba(#fff, 30/100); font-style: italic; }
	}
	.usage {
		&.red { color: #fff; background-color: #D04A4A; padding: 1px 5px; border-radius: 3px; font-weight: bold; box-shadow: 0 1px 3px rgba(#000, 70/100); }
		&.yellow { color: #fff; background-color: #FFA200; padding: 1px 5px; border-radius: 3px; font-weight: bold; box-shadow: 0 1px 3px rgba(#000, 70/100); }
		&.black { color: #fff; background-color: #000; padding: 1px 5px; border-radius: 3px; font-weight: bold; box-shadow: 0 1px 3px rgba(#000, 70/100); }
	}
} 