.planspage-enterpriseBox {
	max-width: 1200px; margin: 50px auto; padding: 20px 30px; background: #D7DBE4; text-align: center;
	h3 { font-size: 24px; text-transform: uppercase; }
}

.popupContent {
	text-align: center;
	h3 { font-size: 22px; }
	.firstLine {
		margin-top: 20px; margin-bottom: 20px;
		b { font-weight: bold; color: #000; }
	}
	p { b { font-weight: bold; color: #000; } }
	.secondLine {
		text-align: center; margin-bottom: 20px; margin-top: 30px;
		.btn { min-width: 80px; font-size: 15px; margin: 0 10px; text-transform: uppercase; }
		a:not(.btn) { color: #000; margin: 0 15px; }
		.btn.confirmSelection { min-width: 170px; }
	}
}

	
.plans-faqArea {
	margin-bottom: 100px;
	h3 { font-size: 12px; display: block; text-align: left; margin-left: 30px; font-weight: normal; color: #656d78; }
}


.whiteBannerbox {

}


.modalWindow h2.newPrice { font-size: 26px !important; color: #FFF2B4; }
.paycardsicos { width: 270px; height: 32px; font-size: 0; display: inline-block; zoom: 1; background: url("//wwwcdn.cincopa.com/_cms/cincopamanager/paypal/images/paycardsicos.jpg"); }



.header.loggedout ~ .content-container .packagesHeadWrap { padding-bottom: 80px; }



.pageContentWrap.faqArea {
	max-width: 800px; margin: 20px auto 40px auto; background: #f7f7f7; border: 1px solid #dcdcdc; padding: 20px 40px 40px 40px;
}



// =====================================================
// Paypal plans
// =====================================================
.splashArea01.plans {
	background-color: #1377b4; @include linear-gradient(#1377b4, #0c4f78);
	h1 { font-size: 46px; font-weight: bold; text-transform: uppercase; }
	p { font-size: 16px; }
	.contentWrap { max-width: 880px; }
}

.tplans { text-align: center; }
.tplan {
	width: 230px; background: #f6f7fb; padding: 30px; border: 1px solid #d8dadf; display: inline-block; vertical-align: top; margin: 7px; text-align: center; position: relative;
	.tplan_h {
		background: #a2a9b3; color: #fff; margin: -30px -30px 15px -30px; padding: 30px; text-align: left;
		.price { color: rgba(#fff, 80/100); font-weight: 500; text-transform: uppercase; }
		.permonth { color: rgba(#fff, 50/100); font-weight: 300; }
	}
	h2 { font-weight: bold; font-size: 40px; color: #fff; line-height: 1; text-align: left; text-transform: uppercase; margin: 0 0 5px 0; text-shadow: 0 1px 3px rgba(#000, 30/100); }
	.plimus { display: block; width: auto; text-transform: uppercase; font-weight: 400; color: #fff; margin: 10px auto; text-shadow: 0 1px 2px rgba(#000, 20/100); border-radius: 30px; @include linear-gradient(#2d93d1, #137ab8); padding: 17px 10px; }
	.bestvaluebage,
	i.bestvalue:after { background: #f3f3b0; background: linear-gradient(#ffffbc, #e5e5a2); @include font-narrow(); display: inline-block; position: absolute; content: 'Best value'; text-transform: uppercase; font-size: 12px; line-height: 1; right: 0; top: 10px; padding: 5px 10px; border-radius: 15px 0 0 15px; box-shadow: 0 1px 4px rgba(0,0,0,.2); color: #434a53; }
	@media screen and (max-width: 550px){
		width: auto; max-width: none; display: block; margin: 30px auto;
		h2,
		.tplan_h { text-align: center; }
	}
}
.content_needmoretraffic {
	max-width: 1200px; margin: 10px auto; font-size: 14px; line-height: 1.1;
	img.paymethods { float: right; }
}
.plimus_desc{ display: none; }
.tplans.traffic,
.top-text-box { display: none; }
.loading_pls { padding: 15px; }
.packagesHead {
	max-width: 1015px; margin: 0 auto; margin-top: 10px; text-shadow: none; line-height: 2;
	div { margin-top: 0; }
}

.splashArea01.plans .plans_havepackage {
	text-align: center;
	.wrap { margin: 15px; display: inline-block; background: $color-green; border-radius: 5px; padding: 15px 50px; color: #fff; }
	p { font-size: 14px; color: #fff; text-shadow: none; margin: 5px 0; }
	.btn {
		text-transform: uppercase; font-weight: 500; margin: 5px;
		i { margin: 0 5px; font-size: 16px; }
		&.secondary {
			color: #aab2bc;
			i { color: inherit; }
		}
	}
}

