.postPaymentSurvey {
    max-width: 850px; margin: 50px auto; position: relative; overflow: hidden; background: #fff; color: #656d78; border-radius: 10px; padding: 30px 40px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    h1 { margin-top: 0; font-size: 20px; }
	fieldset {
		display: block; margin: 40px 0; border: none; padding: 0; font-size: 14px;
    	>*:first-child { margin-top: 0; }
    	>*:last-child { margin-bottom: 0; }
	}
	*::placeholder { color: #b3b3b3; }
	.fb-error { display: block; font-weight: bold; color: $color-red; }
	.formSubmit { margin-left: 0; }
	.fieldBox {
		.fb-field { color: #000000; font-size: 14px; }
		&.required {
			label:after { content: '*'; color: $color-red; }
		}
	}
	.checkBoxGroup.required {
		legend:after { content: '*'; color: $color-red; }
		.fb-error { display: inline; margin-left: 15px; color: $color-red; font-size: 1rem; }
		&.error {
			// legend {
			// 	position: relative;
			// 	&:before { content: 'required'; position: absolute; top: 50%; margin-top: -13px; right: 10px; font-size: 12px; display: inline-block; padding: 3px 5px; border-radius: 3px; background: $color-red; color: #fff; font-weight: 400; }
			// }
			.checkBox i { border-color: $color-red; }
		}
	}
	legend,
	.fieldBox label,
	.fieldItem label {
		margin: .5em 0; display: block; font-size: 14px; font-weight: bold; width: 100%;
		i { font-size: 24px; margin: -5px 10px 0 0; }
	}	
	label.checkBox {
		white-space: nowrap; margin: 10px 10px 10px 0; display: inline-block; display: inline-flex; vertical-align: middle;
		b { white-space: normal; }
	}
	[disabled] { opacity: .3; cursor: not-allowed; }
	label[data-toggle] b { font-size: 14px; font-weight: bold; }
	label[data-toggle] + fieldset { margin-top: 0; }
	.fieldBox .fb-msg { top: auto; bottom: 13px; }
}