.popularSkins {
    background: rgba(255,255,255,.1); margin: 20px -20px -80px -20px; padding: 20px 20px 50px 20px;
	.skinsList .skinsSection > h3 { margin: 0; padding: 0; display: none; }
	>h3 { display: block; margin: 0 0 -15px 0; font-size: 20px; }
	.moreSkins {
		font-size: 18px;
		i { font-size: 18px; margin-right: 7px; }
	}
    .skinsList {
    	text-align: center;
    	.skinsSection { border: none; margin: 0; }
    	.skinsList-item {
    		width: 230px; height: 140px;
    		.wrap { border: 4px solid #ffffff; border-radius: 4px; position: relative; top: 0; margin: 0; padding: 0; }
    		.thumb { height: 138px; }
    		.details { position: absolute; height: 100%; background: rgba(0,0,0,.8); top: 0; color: #fff; padding: 10px 8px 30px 8px; overflow: hidden; line-height: 1.4; }
    		.title { color: #fff; margin: 4px 0 10px 0; }
    		.descr { color: #fff; opacity: .8; margin: 5px 0; }
    		.usethis { position: absolute; bottom: 0; background: transparent; border: none; text-align: left; padding: 102px 10px 10px 10px; margin: 0 -8px; width: 100%; }
    		.icon-usethis {
    			float: right; margin-right: -8px;
    			&:before { content: "\e614"; }
    		}
    	}
    }
}