// -------------------------------------------------
// SLIDESHOWS PAGE
// -------------------------------------------------
.pages-slideshow {
	h2,
	p,
	ol:not(.skinsList) { max-width: 1100px; margin-left: auto; margin-right: auto; text-align: center; }
	ol:not(.skinsList) { display: block; padding:0; margin: 0 auto; list-style: none; }
}
.splashArea01 {
	position: relative; color: #fff; text-align: center; margin: 0 -20px 30px -20px; padding: 50px 20px; background: #004773 url('/_cms/design15/images/galleries-splash01.jpg') no-repeat center center; background-size: cover;
	.pages-slideshow & { margin-bottom: 140px; }
	h1, h2, h3 { color: #fff; }
	h1 {
		font-family: 'Roboto Condensed', sans-serif; font-weight: 100; color: #fff; /*font-size: 3.43em;*/ font-size: 3em; text-shadow: 0 1px 3px rgba(0,0,0,50/100); text-align: center; line-height: 1.2em; margin-top: 30px;
		&:after { content: ''; display: block; max-width: 350px; margin: 15px auto 0 auto; border-bottom: 1px solid #fff; }
	}
	p {
		text-align: center; color: rgba(#fff, 70/100); font-size: 1em; line-height: 1.5em; text-shadow: 0 1px 3px rgba(0,0,0,50/100); text-align: center;
		a { color: #fff; }
	}
	.pages-slideshow &:after { display: block; content: ''; height: 110px; position: absolute; width: 100%; top: 100%; left: 0; background: #f6f7fb url('/_cms/design15/images/slideshows-platforms.png') no-repeat center center; }
	@media screen and (max-width: 800px) {
		&:after { background-image: url('/_cms/design15/images/slideshows-platforms-mobile.png'); background-size: contain; background-size: 90% auto; }
	}
	@media screen and (max-width: 600px) {
		h1 { font-size: 2.5em; }
	}
	&.hasBadgeNowVideo { // https://cincopa.slack.com/archives/GBQDDQSPJ/p1531742818000232
		.contentWrap {
			position: relative; padding: 0 270px;
			&:before {
				content: ''; display: block; width: 271px; height: 252px; position: absolute; right: 0; top: -50px;
				background: url('/_cms/design18/images/nowwithvideo.png') no-repeat; background-size: contain;
			}
		}
		@media screen and (max-width: 840px) {
			.contentWrap {
				padding: 0 120px;
				&:before { width: 120px; }
			}
		}
		@media screen and (max-width: 540px) {
			.contentWrap {
				padding: 70px;
				&:before { width: 100px; top: -20px; }
			}
		}
	}
}
.box.createFreeSlideshow {
	h2, h2+p { max-width: 680px; margin-left: auto; margin-right: auto; text-align: center; }
	h2+p { font-size: 1em; margin-bottom: 30px; }
}
.howItWorskSteps {
	text-align: center;
	.step { display: inline-block; vertical-align: top; width: 30%; margin: 20px 1%; padding: 30px 15px; @include linear-gradient(#f6f7fb, #ffffff); }
	&.foursteps .step { width: 22%; }
	h4 { font-weight: bold; color: #434a53; font-family: 'Roboto Condensed', sans-serif; font-size: 1.29em; text-transform: none; text-align: center; }
	h4 > b { background: $color-blue; color: #FFFFFF; font-size: 1em; border-radius: 1em; text-align: center; width: 1.7em; height: 1.7em; line-height: 1.7em; display: inline-block; margin-right: 5px; vertical-align: middle; }
	ul, ol, p { font-family: 'Roboto Condensed', sans-serif; color: #656d78; text-align: left;
		b { font-weight: bold; }
		a { border-bottom: 1px solid $color-blue; color: inherit; text-decoration: none; }
	}
	ul, ol { padding-left: 21px; }
	@media screen and (max-width: 800px) {
		.step {width: 100% !important; display: block; }
	}
}
.graybox {
	background: url(/_cms/design15/images/bg-pattern-01.jpg) center top; padding: 40px 20px; margin: 30px -20px; width: 100%; max-width: none; @include box-sizing(content-box); text-align: center;
	h2,
	h1 { font-size: 1.5em; color: #fff; font-weight: normal; margin-top: 0; }
	p { font-size: 14px; color: #c5ceda; max-width: 1015px; margin: .5em auto; }  // added for music player page
}
.skinsList {
	ol { text-align: center; }
	@media screen and (max-width: 800px) {
		margin-top: 0; padding-top: 0;
		h3 { margin-top: 0; padding: 0; }
	}
}
.skinsSection {
	>h3 { font-size: 1.29em; max-width: 640px; margin: 17px auto; padding: 10px 25px; border-radius: 25px; background: #6b99b2; color: #ffffff; display: inline-block; font-weight: 400; }
	>p { font-size: .9em; max-width: 640px; margin: 0 auto; color: #656d78; }
	text-align: center; margin: 30px auto; font-size: 16px;
}

.featuresDetailsList {
	display: block; list-style: none; padding: 0; margin: 50px auto !important; font-size: 1em; text-align: center;
	li { text-align: left; width: 45%; display: inline-block; vertical-align: middle; padding: 15px 2%; border-bottom: 1px solid #d8dadf; margin: 0 -.15em;  max-width: 350px; }
	li:nth-child(1),
	li:nth-child(2) { border-top: 1px solid #d8dadf; }
	li>img { display: inline-block; vertical-align: middle; }
	li>b { font-weight: bold; color: #656d78; }
	li>img+b { display: inline-block; vertical-align: middle; width: 100%; padding-left: 90px; margin-left: -80px; }
	@media screen and (max-width: 600px) {
		li { width: 100%; max-width: none; }
	}
}
