.aboutCincopa {
	margin: 80px 0 0 0; font-size: 18px; line-height: 1.6;
	h4 { text-transform: none; font-weight: bold; font-size: inherit; margin-bottom: 25px; }
}

.ourTeamList {
	display: flex; flex-wrap: wrap; margin: 0 -20px;
	h2 { width: 100%; text-align: left; padding: 0 20px; margin: 1.5em 0 1em 0; }
}

.ourTeamPerson {
	width: 33%; margin: 20px; text-align: center; max-width: 360px; flex-grow: 1; flex-shrink: 1; min-width: 200px;
    line-height: 1.3; margin-bottom: 50px;
	.otp-thumb {
		border-radius: 3px; box-shadow: 0 2px 3px rgba(#000, .3); background: #fefefe;
		img[src=""] { opacity: 0; }
	}
	.otp-meta { margin-top: 20px; }
	.otp-name { font-size: 36px; }
	.otp-title { font-size: 22px; }
	.otp-social { margin-top: 15px; }
}