// -------------------------------------------------
// UNLIMITED PHOTOS PAGE
// -------------------------------------------------
.pages-unlimited {
}

.splashArea01.unlimited {
	margin-bottom: 350px; background-color: #1e263a; background-image: url('/_cms/design15/images/splash-unlimited.jpg');
	.contentWrap { max-width: 1040px; }
	p { font-size: 18px; color: #a9b7d7; }
}
.unlimitedSkinsDemo {
	.flexslider {
		background-color: transparent; border: none; box-shadow: none; text-align: center; max-width: 1200px; margin: 20px auto 0 auto;
		.slides > li { width: 130px !important; margin: 0 10px; }
	}
	.flex-direction-nav a {
		text-align: center !important; line-height: 40px; font-weight: bold; background: #fff; box-shadow: 0 1px 10px #000;
		&:before { font-family: "Arial", sans-serif; content: '<'; font-size: 32px; }
		&.flex-next:before { content: '>'; }
	}
	#gallery_container {
		width: 1050px; height: 640px; overflow: auto; -webkit-overflow-scrolling: touch; margin: 0 auto -350px auto; position: relative; padding: 50px 140px 105px 140px; background: url('/_cms/design15/images/laptoppreview.png') center center no-repeat; backgroud-size: contain;
		iframe { width: 100%; height: 100%; padding: 5px; max-height: 90vh; overflow: scroll; -webkit-overflow-scrolling: touch; }
	}
	h4 { font-size: 18px; color: #a9b7d7; font-style: italic; text-transform: none; margin: 25px 0; }
}
@media screen and (max-width: 950px) {
	.splashArea01.unlimited { margin-bottom: 20px; }
	.unlimitedSkinsDemo #gallery_container { max-width: 100%; background: #fff; padding: 0; margin: 40px auto 0 auto; padding: 10px; height: 500px; }
}

.unlimitedFeaturesList { max-width: 1280px; margin: 30px auto; text-align: center; }
.unlimitedFeature {
	display: inline-block; vertical-align: top; position: relative; padding: 25px 10px; margin: 15px 13px; background: #84bb49; border-radius: 20px; font-family: 'Roboto Condensed', sans-serif; color: #fff; cursor: default; max-width: 14%; max-width: calc(16% - 30px); @include transition(.2s ease all);
	@media screen and (min-width: 800px) {
		.contentWrap {
			white-space: nowrap;
			>* { white-space: normal; }
		}
	}
	&:before { position: absolute; display: block; content: ''; top:0; left:0; width: 100%; height: 100%; background: inherit; border-radius: inherit; box-shadow: inherit; @include box-sizing(content-box); @include transition(.2s ease all); }
	&.storage { background-color: #a9b2e7; color: #959fd6; }
	&.traffic { background-color: #79c08e; color: #599d6d; }
	&.responsive { background-color: #a8cfe6; color: #87b1ca; }
	&.cms { background-color: #edd56b; color: #d7bf57; }
	&.ga { background-color: #ff7b79; color: #e36866; }
	&.support { background-color: #ff9749; color: #de7d34; }
	img { max-width: 100%; height: auto; }
	.img {
		display: block; position: relative; width: 160px; height: 60px; max-width: 100%; text-align: center; margin: 0 auto;
		&:after { position: absolute; width: 100%; height: 100%; background: center center no-repeat; background-size: contain; top: 0; left: 0; opacity: 0; visibility: hidden; content: ''; display: none; }
	}
	.title { 
		color: #fff; font-size: 24px; line-height: 1.2; display: block; text-align: center; position: relative;
		i { opacity: 0; margin-right: -1em; margin-top: -2px; }
	}
	// ---------------
	@media screen and (max-width: 1100px) {
	// ---------------
	padding: 15px !important;
	.title { font-size: 18px; }
	.title i { display: none; }
	.img { height: auto; }
	// ---------------
	}
	@media screen and (max-width: 800px) {
	// ---------------
	padding: 3px !important; max-width: calc(16% - 14px); margin: 5px; border-radius: 7px;
	.title { display: none; }
	// ---------------
	}
	// ---------------
}

// -------------------------------------------------
// UNLIMITED PHOTOS PAGE
// -------------------------------------------------