/* /pages/_static-videohosting.scss */
// -------------------------------------------------
// VIDEOS LANDING PAGE
// -------------------------------------------------
.splashArea01.videohosting {
	background-color: #004290;
	background-image: url('/_cms/design15/images/videohosting-splash01.jpg'); margin-bottom: 0;
	h3 { color: #94d9ff; font-weight: 400; text-shadow: 0 1px 3px rgba(#000, 50/100); }
	p { color: #ffdef1; font-size: 14px; }
    .videoBack {z-index: 9;position: absolute;}    
	.btn { padding: 17px 30px; margin-top: 5px; margin-bottom: 5px; }
	&:after { display: none; }
}


.videoOptionsBlock {
	margin: 30px auto;
	>div {
		display: inline-block; vertical-align: top; width: 140px; text-align: center; margin: 15px 30px;
		>span { display: block; font-size: 14px; color: #daffb2; margin-top: 15px; }
	}
	img { max-width: 100%; height: auto; }
	@media screen and (max-width: 800px) { 
		>div { max-width: 29%; margin: 15px 1%; }
	}
	@media screen and (max-width: 500px) { 
		>div {
			display: block; width: auto; margin: 10px auto; max-width: none; overflow: hidden; text-align: left;
			>span { display: inline-block; width: 60%; width: calc(100% - 150px); }
		}
		img { display: inline-block; margin-right: 20px; vertical-align: middle; }
	}
}

.vsh_descriptbox {
	margin: 0 -30px; padding: 50px 30px; text-align: center;
	&.imgright { direction: rtl; /*background-color: #f6f7fb;*/ }
	>div {
		width: 46%; max-width: 600px; display: inline-block; vertical-align: middle; direction: ltr; text-align: left; margin: 0 1%;
		img { max-width: 100%; height: auto; }
		h3 { @include font-narrow(); font-size: 24px; }
	}
	.btn { margin: 10px; }
	@media screen and (max-width: 600px) {
		>div { width: auto !important; max-width: 100%; display: block; margin: 0 auto;  float: none !important; }
	}
}

.vsh_features { max-width: 1280px; margin: 60px auto; text-align: center; }
.vsh_featurebox {
	display: inline-block; width: 22%; vertical-align: top; margin: 20px -2px; max-width: 290px; min-width: 220px; text-align: left; border-top: 1px solid #E0E0E0; padding: 25px 2% 0 2%;
  	h3 { font-size: 16px; color: #656d78; @include font-narrow(); }
  	p { color: #aab2bc; font-size: 14px; }
	@media screen and (max-width: 600px) {
		display: block; width: auto; max-width: none; float: none !important; width: 100% !important;
		.img { display: inline-block; vertical-align: middle; margin-right: 20px; }
		>div:not(.img) { display: inline-block; vertical-align: middle; width: 55%; width: calc(100% - 130px); }
	}
}