/* /pages/_static-video.scss */
// -------------------------------------------------
// VIDEOS LANDING PAGE
// -------------------------------------------------
.splashArea01.video {
	background-image: url('/_cms/design15/images/video-splash01.jpg'); margin-bottom: 0;
	h1 {
		
		&:after {  }
	}
	p { color: #ffdef1; font-size: 14px; }
	&:after { display: none; }
	// ---------------
	@media screen and (max-width: 600px) {
	// ---------------
	h1 {  }
	// ---------------
	}
	// -------------------------------------------------
}

//.pages-video .splashArea01 .contentWrap

.choosePlayerSkin {
	.cps_header {
		margin: 20px auto; max-width: 1280px; box-shadow: 0 3px 6px rgba(#000,20/100);
		.titlerow {
			border: 1px solid #c7c8cd; background: #f6f7fb; padding: 20px; @include clearfix();
			.title { float: left; margin: 0; font-family: 'Roboto Condensed', sans-serif; }
			.btn { float: right; text-transform: uppercase; font-family: 'Roboto Condensed', sans-serif; font-weight: 500; margin: -8px 0; }
			select { display: none; }
		}
		.selector {
			border: 1px solid #c7c8cd; background: #d8dadf;
			>ul {
				display: block; text-align: center; list-style: none; white-space: nowrap; margin: 0; padding:0; @include clearfix();
				>li {
					display: inline-block; position: relative;
					a {
						padding: 20px 30px; cursor: pointer; margin: -1px; display: block;
						&:hover { background-color: $color-blue; }
					}
					img { width: 100px; height: auto; }
					&.active {
						background: $color-blue;
						&:after { width: 0; height: 0; border-style: solid; border-width: 5px 7.5px 0 7.5px; border-color: $color-blue transparent transparent transparent; content:''; display: block; position: absolute; top: 100%; left: 50%; margin-left: -7px; }
					}
				}

			}
		}
	}
	.cps_preview { min-height: 300px; display: none; max-width: 100%; }
	.previewTabs { max-width: 100%; }
	.cps_footer {
		margin: 20px auto; max-width: 1280px; box-shadow: 0 3px 6px rgba(#000,20/100); text-align: center; padding: 20px; border: 1px solid #c7c8cd; background: #f6f7fb;
		.btn { text-transform: uppercase; font-weight: 400; font-size: 14px; padding: 17px 28px; }
	}
	@media screen and (max-width: 800px) {
		.cps_preview { min-height: 300px; }
		.titlerow h3,
		.cps_header .selector { display: none; }
		.cps_header .titlerow select { display: block !important; visibility: visible; float: left; background-color: #fff !important; }
		.cps_header .titlerow .btn  {   margin: 0; }
	}
}

.seeAllSkins {
	text-align: center; border-top: 1px dashed #c7c8cd; max-width: 1180px; margin: 20px auto; padding: 30px;
	.btn { padding: 13px 21px; }
}



