/* /pages/_static-videoportal.scss */
// -------------------------------------------------
// VIDEOS PORTAL LANDING PAGE
// -------------------------------------------------
.splashArea01.videoportal {
	background-color: #2d2058;
	background-image: url('/_cms/design15/images/videoportal-splash01.jpg'); margin-bottom: 0;
	.contentWrap { max-width: 595px; }
	h1 { @include font-narrow(); font-size: 45px; font-weight: 300; }
	h3 { color: #c8b4ff; font-weight: 400; text-shadow: 0 1px 3px rgba(#000, 50/100); }
	p { color: #c8b4ff; font-size: 18px; }
	.btn { padding: 17px 30px; margin-top: 5px; margin-bottom: 5px; }
	&:after { display: none; }
}







// .videoOptionsBlock {
// 	margin: 30px auto;
// 	>div {
// 		display: inline-block; vertical-align: top; width: 140px; text-align: center; margin: 15px 30px;
// 		>span { display: block; font-size: 14px; color: #daffb2; margin-top: 15px; }
// 	}
// 	img { max-width: 100%; height: auto; }
// 	@media screen and (max-width: 800px) { 
// 		>div { max-width: 29%; margin: 15px 1%; }
// 	}
// 	@media screen and (max-width: 500px) { 
// 		>div {
// 			display: block; width: auto; margin: 10px auto; max-width: none; overflow: hidden; text-align: left;
// 			>span { display: inline-block; width: 60%; width: calc(100% - 150px); }
// 		}
// 		img { display: inline-block; margin-right: 20px; vertical-align: middle; }
// 	}
// }

// .vsh_descriptbox {
// 	.img.negativeMargin { margin-top: -20px; margin-bottom: -20px; }
// }

// .vsh_features { max-width: 1280px; margin: 60px auto; }
// .vsh_featurebox {
// 	display: inline-block; width: 22%; vertical-align: top; margin: 20px 1%; max-width: 280px; min-width: 220px;
//   	h3 { font-size: 16px; color: #656d78; @include font-narrow(); }
//   	p { color: #aab2bc; font-size: 14px; }
// 	@media screen and (max-width: 600px) {
// 		display: block; width: auto; max-width: none;
// 		.img { display: inline-block; vertical-align: middle; margin-right: 20px; }
// 		>div:not(.img) { display: inline-block; vertical-align: middle; width: 55%; width: calc(100% - 130px); }
// 	}
// }