.navStaticPages {
	@include font-accent2();
	background: #fff; color: #36373c; border-top: 5px solid $color-blue; border-bottom: 1px solid #d8dadf; box-shadow: 0 0 10px rgba(0,0,0,15/100);
    display: flex; justify-content: space-around; align-items: center;
    min-height: 80px;
    padding: 0 10px; font-size: 16px; line-height: 1.2;

    position: fixed; top: 0; width: 100%; z-index: 1000; left: 0;
    ~ .content-container { margin-top: 20px; }
    > * { flex-grow: 1; }
    .btn { font-weight: normal; font-size: inherit; padding: 10px 15px; }
    .btn.trans { padding: 10px; }
    .nsp-logo { flex-grow: 0; }
    .nsp-right { text-align: right; }
	nav ul {
		list-style: none; display: inline-flex; padding: 0; margin: 0 5px; align-items: center;
		.icon-arrdwnsmall { line-height: 12px; font-size: 12px; position: relative; top: -1px; margin-right: -6px; }
		>li {
			display: inline-block; position: relative;
			&.divider { border-bottom: 1px rgba(0,0,0,.1) solid !important; margin: 5px 0; }
			a {
				display: block; padding: 20px 10px; text-decoration: none; color: inherit; cursor: pointer;
				&:hover { color: $color-blue; }
			}
			ul {
				overflow: auto;
				display:block; position: absolute; z-index: 50; left: 0; border-radius: 6px; box-shadow: rgba(0, 0, 0, 23/100) 0px 1px 10px; margin: 0px; top: 50%; margin-top: 24px; border: 1px solid #cdcdcd; padding: 20px; list-style: none; background: #FFF;  max-height: 90ex; z-index: 100; text-align: left; min-width: 240px; opacity: 0; visibility: hidden; max-height: 0; transition: 0.2s ease all;
	            li {
	            	display: block; overflow: hidden;
	                > a { display: block; position: relative; padding: 10px 5px; margin: 0; color: $color-blue; text-decoration: none; line-height: 1.1em; }
	                > a:hover { color: #000; }
	            }		
			}
			&.hasChild {
	            &:before,
	            &:after { content: ''; display: block; opacity: 0; transition: .3s ease opacity; position: absolute; bottom: 100%; right: 1px; top: 50%; margin-top: 13px; z-index: -1; width: 0; height: 0; border-style: solid; border-width: 0 8.5px 12px 8.5px; border-color: transparent transparent #ffffff transparent; visibility: hidden; }
	            &:before { margin: 11px -1px -2px -1px; border-width: 0 9.5px 13px 9.5px; border-color: transparent transparent #cdcdcd transparent; }
			}
			&.hasChild.active {
	            &:before,
	            &:after { z-index: 100; opacity: 1; visibility: visible; }
				ul {
					opacity: 1; max-height: 40em; visibility: visible;
					&:before { content: ''; display: block; width: 100%; position: absolute; height: 15px; bottom: 100%; }
				}
			}
		}
	}
	.signInBtn,
	.startNowBtn { display: none !important; }
	&.loggedout {
		.signInBtn,
		.startNowBtn { display: inline-block !important; }
	}
	@media (max-width: 900px) {
		font-size: 14px;
	}
	@media (max-width: 800px) {
	    z-index: 5500; min-height: 62px;
	    font-size: 13px;
	    // position: relative;
	    position: fixed; width: 100%; top: 0;
		.showMobileMenu { display: inline-block; }
		&,
		&.loggedout {
			.hideonMobile { display: none !important; }
		}
	}
	@media (min-width: 801px) {
		.hideonDesktop { display: none !important; }
	}
}


.librarySideMenu.marketing {
	background: #fff; width: 100%; display: none; max-height: 0; 
    transition: .3s ease all; transform: translate(0, -100%); height: auto; padding-bottom: 40px; border-bottom: 4px solid $color-blue;
    &.active { max-height: 100vh; }
}
ul.mobileMarketingMenu {
	list-style: none; padding: 0; margin: 0;
	li {
		a {
			display: block; font-size: 25px; color: #0078c2; text-decoration: none; padding: 18px 0;
			border-bottom: 1px solid #b8b8b8; position: relative;
			.icon-arrdwnsmall { position: absolute; top: 50%; margin-top: -.37em; font-size: inherit; right: 0; }
		}
		ul {
			display: none; padding: 0 0 0 20px; margin: 0; list-style: none;
			a { font-size: 18px; padding: 15px 0; border-bottom-color: #dedede; }
		}
		&.active {
			>a>.icon-arrdwnsmall { transform: rotate(180deg); }
			ul { display: block; }
		}
	}
}