div#container.container{ padding-top: 64px !important; }

.navAppMode {
	@include font-accent2();
	position: fixed; top: 0; left: 0; width: 100%; z-index: 6000;
	height: 59px;
    display: flex; background: #474953; color: #fff; justify-content: space-around; align-items: center;
    padding: 0 10px; font-size: 16px; line-height: 1.2;
    box-shadow: 0 5px 0 $color-blue;
    > * { flex-grow: 1; }
	a { color: inherit; text-decoration: none; cursor: pointer; }
	.btn {
		padding: 8px; font-weight: normal; min-height: 30px; font-size: inherit;
		>i { font-size: 22px; }
		&.dark { box-shadow: none !important; }
	}
	.nam-logo {
		width: 36px; height: 36px; background: no-repeat center center; background-size: 50% 50%;
		flex-grow: 0; flex-shrink: 0; font-size: 0;
		background-image: inline-image("images/cincopa-logo-36.png");
	}
	.showMobileMenu { display: none; }
	.nam-nav {
		list-style: none; display: inline-flex; padding: 0; margin: 0 5px; align-items: center;
		.icon-arr_drop { line-height: 12px; position: relative; top: -1px; margin-right: -6px; }
		>li>a {
			text-align: center;
			>[class^="icon-"],
			>[class*=" icon-"] { margin: -3px 0; }
			&:hover:before { display: block !important; }
		}
		li {
			display: inline-block; position: relative;
			&.divider { border-bottom: 1px rgba(0,0,0,.1) solid !important; margin: 5px 0; }
			a {
				display: block; padding: 20px 0; margin: 0 10px; text-decoration: none; cursor: pointer; position: relative;
				// &:hover { background: rgba(#000, .2); }
				// &:hover { text-decoration: underline; }
				&:before { display: none; content: ''; position: absolute; border-bottom: 3px solid; width: 100%; bottom: 13px; }
			}
			ul {
				overflow: auto; overflow-x: hidden;
				display:block; position: absolute; z-index: 50; left: 0; border-radius: 6px; box-shadow: rgba(0, 0, 0, 23/100) 0px 1px 10px; margin: 0px; top: 50%; margin-top: 24px; border: 1px solid #cdcdcd; padding: 20px; list-style: none; background: #FFF;  max-height: 90ex; z-index: 100; text-align: left; min-width: 240px; opacity: 0; visibility: hidden; max-height: 0; transition: 0.2s ease all;
	            li {
	            	display: block; overflow: hidden; color: #000; padding: 0 5px;
	                > a { display: block; position: relative; padding: 10px 0; margin: 0; color: $color-blue; text-decoration: none; line-height: 1.1em; }
	                > a:hover { color: #000; background: transparent; }
	            }		
			}
			&.hasChild {
	            &:before,
	            &:after { content: ''; display: block; opacity: 0; transition: .3s ease opacity; position: absolute; bottom: 100%; right: 13px; top: 50%; margin-top: 13px; z-index: -1; width: 0; height: 0; border-style: solid; border-width: 0 8.5px 12px 8.5px; border-color: transparent transparent #ffffff transparent; visibility: hidden; }
	            &:before { margin: 11px -1px -2px -1px; border-width: 0 9.5px 13px 9.5px; border-color: transparent transparent #cdcdcd transparent; }				
	            &.doubleIcon {
	            	&:before,
		            &:after { right: 28px; }
	            }
			}
			&.hasChild.active {
	            &:before,
	            &:after { z-index: 100; opacity: 1; visibility: visible; }
	            >a:before { display: block; }
				ul {
					opacity: 1; max-height: 40em; visibility: visible;
					&:before { content: ''; display: block; width: 100%; position: absolute; height: 15px; bottom: 100%; }
				}
			}
			&.withIcon>a {
				white-space: nowrap;
				&:before { display: none !important; }
			}
			&.current>a { color: #48b7fc; text-decoration: none; pointer-events: none; }
			&.new>a {
				position: relative;
				&:after { content: 'New'; position: absolute; color: #fff; background: #f00; font-size: 10px; text-transform: uppercase; top: 8px; right: 0; display: inline-block; padding: 0 3px; }
			}
		}
	}
	.nam-leftnav {
		li {
			ul {  }
			a {  }
		}
	}
	.nam-rightnav {
		text-align: right; margin-right: 0;
	}
	.nam-accountnav {
		li ul {
			left: auto; right: -10px;
			&:after { left: auto; right: 20px; }
		}
	}
	// &.loggedusertype-user .icon-user-circle-o:before { content: "\e923" !important; }
	&.loggedusertype-assume .icon-user-circle-o:before { content: "\e927" !important; }
	&.loggedusertype-mcc .icon-user-circle-o:before { content: "\e926" !important; }
	&.loggedusertype-csm .icon-user-circle-o:before { content: "\e925" !important; }
	&.loggedusertype-editor .icon-user-circle-o:before { content: "\e924" !important; }
	@media (max-width: 1070px) {
		.hideonTablet { display: none !important; }
	}
	@media (max-width: 1000px) {
		font-size: 13px;
	}
	@media (max-width: 890px) {
		.nam-nav li a { padding-left: 5px; padding-right: 5px; margin: 0; }
		.nam-accountnav {
			b { display: none; }
		}
	}
	@media (max-width: 800px) {
		.showMobileMenu { display: inline-block; }
		.hideonMobile { display: none !important; }
		~ .navStaticPages { display: none; }
	}
	@media (min-width: 801px) {
		.hideonDesktop { display: none !important; }
	}
	@media (max-width: 400px) {
	    padding: 0 5px;
		.nam-nav {
			margin: 0;
			li a { font-size: 12px; }
			.icon-arr_drop { margin-left: -5px; }
		}
		.nam-accountnav {
			b { display: none; }
			.icon-user-circle-o { display: inline-block; }
		}
		.showMobileMenu { margin: 0; padding-left: 2px; padding-right: 2px; }
	}
	~ .navStaticPages {
		position: relative; z-index: 500; margin-top: -5px;
		~ .content-container { margin-top: 0; }
	}
}

.showMobileMenu {
    i span {
        display: block; border-bottom: 3px solid; width: 24px; margin: 5px 0; transition: .3s ease-out all; position: relative; top: 0;
    }
    &.active {
        i span {
            background-color: #0687CD;
            &:nth-child(1) { transform: rotate(45deg); transform-origin: center; position: relative; top: 8px; }
            &:nth-child(2) { opacity: 0; }
            &:nth-child(3) { transform: rotate(-45deg); transform-origin: center; position: relative; top: -8px; }
        }
    }
}

